alias ll="ls -al"
alias ngr="sudo brew services restart nginx; brew services restart php71; brew services restart php56; flushmem; nicedev"
alias pwr="cd ."
alias reload="exec bash --login"
alias kd="git difftool"
alias flushmem="echo 'flush_all' | nc localhost 11211"

function gittrackall() {
    get fetch --all
    git branch -r | grep -v '\->' | while read remote; do git branch --track "${remote#origin/}" "$remote"; done
    git fetch --all
}

function psgrep() {
    ps auwx -o nice,command=cmd | grep -i -e '%CPU' -e "$@"
}

function nicedev() {
    sudo renice -20 $(pgrep php)
    sudo renice -20 $(pgrep nginx)
    sudo renice -20 $(pgrep memcached)
    sudo renice -20 $(pgrep mysqld)
    sudo renice -20 $(pgrep postgres)
    sudo renice -10 $(pgrep phpstorm)
}

function title {
  printf "\033]0;%s\007" "$1"
}

