.env
.config/yarn/global/yarn.lock
**/automatic_backups/
**/node_modules/
yarn-error.json
vim/undo/
scratch/
*.com
yalc.lock
.yalc
.npmrc
.yarnrc
.elixir_ls/
.tool-versions
*.class
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.bash_history
**/oscrypto-ca-bundle.crt
**/*.cache
**/*.last-run
**/*.user-ca-bundle
**/*.merged-ca-bundle
plug.vim
vim/bundle/
vim/session/
vim/.netrwhist
cache.json
.vimrc.local
applications/Alfred/preferences/Alfred.alfredpreferences/snippets
applications/Alfred/preferences/Alfred.alfredpreferences/workflows
