~
*~HEAD
*.swp
tmp/
tags
.env
.config/yarn/global/yarn.lock
**/fixtures/**/*
test/support/**/*
**/automatic_backups/
**/node_modules/
yarn-error.json
scratch/
*.com
*.zwc
yalc.lock
.yalc
.npmrc
.yarnrc
_config/yarn/global/yarn.lock
.elixir_ls/
.tool-versions
lazy-lock.json
*.class
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.bash_history
**/oscrypto-ca-bundle.crt
**/*.cache
**/*.last-run
**/*.user-ca-bundle
**/*.merged-ca-bundle
.vscode/extensions/**/*
plug.vim
.vim/bundle/
.vim/undo/
.vim/sessions/
.vim/session/
.vim/.netrwhist
cache.json
.vimrc.local
.zcompdump
.zsh_history
.zsh_sessions
appconfig/Alfred/preferences/Alfred.alfredpreferences/snippets
appconfig/Alfred/preferences/Alfred.alfredpreferences/workflows
appconfig/Alfred/preferences/Alfred.alfredpreferences/remote
appconfig/Trailer/Trailer Settings.trailerSettings
Brewfile.lock.json
