[user]
	name = Wil Hall
	email = wil@wilhall.com
	signingkey = 8D54035D813FB74499DBE98D85BFFC09CE42BFEE
[core]
	editor = nano
	excludesfile = /Users/wilhall/.gitignore
	trustctime = false
[push]
	default = current
[pack]
	windowMemory = 10m
	packSizeLimit = 20m
[branch]
	autosetuprebase = always
[pull]
	rebase = true
	default = current
[difftool]
	prompt = false
[alias]
	wdiff = diff -w --word-diff=color
	set-upstream = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
	whatadded = log --diff-filter=A
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
