<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleSymbolicHotKeys</key>
	<dict>
		<key>10</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>96</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>11</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>97</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>118</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>18</string>
					<string>262144</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>12</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>122</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>13</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>98</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>15</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>56</string>
					<string>28</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>16</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
		</dict>
		<key>160</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>65535</string>
					<string>0</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>162</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>96</string>
					<string>9961472</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>163</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>65535</string>
					<string>0</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>164</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>65535</string>
					<string>0</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>17</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>61</string>
					<string>24</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>175</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>65535</string>
					<string>0</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>179</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>65535</string>
					<string>0</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>18</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
		</dict>
		<key>181</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>54</string>
					<string>22</string>
					<string>1179648</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>182</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>54</string>
					<string>22</string>
					<string>1441792</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>19</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>45</string>
					<string>27</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>20</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
		</dict>
		<key>21</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>56</string>
					<string>28</string>
					<string>1835008</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>22</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
		</dict>
		<key>23</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>92</string>
					<string>42</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>24</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
		</dict>
		<key>25</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>46</string>
					<string>47</string>
					<string>1835008</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>26</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>44</string>
					<string>43</string>
					<string>1835008</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>27</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>96</string>
					<string>50</string>
					<string>1048576</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>28</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>51</string>
					<string>20</string>
					<string>1179648</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>29</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>51</string>
					<string>20</string>
					<string>1441792</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>30</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>52</string>
					<string>21</string>
					<string>1179648</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>31</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>52</string>
					<string>21</string>
					<string>1441792</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>32</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>126</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>33</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>125</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>34</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>126</string>
					<string>8781824</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>35</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>125</string>
					<string>8781824</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>36</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>103</string>
					<string>8388608</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>37</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>103</string>
					<string>8519680</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>51</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>39</string>
					<string>50</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>52</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>100</string>
					<string>2</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>57</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>100</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>59</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>96</string>
					<string>9437184</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>60</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>32</string>
					<string>49</string>
					<string>262144</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>61</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>32</string>
					<string>49</string>
					<string>786432</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>62</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>111</string>
					<string>8388608</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>63</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>111</string>
					<string>8519680</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>64</key>
		<dict>
			<key>enabled</key>
			<string>0</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>49</string>
					<string>1048576</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>65</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>49</string>
					<string>1572864</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>7</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>120</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>79</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>123</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>8</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>99</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>80</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>123</string>
					<string>8781824</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>81</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>124</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>82</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>124</string>
					<string>8781824</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>9</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>65535</string>
					<string>118</string>
					<string>8650752</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
		<key>98</key>
		<dict>
			<key>enabled</key>
			<string>1</string>
			<key>value</key>
			<dict>
				<key>parameters</key>
				<array>
					<string>47</string>
					<string>44</string>
					<string>1179648</string>
				</array>
				<key>type</key>
				<string>standard</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
