<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MASPreferences Selected Identifier View</key>
	<string>keyboard</string>
	<key>NSStatusItem Preferred Position Item-0</key>
	<string>616</string>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>autosaveDrops</key>
	<string>1</string>
	<key>autouploadScreenshots</key>
	<string>1</string>
	<key>launchAtLogin</key>
	<string>1</string>
	<key>openImageInAnnotationWindowWhenReady</key>
	<string>0</string>
	<key>shouldPromptForPartnerApps</key>
	<string>0</string>
	<key>shouldShowCoachMarkScreenShot</key>
	<string>0</string>
	<key>shouldShowDefaultViewerAlert</key>
	<string>0</string>
	<key>showIconInDock</key>
	<string>0</string>
	<key>takeScreenshotAndAnnotate</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy0QoLVHJvb3SAAAgRGiMtMjc5P1FU
	WQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>takeScreenshotShortcut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGFhdYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoKMHCA9VJG51bGzTCQoLDA0OV0tleUNvZGVWJGNsYXNzXU1vZGlmaWVyRmxhZ3MQ
	FYACEgASAADSEBESE1okY2xhc3NuYW1lWCRjbGFzc2VzW01BU1Nob3J0Y3V0ohQVW01B
	U1Nob3J0Y3V0WE5TT2JqZWN0XxAPTlNLZXllZEFyY2hpdmVy0RgZVHJvb3SAAQgRGiMt
	Mjc7QUhQV2VnaW5zfoeTlqKrvcDFAAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>uploadSoundName</key>
	<string>Glass</string>
</dict>
</plist>
