<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MouseButtonDivision</key>
	<string>55</string>
	<key>MouseButtonMode</key>
	<string>OneButton</string>
	<key>MouseHorizontalScroll</key>
	<string>1</string>
	<key>MouseMomentumScroll</key>
	<string>1</string>
	<key>MouseOneFingerDoubleTapGesture</key>
	<string>0</string>
	<key>MouseTwoFingerDoubleTapGesture</key>
	<string>3</string>
	<key>MouseTwoFingerHorizSwipeGesture</key>
	<string>2</string>
	<key>MouseVerticalScroll</key>
	<string>1</string>
	<key>UserPreferences</key>
	<string>1</string>
	<key>version</key>
	<string>1</string>
</dict>
</plist>
