<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DayEnds</key>
	<string>17</string>
	<key>DayStarts</key>
	<string>8</string>
	<key>DaysPerWeek</key>
	<string>7</string>
	<key>DefaultEventDuration</key>
	<string>3600</string>
	<key>FirstWeekday</key>
	<string>1</string>
	<key>HideDockIcon</key>
	<string>1</string>
	<key>HideSidebarForever</key>
	<string>0</string>
	<key>HoursToShow</key>
	<string>12</string>
	<key>ListTextSize</key>
	<string>3</string>
	<key>MiniWindowAttached</key>
	<string>1</string>
	<key>OpenMapsIn</key>
	<string>google</string>
	<key>PlaySounds</key>
	<string>1</string>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>ShowCalendarWeeks</key>
	<string>1</string>
	<key>ShowCompletedReminders</key>
	<string>1</string>
	<key>ShowEndTimes</key>
	<string>1</string>
	<key>ShowEventAvailability</key>
	<string>1</string>
	<key>ShowLocationMap</key>
	<string>1</string>
	<key>ShowTasksInCalendarWindow</key>
	<string>1</string>
	<key>ShowTimeToLeave</key>
	<string>1</string>
	<key>SidebarWidthDefaultKey</key>
	<string>300</string>
	<key>StatusItemBadge</key>
	<string>StatusItemStyleDateAndWeekday</string>
	<key>TaskSort</key>
	<string>priority</string>
	<key>TwoTimeZonesEnabled</key>
	<string>1</string>
	<key>WeekViewStartsWith</key>
	<string>1</string>
	<key>WeeksPerMonth</key>
	<string>6</string>
</dict>
</plist>
