<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wilhall.clipboard-bridge</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/wilhall/.dotfiles/LaunchAgents/clipboard-bridge/clipboard-bridge</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardErrorPath</key>
  <string>/tmp/com.wilhall.clipboard-bridge.error.log</string>
  <key>StandardOutPath</key>
  <string>/tmp/com.wilhall.clipboard-bridge.standard.log</string>
</dict>
</plist>
