<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKLastEmailListRequestDateKey</key>
	<date>2023-10-05T12:27:42Z</date>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>en_US</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleAquaColorVariant</key>
	<integer>1</integer>
	<key>AppleKeyboardUIMode</key>
	<integer>2</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
	</array>
	<key>AppleLanguagesDidMigrate</key>
	<string>13.4.1</string>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>4000</integer>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMetricUnits</key>
	<false/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<string>0</string>
	<key>AppleScrollerPagingBehavior</key>
	<true/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Always</string>
	<key>AppleTemperatureUnit</key>
	<string>Fahrenheit</string>
	<key>AppleWindowTabbingMode</key>
	<string>always</string>
	<key>CGDisableCursorLocationMagnification</key>
	<true/>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<true/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2023-10-04T16:55:06Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>nb</string>
		<string>nn</string>
		<string>nl</string>
		<string>de</string>
		<string>fr</string>
		<string>it</string>
		<string>vi</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>nb</string>
		<string>nn</string>
		<string>nl</string>
		<string>de</string>
		<string>fr</string>
		<string>it</string>
		<string>vi</string>
	</array>
	<key>NSNavPanelFileLastListModeForOpenModeKey</key>
	<integer>3</integer>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>3</integer>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerInputAnalyticsTime</key>
	<date>2023-10-05T12:38:49Z</date>
	<key>NSTableViewDefaultSizeMode</key>
	<integer>2</integer>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:)</string>
			<key>with</key>
			<string>🙂</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:broc:</string>
			<key>with</key>
			<string>🥦</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:broccoli:</string>
			<key>with</key>
			<string>🥦</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:leaves:</string>
			<key>with</key>
			<string>🍃</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:fire:</string>
			<key>with</key>
			<string>🔥</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:knife:</string>
			<key>with</key>
			<string>🔪</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:tada:</string>
			<key>with</key>
			<string>🎉</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:pear:</string>
			<key>with</key>
			<string>🍐</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:p</string>
			<key>with</key>
			<string>😝</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>&lt;3</string>
			<key>with</key>
			<string>💜</string>
		</dict>
	</array>
	<key>NSUserKeyEquivalents</key>
	<dict/>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>PKOrderManagementDisabled</key>
	<true/>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<false/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<array>
				<string>file:///Users/wilhall/Creative%20Cloud%20Files/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.mouse.scaling</key>
	<real>2.5</real>
	<key>com.apple.sound.beep.feedback</key>
	<integer>1</integer>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
	<key>com.apple.trackpad.scaling</key>
	<real>1</real>
</dict>
</plist>
