<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleAccentColor</key>
	<integer>6</integer>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleAquaColorVariant</key>
	<integer>1</integer>
	<key>AppleHighlightColor</key>
	<string>1.000000 0.749020 0.823529 Pink</string>
	<key>AppleIconAppearanceCustomTintColor</key>
	<string>1.000000 0.475000 0.721851 1.000000</string>
	<key>AppleIconAppearanceTintColor</key>
	<string>Other</string>
	<key>AppleKeyboardUIMode</key>
	<integer>2</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
	</array>
	<key>AppleLanguagesDidMigrate</key>
	<string>13.4.1</string>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>5400</integer>
	<key>AppleLocale</key>
	<string>en_US</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMetricUnits</key>
	<false/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<string>0</string>
	<key>AppleReduceDesktopTinting</key>
	<false/>
	<key>AppleScrollerPagingBehavior</key>
	<true/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Always</string>
	<key>AppleTemperatureUnit</key>
	<string>Fahrenheit</string>
	<key>AppleWindowTabbingMode</key>
	<string>always</string>
	<key>CGDisableCursorLocationMagnification</key>
	<true/>
	<key>KB_DoubleQuoteOption</key>
	<string>“abc”</string>
	<key>KB_SingleQuoteOption</key>
	<string>‘abc’</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>NSAutomaticCapitalizationEnabled</key>
	<false/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>NSAutomaticTextCompletionEnabled</key>
	<true/>
	<key>NSFKS</key>
	<dict>
		<key>DomainCategory</key>
		<real>9103900</real>
	</dict>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2026-05-16T20:10:02Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
		<string>en_US</string>
		<string>de</string>
		<string>vi</string>
		<string>nl</string>
		<string>it</string>
		<string>pl</string>
		<string>mul</string>
		<string>mul_Latn</string>
		<string>es</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>vi</string>
		<string>nl</string>
		<string>it</string>
		<string>pl</string>
		<string>es</string>
	</array>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>1</integer>
	<key>NSPreferredWebServices</key>
	<dict>
		<key>NSWebServicesProviderWebSearch</key>
		<dict>
			<key>NSDefaultDisplayName</key>
			<string>Google</string>
			<key>NSProviderIdentifier</key>
			<string>com.google.www</string>
		</dict>
	</dict>
	<key>NSSpellCheckerContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerDictionaryContainerTransitionComplete</key>
	<true/>
	<key>NSSpellCheckerInputAnalyticsTime</key>
	<date>2024-09-16T21:44:54Z</date>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:)</string>
			<key>with</key>
			<string>🙂</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:broc:</string>
			<key>with</key>
			<string>🥦</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:broccoli:</string>
			<key>with</key>
			<string>🥦</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:leaves:</string>
			<key>with</key>
			<string>🍃</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:fire:</string>
			<key>with</key>
			<string>🔥</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:knife:</string>
			<key>with</key>
			<string>🔪</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:tada:</string>
			<key>with</key>
			<string>🎉</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:pear:</string>
			<key>with</key>
			<string>🍐</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>:p</string>
			<key>with</key>
			<string>😝</string>
		</dict>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>&lt;3</string>
			<key>with</key>
			<string>💜</string>
		</dict>
	</array>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Auto-call with iPhone</key>
		<string>@~^=</string>
	</dict>
	<key>NSUserQuotesArray</key>
	<array>
		<string>“</string>
		<string>”</string>
		<string>‘</string>
		<string>’</string>
	</array>
	<key>NavPanelFileListModeForOpenMode</key>
	<integer>1</integer>
	<key>PKOrderManagementDisabled</key>
	<true/>
	<key>UIPreferredContentSizeCategoryName</key>
	<string>UICTContentSizeCategoryXL</string>
	<key>WebAutomaticSpellingCorrectionEnabled</key>
	<false/>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<true/>
			<key>com.aone.keka.KekaFinderIntegration</key>
			<false/>
		</dict>
		<key>dirMap</key>
		<dict>
			<key>com.adobe.accmac.ACCFinderSync</key>
			<array/>
			<key>com.aone.keka.KekaFinderIntegration</key>
			<array>
				<string>file:///Users/wilhall/Music/</string>
				<string>file:///Users/wilhall/Downloads/</string>
				<string>file:///Users/wilhall/Movies/</string>
				<string>file:///Users/wilhall/Public/</string>
				<string>file:///Users/wilhall/Pictures/</string>
				<string>file:///Users/wilhall/Documents/</string>
				<string>file:///Users/wilhall/Desktop/</string>
				<string>file:///System/Volumes/Update/SFR/mnt1/</string>
				<string>file:///System/Volumes/Update/mnt1/</string>
				<string>file:///Library/Developer/CoreSimulator/Cryptex/Images/bundle/SimRuntimeBundle-C161922F-44DA-4F82-A4DA-12C30A5F6DA3/</string>
				<string>file:///Library/Developer/CoreSimulator/Volumes/iOS_22E238/</string>
			</array>
		</dict>
	</dict>
	<key>com.apple.mouse.scaling</key>
	<real>0.875</real>
	<key>com.apple.sound.beep.feedback</key>
	<integer>1</integer>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
	<key>com.apple.trackpad.scaling</key>
	<real>1</real>
	<key>shouldShowRSVPDataDetectors</key>
	<false/>
</dict>
</plist>
