<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GlobalTupleOpenPopover</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>GlobalTupleSoundCheckHotkey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBGAAhIAHAAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>NSStatusItem Visible Item-0</key>
	<false/>
	<key>NSStatusItem Visible TupleStatusBarItem</key>
	<true/>
	<key>NSWindow Frame webcamFrame</key>
	<string>1243 672 269 269 0 0 1512 944 </string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://d32ifkf9k9ezcg.cloudfront.net/production/sparkle/appcast.xml</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-06-28T14:59:13Z</date>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>analyticsProfile</key>
	<dict>
		<key>email</key>
		<string>wil@wilhall.com</string>
		<key>id</key>
		<integer>1598</integer>
		<key>is_guest</key>
		<true/>
		<key>name</key>
		<string>Wil Hall</string>
		<key>paid</key>
		<false/>
		<key>sfu_support</key>
		<string>enabled</string>
		<key>subscription_status</key>
		<string>active</string>
		<key>team_id</key>
		<integer>1244</integer>
		<key>team_name</key>
		<string>Tuple Guests</string>
		<key>team_owner_email</key>
		<string>joel+guest@tuple.app</string>
	</dict>
	<key>annotationMode</key>
	<string>none</string>
	<key>audioDeviceManager</key>
	<dict>
		<key>preferredInputChannel</key>
		<integer>0</integer>
		<key>preferredInputDevice</key>
		<dict>
			<key>name</key>
			<string>Scarlett Solo USB</string>
			<key>uid</key>
			<string>AppleUSBAudioEngine:Focusrite:Scarlett Solo USB:Y7Z0HBU17CCAC8:1,2</string>
		</dict>
	</dict>
	<key>callFeedback</key>
	<false/>
	<key>clientUIRedesign</key>
	<true/>
	<key>currentUserEmail</key>
	<string>wil@wilhall.com</string>
	<key>cursorMode</key>
	<string>tagTeam</string>
	<key>enableNewSignaler</key>
	<true/>
	<key>hasPromptedForCamera</key>
	<true/>
	<key>hasPromptedForMicrophone</key>
	<true/>
	<key>hasPromptedForScreenrecording</key>
	<true/>
	<key>hasShownPopover</key>
	<true/>
	<key>hideRedesignFeedbackBanner</key>
	<true/>
	<key>keyboardMode</key>
	<string>on</string>
	<key>keyboardOffNotification</key>
	<true/>
	<key>lastPreferencePane</key>
	<integer>2</integer>
	<key>lastUserSignalMessageDate</key>
	<dict>
		<key>clientID</key>
		<string>54717</string>
		<key>date</key>
		<date>2022-04-12T15:12:53Z</date>
	</dict>
	<key>seenCameraPreview</key>
	<true/>
	<key>startCallsWithWebcam</key>
	<true/>
	<key>transmitResolution</key>
	<string>max</string>
	<key>videoDeviceID</key>
	<string>47B4B64B70674B9CAD2BAE273A71F4B5</string>
	<key>webcam</key>
	<dict>
		<key>id</key>
		<string>47B4B64B-7067-4B9C-AD2B-AE273A71F4B5</string>
		<key>name</key>
		<string>FaceTime HD Camera</string>
	</dict>
	<key>webcamResolution</key>
	<string>high</string>
</dict>
</plist>
