<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BPXLBirthday</key>
	<dict>
		<key>5.0</key>
		<real>401927</real>
	</dict>
	<key>FolderScopeIgnorePatterns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
	<key>KALFileShelfBehavior</key>
	<integer>1</integer>
	<key>KALTerminalApp</key>
	<integer>1</integer>
	<key>KS2UpTextScopeViewControllerDefaultsInitialDetailControllerClassNameKey</key>
	<integer>0</integer>
	<key>KS3UpTextScopeViewControllerDefaultsInitialDetailControllerClassNameKey</key>
	<integer>0</integer>
	<key>KSApplicationFirstLaunch</key>
	<false/>
	<key>KSFileSystemItemRepScanHiddenFilesKey</key>
	<true/>
	<key>KSFileSystemItemRepScanIgnoredFileNamesKey</key>
	<array/>
	<key>KSHighlightSyntaxUserDefaultsKey</key>
	<true/>
	<key>KSIgnoreWhitespaceUserDefaultsKey</key>
	<false/>
	<key>KSIntegrationWindowControllerFirstLoad</key>
	<true/>
	<key>KSMainWindowFrame</key>
	<string>1496 0 2536 1415 0 0 5120 1415 </string>
	<key>KSPreferencesWindowControllerFirstLoad</key>
	<true/>
	<key>KSPreferencesWindowControllerPreviousPaneIdentifier</key>
	<string>app.kaleidoscope.KSTextScope</string>
	<key>KSTextScopeFontInfoUserDefaultsKey</key>
	<dict>
		<key>fontName</key>
		<string>ComicMonoRelaxedRegular</string>
		<key>fontSize</key>
		<real>18</real>
	</dict>
	<key>KSTextScopePrefersNormalizedText</key>
	<false/>
	<key>MSAppCenter310AnalyticsUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>

	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSWindow Frame KSIntegrationWindowAutosaveName</key>
	<string>2389 719 782 512 0 0 5120 1415 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>2590 851 445 235 0 0 5120 1415 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>2268 695 640 488 0 0 5120 1415 </string>
	<key>NSWindow Frame WelcomeWindow</key>
	<string>1941 612 964 564 0 0 5120 1415 </string>
	<key>NSWindowTabbingShoudShowTabBarKey-KSMergeDocument</key>
	<true/>
	<key>PreviousEmailAddress</key>
	<string>wil@wilhall.com</string>
	<key>SFTextViewTabWidthUserDefaultsKey</key>
	<integer>4</integer>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-07-22T15:08:51Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2025-07-22T15:08:37Z</date>
	<key>SULastRunBundleVersion</key>
	<string>7599</string>
	<key>SULastRunDisplayVersion</key>
	<string>5.4.1</string>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SUUpdateGroupIdentifier</key>
	<integer>1566233232</integer>
	<key>TextScopeSearch</key>
	<array>
		<string>hasDocument</string>
		<string>handleClose</string>
		<string>onClose</string>
	</array>
	<key>WelcomeWindowLastSelectedFileCreationEntry</key>
	<string>Repositories</string>
	<key>WelcomeWindowSelectedEntry</key>
	<string>Repositories</string>
	<key>highlightTheme</key>
	<string>Catppuccin</string>
	<key>imageScopeViewControllerModeTag</key>
	<integer>1</integer>
</dict>
</plist>
