<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastShownWelcomeWindowVersion</key>
	<string>2</string>
	<key>NSSplitView Subview Frames RulesSplitView</key>
	<array>
		<string>0.000000, 0.000000, 220.000000, 580.000000, NO, NO</string>
		<string>221.000000, 0.000000, 500.000000, 580.000000, NO, NO</string>
		<string>722.000000, 0.000000, 280.000000, 580.000000, NO, NO</string>
	</array>
	<key>NSTableView Columns v3 RulesTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxATCwwVICEiIyQlJiw2NzhC
	Q01OT1UkbnVsbNINDg8UWk5TLm9iamVjdHNWJGNsYXNzpBAREhOAAoAKgA2AD4AS0xYN
	DhcbH1dOUy5rZXlzoxgZGoADgASABaMcHR6ABoAHgAiACVpJZGVudGlmaWVyVVdpZHRo
	VkhpZGRlblRuYW1lI0BlQAAAAAAACNInKCkqWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNE
	aWN0aW9uYXJ5oikrWE5TT2JqZWN00xYNDi0xH6MYGRqAA4AEgAWjMjMegAuADIAIgAle
	cHJvbWluZW5jZUljb24jQDoAAAAAAADTFg0OOT0foxgZGoADgASABaM+Mx6ADoAMgAiA
	CVdlbmFibGVk0xYNDkRIH6MYGRqAA4AEgAWjSUoegBCAEYAIgAlXc3VtbWFyeSNAb2AA
	AAAAANInKFBRXk5TTXV0YWJsZUFycmF5o1BSK1dOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFIAVABqAHAAdQCAAIcAjACOAJAAkgCUAJYAnQClAKkAqwCtAK8AswC1ALcAuQC7
	AMYAzADTANgA4QDiAOcA8gD7AQgBCwEUARsBHwEhASMBJQEpASsBLQEvATEBQAFJAVAB
	VAFWAVgBWgFeAWABYgFkAWYBbgF1AXkBewF9AX8BgwGFAYcBiQGLAZMBnAGhAbABtAAA
	AAAAAAIBAAAAAAAAAFMAAAAAAAAAAAAAAAAAAAG8
	</data>
	<key>NSTableView Sort Ordering v2 RulesTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrgsMFh8gISIjKTEyOkJKVSRu
	dWxs0g0ODxVaTlMub2JqZWN0c1YkY2xhc3OlEBESExSAAoAIgAqAC4AMgA3TFw0OGBse
	V05TLmtleXOiGRqAA4AEohwdgAWABoAHWklkZW50aWZpZXJZQXNjZW5kaW5nVG5hbWUJ
	0iQlJidaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiJihYTlNPYmplY3TT
	Fw0OKi0eohkagAOABKIcL4AFgAmABwjTFw0OMzYeohkagAOABKIcHYAFgAaAB9MXDQ47
	Ph6iGRqAA4AEohwvgAWACYAH0xcNDkNGHqIZGoADgASiHB2ABYAGgAfSJCVLTF5OU011
	dGFibGVBcnJheaNLTShXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABSAFQAYwBpAG4A
	eQCAAIYAiACKAIwAjgCQAJIAmQChAKQApgCoAKsArQCvALEAvADGAMsAzADRANwA5QDy
	APUA/gEFAQgBCgEMAQ8BEQETARUBFgEdASABIgEkAScBKQErAS0BNAE3ATkBOwE+AUAB
	QgFEAUsBTgFQAVIBVQFXAVkBWwFgAW8BcwAAAAAAAAIBAAAAAAAAAE4AAAAAAAAAAAAA
	AAAAAAF7
	</data>
	<key>NSTableView Supports v2 RulesTable</key>
	<true/>
	<key>NSWindow Frame RulesWindow</key>
	<string>1916 688 1068 580 0 0 5120 1415 </string>
	<key>ShowTerminationAlert</key>
	<false/>
</dict>
</plist>
