<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InspectorSectionCollapseStates</key>
	<dict>
		<key>_codeSignature</key>
		<true/>
		<key>_connectionDetails</key>
		<true/>
		<key>_generalInformation</key>
		<false/>
		<key>_geoSection</key>
		<true/>
		<key>_internetAccessPolicy</key>
		<false/>
		<key>_summaryConnections</key>
		<false/>
	</dict>
	<key>InspectorTrafficPanelMode</key>
	<integer>0</integer>
	<key>LiveConnectionsWindowIsOpen</key>
	<true/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>TrafficViewTimeRange</key>
	<real>3600.9999999999991</real>
</dict>
</plist>
