<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1720807746</integer>
	<key>DatabaseQueue-LastVacuumDate-/Users/wilhall/Library/Containers/com.ranchero.NetNewsWire-Evergreen/Data/Library/Application Support/NetNewsWire/Accounts/2_iCloud/Sync.sqlite3</key>
	<date>2024-07-14T18:33:07Z</date>
	<key>NSToolbar Configuration MainWindowToolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame MainWindow</key>
	<string>333 91 1467 944 0 0 1800 1125 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>-821 959 400 135 -1280 0 1280 1415 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>-917 762 620 398 -1280 0 1280 1415 </string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2024-07-14T18:33:18Z</date>
	<key>SendCrashLogsAutomatically</key>
	<true/>
	<key>addWebFeedAccountID</key>
	<string>iCloud</string>
	<key>cloudkit.server.token.Account.__defaultOwner__</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwRElUkbnVsbNINDg8QViRj
	bGFzc18QD0NoYW5nZVRva2VuRGF0YYADgAJPECAfCgIIGBgAIhUI+YLVlMCBvYwhEKvG
	8p733+nNlwEoANITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNfEBNDS1NlcnZlckNoYW5n
	ZVRva2VuohUXWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmNqfH6Ao6izvNLVAAAAAAAAAQEA
	AAAAAAAAGAAAAAAAAAAAAAAAAAAAAN4=
	</data>
	<key>cloudkit.server.token.Articles.__defaultOwner__</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwRElUkbnVsbNINDg8QViRj
	bGFzc18QD0NoYW5nZVRva2VuRGF0YYADgAJPECIfCgMI9xgYACIWCJaZua6zwKnC6AEQ
	0N37ytKh/rytASgA0hMUFRZaJGNsYXNzbmFtZVgkY2xhc3Nlc18QE0NLU2VydmVyQ2hh
	bmdlVG9rZW6iFRdYTlNPYmplY3QIERokKTI3SUxRU1heY2p8foClqrW+1NcAAAAAAAAB
	AQAAAAAAAAAYAAAAAAAAAAAAAAAAAAAA4A==
	</data>
	<key>firstRunDate</key>
	<date>2023-06-05T12:49:46Z</date>
	<key>lastImageCacheFlushDate</key>
	<date>2024-07-14T18:33:07Z</date>
	<key>openInBrowserInBackground</key>
	<false/>
	<key>twitterDeprecationAlertShown</key>
	<true/>
	<key>windowState</key>
	<dict>
		<key>articlePath</key>
		<dict>
			<key>accountID</key>
			<string>iCloud</string>
			<key>accountName</key>
			<string>iCloud</string>
			<key>articleID</key>
			<string>bbaca5bc18880d9ae1f9d4fdfe725704</string>
			<key>webFeedID</key>
			<string>https://www.smashingmagazine.com/categories/accessibility/index.xml</string>
		</dict>
		<key>articleWindowScrollY</key>
		<real>910</real>
		<key>containerExpandedWindowState</key>
		<array>
			<dict>
				<key>accountID</key>
				<string>OnMyMac</string>
				<key>type</key>
				<string>account</string>
			</dict>
			<dict>
				<key>accountID</key>
				<string>iCloud</string>
				<key>type</key>
				<string>account</string>
			</dict>
			<dict>
				<key>type</key>
				<string>smartFeedController</string>
			</dict>
		</array>
		<key>isShowingExtractedArticle</key>
		<false/>
		<key>mainWindowWidthsStateKey</key>
		<array>
			<integer>240</integer>
			<integer>375</integer>
			<integer>850</integer>
		</array>
		<key>readArticlesFilterStateKey</key>
		<array/>
		<key>readArticlesFilterStateValue</key>
		<array/>
		<key>readFeedsFilterState</key>
		<false/>
		<key>selectedFeedsState</key>
		<array>
			<dict>
				<key>id</key>
				<string>UnreadFeed</string>
				<key>type</key>
				<string>smartFeed</string>
			</dict>
		</array>
		<key>windowFullScreenState</key>
		<false/>
	</dict>
</dict>
</plist>
