<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axShortcutExposedFeatures</key>
	<dict>
		<key>feature.alternateMouseButtons</key>
		<true/>
		<key>feature.displayFilters</key>
		<true/>
		<key>feature.invertDisplayColor</key>
		<true/>
		<key>feature.mouseKeys</key>
		<true/>
		<key>feature.slowKeys</key>
		<true/>
		<key>feature.stickyKeys</key>
		<true/>
		<key>feature.switchControl</key>
		<true/>
		<key>feature.virtualKeyboard</key>
		<true/>
		<key>feature.voiceOver</key>
		<true/>
		<key>feature.zoom</key>
		<true/>
	</dict>
	<key>closeViewDFRZoomEnabled</key>
	<false/>
	<key>closeViewDFRZoomLevel</key>
	<real>2</real>
	<key>closeViewDesiredZoomFactor</key>
	<real>1.01</real>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewHotkeysPreviouslyEnabled</key>
	<false/>
	<key>closeViewScrollWheelModifiersInt</key>
	<integer>524288</integer>
	<key>closeViewScrollWheelPreviousToggle</key>
	<true/>
	<key>closeViewScrollWheelToggle</key>
	<true/>
	<key>closeViewSmoothImages</key>
	<false/>
	<key>closeViewWindowPosition</key>
	<data>
	AAAAAHiMr0AAAAAAqLeGQA==
	</data>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>closeViewZoomMode</key>
	<integer>0</integer>
	<key>closeViewZoomedIn</key>
	<false/>
	<key>com.apple.custommenu.apps</key>
	<array/>
	<key>contrast</key>
	<real>0.0</real>
	<key>dwellHideUITimeout</key>
	<real>15</real>
	<key>hoverTextEnabled</key>
	<false/>
	<key>login</key>
	<false/>
	<key>selectedTab</key>
	<integer>22</integer>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>stickyKey</key>
	<false/>
	<key>switchAutoScanElementInterval</key>
	<real>0.5</real>
	<key>switchAutoScanPanelInterval</key>
	<real>0.5</real>
	<key>switchCoalescePressesDuration</key>
	<real>0.0</real>
	<key>switchFirstElementDelay</key>
	<real>0.0</real>
	<key>switchHideUITimeout</key>
	<real>15</real>
	<key>switchHoldBeforeRepeatDuration</key>
	<real>3</real>
	<key>switchMinimumPressDuration</key>
	<real>0.0</real>
	<key>switchSweepingCursorSpeed</key>
	<real>5</real>
	<key>typingEchoEnabled</key>
	<false/>
	<key>useStickyKeysShortcutKeys</key>
	<false/>
	<key>voiceOverOnOffKey</key>
	<false/>
</dict>
</plist>
