<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSOutlineView Items Sidebar_sagewell</key>
	<array>
		<string>Branches &gt; feature</string>
		<string>Branches</string>
		<string>Stashes</string>
	</array>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>NSWindowTabbingShoudShowTabBarKey-NSWindow-Fork.ForkWindowController-Fork.ForkWindowController-HT-FS</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUUpdateRelaunchingMarker</key>
	<true/>
	<key>congratulationsDone2023</key>
	<true/>
	<key>congratulationsDone2026</key>
	<true/>
	<key>defaultSourceFolder</key>
	<string>/Users/wilhall</string>
	<key>deleteStashAfterApply</key>
	<true/>
	<key>diffFontName</key>
	<string>ComicMonoRelaxedRegular</string>
	<key>diffFontSize</key>
	<real>12</real>
	<key>diffShowChangeMarks</key>
	<true/>
	<key>diffShowEntireFile</key>
	<true/>
	<key>enabledTabsOnFirstRun</key>
	<true/>
	<key>expandedRepositoryManagerItems</key>
	<array>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>Services</string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>Recent</string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>Repositories</string>
		</dict>
	</array>
	<key>fetchAllTags</key>
	<false/>
	<key>gitInstanceType</key>
	<integer>1</integer>
	<key>maxCommitCount</key>
	<integer>100000</integer>
	<key>migratedToFork2_12</key>
	<true/>
	<key>migratedToFork2_15</key>
	<true/>
	<key>migratedToFork2_4</key>
	<true/>
	<key>migratedToFork2_41</key>
	<true/>
	<key>migratedToFork2_64</key>
	<true/>
	<key>migratedToMacOs111</key>
	<true/>
	<key>migratedToNewRepositoryManager</key>
	<true/>
	<key>paddleUUID</key>
	<string>AB6A1A55-8DDC-4659-9913-470CA9E181E2</string>
	<key>pushSheetPushAllTags</key>
	<false/>
	<key>revisionDetailsActiveTab</key>
	<integer>1</integer>
	<key>revisionDiffLayoutMode</key>
	<integer>1</integer>
	<key>spaceCharacter</key>
	<string>hyphen</string>
	<key>terminalClient</key>
	<integer>1</integer>
	<key>theme</key>
	<string>system</string>
</dict>
</plist>
