<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddressFormat</key>
	<string>us</string>
	<key>AlwaysShowAccountInGroupSummary</key>
	<true/>
	<key>ContactListMaximumHeight</key>
	<real>803</real>
	<key>ContactTemplate</key>
	<array>
		<dict>
			<key>property</key>
			<string>firstName</string>
		</dict>
		<dict>
			<key>property</key>
			<string>lastName</string>
		</dict>
		<dict>
			<key>property</key>
			<string>organization</string>
		</dict>
		<dict>
			<key>property</key>
			<string>birthdayComponents</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Mobile&gt;!$_</string>
			</array>
			<key>property</key>
			<string>phoneNumbers</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Home&gt;!$_</string>
			</array>
			<key>property</key>
			<string>emails</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Home&gt;!$_</string>
			</array>
			<key>property</key>
			<string>addresses</string>
		</dict>
	</array>
	<key>DarkModeTheme</key>
	<integer>2</integer>
	<key>DialActionMethod</key>
	<string>mac</string>
	<key>DidShowCardhop1UpgradeWindow</key>
	<true/>
	<key>FirstRunSetup</key>
	<true/>
	<key>FullSidebarVisible</key>
	<true/>
	<key>GroupSplitWidth</key>
	<real>163</real>
	<key>HideInDock</key>
	<true/>
	<key>HideInMenubar</key>
	<true/>
	<key>HotKeyCode</key>
	<integer>8</integer>
	<key>HotKeyEmpty</key>
	<false/>
	<key>HotKeyFlags</key>
	<integer>1441792</integer>
	<key>LightModeTheme</key>
	<integer>0</integer>
	<key>MeCardExternalID</key>
	<string>contact:ECEC5A1B-2750-44B8-A5AF-7D43E3DD0652</string>
	<key>MeCardExternalIDLocal</key>
	<string>contact:ECEC5A1B-2750-44B8-A5AF-7D43E3DD0652</string>
	<key>MiniWindowAttached</key>
	<false/>
	<key>MiniWindowVisible</key>
	<false/>
	<key>OpenCallsIn</key>
	<string>com.apple.mobilephone</string>
	<key>OpenMapsIn</key>
	<string>google</string>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
	<key>PlaySounds</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>SentryEnabled</key>
	<true/>
	<key>ShowActionButtons</key>
	<true/>
	<key>ShowActionButtonsInList</key>
	<true/>
	<key>ShowAnniversaries</key>
	<true/>
	<key>ShowBirthdays</key>
	<true/>
	<key>VCardExportNotes</key>
	<true/>
	<key>VCardExportPhotos</key>
	<true/>
</dict>
</plist>
