<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>3EE35F3E-6870-4B1A-B004-B3CE91BDC423</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBULDBIYHCJQUVJTVFVWV1hZ
	WltcYWZVJG51bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAFNMTFA4VFhdcdGlt
	ZXN0YW1wS2V5WWRldmljZUtleYADgAWAE9IZDhobV05TLnRpbWUjQcVmzx08o+iABNId
	Hh8gWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN03xAXIyQlJg4n
	KCkqKywtLi8wMTIzNDU2Nzg5Ojs8PTs8PEFCPDw8PEdISUo8PE1OT1lvc1ZlcnNpb25e
	dGltZVpvbmVPZmZzZXRYYXBwQnVpbGRfEBVsaXZlVXBkYXRlUGFja2FnZUhhc2haYXBw
	VmVyc2lvbl8QEXdyYXBwZXJTZGtWZXJzaW9uW2NhcnJpZXJOYW1lV3Nka05hbWVWbG9j
	YWxlXxAXbGl2ZVVwZGF0ZURlcGxveW1lbnRLZXleY2FycmllckNvdW50cnlab3NBcGlM
	ZXZlbF53cmFwcGVyU2RrTmFtZVdvZW1OYW1lWnNka1ZlcnNpb25cYXBwTmFtZXNwYWNl
	VW1vZGVsXxAVd3JhcHBlclJ1bnRpbWVWZXJzaW9uXxAWbGl2ZVVwZGF0ZVJlbGVhc2VM
	YWJlbFpzY3JlZW5TaXplVm9zTmFtZVdvc0J1aWxkgAuADoAQgACAEoAQgACAAIAGgA2A
	AIAAgACAAIAJgAeAEYAIgACAAIAPgAqADF8QD2FwcGNlbnRlci5tYWNvc1U0LjQuM15N
	YWNCb29rUHJvMTgsNFVBcHBsZVVtYWNPU1YxMy40LjFVMjJGODJVZW5fVVMT////////
	/xBZNTEyMHgxNDQwVjIuMzQuMV8QFWNvbS5EYW5QcmlzdHVwb3YuRm9ya9IdHl1eWk1T
	QUNEZXZpY2WjX2AhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJTZGvSHR5iY18QFU1TQUNE
	ZXZpY2VIaXN0b3J5SW5mb6NkZSFfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm9fEA9NU0FD
	SGlzdG9yeUluZm/SHR5naF5OU011dGFibGVBcnJheaNnaSFXTlNBcnJheQAIABEAGgAk
	ACkAMgA3AEkATABRAFMAawBxAHYAgQCIAIoAjACOAJUAogCsAK4AsACyALcAvwDIAMoA
	zwDaAOMA6gDtAPYBJwExAUABSQFhAWwBgAGMAZQBmwG1AcQBzwHeAeYB8QH+AgQCHAI1
	AkACRwJPAlECUwJVAlcCWQJbAl0CXwJhAmMCZQJnAmkCawJtAm8CcQJzAnUCdwJ5AnsC
	fQKPApUCpAKqArACtwK9AsMCzALWAt0C9QL6AwUDCQMUAyMDKANAA0QDXANuA3MDggOG
	AAAAAAAAAgEAAAAAAAAAagAAAAAAAAAAAAAAAAAAA44=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxWbPHTdl7YAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxWbPHTdzVIAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSOutlineView Items Sidebar_sagewell</key>
	<array>
		<string>Branches &gt; feature</string>
		<string>Branches</string>
		<string>Stashes</string>
	</array>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>NSSplitView Subview Frames CommitSheet_SidebarSplit</key>
	<array>
		<string>0.000000, 0.000000, 345.000000, 892.000000, NO, NO</string>
		<string>346.000000, 0.000000, 613.000000, 892.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames RepositoryController_ContentSplitView</key>
	<array>
		<string>0.000000, 0.000000, 959.000000, 179.000000, NO, NO</string>
		<string>0.000000, 180.000000, 959.000000, 712.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames RepositoryController_SidebarSplitView</key>
	<array>
		<string>0.000000, 0.000000, 306.000000, 944.000000, NO, NO</string>
		<string>307.000000, 0.000000, 959.000000, 944.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames RevisionDetails_ChangesSplitView</key>
	<array>
		<string>0.000000, 0.000000, 323.000000, 654.000000, NO, NO</string>
		<string>324.000000, 0.000000, 635.000000, 654.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames RevisionDetails_FileTreeSplitView</key>
	<array>
		<string>0.000000, 0.000000, 243.000000, 434.000000, NO, NO</string>
		<string>244.000000, 0.000000, 1039.000000, 434.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames StageFileViewController_SplitView</key>
	<array>
		<string>0.000000, 0.000000, 345.000000, 466.000000, NO, NO</string>
		<string>0.000000, 467.000000, 345.000000, 404.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration 24452ED6-13D2-4CDE-AD62-2D26B61D3241</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration PreferencesMainToolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame DiffPopUpWindowFrame</key>
	<string>105 159 1000 600 0 0 1512 944 </string>
	<key>NSWindow Frame ForkWindow</key>
	<string>1719 146 1266 944 0 0 5120 1415 </string>
	<key>NSWindow Frame PreferencesWindowFrameAutoSaveName</key>
	<string>1680 910 508 427 0 0 3840 1575 </string>
	<key>NSWindow Frame RevisionDetailsWindow</key>
	<string>588 611 1024 600 0 0 2560 1415 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>933 990 400 135 0 0 1800 1125 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>470 409 620 398 0 0 1512 944 </string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-10-04T13:20:59Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>553371983</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<true/>
	<key>congratulationsDone2023</key>
	<true/>
	<key>defaultSourceFolder</key>
	<string>/Users/wilhall</string>
	<key>deleteStashAfterApply</key>
	<true/>
	<key>enabledTabsOnFirstRun</key>
	<true/>
	<key>expandedRepositoryManagerItems</key>
	<array>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>Services</string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>Recent</string>
		</dict>
		<dict>
			<key>children</key>
			<array/>
			<key>title</key>
			<string>Repositories</string>
		</dict>
	</array>
	<key>fetchAllTags</key>
	<false/>
	<key>gitInstanceType</key>
	<integer>1</integer>
	<key>migratedToFork2_12</key>
	<true/>
	<key>migratedToFork2_15</key>
	<true/>
	<key>migratedToFork2_4</key>
	<true/>
	<key>migratedToMacOs111</key>
	<true/>
	<key>migratedToNewRepositoryManager</key>
	<true/>
	<key>paddleUUID</key>
	<string>AB6A1A55-8DDC-4659-9913-470CA9E181E2</string>
	<key>pushSheetPushAllTags</key>
	<false/>
	<key>recentPatchDirectory</key>
	<string>/Users/wilhall/Downloads</string>
	<key>revisionDetailsActiveTab</key>
	<integer>1</integer>
	<key>terminalClient</key>
	<integer>1</integer>
	<key>theme</key>
	<string>system</string>
</dict>
</plist>
