<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<false/>
	<key>expose-group-apps</key>
	<true/>
	<key>largesize</key>
	<real>51</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>775241400.79016602</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>666717712.45329499</real>
	<key>loc</key>
	<string>en_US:US</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>508</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>left</string>
	<key>region</key>
	<string>US</string>
	<key>show-recents</key>
	<false/>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>showMissionControlGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>50</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>1048576</integer>
</dict>
</plist>
