<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autohide</key>
	<false/>
	<key>largesize</key>
	<real>51</real>
	<key>last-analytics-stamp</key>
	<array>
		<real>749568767.96324599</real>
	</array>
	<key>lastShowIndicatorTime</key>
	<real>666717712.45329499</real>
	<key>loc</key>
	<string>en_US:US</string>
	<key>magnification</key>
	<false/>
	<key>mineffect</key>
	<string>scale</string>
	<key>minimize-to-application</key>
	<true/>
	<key>mod-count</key>
	<integer>502</integer>
	<key>mru-spaces</key>
	<false/>
	<key>orientation</key>
	<string>left</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1974985976</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAACpVgAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxkUo/IAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAOTVEMzlE
				MTEtN0RCQS00QTk1LTg2MjQtQzA4MDVFNzQzOTlFGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Settings</string>
				<key>file-mod-date</key>
				<integer>3808414457</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3808414457</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>107067045</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABpVGVybS5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA3DDMD
				AAAAAAgAAAAEAwAAu7InAwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxkfOJgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcZFKPyAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.googlecode.iterm2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/iTerm.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iTerm</string>
				<key>file-mod-date</key>
				<integer>250645215773040</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1426957918</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDwAAAAEBAABGYW50YXN0
				aWNhbC5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				NwwzAwAAAAAIAAAABAMAAAsKugIAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcUPXL2AAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AJCClucAAAAIAAAAAAQAAEHGRSj8gAAAJAAAAAEBAAA5
				NUQzOUQxMS03REJBLTRBOTUtODYyNC1DMDgwNUU3NDM5
				OUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.flexibits.fantastical2.mac</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Fantastical.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Fantastical</string>
				<key>file-mod-date</key>
				<integer>130188551651257</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4220117536</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAgAMAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAHAAAAAQEAAFZvbHVtZXMABwAA
				AAEBAABQcmVib290AAkAAAABAQAAQ3J5cHRleGVzAAAA
				AwAAAAEBAABBcHAADAAAAAEBAABBcHBsaWNhdGlvbnMK
				AAAAAQEAAFNhZmFyaS5hcHAAACAAAAABBgAAEAAAACAA
				AAAwAAAAQAAAAFQAAAAQAAAAYAAAAHQAAAAIAAAABAMA
				ABUAAAD///8PCAAAAAQDAAAY/AgA////DwgAAAAEAwAA
				AgAAAAAAAAAIAAAABAMAAAYBAAAAAAAACAAAAAQDAACU
				AgEAAAAAAAgAAAAEAwAA9csDAAAAAAAIAAAABAMAAPbL
				AwAAAAAACAAAAAQDAAD3ywMAAAAAACAAAAABBgAAsAAA
				AMAAAADQAAAA4AAAAPAAAAAAAQAAEAEAACABAAAIAAAA
				AAQAAEHGN4yeAAAAGAAAAAECAAACAAAAAAAAAA8AAAAA
				AAAAAAAAAAAAAAAfAAAAAQkAAGZpbGU6Ly8vU3lzdGVt
				L1ZvbHVtZXMvUHJlYm9vdC8ACAAAAAQDAAAAkIKW5wAA
				AAgAAAAABAAAQcUV++X1OEEkAAAAAQEAADRCRTk5MTE1
				LTI4NDMtNDdBMS1CQzBELTFGRTU0MkI5OTJDNhgAAAAB
				AgAAhQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAFwAAAAEB
				AAAvU3lzdGVtL1ZvbHVtZXMvUHJlYm9vdAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				AAQAAEHGRSj8gAAAJAAAAAEBAAA5NUQzOUQxMS03REJB
				LTRBOTUtODYyNC1DMDgwNUU3NDM5OUUYAAAAAQIAAIEA
				AAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAA
				AGAAAAD+////APAAAAAAAAAHAAAAAiAAALwCAAAAAAAA
				BSAAADwCAAAAAAAAECAAAEwCAAAAAAAAESAAAHACAAAA
				AAAAEiAAALABAAAAAAAAEyAAAGACAAAAAAAAICAAAJwC
				AAAAAAAABAAAAAMDAAAA8AAABAAAAAMDAAAAAAAABAAA
				AAMDAAABAAAAJAAAAAEGAAAwAwAAPAMAADwDAABIAwAA
				PAMAADwDAAA8AwAAPAMAADwDAACoAAAA/v///wEAAADI
				AgAADQAAAAQQAACIAAAAAAAAAAUQAAAwAQAAAAAAABAQ
				AABoAQAAAAAAAEAQAABYAQAAAAAAAAAgAABUAwAAAAAA
				AAIgAAAcAgAAAAAAAAUgAACIAQAAAAAAABAgAAAwAAAA
				AAAAABEgAADQAQAAAAAAABIgAACwAQAAAAAAABMgAADA
				AQAAAAAAACAgAAD8AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Volumes/Preboot/Cryptexes/App/System/Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>3806630460</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3806630460</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2061090327</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAJUiCgMAAAAACAAAAAQDAAAKm08CAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFmSeKAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxi/IBoAAACQAAAAB
				AQAAOTVEMzlEMTEtN0RCQS00QTk1LTg2MjQtQzA4MDVF
				NzQzOTlFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>3798204600</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3451403672</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAA9h4AAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcZFKPyAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADk1RDM5RDExLTdEQkEt
				NEE5NS04NjI0LUMwODA1RTc0Mzk5RRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.MobileSMS</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>3808414457</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3808414457</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1563780318</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEaXNjb3Jk
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA3DDMD
				AAAAAAgAAAAEAwAAkyoDAwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxjX+wgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcZFKPyAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.hnc.Discord</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Discord.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Discord</string>
				<key>file-mod-date</key>
				<integer>3806426756</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>4261457985</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwgAAAABAQAATWFpbC5hcHAMAAAAAQYAABAAAAAgAAAA
				NAAAAAgAAAAEAwAAFQAAAP///w8IAAAABAMAABcAAAD/
				//8PCAAAAAQDAACrGQAA////DwwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBxkUo/IAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxl
				Oi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAA
				kIKW5wAAACQAAAABAQAAOTVEMzlEMTEtN0RCQS00QTk1
				LTg2MjQtQzA4MDVFNzQzOTlFGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEQAAAAA
				AAAABRAAAIgAAAAAAAAAEBAAAKwAAAAAAAAAQBAAAJwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAAMwAAAAAAAAAECAA
				ANwAAAAAAAAAESAAAAABAAAAAAAAEiAAAPAAAAAAAAAA
				EyAAAJwAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.mail</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Mail.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Mail</string>
				<key>file-mod-date</key>
				<integer>3808414457</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3808414457</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1426957922</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABTdWJsaW1l
				IE1lcmdlLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAJUiCgMAAAAACAAAAAQDAABuePkAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFSxCWYLfPGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxi/IBoAAACQAAAAB
				AQAAOTVEMzlEMTEtN0RCQS00QTk1LTg2MjQtQzA4MDVF
				NzQzOTlFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.sublimemerge</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Sublime%20Merge.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Sublime Merge</string>
				<key>file-mod-date</key>
				<integer>83613907798233</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2264524005</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zGAAAAAEBAABBZmZpbml0
				eSBQdWJsaXNoZXIgMi5hcHAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAAA3DDMDAAAAAAgAAAAEAwAADZURAwAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxg5myQAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcZFKPyAAAAk
				AAAAAQEAADk1RDM5RDExLTdEQkEtNEE5NS04NjI0LUMw
				ODA1RTc0Mzk5RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.seriflabs.affinitypublisher2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Affinity%20Publisher%202.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Affinity Publisher 2</string>
				<key>file-mod-date</key>
				<integer>222328494731924</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2133717388</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFAAAAAEBAABBZmZpbml0
				eSBQaG90byAyLmFwcAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAJUiCgMAAAAACAAAAAQDAADFhTQCAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFCbYSgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxi/IBoAAACQAAAAB
				AQAAOTVEMzlEMTEtN0RCQS00QTk1LTg2MjQtQzA4MDVF
				NzQzOTlFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.seriflabs.affinityphoto2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Affinity%20Photo%202.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Affinity Photo 2</string>
				<key>file-mod-date</key>
				<integer>228719383928698</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2133717387</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFwAAAAEBAABBZmZpbml0
				eSBEZXNpZ25lciAyLmFwcAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAACVIgoDAAAAAAgAAAAEAwAAnmPzAgAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxg5myYAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcYvyAaAAAAk
				AAAAAQEAADk1RDM5RDExLTdEQkEtNEE5NS04NjI0LUMw
				ODA1RTc0Mzk5RRgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.seriflabs.affinitydesigner2</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Affinity%20Designer%202.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Affinity Designer 2</string>
				<key>file-mod-date</key>
				<integer>107970691697347</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2264524006</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAiAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABBZG9iZSBM
				aWdodHJvb20gQ0MAABMAAAABAQAAQWRvYmUgTGlnaHRy
				b29tLmFwcAAMAAAAAQYAABAAAAAkAAAAQAAAAAgAAAAE
				AwAAlSIKAwAAAAAIAAAABAMAAH/RMwAAAAAACAAAAAQD
				AAAWgu4CAAAAAAwAAAABBgAAcAAAAIAAAACQAAAACAAA
				AAAEAABBxh2lKqMz8BgAAAABAgAAAgAAAAAAAAAPAAAA
				AAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8vLwwAAAAB
				AQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgA
				AAAABAAAQcYvyAaAAAAkAAAAAQEAADk1RDM5RDExLTdE
				QkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgAAAABAgAA
				gQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAv
				AAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQ
				AABcAAAAAAAAAAUQAACgAAAAAAAAABAQAADEAAAAAAAA
				AEAQAAC0AAAAAAAAAAIgAAB0AQAAAAAAAAUgAADkAAAA
				AAAAABAgAAD0AAAAAAAAABEgAAAoAQAAAAAAABIgAAAI
				AQAAAAAAABMgAAAYAQAAAAAAACAgAABUAQAAAAAAADAg
				AACAAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.adobe.lightroomCC</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Adobe%20Lightroom%20CC/Adobe%20Lightroom.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Adobe Lightroom</string>
				<key>file-mod-date</key>
				<integer>77489308222293</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>61726778249110</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1426957923</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDQAAAAEBAABTb3VsdmVy
				IDMuYXBwAAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				NwwzAwAAAAAIAAAABAMAAHGtxAIAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcXi6veAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AJCClucAAAAIAAAAAAQAAEHGRSj8gAAAJAAAAAEBAAA5
				NUQzOUQxMS03REJBLTRBOTUtODYyNC1DMDgwNUU3NDM5
				OUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>app.soulver.mac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Soulver%203.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Soulver 3</string>
				<key>file-mod-date</key>
				<integer>116139714946273</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>107067046</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDgAAAAEBAABFbnRpdHkg
				UHJvLmFwcAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				viM8AgAAAAAIAAAABAMAAAlsGwAAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcSoON4AAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AJCClucAAAAIAAAAAAQAAEHFlk7IgAAAJAAAAAEBAAA5
				NUQzOUQxMS03REJBLTRBOTUtODYyNC1DMDgwNUU3NDM5
				OUUYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>de.ixeau.Entity-Pro</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Entity%20Pro.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Entity Pro</string>
				<key>file-mod-date</key>
				<integer>83450699040985</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>107067047</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABNYWNEb3du
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAABo2SIC
				AAAAAAgAAAAEAwAAzjFmAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxTQtCoSl3xgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcWEmzOAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.uranusjr.macdown</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/MacDown.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>MacDown</string>
				<key>file-mod-date</key>
				<integer>83523713485017</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>107067049</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABCb29wLmFw
				cAgAAAABBgAAEAAAACQAAAAIAAAABAMAAEoyYgEAAAAA
				CAAAAAQDAAAdaxsAAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHDkl1hAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAA
				CAAAAAAEAABBxVryfwAAACQAAAABAQAAOTVEMzlEMTEt
				N0RCQS00QTk1LTg2MjQtQzA4MDVFNzQzOTlFGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAA
				AAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQA
				AAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.okatbest.boop</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Boop.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Boop</string>
				<key>file-mod-date</key>
				<integer>83403454400729</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABUZXh0IFdv
				cmtmbG93LmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAADcMMwMAAAAACAAAAAQDAABUcTsDAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHGEN5CgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxkUo/IAAACQAAAAB
				AQAAOTVEMzlEMTEtN0RCQS00QTk1LTg2MjQtQzA4MDVF
				NzQzOTlFGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.gtrigonakis.TextWorkflow</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Text%20Workflow.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Text Workflow</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3354926783</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABPSyBKU09O
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA3DDMD
				AAAAAAgAAAAEAwAAbpgyAwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxkiUewAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcZFKPyAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>net.shinystone.OKJSON</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/OK%20JSON.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>OK JSON</string>
				<key>file-mod-date</key>
				<integer>159261196844983</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>107067050</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABGb3JrLmFw
				cAgAAAABBgAAEAAAACQAAAAIAAAABAMAADcMMwMAAAAA
				CAAAAAQDAAAOdi0CAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHFkbENAAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAA
				CAAAAAAEAABBxkUo/IAAACQAAAABAQAAOTVEMzlEMTEt
				N0RCQS00QTk1LTg2MjQtQzA4MDVFNzQzOTlFGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAA
				AAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQA
				AAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.DanPristupov.Fork</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Fork.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Fork</string>
				<key>file-mod-date</key>
				<integer>22277485651203</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>225876139606955</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>107067051</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zHAAAAAEBAABQYXByaWth
				IFJlY2lwZSBNYW5hZ2VyIDMuYXBwCAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAANwwzAwAAAAAIAAAABAMAAJwgGgMA
				AAAACAAAAAEGAABYAAAAaAAAAAgAAAAABAAAQcYgNh+A
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHGRSj8
				gAAAJAAAAAEBAAA5NUQzOUQxMS03REJBLTRBOTUtODYy
				NC1DMDgwNUU3NDM5OUUYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAeAAAAAAAAAAQEAAAmAAAAAAAAABAEAAAiAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAAuAAAAAAAAAAQIAAAyAAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA3AAAAAAAAAATIAAA
				7AAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.hindsightlabs.paprika.mac.v3</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Paprika%20Recipe%20Manager%203.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Paprika Recipe Manager 3</string>
				<key>file-mod-date</key>
				<integer>201278860615612</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>231880504773451</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABIVFRQaWUu
				YXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA3DDMD
				AAAAAAgAAAAEAwAAU1s7AwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxaToCoAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcZFKPyAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>io.httpie.desktop</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/HTTPie.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>HTTPie</string>
				<key>file-mod-date</key>
				<integer>3787409685</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>120645146332742</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA3DDMD
				AAAAAAgAAAAEAwAAPRo3AwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxkfe+wAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcZFKPyAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAA3DDMD
				AAAAAAgAAAAEAwAAi7ASAwAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxQ28mgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcZFKPyAAAAkAAAAAQEAADk1RDM5
				RDExLTdEQkEtNEE5NS04NjI0LUMwODA1RTc0Mzk5RRgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3589177501</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxQAAAABAQAAaVBob25lIE1pcnJvcmluZy5hcHAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAAAhgQAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxkUo/IAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAAOTVEMzlE
				MTEtN0RCQS00QTk1LTg2MjQtQzA4MDVFNzQzOTlFGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ScreenContinuity</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/iPhone%20Mirroring.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>iPhone Mirroring</string>
				<key>file-mod-date</key>
				<integer>3808414457</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3808414457</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAaAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAUmVtaW5kZXJzLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAVAAAA////DwgAAAAE
				AwAAFwAAAP///w8IAAAABAMAAARHAAD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHGRSj8gAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACQgpbnAAAAJAAAAAEBAAA5NUQzOUQxMS03
				REJBLTRBOTUtODYyNC1DMDgwNUU3NDM5OUUYAAAAAQIA
				AIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
				LwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0AAAAE
				EAAATAAAAAAAAAAFEAAAkAAAAAAAAAAQEAAAtAAAAAAA
				AABAEAAApAAAAAAAAAACIAAAVAEAAAAAAAAFIAAA1AAA
				AAAAAAAQIAAA5AAAAAAAAAARIAAACAEAAAAAAAASIAAA
				+AAAAAAAAAATIAAApAAAAAAAAAAgIAAANAEAAAAAAAAw
				IAAAYAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.reminders</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Reminders.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Reminders</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAZAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAATm90ZXMuYXBwAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAABUAAAD///8PCAAAAAQDAAAX
				AAAA////DwgAAAAEAwAALDYAAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcZFKPyAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAJCClucAAAAkAAAAAQEAADk1RDM5RDExLTdEQkEt
				NEE5NS04NjI0LUMwODA1RTc0Mzk5RRgAAAABAgAAgQAA
				AAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA
				AAAAAAEFAACoAAAA/v///wEAAAAAAAAADQAAAAQQAABI
				AAAAAAAAAAUQAACMAAAAAAAAABAQAACwAAAAAAAAAEAQ
				AACgAAAAAAAAAAIgAABQAQAAAAAAAAUgAADQAAAAAAAA
				ABAgAADgAAAAAAAAABEgAAAEAQAAAAAAABIgAAD0AAAA
				AAAAABMgAACgAAAAAAAAACAgAAAwAQAAAAAAADAgAABc
				AQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Notes</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Notes.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Notes</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>recent-apps</key>
	<array/>
	<key>region</key>
	<string>US</string>
	<key>show-recents</key>
	<false/>
	<key>showAppExposeGestureEnabled</key>
	<true/>
	<key>showMissionControlGestureEnabled</key>
	<true/>
	<key>tilesize</key>
	<real>50</real>
	<key>trash-full</key>
	<true/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>1</integer>
	<key>wvous-br-modifier</key>
	<integer>1048576</integer>
</dict>
</plist>
