<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActionButtonClasses</key>
	<array>
		<string>PDiMessageAction</string>
		<string>PDMailAction</string>
		<string>PDDialPhoneAction</string>
		<string>PDFaceTimeAction</string>
	</array>
	<key>AddressFormat</key>
	<string>us</string>
	<key>ContactTemplate</key>
	<array>
		<dict>
			<key>property</key>
			<string>firstName</string>
		</dict>
		<dict>
			<key>property</key>
			<string>lastName</string>
		</dict>
		<dict>
			<key>property</key>
			<string>organization</string>
		</dict>
		<dict>
			<key>property</key>
			<string>birthdayComponents</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Mobile&gt;!$_</string>
			</array>
			<key>property</key>
			<string>phoneNumbers</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Home&gt;!$_</string>
			</array>
			<key>property</key>
			<string>emails</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Home&gt;!$_</string>
			</array>
			<key>property</key>
			<string>addresses</string>
		</dict>
	</array>
	<key>GroupSplitWidth</key>
	<real>121</real>
	<key>HideInDock</key>
	<true/>
	<key>MiniWindowAnchored</key>
	<false/>
	<key>MiniWindowAttached</key>
	<true/>
	<key>MiniWindowVisible</key>
	<false/>
	<key>PlaySounds</key>
	<true/>
	<key>ShowActionButtons</key>
	<true/>
	<key>ShowActionButtonsInList</key>
	<true/>
	<key>VCardExportNotes</key>
	<true/>
	<key>VCardExportPhotos</key>
	<true/>
</dict>
</plist>
