<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIntroDisplayed</key>
	<true/>
	<key>ArchiveSuppressConfirmationAlert</key>
	<true/>
	<key>B5UserDeviceUUID</key>
	<string>wvxvyzswqfccddfzy2bfeqboqy</string>
	<key>CompletedEssentialSettings_v7</key>
	<true/>
	<key>ForceOPVaultUsageMigrationKey</key>
	<true/>
	<key>KeepHelperRunning</key>
	<true/>
	<key>LastActiveProfileUUID</key>
	<string>all-vaults-uuid</string>
	<key>MASPreferences Accounts Frame (en_US)</key>
	<string>{{0, 0}, {670, 285}}</string>
	<key>MASPreferences Advanced Frame (en_US)</key>
	<string>{{0, 0}, {650, 330}}</string>
	<key>MASPreferences Browsers Frame (en_US)</key>
	<string>{{0, 0}, {621, 310}}</string>
	<key>MASPreferences Frame Top Left</key>
	<string>{950, 1114}</string>
	<key>MASPreferences General Frame (en_US)</key>
	<string>{{0, 0}, {590, 268}}</string>
	<key>MASPreferences Mini Frame (en_US)</key>
	<string>{{0, 0}, {660, 156}}</string>
	<key>MASPreferences Security Frame (en_US)</key>
	<string>{{0, 0}, {592, 436}}</string>
	<key>MASPreferences Selected Identifier View</key>
	<string>General</string>
	<key>MASPreferences Watchtower Frame (en_US)</key>
	<string>{{0, 0}, {654, 381}}</string>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>94BB03FE-7E5D-408D-A5AE-E44459DC1258</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HEgYTTbjcmgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC40LjNe
	TWFjQm9va1BybzE4LDRVQXBwbGVVbWFjT1NWMTIuNC4wVTIxRjc5VWVuX1VTE///////
	//8QWTEyODB4MTQ0MFU3LjkuNlg3MDkwNjAwMl8QGmNvbS5hZ2lsZWJpdHMub25lcGFz
	c3dvcmQ30h0eXl9aTVNBQ0RldmljZaNgYSFaTVNBQ0RldmljZV5NU0FDV3JhcHBlclNk
	a9IdHmNkXxAVTVNBQ0RldmljZUhpc3RvcnlJbmZvo2VmIV8QFU1TQUNEZXZpY2VIaXN0
	b3J5SW5mb18QD01TQUNIaXN0b3J5SW5mb9IdHmhpXk5TTXV0YWJsZUFycmF5o2hqIVdO
	U0FycmF5AAgAEQAaACQAKQAyADcASQBMAFEAUwBsAHIAdwCCAIkAiwCNAI8AlgCjAK0A
	rwCxALMAuADAAMkAywDQANsA5ADrAO4A9wEoATIBQQFKAWIBbQGBAY0BlQGcAbYBxQHQ
	Ad8B5wHyAf8CBQIdAjYCQQJIAlACUgJUAlYCWAJaAlwCXgJgAmICZAJmAmgCagJsAm4C
	cAJyAnQCdgJ4AnoCfAJ+ApAClgKlAqsCsQK4Ar4CxALNAtcC3QLmAwMDCAMTAxcDIgMx
	AzYDTgNSA2oDfAOBA5ADlAAAAAAAAAIBAAAAAAAAAGsAAAAAAAAAAAAAAAAAAAOc
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxIGE021ZxYAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxIGE021qjIAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>MiniCategoryOpenIn</key>
	<integer>2</integer>
	<key>NSConstraintBasedLayoutLogUnsatisfiable</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSSplitView Subview Frames contentSplitView</key>
	<array>
		<string>0.000000, 0.000000, 210.000000, 1055.000000, NO, NO</string>
		<string>211.000000, 0.000000, 400.000000, 1055.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>854</real>
	<key>NSWindow Frame MainWindow</key>
	<string>334 70 874 1055 0 0 1800 1125 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>-250 -248 800 448 0 0 2560 1415 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 407 425 137 0 0 3008 1228 </string>
	<key>OPAppLaunchedFromLauncher</key>
	<false/>
	<key>OPKeychainUnlockServiceBiometryPolicyDomainState</key>
	<dict>
		<key>evaluatedPolicyDomainState</key>
		<data>
		JlWS6ekESDtwq+PnkrVo4vtl3TsVX1QPnpUjOwrk/es=
		</data>
	</dict>
	<key>OPMiniWindow.position.mode</key>
	<string>custom</string>
	<key>OPMiniWindow.position.{{-1280, 0}, {1280, 1440}}</key>
	<string>{{-907, 791}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {1440, 900}}</key>
	<string>{{431, 514}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {1800, 1169}}</key>
	<string>{{178, 123}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {2560, 1440}}</key>
	<string>{{31, 1018}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {3008, 1253}}</key>
	<string>{{1879, 867}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {3840, 1600}}</key>
	<string>{{481, 195}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {5120, 1440}}</key>
	<string>{{2294, 791}, {687, 360}}</string>
	<key>OPPeriodicUpdateService-Timestamp-com.onepassword.bulletinservice</key>
	<data>
	eyJkYXRlIjo2ODg0MDk0NzMuNjU4MDQxOTUsInRhc2tUaW1lc3RhbXBQYXlsb2FkIjoi
	ZXlKc1lYTjBUVzlrYVdacFpXUWlPaUpVZFdVc0lESTFJRTlqZENBeU1ESXlJREUxT2pR
	ME9qRTFJRWROVkNJc0lteGhjM1JUZFdOalpYTnpablZzUkc5M2JteHZZV1FpT2pZNE9E
	UXdPVFEzTXk0Mk5UYzBOekl3TVgwPSJ9
	</data>
	<key>OPPeriodicUpdateService-Timestamp-watchtowerCompromisedDomains</key>
	<data>
	eyJkYXRlIjo2ODg0MDAyNDkuNDQxNDE2MDMsInRhc2tUaW1lc3RhbXBQYXlsb2FkIjoi
	ZXlKc1lYTjBUVzlrYVdacFpXUWlPaUpVZFdVc0lESTFJRTlqZENBeU1ESXlJREEyT2pB
	NU9qVTVJRWROVkNJc0lteGhjM1JUZFdOalpYTnpablZzUkc5M2JteHZZV1FpT2pZNE9E
	UXdNREkwT1M0ME1qZzFNakk1TkgwPSJ9
	</data>
	<key>OPPeriodicUpdateService-Timestamp-watchtowerTwoFactorSites</key>
	<data>
	eyJkYXRlIjo2ODg0MDk0NzMuNDUxNjMsInRhc2tUaW1lc3RhbXBQYXlsb2FkIjoiZXlK
	c1lYTjBUVzlrYVdacFpXUWlPaUpOYjI0c0lESTBJRTlqZENBeU1ESXlJREl5T2pRMU9q
	QXhJRWROVkNJc0lteGhjM1JUZFdOalpYTnpablZzUkc5M2JteHZZV1FpT2pZNE9EUXdP
	VFEzTXk0ME5EUXhNek13TkgwPSJ9
	</data>
	<key>OPPrefFeatureEnableNewDetail</key>
	<true/>
	<key>OPPromptForSAEUserDefaultsPromptCountKey</key>
	<integer>0</integer>
	<key>OPRemoveDemoProfileFromUnionProfileMigration</key>
	<true/>
	<key>OPUserMetricsLaunchCountKey</key>
	<integer>33</integer>
	<key>OPUserMetricsUsageKey</key>
	<real>15326936.140280962</real>
	<key>OPUserMetricsUsageStartKey</key>
	<date>2022-10-21T17:08:54Z</date>
	<key>PasswordLength</key>
	<integer>23</integer>
	<key>ShortcutRecorder BrowserActivation</key>
	<dict>
		<key>keyChars</key>
		<string>x</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>X</string>
		<key>keyCode</key>
		<integer>7</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
		<key>modifiers</key>
		<integer>768</integer>
	</dict>
	<key>ShowStatusItem</key>
	<true/>
	<key>SidebarVaultListIsVisible</key>
	<true/>
	<key>SidebarWidth</key>
	<integer>263</integer>
	<key>Sidebar_6d6alr3kqfcs3jxnhkqnbxuo2u</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_6ptpgr52tiogmhonuoct4iyotu</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
	</dict>
	<key>Sidebar_account-2I7T44BIBZEABACGWYJLRYOVY4</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_account-DP3MFAYHTZB6ZESVBSUEPUT3AE</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_all-vaults-uuid</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_esusxmml5fgwheets5yc4p2h4e</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_none</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
	</dict>
	<key>Sidebar_oduzqlxrwwnbzguhnxbg5qqjiu</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_q5xjtqy4ubfbdao6eg24byife4</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_rscq6oqhunbnfd2tim4rl3nkki</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
		<key>selectedNode</key>
		<string>AllItems</string>
	</dict>
	<key>Sidebar_xtwtktxkb4mntvnudohg6lum3e</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>categoriesSection</string>
		</array>
	</dict>
	<key>WhatsNewVersion</key>
	<integer>2</integer>
	<key>__NSConstraintBasedLayoutLogUnsatisfiable</key>
	<false/>
	<key>autosaveBlacklist</key>
	<data>
	b3BkYXRhMDEvAAAAAAAAACweyS4f0zXIPlFOl+ZC69UP4gnG7eDVc+uISpzia4+ArA/u
	bblcDwtKFJnjsIL0utUGrLzJ1iM2M8sIu+e+LVfAK0g9IyjPdwGrhKgnNsiEFXXFGFSq
	N+G0Y8pvU5WZ3g==
	</data>
	<key>useOPVaultFormatByDefault</key>
	<true/>
	<key>watchtowerService</key>
	<true/>
	<key>wvxvyzswqfccddfzy2bfeqboqy-biometry-quick-unlock-enabled</key>
	<true/>
	<key>yzbvqvv7wvhrncsrusjyakmgdi-biometry-quick-unlock-enabled</key>
	<true/>
</dict>
</plist>
