<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CheckForSoftwareUpdatesIncludeBetas</key>
	<false/>
	<key>HashSectionIsSortedFirst</key>
	<true/>
	<key>KeepHelperRunning</key>
	<true/>
	<key>PasswordDigits</key>
	<integer>4</integer>
	<key>PasswordLength</key>
	<integer>20</integer>
	<key>PasswordSymbols</key>
	<integer>4</integer>
	<key>ShowItemCounts</key>
	<true/>
	<key>ShowStatusItem</key>
	<false/>
	<key>SystemIdleTimeIsBroken</key>
	<string>Y</string>
	<key>useOPVaultFormatByDefault</key>
	<true/>
</dict>
</plist>
