<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddAdjustmentToSelectionAction</key>
	<integer>0</integer>
	<key>AddFilterToSelectionAction</key>
	<integer>0</integer>
	<key>AddMaskToSelectionAction</key>
	<integer>0</integer>
	<key>AlertOnActions</key>
	<integer>1</integer>
	<key>AppGamma</key>
	<real>0.20999999999999999</real>
	<key>AppTextGammaUIKey</key>
	<real>0.80000000000000004</real>
	<key>ArtboardGrayLevelBackground</key>
	<real>0.90000000000000002</real>
	<key>AutoUndoRedoActions</key>
	<integer>1</integer>
	<key>BrushTipSharingAction</key>
	<integer>0</integer>
	<key>ColumnGuideFillColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC4xODgyMzUzMTI3ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineColumnColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineRowColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ContextToolbarHiddenState</key>
	<false/>
	<key>CrashDiagnosticId</key>
	<string></string>
	<key>DevelopAlertOnActions</key>
	<integer>1</integer>
	<key>DevelopApplyToneCurve</key>
	<integer>0</integer>
	<key>DevelopApplyToneCurveToLinear</key>
	<integer>1</integer>
	<key>DevelopAutoNoiseReduction</key>
	<integer>1</integer>
	<key>DevelopCoreImage</key>
	<integer>0</integer>
	<key>DevelopExposureBias</key>
	<integer>2</integer>
	<key>DevelopGlobalEnable</key>
	<integer>1</integer>
	<key>DevelopLensProfileSelectionMode</key>
	<integer>1</integer>
	<key>DevelopMapDefault</key>
	<integer>2</integer>
	<key>DevelopOutputLinear</key>
	<integer>0</integer>
	<key>DocumentDefaultSize</key>
	<integer>48</integer>
	<key>EffectOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>EmbedAffinityLayers</key>
	<false/>
	<key>EraseFromVectorSelectionAction</key>
	<integer>0</integer>
	<key>Export Preset EPS</key>
	<string>EPS (for export)</string>
	<key>Export Preset EXR</key>
	<string>OpenEXR 32-bit linear</string>
	<key>Export Preset GIF</key>
	<string>GIF RGB</string>
	<key>Export Preset HDR</key>
	<string>Radiance HDR 32-bit linear</string>
	<key>Export Preset JPEG</key>
	<string>JPEG (Best quality)</string>
	<key>Export Preset JPEG XL</key>
	<string>JPEG XL (Best Quality)</string>
	<key>Export Preset PDF</key>
	<string>PDF (for print)</string>
	<key>Export Preset PNG</key>
	<string>PNG</string>
	<key>Export Preset PSD</key>
	<string>PSD (preserve accuracy)</string>
	<key>Export Preset SVG</key>
	<string>SVG (for export)</string>
	<key>Export Preset TGA</key>
	<string>TGA</string>
	<key>Export Preset TIFF</key>
	<string>TIFF RGB 8-bit</string>
	<key>Export Preset WEBP</key>
	<string>WEBP (Best Quality)</string>
	<key>ExportSettingsTabIdentifier</key>
	<string>PDF</string>
	<key>FillColumnGuides</key>
	<true/>
	<key>FillFlyoutModelTag</key>
	<integer>5</integer>
	<key>FlyoutID_ColourPicker state</key>
	<string>ColourPicker</string>
	<key>FlyoutID_Shape state</key>
	<string>ShapeRectangle</string>
	<key>FlyoutID_Text state</key>
	<string>ArtText</string>
	<key>GlobalEnable</key>
	<integer>1</integer>
	<key>GrayLevelBackground</key>
	<real>0.13500000000000001</real>
	<key>GridMainColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4zNDkwMTk2MTY4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GridSubColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GuidesWindowController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7MTMwLCAyMDF9LCB7
	NzE3LCAzNzZ9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>IndexPage</key>
	<data>
	AP9LUwIAdHNpdQEAFAAAAINHcHhFAgAAAAAAAABndHBvAA==
	</data>
	<key>KnifeToolAutoClose</key>
	<false/>
	<key>LinkGridColours</key>
	<true/>
	<key>ModelSelected</key>
	<integer>1</integer>
	<key>ModelSelected-Sliders</key>
	<integer>3</integer>
	<key>MonochromaticIconography</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/Professional Development/Resume</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>379 248 800 448 0 0 1512 944 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>107 196 400 135 0 0 1512 944 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>468 409 620 398 0 0 1512 944 </string>
	<key>OtherBrushOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnNoSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaletteDefaultCategory</key>
	<string>Colors</string>
	<key>PaletteDefaultType</key>
	<integer>0</integer>
	<key>PaletteFlyoutIndex</key>
	<integer>0</integer>
	<key>PaletteListMode</key>
	<false/>
	<key>PenToolUsesFill</key>
	<false/>
	<key>PencilToolAutoClose</key>
	<false/>
	<key>PencilToolUsesFill</key>
	<false/>
	<key>PreviewAfterPDFExport</key>
	<false/>
	<key>RasterDRAMLimit</key>
	<integer>65536</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://go.seriflabs.com/affinity-update-mac-retail-publisher2</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-09-21T20:07:32Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>SelectNewShapes</key>
	<true/>
	<key>ShowFrameTextRuler</key>
	<false/>
	<key>Tab-ToolUI-Hidden</key>
	<false/>
	<key>Tab-ToolUIPanel-NumberOfColumns</key>
	<integer>1</integer>
	<key>Tab-ToolsPanel-showingPalette</key>
	<false/>
	<key>Tab-ToolsUI-DockedState</key>
	<true/>
	<key>com.seriflabs.Colours.CMYKSlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.GreySlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.RGBHexSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Colours.RGBSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.MainWindowFrame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QFnt7NDYsIDB9LCB7MTQ2
	NiwgOTQ0fX3SFRYXGFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNPYmpl
	Y3QIERokKTI3SUxRU1heZXB3goSGiKGmsbrCxQAAAAAAAAEBAAAAAAAAABoAAAAAAAAA
	AAAAAAAAAADO
	</data>
	<key>com.seriflabs.PreferredUserDisplayName</key>
	<string>Wil Hall</string>
	<key>com.seriflabs.SelectedNewDocumentCategory</key>
	<integer>1</integer>
	<key>com.seriflabs.StatusBar.HiddenState</key>
	<false/>
	<key>com.seriflabs.Studio.CharacterPage.ExpandedState</key>
	<dict>
		<key>language</key>
		<false/>
		<key>optical</key>
		<false/>
		<key>positioning</key>
		<true/>
		<key>typography</key>
		<true/>
		<key>underline_strikethrough</key>
		<true/>
	</dict>
	<key>com.seriflabs.Studio.Data2.HideState</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Layout.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Layout.com.seriflabs.hide.west</key>
	<false/>
	<key>com.seriflabs.Studio.Data2Layout</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCOAAsADAAT
	ABgAHgAiACgAPABCAEMARABFAEsAOwBSAFgAXgBfAGIAZQBmAGkAagBrAG8AegCDAIQA
	hQCGAIcAiACJADgAkwCcAJ8AoACjAKQApwCoAKsArACvALAAswC0ALUAwADGAMcAyADJ
	AM8A1QDYANkA3ADdAOAA4QDiAOUA6QDsAPAA+wEHAQgBCQEKAQsBDAENAQ4BDwEQARwB
	KAErASwBLwEwATMBNAE3ATgBOwE8AT8BQAFDAUQBRwFIAUsBTAFNAVEBVQFbAVwBZwF1
	AXYBdwF4AXkBegF7AXwBfQF+AX8BgAGOAZwBnwGgAaMBpAGnAagBqwGsAa8BsAGzAbQB
	twG4AbsBvAG/AcABwwHEAccByAHJAc1VJG51bGzTAA0ADgAPABAAEQASXxAfY29tLnNl
	cmlmbGFicy5TdHVkaW8uV2luZG93RGF0YVYkY2xhc3NfECFjb20uc2VyaWZsYWJzLlN0
	dWRpby5GbG9hdGluZ0RhdGGAAoCNgGPSABQADgAVABdaTlMub2JqZWN0c6EAFoADgD7T
	ABkAGgAOABsAHAAdWUVhc3RTaGVsZllXZXN0U2hlbGaABIBAgGLSAB8ADgAgACFYQm9v
	a0RhdGGABYA/0gAUAA4AIwAXowAkACUAJoAGgBiAMIA+2gAOACkAKgArACwALQAuAC8A
	MAAxADIAMwA0ADUANgA3ADgAOAA4ADtXUGFnZUlEc1pWaXNpYmlsaXR5WnNhdmVkU2l6
	ZXNbRnJvbnRQYWdlSURVRnJhbWVcQXV0b0NvbGxhcHNlWENvbGxhcHNlXxAURGlzYWJs
	ZWRBdXRvQ29sbGFwc2VeU2hvd1BhZ2VUaXRsZXOAF4AHgAyADoAIgBYICAgJ0gAUAA4A
	PQBBowA2AD8AQIAIgAmACoALWkNvbG91clBhZ2VcU3dhdGNoZXNQYWdlWExpbmVQYWdl
	0gBGAEcASABJWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNBcnJheaIASABKWE5TT2JqZWN0
	0gAUAA4ATABBowBNAE0ATYANgA2ADYALCdIAFAAOAFMAQaMAVABVAFaAD4ASgBSAC9MA
	WQAOAFoAWwBcAF1aTlMuc2l6ZXZhbFpOUy5zcGVjaWFsgBCAERACWnsyNjQsIDIxMH3S
	AEYARwBgAGFXTlNWYWx1ZaIAYABK0wBZAA4AWgBjAFwAXYATgBFaezI2NCwgMjI1fdMA
	WQAOAFoAZwBcAF2AFYARWnsyNjQsIDI5N31fEBR7ezAsIDB9LCB7MjY0LCAyMzh9fdIA
	RgBHAGwAbV5TdHVkaW9Cb29rRGF0YaIAbgBKXlN0dWRpb0Jvb2tEYXRh2gAOACkAKgAr
	ACwALQAuAC8AMAAxADIAcQByAHMAdAB1ADgAOAA7ADuAF4AZgCCAIoAagC8ICAkJ0gAU
	AA4AewBBpgB0AH0AfgB/AIAAgYAagBuAHIAdgB6AH4ALWUxheWVyUGFnZV1DaGFyYWN0
	ZXJQYWdlXVBhcmFncmFwaFBhZ2VeVGV4dFN0eWxlc1BhZ2VaU3R5bGVzUGFnZVtFZmZl
	Y3RzUGFnZdIAFAAOAIoAQaYATQBNAE0ATQCPAI+ADYANgA2ADYAhgCGACwjSABQADgCU
	AEGmAJUAlgCXAJgAmQCagCOAJYAngCmAK4AtgAvTAFkADgBaAJ0AXABdgCSAEVp7MjY0
	LCAzMzB90wBZAA4AWgChAFwAXYAmgBFaezI2NCwgNDIwfdMAWQAOAFoApQBcAF2AKIAR
	WnsyNjQsIDIwMH3TAFkADgBaAKkAXABdgCqAEVp7MjY0LCAxMDB90wBZAA4AWgCtAFwA
	XYAsgBFaezI2NCwgMTUwfdMAWQAOAFoAsQBcAF2ALoARWnsyNjQsIDE1MH1fEBZ7ezAs
	IDI0MH0sIHsyNjQsIDQ0OH192gAOACkAKgArACwALQAuAC8AMAAxADIAtwC4ALkAugC7
	ADgAOAA4ADuAF4AxgDWANoAygD0ICAgJ0gAUAA4AwQBBowC6AMMAxIAygDOANIALXVRy
	YW5zZm9ybVBhZ2VdTmF2aWdhdG9yUGFnZVtIaXN0b3J5UGFnZdIAFAAOAMoAQaMATQBN
	AE2ADYANgA2AC9IAFAAOANAAQaMA0QDSANOAN4A5gDuAC9MAWQAOAFoA1gBcAF2AOIAR
	WnsyNjQsIDEyMH3TAFkADgBaANoAXABdgDqAEVp7MjY0LCAxOTJ90wBZAA4AWgDeAFwA
	XYA8gBFaezI2NCwgMTUwfV8QFnt7MCwgNjkwfSwgezI2NCwgMTQ4fX3SAEYARwDjAORe
	TlNNdXRhYmxlQXJyYXmjAOMASABK0gBGAEcA5gDnXxAPU3R1ZGlvU2hlbGZEYXRhogDo
	AEpfEA9TdHVkaW9TaGVsZkRhdGHSAB8ADgDqACGAQYA/0gAUAA4A7QAXoQDugEKAPtoA
	DgApACoAKwAsAC0ALgAvADAAMQAyAPIA8wD0APUA9gA4ADgAOAA7gBeAQ4BNgE6ARIBh
	CAgICdIAFAAOAPwAQakA9QD+AP8BAAEBAQIBAwEEAQWARIBFgEaAR4BIgEmASoBLgEyA
	C1lQYWdlc1BhZ2VaQXNzZXRzUGFnZVlTdG9ja1BhZ2VfEBJGaW5kQW5kUmVwbGFjZVBh
	Z2VfEBRQbGFjZVRvb2xTb3VyY2VzUGFnZVdUb2NQYWdlWUluZGV4UGFnZV1QcmVmbGln
	aHRQYWdlWUJvb2tzUGFnZdIAFAAOAREAQakATQBNAE0AjwCPAI8AjwCPAI+ADYANgA2A
	IYAhgCGAIYAhgCGAC9IAFAAOAR0AQakBHgEfASABIQEiASMBJAElASaAT4BRgFOAVYBX
	gFmAW4BdgF+AC9MAWQAOAFoBKQBcAF2AUIARWnsyMDAsIDgxMH3TAFkADgBaAS0AXABd
	gFKAEVp7MjAwLCAxNTB90wBZAA4AWgExAFwAXYBUgBFaezI2NCwgMTUwfdMAWQAOAFoB
	NQBcAF2AVoARWnsyNjQsIDM1MH3TAFkADgBaATkAXABdgFiAEVp7MjAwLCAxNTB90wBZ
	AA4AWgE9AFwAXYBagBFaezI2NCwgMzUwfdMAWQAOAFoBQQBcAF2AXIARWnsyNjQsIDMw
	MH3TAFkADgBaAUUAXABdgF6AEVp7MjY0LCAzMDB90wBZAA4AWgFJAFwAXYBggBFaezI2
	NCwgMjU2fV8QFHt7MCwgMH0sIHsyMDAsIDgzOH190gBGAEcBTgFPXxAQU3R1ZGlvV2lu
	ZG93RGF0YaIBUABKXxAQU3R1ZGlvV2luZG93RGF0YdIAFAAOAVIAF6EBU4BkgD7UAB8A
	LQFWAA4BVwFYADgBWllIaWRlU3RhdGWAZoBlCICMXxAXe3s5NTEsIDc4NX0sIHsyNjQs
	IDI4fX3aAA4AKQAqACsALAAtAC4ALwAwADEAMgFeAV8BYAFhAWIAOAA4ADgAO4AXgGeA
	c4B0gACAiwgICAnSABQADgFoAEGrAWkBagFrAWwBbQFuAW8BcAFxAXIBc4BogGmAaoBr
	gGyAbYBugG+AcIBxgHKAC11UZXh0RnJhbWVQYWdlWVRhYmxlUGFnZV8QD1RhYmxlRm9y
	bWF0UGFnZV8QEEdseXBoQnJvd3NlclBhZ2VfEA9Db25zdHJhaW50c1BhZ2VaRmllbGRz
	UGFnZV1IeXBlcmxpbmtQYWdlW0FuY2hvcnNQYWdlW1Bpbm5pbmdQYWdlWU5vdGVzUGFn
	ZVlEZWJ1Z1BhZ2XSABQADgGBAEGrAI8AjwCPAI8AjwCPAI8AjwCPAI8Aj4AhgCGAIYAh
	gCGAIYAhgCGAIYAhgCGAC9IAFAAOAY8AQasBkAGRAZIBkwGUAZUBlgGXAZgBmQGagHWA
	d4B5gHuAfYB/gIGAg4CFgIeAiYAL0wBZAA4AWgGdAFwAXYB2gBFaezI2NCwgMTAwfdMA
	WQAOAFoBoQBcAF2AeIARWnsyNjQsIDEwMH3TAFkADgBaAaUAXABdgHqAEVp7MjY0LCAx
	MDB90wBZAA4AWgGpAFwAXYB8gBFaezI2NCwgMzAwfdMAWQAOAFoBrQBcAF2AfoARWnsy
	NjQsIDI1Nn3TAFkADgBaAbEAXABdgICAEVp7MjY0LCAyMDB90wBZAA4AWgG1AFwAXYCC
	gBFaezI2NCwgMjU2fdMAWQAOAFoBuQBcAF2AhIARWnsyNjQsIDI1Nn3TAFkADgBaAb0A
	XABdgIaAEVp7MjY0LCAxMjB90wBZAA4AWgHBAFwAXYCIgBFaezI2NCwgMTAwfdMAWQAO
	AFoBxQBcAF2AioARWnsyNjQsIDUzNn1fEBN7ezAsIDB9LCB7MjY0LCAyOH190gBGAEcB
	ygHLXxAPU3R1ZGlvUGFuZWxEYXRhogHMAEpfEA9TdHVkaW9QYW5lbERhdGHSAEYARwHO
	Ac9aU3R1ZGlvRGF0YaIB0ABKWlN0dWRpb0RhdGEACAAZACIALAAxADoAPwBRAFYAWwBd
	AXwBggGPAbEBuAHcAd4B4AHiAesB9gH5AfsB/QIKAhQCHgIgAiICJAItAjYCOAI6AkMC
	SgJMAk4CUAJSAnsCgwKOApkCpQKrArgCwQLYAucC6QLrAu0C7wLxAvMC9AL1AvYC9wMA
	AwcDCQMLAw0DDwMaAycDMAM5A0QDTQNVA1oDYwNsA3MDdQN3A3kDewN8A4UDjAOOA5AD
	kgOUA6EDrAO3A7kDuwO9A8gD0QPZA94D6wPtA+8D+gQHBAkECwQWBC0ENgRFBEoEWQSC
	BIQEhgSIBIoEjASOBI8EkASRBJIEmwSoBKoErASuBLAEsgS0BLYEwATOBNwE6wT2BQIF
	CwUYBRoFHAUeBSAFIgUkBSYFJwUwBT0FPwVBBUMFRQVHBUkFSwVYBVoFXAVnBXQFdgV4
	BYMFkAWSBZQFnwWsBa4FsAW7BcgFygXMBdcF5AXmBegF8wYMBjUGNwY5BjsGPQY/BkEG
	QgZDBkQGRQZOBlUGVwZZBlsGXQZrBnkGhQaOBpUGlwaZBpsGnQamBq0GrwaxBrMGtQbC
	BsQGxgbRBt4G4AbiBu0G+gb8Bv4HCQciBysHOgdBB0oHXAdhB3MHfAd+B4AHiQeMB44H
	kAe5B7sHvQe/B8EHwwfFB8YHxwfIB8kH0gflB+cH6QfrB+0H7wfxB/MH9Qf3B/kIAwgO
	CBgILQhECEwIVghkCG4IdwiKCIwIjgiQCJIIlAiWCJgImgicCJ4Ipwi6CLwIvgjACMII
	xAjGCMgIygjMCM4I2wjdCN8I6gj3CPkI+wkGCRMJFQkXCSIJLwkxCTMJPglLCU0JTwla
	CWcJaQlrCXYJgwmFCYcJkgmfCaEJowmuCbsJvQm/CcoJ4QnqCf0KAgoVCh4KIQojCiUK
	NgpACkIKRApFCkcKYQqKCowKjgqQCpIKlAqWCpcKmAqZCpoKowq6CrwKvgrACsIKxArG
	CsgKygrMCs4K0ArSCuAK6gr8Cw8LIQssCzoLRgtSC1wLZgtvC4YLiAuKC4wLjguQC5IL
	lAuWC5gLmgucC54Lpwu+C8ALwgvEC8YLyAvKC8wLzgvQC9IL1AvWC+ML5QvnC/IL/wwB
	DAMMDgwbDB0MHwwqDDcMOQw7DEYMUwxVDFcMYgxvDHEMcwx+DIsMjQyPDJoMpwypDKsM
	tgzDDMUMxwzSDN8M4QzjDO4M+wz9DP8NCg0gDSkNOw1ADVINWw1mDWsAAAAAAAACAgAA
	AAAAAAHRAAAAAAAAAAAAAAAAAAANdg==
	</data>
	<key>com.seriflabs.Studio.FieldsPage.ExpandedState</key>
	<array>
		<integer>0</integer>
	</array>
	<key>com.seriflabs.Studio.NotesPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAFAAAACp5VE5WAAAAACl0c3VDAINHcHhFBQAAAAQAAABHbXJGR211
	Tkdzb1BHbHVSAA==
	</data>
	<key>com.seriflabs.Studio.PagesPage.ExpandedState</key>
	<dict>
		<key>_NS:102</key>
		<true/>
		<key>_NS:26</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.ParagraphPage.ExpandedState</key>
	<dict>
		<key>Baseline Grid</key>
		<false/>
		<key>Decorations</key>
		<false/>
		<key>Drop Caps</key>
		<false/>
		<key>Flow Control</key>
		<false/>
		<key>Hyphenation</key>
		<false/>
		<key>Initial Words</key>
		<false/>
		<key>Justification</key>
		<false/>
		<key>Lists</key>
		<false/>
		<key>Spacing</key>
		<true/>
		<key>TabStops</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.PinningPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAFAAAAClrbmxpAQA=
	</data>
	<key>com.seriflabs.Studio.SchemaVersion</key>
	<integer>5</integer>
	<key>com.seriflabs.Studio.TablePage.ExpandedState</key>
	<dict>
		<key>_NS:142</key>
		<true/>
		<key>_NS:20</key>
		<true/>
		<key>_NS:254</key>
		<true/>
		<key>_NS:316</key>
		<true/>
		<key>_NS:354</key>
		<true/>
		<key>_NS:359</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.TextFramePage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAFAAAAClMc25pASl3cGxjASlsZ2xjAINHcHhFBgAAAAMAAAByZ2xj
	cmduZ3JncHZyZ2dicmdyYwA=
	</data>
	<key>com.seriflabs.Studio.TocPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAFAAAAINzeWVrAQAAAHJnbmepc2xhdgEAAAABAA==
	</data>
	<key>com.seriflabs.affinity.watchForCrash</key>
	<false/>
	<key>com.seriflabs.export.panel.startupdir</key>
	<string>/Users/wilhall/Library/Mobile Documents/com~apple~CloudDocs/Professional Development/Resume</string>
	<key>com.seriflabs.favourites.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
	<key>com.seriflabs.favourites.fonts.names-migrated</key>
	<true/>
	<key>com.seriflabs.opensave.panel.startupdir</key>
	<string>file:/Users/wilhall/Downloads</string>
	<key>com.seriflabs.recent.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwWFxgZGhtVJG51bGzSDQ4P
	FVpOUy5vYmplY3RzViRjbGFzc6UQERITFIACgAOABIAFgAaAB1hUYXkgV2F3YV1UQVkg
	RHJlYW1ib2F0WlN3ZWV0aGVhcnRfEBFNZXJyaXdlYXRoZXIgU2Fuc1xNZXJyaXdlYXRo
	ZXLSHB0eH1okY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5ox4gIVdOU0Fy
	cmF5WE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBcAGIAZwByAHkAfwCBAIMA
	hQCHAIkAiwCUAKIArQDBAM4A0wDeAOcA9gD6AQIAAAAAAAACAQAAAAAAAAAiAAAAAAAA
	AAAAAAAAAAABCw==
	</data>
	<key>com.seriflabs.recent.fonts.names-migrated</key>
	<true/>
	<key>com.seriflabs.restoration.urls</key>
	<array/>
</dict>
</plist>
