<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardShortcuts_toggleKlack</key>
	<string>{"carbonKeyCode":40,"carbonModifiers":6400}</string>
	<key>NSStatusItem Visible Item-0</key>
	<false/>
	<key>NSStatusItem Visible Klack</key>
	<false/>
	<key>NSWindow Frame com_apple_SwiftUI_Settings_window</key>
	<string>546 250 462 393 0 0 1512 944 </string>
	<key>SSApp_requestReview</key>
	<integer>1</integer>
	<key>SS_hasLaunched</key>
	<true/>
	<key>activeSwitchSet</key>
	<string>japaneseBlack</string>
	<key>com_apple_SwiftUI_Settings_selectedTabIndex</key>
	<integer>1</integer>
	<key>currentVersion</key>
	<string>1.7.2</string>
	<key>enableListener</key>
	<false/>
	<key>hideMenuBarIcon</key>
	<true/>
	<key>isFirstLaunchAfterAuthorization</key>
	<false/>
	<key>playDingSoundOnReturnKey</key>
	<false/>
	<key>playMouseClickSounds</key>
	<false/>
</dict>
</plist>
