<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudFeatureFlags</key>
	<dict>
		<key>existing_instant_upload</key>
		<true/>
		<key>hls_transcoding</key>
		<false/>
		<key>instant_upload</key>
		<true/>
		<key>prize_steps</key>
		<true/>
		<key>window_title_naming</key>
		<true/>
	</dict>
	<key>kInvertArrowKey</key>
	<integer>1</integer>
	<key>lastToolSelected</key>
	<integer>1</integer>
	<key>lastVersion</key>
	<string>6.5.2</string>
	<key>launchAtLogin</key>
	<true/>
	<key>nameDropsUsingWindowTitles</key>
	<true/>
	<key>openImageInAnnotationWindowWhenReady</key>
	<false/>
	<key>shouldShowCoachMarkScreenShot</key>
	<false/>
	<key>shouldShowOnboarding</key>
	<array>
		<string>wil@wilhall.com</string>
	</array>
	<key>showIconInDock</key>
	<false/>
	<key>takeDelayedScreenshot</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBWAAhIAFgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>takeFullScreenshot</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBeAAhIAEgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>takeScreenshotShortcut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBWAAhIAEgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>uploadHLSVideo</key>
	<true/>
</dict>
</plist>
