<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2022-02-05T00:21:07Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>browsers</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Safari.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
	</array>
	<key>displayMenuBarItem</key>
	<false/>
	<key>launchAtLogin</key>
	<true/>
</dict>
</plist>
