<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountNamesExternalIDs</key>
	<dict>
		<key>account:0CA54B84-FCA9-4BA2-9653-58D405D25291</key>
		<string>iCloud</string>
		<key>account:3BED0317-C119-4DCA-9088-7AD4FAED1086</key>
		<string>On My Mac</string>
		<key>account:5EE13A91-B4C1-48FC-84BB-8BB2F39316A5</key>
		<string>iCloud</string>
		<key>account:6D61299C-876F-4352-B60C-E9294A7C2156</key>
		<string>On My Mac</string>
		<key>account:76C64EB9-BA94-4E71-BBEE-F474972CAECB</key>
		<string>On My Mac</string>
		<key>account:9721CA1F-C6BC-41E0-9B1B-7D2EA5010388</key>
		<string>On My Mac</string>
		<key>account:A5BC081E-0B28-42E5-9BC9-5830E7C9AA08</key>
		<string>iCloud</string>
		<key>account:B9031D95-3E53-4F82-ABD9-5C2C2CF5D7A3</key>
		<string>iCloud</string>
		<key>account:C648D998-BA80-4CA7-A025-8F48C34D1DB7</key>
		<string>iCloud</string>
		<key>account:CC7F5F36-A260-4F88-B030-5AB59B9C4DB5</key>
		<string>iCloud</string>
		<key>account:F194D77B-5E71-4907-BD30-D37425472966</key>
		<string>On My Mac</string>
	</dict>
	<key>AddressFormat</key>
	<string>us</string>
	<key>CardhopQuickContactWidgetChangeHash</key>
	<integer>11667924204107197836</integer>
	<key>ContactTemplate</key>
	<array>
		<dict>
			<key>property</key>
			<string>firstName</string>
		</dict>
		<dict>
			<key>property</key>
			<string>lastName</string>
		</dict>
		<dict>
			<key>property</key>
			<string>organization</string>
		</dict>
		<dict>
			<key>property</key>
			<string>birthdayComponents</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Mobile&gt;!$_</string>
			</array>
			<key>property</key>
			<string>phoneNumbers</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Home&gt;!$_</string>
			</array>
			<key>property</key>
			<string>emails</string>
		</dict>
		<dict>
			<key>labels</key>
			<array>
				<string>_$!&lt;Home&gt;!$_</string>
			</array>
			<key>property</key>
			<string>addresses</string>
		</dict>
	</array>
	<key>CrashReportEmail</key>
	<string>wil@wilhall.com</string>
	<key>CrashReportName</key>
	<string>Wil Hall they/them</string>
	<key>DarkModeTheme</key>
	<integer>2</integer>
	<key>DidShowCardhop1UpgradeWindow</key>
	<true/>
	<key>FirstRunDate</key>
	<date>2021-06-07T13:51:19Z</date>
	<key>FirstRunSetup</key>
	<true/>
	<key>FullSidebarVisible</key>
	<true/>
	<key>GroupSplitWidth</key>
	<real>163</real>
	<key>HideInDock</key>
	<true/>
	<key>HideInMenubar</key>
	<true/>
	<key>HotKeyCode</key>
	<integer>8</integer>
	<key>HotKeyEmpty</key>
	<false/>
	<key>HotKeyFlags</key>
	<integer>1835008</integer>
	<key>LastLaunchVersion</key>
	<string>1140</string>
	<key>LastSelectedContactIdentifiers</key>
	<array>
		<string>B340B509-DE65-47C0-950C-1D3F9428CECE:ABPerson</string>
	</array>
	<key>LastSelectedTab</key>
	<integer>2</integer>
	<key>LastSelectedWidgetType</key>
	<string>small</string>
	<key>LightModeTheme</key>
	<integer>0</integer>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>3871956C-83E2-47ED-BE86-067992D80575</string>
	<key>MSAppCenterNetworkRequestsAllowed</key>
	<false/>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HFJkEoxSNXgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNS4wLjJe
	TWFjQm9va1BybzE4LDRVQXBwbGVVbWFjT1NWMTMuNC4xVTIyRjgyVWVuX1VTE///////
	//8QWDE1MTJ4OTgyVTIuMi43VDExNDBfEBljb20uZmxleGliaXRzLmNhcmRob3AubWFj
	0h0eXl9aTVNBQ0RldmljZaNgYSFaTVNBQ0RldmljZV5NU0FDV3JhcHBlclNka9IdHmNk
	XxAVTVNBQ0RldmljZUhpc3RvcnlJbmZvo2VmIV8QFU1TQUNEZXZpY2VIaXN0b3J5SW5m
	b18QD01TQUNIaXN0b3J5SW5mb9IdHmhpXk5TTXV0YWJsZUFycmF5o2hqIVdOU0FycmF5
	AAgAEQAaACQAKQAyADcASQBMAFEAUwBsAHIAdwCCAIkAiwCNAI8AlgCjAK0ArwCxALMA
	uADAAMkAywDQANsA5ADrAO4A9wEoATIBQQFKAWIBbQGBAY0BlQGcAbYBxQHQAd8B5wHy
	Af8CBQIdAjYCQQJIAlACUgJUAlYCWAJaAlwCXgJgAmICZAJmAmgCagJsAm4CcAJyAnQC
	dgJ4AnoCfAJ+ApAClgKlAqsCsQK4Ar4CxALNAtYC3ALhAv0DAgMNAxEDHAMrAzADSANM
	A2QDdgN7A4oDjgAAAAAAAAIBAAAAAAAAAGsAAAAAAAAAAAAAAAAAAAOW
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxSZBKMK1HIAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcUmQSjHhEWABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAPd2lsQHdpbGhhbGwuY29t0h0eJCVf
	EBVNU0FDVXNlcklkSGlzdG9yeUluZm+jJichXxAVTVNBQ1VzZXJJZEhpc3RvcnlJbmZv
	XxAPTVNBQ0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRhYmxlQXJyYXmjKSshV05TQXJyYXkA
	CAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIAeQB7AH0AfwCGAJMAnQCfAKEAowCo
	ALAAuQC7AMAAywDUANsA3gDnAPkA/gEWARoBMgFEAUkBWAFcAAAAAAAAAgEAAAAAAAAA
	LAAAAAAAAAAAAAAAAAAAAWQ=
	</data>
	<key>MeCardExternalID</key>
	<string>contact:01719BAA-0B34-43D7-A673-DAF268282465</string>
	<key>MeCardExternalIDLocal</key>
	<string>contact:01719BAA-0B34-43D7-A673-DAF268282465</string>
	<key>MiniWindowAttached</key>
	<true/>
	<key>MiniWindowVisible</key>
	<false/>
	<key>NSSplitView Subview Frames Group</key>
	<array>
		<string>0.000000, 0.000000, 163.000000, 339.000000, NO, NO</string>
		<string>163.000000, 0.000000, 298.000000, 339.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames Notes</key>
	<array>
		<string>0.000000, 0.000000, 350.000000, 308.000000, NO, NO</string>
		<string>0.000000, 308.000000, 350.000000, 110.000000, NO, NO</string>
	</array>
	<key>NSTableViewCanEstimateRowHeights</key>
	<false/>
	<key>NSWindow Frame ContactPopover</key>
	<string>628 464 360 418 0 0 1512 944 </string>
	<key>NSWindow Frame Main Window</key>
	<string>842 508 461 426 0 0 1512 944 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 407 425 137 0 0 1440 875 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>1073 762 620 398 0 0 2560 1415 </string>
	<key>OpenCallsIn</key>
	<string>com.apple.FaceTime</string>
	<key>OpenMapsIn</key>
	<string>google</string>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
	<key>PlaySounds</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-05-25T00:43:53Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2023-05-21T22:24:59Z</date>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>2254488783</integer>
	<key>ShowActionButtons</key>
	<true/>
	<key>ShowActionButtonsInList</key>
	<true/>
	<key>ShowAnniversaries</key>
	<true/>
	<key>ShowBirthdays</key>
	<true/>
	<key>VCardExportNotes</key>
	<true/>
	<key>VCardExportPhotos</key>
	<true/>
	<key>review.firstLaunch</key>
	<date>2023-03-23T15:35:07Z</date>
	<key>review.launches</key>
	<array>
		<date>2023-06-06T11:35:06Z</date>
		<date>2023-06-26T19:05:10Z</date>
		<date>2023-06-28T13:06:38Z</date>
	</array>
</dict>
</plist>
