<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugsnagUserUserId</key>
	<string>6ce54835f1f633fff61202b9e058fea6edbd26f8</string>
	<key>ColorsAndFormatsShortCut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>FavoriteColors</key>
	<array/>
	<key>HistoryColors</key>
	<array>
		<string>F4F8FFFF</string>
		<string>F5F0EFFF</string>
		<string>F5F0F1FF</string>
		<string>CCCCCCFF</string>
		<string>48094DFF</string>
		<string>0954BDFF</string>
		<string>DCF6F1FF</string>
		<string>2DB59BFF</string>
		<string>F2B966FF</string>
		<string>646464FF</string>
		<string>F7F7F7FF</string>
		<string>E0E0E0FF</string>
		<string>38A9D1FF</string>
		<string>0954BDFF</string>
		<string>F1F7F9FF</string>
		<string>FFFFFFFF</string>
		<string>F4F8FFFF</string>
		<string>FFFFFFFF</string>
		<string>C2EDFFFF</string>
		<string>212121FF</string>
		<string>333333FF</string>
		<string>61AFEFFF</string>
		<string>042793FF</string>
		<string>D9D9D9FF</string>
		<string>F4F8FFFF</string>
		<string>042793FF</string>
		<string>D7D7D7FF</string>
		<string>001351FF</string>
		<string>F4F8FFFF</string>
		<string>001351FF</string>
		<string>042793FF</string>
		<string>001351FF</string>
		<string>F4F8FFFF</string>
		<string>FFFFFFFF</string>
		<string>667297FF</string>
		<string>2DB59BFF</string>
		<string>0954BDFF</string>
		<string>001351FF</string>
		<string>667297FF</string>
		<string>2DB59BFF</string>
		<string>0954BDFF</string>
		<string>001351FF</string>
		<string>667297FF</string>
		<string>7171A2FF</string>
		<string>0069B6FF</string>
		<string>635EA4FF</string>
		<string>9A96C8FF</string>
		<string>EE3E44FF</string>
		<string>1EA1F1FF</string>
		<string>0B66C2FF</string>
		<string>027DB5FF</string>
		<string>12669AFF</string>
		<string>000000FF</string>
		<string>05407CFF</string>
		<string>027DB5FF</string>
		<string>9797D7FF</string>
		<string>2563EBFF</string>
		<string>ECFDF5FF</string>
		<string>085F46FF</string>
		<string>CE4A0DFF</string>
		<string>194D60FF</string>
		<string>CE4A0DFF</string>
		<string>646464FF</string>
		<string>1E2A21FF</string>
		<string>FFFFFFFF</string>
		<string>194D60FF</string>
		<string>646464FF</string>
	</array>
	<key>NSColorPanelMode</key>
	<string>6</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 480.000000, 318.000000, NO, NO</string>
		<string>0.000000, 319.000000, 480.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>393</real>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>48 81 480 347 0 0 1440 875 </string>
	<key>Paddle-ColorSnapper2-499167-SD</key>
	<string>0816e238b09c9ee3d1e307763ba2c0b7ab86e49657e47fbd83d5844f43a22ef9</string>
	<key>PickColorShortCut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEAiAAhIAFAAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1pEQVNob3J0Y3V0oxgZGlpEQVNob3J0Y3V0W01BU1Nob3J0Y3V0WE5T
	T2JqZWN0CBEaJCkyN0lMUVNXXWRsc4GDhYqPmqOusr3JAAAAAAAAAQEAAAAAAAAAGwAA
	AAAAAAAAAAAAAAAAANI=
	</data>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2022-02-05T14:28:30Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2022-02-03T20:21:56Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>43200</real>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>captureValue</key>
	<real>27.848167419433594</real>
	<key>codeStyle</key>
	<dict>
		<key>css</key>
		<dict>
			<key>useHexShorthand</key>
			<false/>
			<key>useUppercase</key>
			<false/>
			<key>useW3CNames</key>
			<false/>
		</dict>
		<key>decimal</key>
		<dict>
			<key>precision</key>
			<integer>3</integer>
			<key>removeLeadingZero</key>
			<false/>
			<key>removeTrailingZeroes</key>
			<false/>
			<key>useFractions</key>
			<integer>0</integer>
			<key>useSuffix</key>
			<false/>
		</dict>
		<key>hex</key>
		<dict>
			<key>prefix</key>
			<string>0x</string>
			<key>usePrefix</key>
			<false/>
			<key>useUppercase</key>
			<false/>
		</dict>
		<key>int</key>
		<dict/>
		<key>whiteSpace</key>
		<dict>
			<key>csv</key>
			<true/>
			<key>kvc</key>
			<false/>
		</dict>
	</dict>
	<key>colorInfo</key>
	<integer>1</integer>
	<key>exportColorObject</key>
	<false/>
	<key>exportFormat</key>
	<string>Generic Hex</string>
	<key>magnificationValue</key>
	<real>4</real>
	<key>openFormatsAfterPick</key>
	<integer>0</integer>
	<key>showMenubarIcon</key>
	<true/>
	<key>showWelcomeMessage</key>
	<false/>
	<key>userInterface</key>
	<string>light</string>
</dict>
</plist>
