<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddAdjustmentToSelectionAction</key>
	<integer>1</integer>
	<key>AddFilterToSelectionAction</key>
	<integer>0</integer>
	<key>AddMaskToSelectionAction</key>
	<integer>0</integer>
	<key>AdvancedBlendingController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGXt7MTE1NiwgMzc0fSwg
	ezU0MCwgNDkxfX3SFRYXGFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNP
	YmplY3QIERokKTI3SUxRU1heZXB3goSGiKSptL3FyAAAAAAAAAEBAAAAAAAAABoAAAAA
	AAAAAAAAAAAAAADR
	</data>
	<key>AlertOnActions</key>
	<integer>1</integer>
	<key>AppGamma</key>
	<real>0.20999999999999999</real>
	<key>AppTextGammaUIKey</key>
	<real>0.80000000000000004</real>
	<key>ArtboardGrayLevelBackground</key>
	<real>0.90000000000000002</real>
	<key>AutoUndoRedoActions</key>
	<integer>1</integer>
	<key>BaselineGrid</key>
	<false/>
	<key>BrushTipSharingAction</key>
	<integer>0</integer>
	<key>ColourFlyoutModel</key>
	<string>WheelModel</string>
	<key>ColourPickerFlyoutModel</key>
	<integer>4</integer>
	<key>ColourPickerPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7MzIzLCAyMDJ9LCB7
	NTkwLCA0MDR9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>ColumnGuideFillColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC4xODgyMzUzMTI3ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineColumnColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineRowColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ContextToolbarHiddenState</key>
	<false/>
	<key>CrashDiagnosticId</key>
	<string>wil@wilhall.com</string>
	<key>DefaultBrushCategoryRaster</key>
	<integer>0</integer>
	<key>DefaultToneMapPresetCategory</key>
	<integer>0</integer>
	<key>DevelopAlertOnActions</key>
	<integer>1</integer>
	<key>DevelopApplyToneCurve</key>
	<integer>0</integer>
	<key>DevelopApplyToneCurveToLinear</key>
	<integer>1</integer>
	<key>DevelopAutoNoiseReduction</key>
	<integer>1</integer>
	<key>DevelopCoreImage</key>
	<integer>0</integer>
	<key>DevelopExposureBias</key>
	<integer>2</integer>
	<key>DevelopGlobalEnable</key>
	<integer>1</integer>
	<key>DevelopLensProfileSelectionMode</key>
	<integer>1</integer>
	<key>DevelopMapDefault</key>
	<integer>2</integer>
	<key>DevelopOutputLinear</key>
	<integer>0</integer>
	<key>DocumentDefaultSize</key>
	<integer>98</integer>
	<key>EffectOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>EmbedAffinityLayers</key>
	<false/>
	<key>EraseFromVectorSelectionAction</key>
	<integer>0</integer>
	<key>Export Preset EPS</key>
	<string>EPS (for export)</string>
	<key>Export Preset EXR</key>
	<string>OpenEXR 32-bit linear</string>
	<key>Export Preset GIF</key>
	<string>GIF RGB</string>
	<key>Export Preset HDR</key>
	<string>Radiance HDR 32-bit linear</string>
	<key>Export Preset JPEG</key>
	<string>JPEG (Best quality)</string>
	<key>Export Preset JPEG XL</key>
	<string>JPEG XL (Best Quality)</string>
	<key>Export Preset PDF</key>
	<string>PDF (for print)</string>
	<key>Export Preset PNG</key>
	<string>PNG</string>
	<key>Export Preset PSD</key>
	<string>PSD (preserve accuracy)</string>
	<key>Export Preset SVG</key>
	<string>SVG (for export)</string>
	<key>Export Preset TGA</key>
	<string>TGA</string>
	<key>Export Preset TIFF</key>
	<string>TIFF RGB 8-bit</string>
	<key>Export Preset WEBP</key>
	<string>WEBP (Best Quality)</string>
	<key>ExportSettingsTabIdentifier</key>
	<string>PNG</string>
	<key>FillColumnGuides</key>
	<true/>
	<key>FillFlyoutModelTag</key>
	<integer>5</integer>
	<key>FlyoutID_AdjustmentBrush state</key>
	<string>RasterDodgeBrush</string>
	<key>FlyoutID_ColourBrush state</key>
	<string>RasterPaintBrush</string>
	<key>FlyoutID_ColourPicker state</key>
	<string>ColourPicker</string>
	<key>FlyoutID_Deformation state</key>
	<string>MeshWarp</string>
	<key>FlyoutID_Erase state</key>
	<string>RasterEraseBrush</string>
	<key>FlyoutID_Heal state</key>
	<string>RasterHealingBrush</string>
	<key>FlyoutID_Marquee state</key>
	<string>RectangularMarquee</string>
	<key>FlyoutID_PenNode state</key>
	<string>Node</string>
	<key>FlyoutID_Shape state</key>
	<string>ShapeRectangle</string>
	<key>FlyoutID_SharpenBlurBrush state</key>
	<string>BlurBrush</string>
	<key>FlyoutID_Text state</key>
	<string>ArtText</string>
	<key>GlobalEnable</key>
	<integer>1</integer>
	<key>GrayLevelBackground</key>
	<real>0.13500000000000001</real>
	<key>GridMainColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4zNDkwMTk2MTY4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GridSubColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GuidesWindowController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGXt7MTQ4OCwgMjYwfSwg
	ezczNywgMzc2fX3SFRYXGFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNP
	YmplY3QIERokKTI3SUxRU1heZXB3goSGiKSptL3FyAAAAAAAAAEBAAAAAAAAABoAAAAA
	AAAAAAAAAAAAAADR
	</data>
	<key>KnifeToolAutoClose</key>
	<false/>
	<key>LinkGridColours</key>
	<true/>
	<key>ModelSelected</key>
	<integer>1</integer>
	<key>ModelSelected-Sliders</key>
	<integer>1</integer>
	<key>MonochromaticIconography</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>526 339 800 448 0 0 1800 1125 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>4720 0 400 135 0 0 5120 1415 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>615 545 620 398 0 0 1800 1125 </string>
	<key>OpenTypeWindowController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7MjA2LCAyNjJ9LCB7
	MjY0LCA1ODB9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>OtherBrushOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnNoSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaletteDefaultCategory</key>
	<string>Colors</string>
	<key>PaletteDefaultType</key>
	<integer>0</integer>
	<key>PaletteFlyoutIndex</key>
	<integer>0</integer>
	<key>PaletteListMode</key>
	<false/>
	<key>PaletteModel-Selection</key>
	<string>Colors</string>
	<key>PenToolUsesFill</key>
	<false/>
	<key>PencilToolAutoClose</key>
	<false/>
	<key>PencilToolUsesFill</key>
	<false/>
	<key>PixelGridColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>PreferencesPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGXt7MjE0MCwgNDA3fSwg
	ezg0MCwgNjUwfX3SFRYXGFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNP
	YmplY3QIERokKTI3SUxRU1heZXB3goSGiKSptL3FyAAAAAAAAAEBAAAAAAAAABoAAAAA
	AAAAAAAAAAAAAADR
	</data>
	<key>PreviewAfterPDFExport</key>
	<false/>
	<key>RasterDRAMLimit</key>
	<integer>65536</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://go.seriflabs.com/affinity-update-mac-retail-photo2</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2024-09-24T13:50:36Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>SelectNewShapes</key>
	<true/>
	<key>ShowFrameTextRuler</key>
	<false/>
	<key>ShowRulers</key>
	<true/>
	<key>SnappingCandidateBounds</key>
	<true/>
	<key>SnappingCandidateBoundsCentre</key>
	<true/>
	<key>SnappingCandidateGeometry</key>
	<false/>
	<key>SnappingCandidateKeyPoints</key>
	<false/>
	<key>SnappingCandidateSource</key>
	<integer>0</integer>
	<key>SnappingEnabled</key>
	<true/>
	<key>SnappingForcePixelSnapping</key>
	<true/>
	<key>SnappingGapsAndSpans</key>
	<false/>
	<key>SnappingGrid</key>
	<false/>
	<key>SnappingGuides</key>
	<true/>
	<key>SnappingIndividualBounds</key>
	<false/>
	<key>SnappingMargin</key>
	<true/>
	<key>SnappingMarginCentre</key>
	<true/>
	<key>SnappingNodeToolSnapAllSelectedNodes</key>
	<false/>
	<key>SnappingNodeToolSnapConstruction</key>
	<false/>
	<key>SnappingNodeToolSnapHandlePositions</key>
	<false/>
	<key>SnappingNodeToolSnapToGeometry</key>
	<true/>
	<key>SnappingNodeToolSnapToNodes</key>
	<false/>
	<key>SnappingOnlySnapToVisible</key>
	<true/>
	<key>SnappingOptionPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7NTg4LCAxODl9LCB7
	MzE0LCA2NDN9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>SnappingPageCentre</key>
	<true/>
	<key>SnappingPageEdge</key>
	<true/>
	<key>SnappingPixelSelectionBounds</key>
	<false/>
	<key>SnappingQuantizePixelMovement</key>
	<true/>
	<key>SnappingScreenMinSize</key>
	<real>8</real>
	<key>SnappingScreenTolerance</key>
	<real>8</real>
	<key>SnappingShowSnappingCandidates</key>
	<false/>
	<key>Tab-ToolUI-Hidden</key>
	<false/>
	<key>Tab-ToolUIPanel-NumberOfColumns</key>
	<integer>1</integer>
	<key>Tab-ToolsPanel-showingPalette</key>
	<false/>
	<key>Tab-ToolsUI-DockedState</key>
	<true/>
	<key>com.seriflabs.Colours.CMYKSlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.GreySlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.RGBHexSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Colours.RGBSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Histogram.Advance</key>
	<true/>
	<key>com.seriflabs.MainWindowFrame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QF3t7NTAsIDB9LCB7MTc1
	MCwgMTEyNX190hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU1ZhbHVlohcZWE5TT2Jq
	ZWN0CBEaJCkyN0lMUVNYXmVwd4KEhoiip7K7w8YAAAAAAAABAQAAAAAAAAAaAAAAAAAA
	AAAAAAAAAAAAzw==
	</data>
	<key>com.seriflabs.SelectedNewDocumentCategory</key>
	<integer>1</integer>
	<key>com.seriflabs.StatusBar.HiddenState</key>
	<false/>
	<key>com.seriflabs.Studio.CharacterPage.ExpandedState</key>
	<dict>
		<key>language</key>
		<false/>
		<key>optical</key>
		<false/>
		<key>positioning</key>
		<true/>
		<key>typography</key>
		<true/>
		<key>underline_strikethrough</key>
		<true/>
	</dict>
	<key>com.seriflabs.Studio.Data2.Develop.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.HDR.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.HDR.com.seriflabs.hide.west</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.HideState</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Liquify.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Photo.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2Develop</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBUAAsADAAT
	ABgAHgAiACgAPABEAEUARgBHAEgASQBPADsAWABgAGYAZwBqAG0AbgBxAHIAdQB2AHkA
	egB7AH8AigCSAJMAlACVAJYAlwCfAKcAqgCrAK4ArwCyALMAtgC3ALoAuwC8AMcA0QDS
	ANMA1ADVANYA1wDYADgA4wDtAPAA8QD0APUA+AD5APwA/QEAAQEBBAEFAQgBCQEKAQ0B
	EQEUARcBGwEeVSRudWxs0wANAA4ADwAQABEAEl8QH2NvbS5zZXJpZmxhYnMuU3R1ZGlv
	LldpbmRvd0RhdGFWJGNsYXNzXxAhY29tLnNlcmlmbGFicy5TdHVkaW8uRmxvYXRpbmdE
	YXRhgAKAU4BS0gAUAA4AFQAXWk5TLm9iamVjdHOhABaAA4BN0wAZABoADgAbABwAHVlF
	YXN0U2hlbGZZV2VzdFNoZWxmgASAT4BR0gAfAA4AIAAhWEJvb2tEYXRhgAWATtIAFAAO
	ACMAF6MAJAAlACaABoAegDKATdoADgApACoAKwAsAC0ALgAvADAAMQAyADMANAA1ADYA
	NwA4ADgAOAA7V1BhZ2VJRHNaVmlzaWJpbGl0eVpzYXZlZFNpemVzW0Zyb250UGFnZUlE
	VUZyYW1lXEF1dG9Db2xsYXBzZVhDb2xsYXBzZV8QFERpc2FibGVkQXV0b0NvbGxhcHNl
	XlNob3dQYWdlVGl0bGVzgB2AB4AOgBCACIAcCAgICdIAFAAOAD0AQ6UANgA/AEAAQQBC
	gAiACYAKgAuADIANXUhpc3RvZ3JhbVBhZ2VcV2F2ZWZvcm1QYWdlXkRldmVsb3BNYXBQ
	YWdlV1hNUFBhZ2VfEBBEZXZlbG9wRm9jdXNQYWdl0gBKAEsATABNWiRjbGFzc25hbWVY
	JGNsYXNzZXNXTlNBcnJheaIATABOWE5TT2JqZWN00gAUAA4AUABDpQBRAFEAUQBRAFGA
	D4APgA+AD4APgA0J0gAUAA4AWQBDpQBaAFsAXABdAF6AEYAUgBaAGIAagA3TAGEADgBi
	AGMAZABlWk5TLnNpemV2YWxaTlMuc3BlY2lhbIASgBMQAlp7MjY0LCAyNDh90gBKAEsA
	aABpV05TVmFsdWWiAGgATtMAYQAOAGIAawBkAGWAFYATWnsyNjQsIDI3OH3TAGEADgBi
	AG8AZABlgBeAE1p7MjY0LCAzMzB90wBhAA4AYgBzAGQAZYAZgBNaezI2NCwgMzYwfdMA
	YQAOAGIAdwBkAGWAG4ATWnsyNjQsIDIyNX1fEBR7ezAsIDB9LCB7MjY0LCAyNzZ9fdIA
	SgBLAHwAfV5TdHVkaW9Cb29rRGF0YaIAfgBOXlN0dWRpb0Jvb2tEYXRh2gAOACkAKgAr
	ACwALQAuAC8AMAAxADIAgQCCAIMAhACFADgAOAA4ADuAHYAfgCWAJoAggDEICAgJ0gAU
	AA4AiwBDpQCEAI0AjgCPAJCAIIAhgCKAI4AkgA1fEBBEZXZlbG9wQmFzaWNQYWdlXxAP
	RGV2ZWxvcExlbnNQYWdlXxASRGV2ZWxvcERldGFpbHNQYWdlXxAQRGV2ZWxvcFRvbmVz
	UGFnZV8QE0RldmVsb3BPdmVybGF5c1BhZ2XSABQADgCYAEOlAFEAUQBRAFEAUYAPgA+A
	D4APgA+ADdIAFAAOAKAAQ6UAoQCiAKMApAClgCeAKYArgC2AL4AN0wBhAA4AYgCoAGQA
	ZYAogBNaezI2NCwgOTczfdMAYQAOAGIArABkAGWAKoATWnsyNjQsIDE1MH3TAGEADgBi
	ALAAZABlgCyAE1p7MjY0LCAxNTB90wBhAA4AYgC0AGQAZYAugBNaezI2NCwgMTUwfdMA
	YQAOAGIAuABkAGWAMIATWnsyNjQsIDE1MH1fEBd7ezAsIDI3OH0sIHsyNjQsIDEwMDF9
	fdoADgApACoAKwAsAC0ALgAvADAAMQAyAL4AvwDAAMEAwgA4ADsAOAA7gB2AM4A7gD2A
	NIBMCAkICdIAFAAOAMgAQ6cAwQDKAMsAzADNAM4Az4A0gDWANoA3gDiAOYA6gA1dTmF2
	aWdhdG9yUGFnZVtIaXN0b3J5UGFnZV8QFERldmVsb3BTbmFwc2hvdHNQYWdlXxAPSW5m
	b3JtYXRpb25QYWdlXkhEUlByZXZpZXdQYWdlV0dQVVBhZ2VZRGVidWdQYWdl0gAUAA4A
	2QBDpwBRAFEAUQBRAFEA3wDfgA+AD4APgA+AD4A8gDyADQjSABQADgDkAEOnAOUA5gDn
	AOgA6QDqAOuAPoBAgEKARIBGgEiASoAN0wBhAA4AYgDuAGQAZYA/gBNaezI2NCwgMTky
	fdMAYQAOAGIA8gBkAGWAQYATWnsyNjQsIDU5Mn3TAGEADgBiAPYAZABlgEOAE1p7MjY0
	LCAyMjV90wBhAA4AYgD6AGQAZYBFgBNaezI2NCwgMTkyfdMAYQAOAGIA/gBkAGWAR4AT
	WnsyNjQsIDI4MH3TAGEADgBiAQIAZABlgEmAE1p7MjY0LCAxOTJ90wBhAA4AYgEGAGQA
	ZYBLgBNaezI2NCwgNTM2fV8QFnt7MCwgMTI4MX0sIHsyNjQsIDI4fX3SAEoASwELAQxe
	TlNNdXRhYmxlQXJyYXmjAQsATABO0gBKAEsBDgEPXxAPU3R1ZGlvU2hlbGZEYXRhogEQ
	AE5fEA9TdHVkaW9TaGVsZkRhdGHSAB8ADgESACGAUIBO0gAUAA4BFQAXoIBN0gBKAEsB
	GAEZXxAQU3R1ZGlvV2luZG93RGF0YaIBGgBOXxAQU3R1ZGlvV2luZG93RGF0YdIAFAAO
	ARwAF6CATdIASgBLAR8BIFpTdHVkaW9EYXRhogEhAE5aU3R1ZGlvRGF0YQAIABkAIgAs
	ADEAOgA/AFEAVgBbAF0BCAEOARsBPQFEAWgBagFsAW4BdwGCAYUBhwGJAZYBoAGqAawB
	rgGwAbkBwgHEAcYBzwHWAdgB2gHcAd4CBwIPAhoCJQIxAjcCRAJNAmQCcwJ1AncCeQJ7
	An0CfwKAAoECggKDAowClwKZApsCnQKfAqECowKxAr4CzQLVAugC8QL8AwUDDQMSAxsD
	JAMvAzEDMwM1AzcDOQM7AzwDRQNQA1IDVANWA1gDWgNcA2kDdAN/A4EDgwOFA5ADmQOh
	A6YDswO1A7cDwgPPA9ED0wPeA+sD7QPvA/oEBwQJBAsEFgQtBDYERQRKBFkEggSEBIYE
	iASKBIwEjgSPBJAEkQSSBJsEpgSoBKoErASuBLAEsgTFBNcE7AT/BRUFHgUpBSsFLQUv
	BTEFMwU1BT4FSQVLBU0FTwVRBVMFVQViBWQFZgVxBX4FgAWCBY0FmgWcBZ4FqQW2BbgF
	ugXFBdIF1AXWBeEF+wYkBiYGKAYqBiwGLgYwBjEGMgYzBjQGPQZMBk4GUAZSBlQGVgZY
	BloGXAZqBnYGjQafBq4GtgbABskG2AbaBtwG3gbgBuIG5AbmBugG6QbyBwEHAwcFBwcH
	CQcLBw0HDwcRBx4HIAciBy0HOgc8Bz4HSQdWB1gHWgdlB3IHdAd2B4EHjgeQB5IHnQeq
	B6wHrge5B8YHyAfKB9UH7gf3CAYIDQgWCCgILQg/CEgISghMCFUIVghYCGEIdAh5CIwI
	lQiWCJgIoQisCLEAAAAAAAACAgAAAAAAAAEiAAAAAAAAAAAAAAAAAAAIvA==
	</data>
	<key>com.seriflabs.Studio.Data2HDR</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxBHAAsADAAT
	ABgAHgAiACgAPABCAEMARABFAEsAOwA4AFMAWQBfAGAAYwBmAGcAagBrAGwAcAB7AIEA
	ggCDAIQAigCQAJMAlACXAJgAmwCcAJ0AqACvALAAsQCyALMAugDBAMQAxQDIAMkAzADN
	ANAA0QDSANUA2QDcAOAA6wDvAPAA9AD4APsA/AD9AQEBBFUkbnVsbNMADQAOAA8AEAAR
	ABJfEB9jb20uc2VyaWZsYWJzLlN0dWRpby5XaW5kb3dEYXRhViRjbGFzc18QIWNvbS5z
	ZXJpZmxhYnMuU3R1ZGlvLkZsb2F0aW5nRGF0YYACgEaARdIAFAAOABUAF1pOUy5vYmpl
	Y3RzoQAWgAOAONMAGQAaAA4AGwAcAB1ZRWFzdFNoZWxmWVdlc3RTaGVsZoAEgDqARNIA
	HwAOACAAIVhCb29rRGF0YYAFgDnSABQADgAjABejACQAJQAmgAaAGYAngDjaAA4AKQAq
	ACsALAAtAC4ALwAwADEAMgAzADQANQA2ADcAOAA4ADgAO1dQYWdlSURzWlZpc2liaWxp
	dHlac2F2ZWRTaXplc1tGcm9udFBhZ2VJRFVGcmFtZVxBdXRvQ29sbGFwc2VYQ29sbGFw
	c2VfEBREaXNhYmxlZEF1dG9Db2xsYXBzZV5TaG93UGFnZVRpdGxlc4AYgAeADIAPgAiA
	FwgICAnSABQADgA9AEGjADYAPwBAgAiACYAKgAtdTmF2aWdhdG9yUGFnZV1IaXN0b2dy
	YW1QYWdlXFdhdmVmb3JtUGFnZdIARgBHAEgASVokY2xhc3NuYW1lWCRjbGFzc2VzV05T
	QXJyYXmiAEgASlhOU09iamVjdNIAFAAOAEwAQaMATQBNAE+ADYANgA6ACwkI0gAUAA4A
	VABBowBVAFYAV4AQgBOAFYAL0wBaAA4AWwBcAF0AXlpOUy5zaXpldmFsWk5TLnNwZWNp
	YWyAEYASEAJaezI2NCwgMTkyfdIARgBHAGEAYldOU1ZhbHVlogBhAErTAFoADgBbAGQA
	XQBegBSAElp7MjY0LCAxNjB90wBaAA4AWwBoAF0AXoAWgBJaezI2NCwgMjc4fV8QFHt7
	MCwgMH0sIHsyNjQsIDIyMH190gBGAEcAbQBuXlN0dWRpb0Jvb2tEYXRhogBvAEpeU3R1
	ZGlvQm9va0RhdGHaAA4AKQAqACsALAAtAC4ALwAwADEAMgByAHMAdAB1AHYAOAA4ADgA
	O4AYgBqAHoAfgBuAJggICAnSABQADgB8AEGjAHUAfgB/gBuAHIAdgAtbVG9uZU1hcFBh
	Z2VfEBNUb25lTWFwT3ZlcmxheXNQYWdlWURlYnVnUGFnZdIAFAAOAIUAQaMATQBNAE+A
	DYANgA6AC9IAFAAOAIsAQaMAjACNAI6AIIAigCSAC9MAWgAOAFsAkQBdAF6AIYASWnsy
	NjQsIDgzN33TAFoADgBbAJUAXQBegCOAElp7MjY0LCAxNTB90wBaAA4AWwCZAF0AXoAl
	gBJaezI2NCwgNTM2fV8QFnt7MCwgMjIyfSwgezI2NCwgODY1fX3aAA4AKQAqACsALAAt
	AC4ALwAwADEAMgCfAKAAoQCiAKMAOAA4ADgAO4AYgCiALYAugCmANwgICAnSABQADgCp
	AEGkAKIAqwCsAK2AKYAqgCuALIALXxAPSW5mb3JtYXRpb25QYWdlW0hpc3RvcnlQYWdl
	XkhEUlByZXZpZXdQYWdlV0dQVVBhZ2XSABQADgC0AEGkAE0ATQBPAE+ADYANgA6ADoAL
	0gAUAA4AuwBBpAC8AL0AvgC/gC+AMYAzgDWAC9MAWgAOAFsAwgBdAF6AMIASWnsyNjQs
	IDE5Mn3TAFoADgBbAMYAXQBegDKAElp7MjY0LCAxNTB90wBaAA4AWwDKAF0AXoA0gBJa
	ezI2NCwgMjgwfdMAWgAOAFsAzgBdAF6ANoASWnsyNjQsIDE5Mn1fEBd7ezAsIDEwODl9
	LCB7MjY0LCAyMjB9fdIARgBHANMA1F5OU011dGFibGVBcnJheaMA0wBIAErSAEYARwDW
	ANdfEA9TdHVkaW9TaGVsZkRhdGGiANgASl8QD1N0dWRpb1NoZWxmRGF0YdIAHwAOANoA
	IYA7gDnSABQADgDdABehAN6APIA42gAOACkAKgArACwALQAuAC8AMAAxADIA4gDjAOQA
	5QDmADgAOAA4ADuAGIA9gD+AQIA+gEMICAgJ0gAUAA4A7ABBoQDlgD6AC18QElRvbmVN
	YXBQcmVzZXRzUGFnZdIAFAAOAPEAQaEATYANgAvSABQADgD1AEGhAPaAQYAL0wBaAA4A
	WwD5AF0AXoBCgBJaezI2NCwgNjcyfV8QFXt7MCwgMH0sIHsyNjQsIDEzMDl9fdIARgBH
	AP4A/18QEFN0dWRpb1dpbmRvd0RhdGGiAQAASl8QEFN0dWRpb1dpbmRvd0RhdGHSABQA
	DgECABeggDjSAEYARwEFAQZaU3R1ZGlvRGF0YaIBBwBKWlN0dWRpb0RhdGEACAAZACIA
	LAAxADoAPwBRAFYAWwBdAO4A9AEBASMBKgFOAVABUgFUAV0BaAFrAW0BbwF8AYYBkAGS
	AZQBlgGfAagBqgGsAbUBvAG+AcABwgHEAe0B9QIAAgsCFwIdAioCMwJKAlkCWwJdAl8C
	YQJjAmUCZgJnAmgCaQJyAnkCewJ9An8CgQKPAp0CqgKzAr4CxwLPAtQC3QLmAu0C7wLx
	AvMC9QL2AvcDAAMHAwkDCwMNAw8DHAMnAzIDNAM2AzgDQwNMA1QDWQNmA2gDagN1A4ID
	hAOGA5EDqAOxA8ADxQPUA/0D/wQBBAMEBQQHBAkECgQLBAwEDQQWBB0EHwQhBCMEJQQx
	BEcEUQRaBGEEYwRlBGcEaQRyBHkEewR9BH8EgQSOBJAEkgSdBKoErASuBLkExgTIBMoE
	1QTuBRcFGQUbBR0FHwUhBSMFJAUlBSYFJwUwBTkFOwU9BT8FQQVDBVUFYQVwBXgFgQWK
	BYwFjgWQBZIFlAWdBaYFqAWqBawFrgWwBb0FvwXBBcwF2QXbBd0F6AX1BfcF+QYEBhEG
	EwYVBiAGOgZDBlIGWQZiBnQGeQaLBpQGlgaYBqEGpAamBqgG0QbTBtUG1wbZBtsG3Qbe
	Bt8G4AbhBuoG7QbvBvEHBgcPBxIHFAcWBx8HIgckByYHMwc1BzcHQgdaB2MHdgd7B44H
	lweYB5oHoweuB7MAAAAAAAACAgAAAAAAAAEIAAAAAAAAAAAAAAAAAAAHvg==
	</data>
	<key>com.seriflabs.Studio.Data2Liquify</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEEELDBMYHiIpPUJDREo8UFVb
	XF9iY2Roc3l6e3w5g4mMjZCRlJWWoaWmqq6xsrO+xMXGx83T1tfa297f4OPn6u3x9FUk
	bnVsbNMNDg8QERJfEB9jb20uc2VyaWZsYWJzLlN0dWRpby5XaW5kb3dEYXRhViRjbGFz
	c18QIWNvbS5zZXJpZmxhYnMuU3R1ZGlvLkZsb2F0aW5nRGF0YYACgECAP9IUDhUXWk5T
	Lm9iamVjdHOhFoADgDrTGRoOGxwdWUVhc3RTaGVsZllXZXN0U2hlbGaABIA8gD7SHw4g
	IVhCb29rRGF0YYAFgDvSFA4jF6QkJSYngAaAFYAkgCyAOtoOKissLS4vMDEyMzQ1Njc4
	OTk5PFdQYWdlSURzWlZpc2liaWxpdHlac2F2ZWRTaXplc1tGcm9udFBhZ2VJRFVGcmFt
	ZVxBdXRvQ29sbGFwc2VYQ29sbGFwc2VfEBREaXNhYmxlZEF1dG9Db2xsYXBzZV5TaG93
	UGFnZVRpdGxlc4AUgAeAC4ANgAiAEwgICAnSFA4+QaI3QIAIgAmACl8QD0xpcXVpZnlN
	ZXNoUGFnZV1IaXN0b2dyYW1QYWdl0kVGR0haJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU0Fy
	cmF5okdJWE5TT2JqZWN00hQOS0GiTEyADIAMgAoJ0hQOUUGiUlOADoARgArTVg5XWFla
	Wk5TLnNpemV2YWxaTlMuc3BlY2lhbIAPgBAQAlp7MjY0LCAyODl90kVGXV5XTlNWYWx1
	ZaJdSdNWDldgWVqAEoAQWnsyNjQsIDE2MH1fEBR7ezAsIDB9LCB7MjY0LCAzMTd9fdJF
	RmVmXlN0dWRpb0Jvb2tEYXRhomdJXlN0dWRpb0Jvb2tEYXRh2g4qKywtLi8wMTIzamts
	bW45OTk8gBSAFoAagByAF4AjCAgICdIUDnRBo212d4AXgBiAGYAKXxAQTGlxdWlmeUJy
	dXNoUGFnZV1OYXZpZ2F0b3JQYWdlWURlYnVnUGFnZdIUDn1Bo0xMgIAMgAyAG4AKCNIU
	DoRBo4WGh4AdgB+AIYAK01YOV4pZWoAegBBaezI2NCwgMjM5fdNWDleOWVqAIIAQWnsy
	NjQsIDE5Mn3TVg5XkllagCKAEFp7MjY0LCA1MzZ9XxAWe3swLCAzMTl9LCB7MjY0LCAy
	Njd9fdoOKissLS4vMDEyM5iZmpucOTk5PIAUgCWAJ4AogCaAKwgICAnSFA6iQaGbgCaA
	Cl8QD0xpcXVpZnlNYXNrUGFnZdIUDqdBoUyADIAK0hQOq0GhrIApgArTVg5Xr1lagCqA
	EFl7MjY0LCA3MX1fEBV7ezAsIDU4OH0sIHsyNjQsIDk5fX3aDiorLC0uLzAxMjO1tre4
	uTk5OTyAFIAtgDGAMoAugDkICAgJ0hQOv0GjuMHCgC6AL4AwgApbSGlzdG9yeVBhZ2Vc
	Q2hhbm5lbHNQYWdlV0dQVVBhZ2XSFA7IQaNMTICADIAMgBuACtIUDs5Bo8/Q0YAzgDWA
	N4AK01YOV9RZWoA0gBBaezI2NCwgNTkyfdNWDlfYWVqANoAQWnsyNjQsIDE1MH3TVg5X
	3FlagDiAEFp7MjY0LCAxOTJ9XxAWe3swLCA2ODl9LCB7MjY0LCAzMzB9fdJFRuHiXk5T
	TXV0YWJsZUFycmF5o+FHSdJFRuTlXxAPU3R1ZGlvU2hlbGZEYXRhouZJXxAPU3R1ZGlv
	U2hlbGZEYXRh0h8O6CGAPYA70hQO6xeggDrSRUbu718QEFN0dWRpb1dpbmRvd0RhdGGi
	8ElfEBBTdHVkaW9XaW5kb3dEYXRh0hQO8heggDrSRUb19lpTdHVkaW9EYXRhovdJWlN0
	dWRpb0RhdGEACAARABoAJAApADIANwBJAEwAUQBTAJcAnQCkAMYAzQDxAPMA9QD3APwB
	BwEJAQsBDQEUAR4BKAEqASwBLgEzATwBPgFAAUUBSgFMAU4BUAFSAVQBaQFxAXwBhwGT
	AZkBpgGvAcYB1QHXAdkB2wHdAd8B4QHiAeMB5AHlAeoB7QHvAfEB8wIFAhMCGAIjAiwC
	NAI3AkACRQJIAkoCTAJOAk8CVAJXAlkCWwJdAmQCbwJ6AnwCfgKAAosCkAKYApsCogKk
	AqYCsQLIAs0C3ALfAu4DAwMFAwcDCQMLAw0DDwMQAxEDEgMTAxgDHAMeAyADIgMkAzcD
	RQNPA1QDWANaA1wDXgNgA2EDZgNqA2wDbgNwA3IDeQN7A30DiAOPA5EDkwOeA6UDpwOp
	A7QDzQPiA+QD5gPoA+oD7APuA+8D8APxA/ID9wP5A/sD/QQPBBQEFgQYBBoEHwQhBCME
	JQQsBC4EMAQ6BFIEZwRpBGsEbQRvBHEEcwR0BHUEdgR3BHwEgASCBIQEhgSIBJQEoQSp
	BK4EsgS0BLYEuAS6BL8EwwTFBMcEyQTLBNIE1ATWBOEE6ATqBOwE9wT+BQAFAgUNBSYF
	KwU6BT4FQwVVBVgFagVvBXEFcwV4BXkFewWABZMFlgWpBa4FrwWxBbYFwQXEAAAAAAAA
	AgEAAAAAAAAA+AAAAAAAAAAAAAAAAAAABc8=
	</data>
	<key>com.seriflabs.Studio.Data2Photo</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCLAAsADAAT
	ABgAHgAiACgAPABDAEQARQBGAEcATQA7ADgAVgBdAGMAZABnAGoAawBuAG8AcgBzAHQA
	eACDAJAAkQCSAJMAlACVAJYAlwCYAJkAmgCnALQAtwC4ALsAvAC/AMAAwwDEAMcAyADL
	AMwAzwDQANMA1ADXANgA2wDcAN0A6AD3APgA+QD6APsA/AD9AP4A/wEAAQEBAgEDARIB
	IQEkASUBKAEpASwBLQEwATEBNAE1ATgBOQE8AT0BQAFBAUQBRQFIAUkBTAFNAVABUQFS
	AVUBWQFcAWABawFyAXMBdAF1AXYBfQGEAYcBiAGLAYwBjwGQAZMBlAGVAZkBnQGjAaQB
	rwGzAbQBuAG8Ab8BwAHBAcVVJG51bGzTAA0ADgAPABAAEQASXxAfY29tLnNlcmlmbGFi
	cy5TdHVkaW8uV2luZG93RGF0YVYkY2xhc3NfECFjb20uc2VyaWZsYWJzLlN0dWRpby5G
	bG9hdGluZ0RhdGGAAoCKgH7SABQADgAVABdaTlMub2JqZWN0c6EAFoADgGjTABkAGgAO
	ABsAHAAdWUVhc3RTaGVsZllXZXN0U2hlbGaABIBqgH3SAB8ADgAgACFYQm9va0RhdGGA
	BYBp0gAUAA4AIwAXowAkACUAJoAGgByAP4Bo2gAOACkAKgArACwALQAuAC8AMAAxADIA
	MwA0ADUANgA3ADgAOAA4ADtXUGFnZUlEc1pWaXNpYmlsaXR5WnNhdmVkU2l6ZXNbRnJv
	bnRQYWdlSURVRnJhbWVcQXV0b0NvbGxhcHNlWENvbGxhcHNlXxAURGlzYWJsZWRBdXRv
	Q29sbGFwc2VeU2hvd1BhZ2VUaXRsZXOAG4AHgA2AEIAKgBoICAgJ0gAUAA4APQBCpAA+
	AD8ANgBBgAiACYAKgAuADF1IaXN0b2dyYW1QYWdlXFdhdmVmb3JtUGFnZVpDb2xvdXJQ
	YWdlXFN3YXRjaGVzUGFnZdIASABJAEoAS1okY2xhc3NuYW1lWCRjbGFzc2VzV05TQXJy
	YXmiAEoATFhOU09iamVjdNIAFAAOAE4AQqQATwBQAE8AUIAOgA+ADoAPgAwJCNIAFAAO
	AFcAQqQAWABZAFoAW4ARgBSAFoAYgAzTAF4ADgBfAGAAYQBiWk5TLnNpemV2YWxaTlMu
	c3BlY2lhbIASgBMQAlp7MjY0LCAyNDh90gBIAEkAZQBmV05TVmFsdWWiAGUATNMAXgAO
	AF8AaABhAGKAFYATWnsyNjQsIDI3OH3TAF4ADgBfAGwAYQBigBeAE1p7MjY0LCAyMTB9
	0wBeAA4AXwBwAGEAYoAZgBNaezI2NCwgMjI1fV8QFHt7MCwgMH0sIHsyNjQsIDIzOH19
	0gBIAEkAdQB2XlN0dWRpb0Jvb2tEYXRhogB3AExeU3R1ZGlvQm9va0RhdGHaAA4AKQAq
	ACsALAAtAC4ALwAwADEAMgB6AHsAfAB9AH4AOAA4ADsAO4AbgB2AKIApgCCAPggICQnS
	ABQADgCEAEKqAIUAhgB9AIgAiQCKAIsAjACNAI6AHoAfgCCAIYAigCOAJIAlgCaAJ4AM
	XkFkanVzdG1lbnRQYWdlV1hNUFBhZ2VZTGF5ZXJQYWdlXkxheWVyU3RhdGVQYWdlXENo
	YW5uZWxzUGFnZVlCcnVzaFBhZ2VZU3RvY2tQYWdlW0VmZmVjdHNQYWdlWlN0eWxlc1Bh
	Z2VZRGVidWdQYWdl0gAUAA4AmwBCqgBPAFAATwBQAE8ATwBPAFAAUABQgA6AD4AOgA+A
	DoAOgA6AD4APgA+ADNIAFAAOAKgAQqoAqQCqAKsArACtAK4ArwCwALEAsoAqgCyALoAw
	gDKANIA2gDiAOoA8gAzTAF4ADgBfALUAYQBigCuAE1p7MjY0LCAxNTB90wBeAA4AXwC5
	AGEAYoAtgBNaezI2NCwgMzYwfdMAXgAOAF8AvQBhAGKAL4ATWnsyNjQsIDMxNX3TAF4A
	DgBfAMEAYQBigDGAE1p7MjY0LCAxOTJ90wBeAA4AXwDFAGEAYoAzgBNaezI2NCwgMTUw
	fdMAXgAOAF8AyQBhAGKANYATWnsyNjQsIDIyNX3TAF4ADgBfAM0AYQBigDeAE1p7MjY0
	LCAxNTB90wBeAA4AXwDRAGEAYoA5gBNaezI2NCwgMTUwfdMAXgAOAF8A1QBhAGKAO4AT
	WnsyNjQsIDE1MH3TAF4ADgBfANkAYQBigD2AE1p7MjY0LCA1MzZ9XxAWe3swLCAyNDB9
	LCB7MjY0LCAzODF9fdoADgApACoAKwAsAC0ALgAvADAAMQAyAN8A4ADhAOIA4wA4ADgA
	OAA7gBuAQIBNgE6AQYBnCAgICdIAFAAOAOkAQqwA4gDrAOwA7QDuAO8A8ADxAPIA8wD0
	APWAQYBCgEOARIBFgEaAR4BIgEmASoBLgEyADF1DaGFyYWN0ZXJQYWdlXU5hdmlnYXRv
	clBhZ2VdUGFyYWdyYXBoUGFnZV1UcmFuc2Zvcm1QYWdlXlRleHRTdHlsZXNQYWdlW0hp
	c3RvcnlQYWdlXxAVQ2xvbmVCcnVzaFNvdXJjZXNQYWdlXVNuYXBzaG90c1BhZ2VfEA9J
	bmZvcm1hdGlvblBhZ2VeSERSUHJldmlld1BhZ2VXR1BVUGFnZVlMaW5rc1BhZ2XSABQA
	DgEEAEKsAE8ATwBQAE8AUABPAFAAUABQAFAAUABQgA6ADoAPgA6AD4AOgA+AD4APgA+A
	D4APgAzSABQADgETAEKsARQBFQEWARcBGAEZARoBGwEcAR0BHgEfgE+AUYBTgFWAV4BZ
	gFuAXYBfgGGAY4BlgAzTAF4ADgBfASIAYQBigFCAE1p7MjY0LCAzNjh90wBeAA4AXwEm
	AGEAYoBSgBNaezI2NCwgMTkyfdMAXgAOAF8BKgBhAGKAVIATWnsyNjQsIDIwMH3TAF4A
	DgBfAS4AYQBigFaAE1p7MjY0LCAxMjB90wBeAA4AXwEyAGEAYoBYgBNaezI2NCwgMTAw
	fdMAXgAOAF8BNgBhAGKAWoATWnsyNjQsIDE1MH3TAF4ADgBfAToAYQBigFyAE1p7MjY0
	LCAxNTB90wBeAA4AXwE+AGEAYoBegBNaezI2NCwgMTUwfdMAXgAOAF8BQgBhAGKAYIAT
	WnsyNjQsIDE5Mn3TAF4ADgBfAUYAYQBigGKAE1p7MjY0LCAyODB90wBeAA4AXwFKAGEA
	YoBkgBNaezI2NCwgMTkyfdMAXgAOAF8BTgBhAGKAZoATWnsyNjQsIDI1Nn1fEBZ7ezAs
	IDYyM30sIHsyNjQsIDM5Nn190gBIAEkBUwFUXk5TTXV0YWJsZUFycmF5owFTAEoATNIA
	SABJAVYBV18QD1N0dWRpb1NoZWxmRGF0YaIBWABMXxAPU3R1ZGlvU2hlbGZEYXRh0gAf
	AA4BWgAhgGuAadIAFAAOAV0AF6EBXoBsgGjaAA4AKQAqACsALAAtAC4ALwAwADEAMgFi
	AWMBZAFlAWYAOAA4ADgAO4AbgG2AcoBzgACAfAgICAnSABQADgFsAEKkAW0BbgFvAXCA
	boBvgHCAcYAMWU1hY3JvUGFnZVpNYWNyb3NQYWdlWUJhdGNoUGFnZVpBc3NldHNQYWdl
	0gAUAA4BdwBCpABQAFAAUABQgA+AD4APgA+ADNIAFAAOAX4AQqQBfwGAAYEBgoB0gHaA
	eIB6gAzTAF4ADgBfAYUAYQBigHWAE1p7MjY0LCA2NzJ90wBeAA4AXwGJAGEAYoB3gBNa
	ezI2NCwgMTUwfdMAXgAOAF8BjQBhAGKAeYATWnsyNjQsIDIyNX3TAF4ADgBfAZEAYQBi
	gHuAE1p7MjAwLCAxNTB9XxAUe3swLCAwfSwgezIwMCwgNzAwfX3SAEgASQGWAZdfEBBT
	dHVkaW9XaW5kb3dEYXRhogGYAExfEBBTdHVkaW9XaW5kb3dEYXRh0gAUAA4BmgAXoQGb
	gH+AaNQAHwAtAZ4ADgGfAaAAOAGiWUhpZGVTdGF0ZYCBgIAIgIlfEBd7ezk0NywgNzU3
	fSwgezI2NCwgMjh9fdoADgApACoAKwAsAC0ALgAvADAAMQAyAaYBpwGoAWUBqgA4ADgA
	OAA7gBuAgoCEgIWAAICICAgICdIAFAAOAbAAQqEBsYCDgAxfEBBHbHlwaEJyb3dzZXJQ
	YWdl0gAUAA4BtQBCoQBQgA+ADNIAFAAOAbkAQqEBuoCGgAzTAF4ADgBfAb0AYQBigIeA
	E1p7MjY0LCAzMDB9XxATe3swLCAwfSwgezI2NCwgMjh9fdIASABJAcIBw18QD1N0dWRp
	b1BhbmVsRGF0YaIBxABMXxAPU3R1ZGlvUGFuZWxEYXRh0gBIAEkBxgHHWlN0dWRpb0Rh
	dGGiAcgATFpTdHVkaW9EYXRhAAgAGQAiACwAMQA6AD8AUQBWAFsAXQF2AXwBiQGrAbIB
	1gHYAdoB3AHlAfAB8wH1AfcCBAIOAhgCGgIcAh4CJwIwAjICNAI9AkQCRgJIAkoCTAJ1
	An0CiAKTAp8CpQKyArsC0gLhAuMC5QLnAukC6wLtAu4C7wLwAvEC+gMDAwUDBwMJAwsD
	DQMbAygDMwNAA0kDVANdA2UDagNzA3wDhQOHA4kDiwONA48DkAORA5oDowOlA6cDqQOr
	A60DugPFA9AD0gPUA9YD4QPqA/ID9wQEBAYECAQTBCAEIgQkBC8EPAQ+BEAESwRiBGsE
	egR/BI4EtwS5BLsEvQS/BMEEwwTEBMUExgTHBNAE5QTnBOkE6wTtBO8E8QTzBPUE9wT5
	BPsFCgUSBRwFKwU4BUIFTAVYBWMFbQV2BYsFjQWPBZEFkwWVBZcFmQWbBZ0FnwWhBaoF
	vwXBBcMFxQXHBckFywXNBc8F0QXTBdUF4gXkBeYF8QX+BgAGAgYNBhoGHAYeBikGNgY4
	BjoGRQZSBlQGVgZhBm4GcAZyBn0GigaMBo4GmQamBqgGqga1BsIGxAbGBtEG3gbgBuIG
	7QcGBy8HMQczBzUHNwc5BzsHPAc9Bz4HPwdIB2EHYwdlB2cHaQdrB20HbwdxB3MHdQd3
	B3kHeweJB5cHpQezB8IHzgfmB/QIBggVCB0IJwgwCEkISwhNCE8IUQhTCFUIVwhZCFsI
	XQhfCGEIYwhsCIUIhwiJCIsIjQiPCJEIkwiVCJcImQibCJ0InwisCK4IsAi7CMgIygjM
	CNcI5AjmCOgI8wkACQIJBAkPCRwJHgkgCSsJOAk6CTwJRwlUCVYJWAljCXAJcgl0CX8J
	jAmOCZAJmwmoCaoJrAm3CcQJxgnICdMJ4AniCeQJ7woIChEKIAonCjAKQgpHClkKYgpk
	CmYKbwpyCnQKdgqfCqEKowqlCqcKqQqrCqwKrQquCq8KuArBCsMKxQrHCskKywrVCuAK
	6gr1Cv4LBwsJCwsLDQsPCxELGgsjCyULJwspCysLLQs6CzwLPgtJC1YLWAtaC2ULcgt0
	C3YLgQuOC5ALkgudC7QLvQvQC9UL6AvxC/QL9gv4DAkMEwwVDBcMGAwaDDQMXQxfDGEM
	YwxlDGcMaQxqDGsMbAxtDHYMeQx7DH0MkAyZDJwMngygDKkMrAyuDLAMvQy/DMEMzAzi
	DOsM/Q0CDRQNHQ0oDS0AAAAAAAACAgAAAAAAAAHJAAAAAAAAAAAAAAAAAAANOA==
	</data>
	<key>com.seriflabs.Studio.ParagraphPage.ExpandedState</key>
	<dict>
		<key>Baseline Grid</key>
		<false/>
		<key>Decorations</key>
		<false/>
		<key>Drop Caps</key>
		<false/>
		<key>Flow Control</key>
		<false/>
		<key>Hyphenation</key>
		<false/>
		<key>Initial Words</key>
		<false/>
		<key>Justification</key>
		<false/>
		<key>Lists</key>
		<false/>
		<key>Spacing</key>
		<true/>
		<key>TabStops</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.SchemaVersion</key>
	<integer>5</integer>
	<key>com.seriflabs.affinity.watchForCrash</key>
	<false/>
	<key>com.seriflabs.export.panel.startupdir</key>
	<string>/Users/wilhall/Downloads</string>
	<key>com.seriflabs.favourites.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
	<key>com.seriflabs.favourites.fonts.names-migrated</key>
	<true/>
	<key>com.seriflabs.opensave.panel.startupdir</key>
	<string>file:/Users/wilhall/Downloads</string>
	<key>com.seriflabs.recent.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwVFhcYGVUkbnVsbNINDg8U
	Wk5TLm9iamVjdHNWJGNsYXNzpBAREhOAAoADgASABYAGXE1lcnJpd2VhdGhlcl8QEU1l
	cnJpd2VhdGhlciBTYW5zXk1hdGVyaWFsIEljb25zXxAUQWNhZGVteSBFbmdyYXZlZCBM
	RVTSGhscHVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5oxweH1dOU0Fy
	cmF5WE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBbAGEAZgBxAHgAfQB/AIEA
	gwCFAIcAlACoALcAzgDTAN4A5wD2APoBAgAAAAAAAAIBAAAAAAAAACAAAAAAAAAAAAAA
	AAAAAAEL
	</data>
	<key>com.seriflabs.recent.fonts.names-migrated</key>
	<true/>
	<key>com.seriflabs.restoration.urls</key>
	<array/>
</dict>
</plist>
