<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>7zzComposeOnCompression</key>
	<true/>
	<key>7zzDecomposeOnExtraction</key>
	<true/>
	<key>ActivateOnNewOperation</key>
	<true/>
	<key>AlreadyLovedKeka</key>
	<integer>0</integer>
	<key>AlwaysAskCompressionPassword</key>
	<false/>
	<key>AppearanceCustomDockTile</key>
	<true/>
	<key>AppearanceDifferentiateTasksCountInDock</key>
	<true/>
	<key>AppearanceShowDockIcon</key>
	<integer>1</integer>
	<key>AppearanceSquishFaceInDock</key>
	<true/>
	<key>ApplyQuarantineAfterExtraction</key>
	<true/>
	<key>ArchiveSingle</key>
	<false/>
	<key>AskZipUsingAES</key>
	<true/>
	<key>BackgroundQoSOnBattery</key>
	<false/>
	<key>Bookmarks</key>
	<array>
		<dict>
			<key>Data</key>
			<data>
			Ym9va2QCAAAAAAQQMAAAAKIfwb0iED0N7sZcyU5Az62zOK7Bjt77
			pcsVWRzV1+lrYAEAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACAAAAAEGAAAQAAAAIAAAAAgAAAAE
			AwAATE8AAAAAAAAIAAAABAMAAO97AAAAAAAACAAAAAEGAABAAAAA
			UAAAAAgAAAAABAAAQcbyaAN53tAYAAAAAQIAAAIAAAAAAAAADwAA
			AAAAAAAAAAAAAAAAAAgAAAAEAwAAAAAAAAAAAAAEAAAAAwMAAPUB
			AAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
			AAAABAMAAACQgpbnAAAACAAAAAAEAABBxuJWIQAAACQAAAABAQAA
			MzQ2RjBBN0ItQzY2Qy00MjUyLTlFMDEtMDU0RjM3NTg5OEZBGAAA
			AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8A
			AAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAADAAAAAA
			AAAABRAAAGAAAAAAAAAAEBAAAIAAAAAAAAAAQBAAAHAAAAAAAAAA
			AiAAAEwBAAAAAAAABSAAALwAAAAAAAAAECAAAMwAAAAAAAAAESAA
			AAABAAAAAAAAEiAAAOAAAAAAAAAAEyAAAPAAAAAAAAAAICAAACwB
			AAAAAAAAMCAAAFgBAAAAAAAAAcAAAKAAAAAAAAAAEcAAACAAAAAA
			AAAAEsAAALAAAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>External</key>
			<false/>
			<key>Path</key>
			<string>/Users/wilhall</string>
			<key>Stale</key>
			<false/>
		</dict>
	</array>
	<key>CalculateMD5</key>
	<false/>
	<key>CloseController</key>
	<true/>
	<key>CreateSFX</key>
	<false/>
	<key>CustomNameMultipleFiles</key>
	<string></string>
	<key>CustomNameSingleFile</key>
	<string></string>
	<key>DMGFormat</key>
	<integer>0</integer>
	<key>DefaultActionToPerform</key>
	<integer>0</integer>
	<key>DefaultAppDialog</key>
	<false/>
	<key>DefaultExtractLocationController</key>
	<integer>2</integer>
	<key>DefaultExtractLocationSet</key>
	<string></string>
	<key>DefaultFormat</key>
	<string>ZIP</string>
	<key>DefaultMethod</key>
	<integer>4</integer>
	<key>DefaultNameController</key>
	<integer>1</integer>
	<key>DefaultSaveLocationController</key>
	<integer>2</integer>
	<key>DefaultSaveLocationSet</key>
	<string></string>
	<key>DefaultSoundCompression</key>
	<integer>1</integer>
	<key>DefaultSoundExtraction</key>
	<integer>2</integer>
	<key>DeleteAfterCompression</key>
	<false/>
	<key>DeleteAfterExtraction</key>
	<false/>
	<key>DevLog</key>
	<false/>
	<key>DevLogAll</key>
	<false/>
	<key>DevLogNotifications</key>
	<false/>
	<key>DevLogReader</key>
	<false/>
	<key>DevSaveLog</key>
	<false/>
	<key>Encryption</key>
	<true/>
	<key>ExcludeMacForks</key>
	<true/>
	<key>ExportPassword</key>
	<false/>
	<key>ExtractOnIntermediateFolder</key>
	<true/>
	<key>ExtractionExcludeMacForks</key>
	<true/>
	<key>ExtractionFolderRenameExtension</key>
	<true/>
	<key>FallbackCustomPath</key>
	<string>/Users/wilhall/Downloads</string>
	<key>FallbackOption</key>
	<integer>1</integer>
	<key>FinderAfterCompression</key>
	<true/>
	<key>FinderAfterExtraction</key>
	<true/>
	<key>ForceHFSDMG</key>
	<true/>
	<key>ForceTarballOnCompressionOnly</key>
	<true/>
	<key>GrowlBlocksExit</key>
	<true/>
	<key>IgnoreGZIPName</key>
	<false/>
	<key>KeepExtension</key>
	<integer>0</integer>
	<key>KekaAskBeforeCancel</key>
	<true/>
	<key>KekaLaunchTimes</key>
	<integer>2</integer>
	<key>LastLogsCompressionDate</key>
	<date>2025-07-25T13:08:31Z</date>
	<key>Legacy19007zSupport</key>
	<true/>
	<key>LetsMoveDialog</key>
	<false/>
	<key>LimitThreads</key>
	<false/>
	<key>MaximumThreads</key>
	<integer>0</integer>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSToolbar Configuration AdvancedWindowToolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration PreferencesWindowToolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame AdvancedWindow</key>
	<string>{{566, 482}, {336, 408}}</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>397 307 800 448 0 0 1512 944 </string>
	<key>NSWindow Frame PreferencesWindow</key>
	<string>456 453 679 382 0 0 1512 944 </string>
	<key>NSWindow Frame TasksWindow</key>
	<string>577 636 404 96 0 0 1512 944 </string>
	<key>OccasionallyRequestReview</key>
	<true/>
	<key>OldServicesChecked</key>
	<true/>
	<key>QoS</key>
	<integer>-1</integer>
	<key>QueueCompression</key>
	<true/>
	<key>QueueCompressionLimit</key>
	<integer>1</integer>
	<key>QueueExtraction</key>
	<true/>
	<key>QueueExtractionLimit</key>
	<integer>2</integer>
	<key>QueueGlobal</key>
	<true/>
	<key>QueueGlobalLimit</key>
	<integer>2</integer>
	<key>RemoveBadPasswordExtraction</key>
	<true/>
	<key>RemoveIncompleteExtraction</key>
	<false/>
	<key>RemoveKekaQuarantineIfPossible</key>
	<true/>
	<key>RequestedReviewForVersion</key>
	<integer>0</integer>
	<key>RequestedReviewOnLaunch</key>
	<integer>0</integer>
	<key>ResizableWindows</key>
	<false/>
	<key>RetryPassword</key>
	<true/>
	<key>ReusePassword</key>
	<true/>
	<key>SelectedMethod</key>
	<integer>3</integer>
	<key>SelectedTab</key>
	<string>ZIP</string>
	<key>SelectedTabDefaults</key>
	<integer>1006</integer>
	<key>SetAsDefaultApp</key>
	<false/>
	<key>SetModificationDateAfterExtraction</key>
	<true/>
	<key>ShowCompressionPassword</key>
	<false/>
	<key>ShowExtractionPassword</key>
	<false/>
	<key>SilentlyIgnoreTrailingGarbage</key>
	<false/>
	<key>SkipQuarantineSlowdownDetection</key>
	<false/>
	<key>SolidArchive</key>
	<true/>
	<key>SparkleDialog</key>
	<false/>
	<key>TarballSupport</key>
	<true/>
	<key>UnifiedToolbar</key>
	<true/>
	<key>UnrarWithP7ZIP</key>
	<false/>
	<key>UnzipWithUNAR</key>
	<true/>
	<key>Use7zz</key>
	<true/>
	<key>UseCustomNameWithMultipleFiles</key>
	<true/>
	<key>UseDefaultPasswordOnAdvancedWindow</key>
	<false/>
	<key>UseDefaultPasswordOnCompressions</key>
	<false/>
	<key>UseDefaultPasswordOnExtractions</key>
	<false/>
	<key>UseGrowl</key>
	<true/>
	<key>UseHapticFeedback</key>
	<true/>
	<key>UseISO9660</key>
	<false/>
	<key>UseLongTarballExtension</key>
	<true/>
	<key>UseMultithreadLzip</key>
	<true/>
	<key>UseParentName</key>
	<false/>
	<key>VerifyCompression</key>
	<true/>
	<key>Version</key>
	<integer>5613</integer>
	<key>WelcomeWindowSafeDelay</key>
	<real>0.029999999999999999</real>
	<key>ZipUsingAES</key>
	<false/>
</dict>
</plist>
