<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>detachedWindow</key>
	<true/>
	<key>hasRun</key>
	<true/>
	<key>hideDockIcon</key>
	<true/>
	<key>launchAtLogin</key>
	<true/>
	<key>selectedDot</key>
	<integer>1</integer>
	<key>selectedView</key>
	<integer>1</integer>
	<key>windowShortcut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEC2AAhIAFgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
</dict>
</plist>
