<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2025-05-26 09:36:36</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-26 09:36:39</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-26 09:36:39</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-26 12:37:32</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-26 12:37:33</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-05-26 12:37:33</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-21 10:48:10</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-24 15:36:53</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-24 16:06:28</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-25 13:57:22</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-25 13:58:05</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-25 13:58:05</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-25 14:16:29</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2025-07-26 12:49:53</string>
				<key>Reason</key>
				<string>Reset</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>closeViewCustomHotkeyKey</key>
	<dict>
		<key>AX_ZOOM_FREEZE_PANNING</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_MONITOR_SELECTION</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_TEMP_DETACH</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>AX_ZOOM_TEMP_TOGGLE</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>786432</integer>
		</dict>
		<key>AX_ZOOM_TOGGLE_FS_AND_PIP</key>
		<dict>
			<key>charCode</key>
			<integer>102</integer>
			<key>keyCode</key>
			<integer>3</integer>
			<key>modifiers</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>closeViewHotkeysEnabled</key>
	<true/>
	<key>closeViewSplitScreenRatio</key>
	<real>0.20000000000000001</real>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>closeViewZoomFactorBeforeTermination</key>
	<real>1</real>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>com.apple.mail</string>
		<string>NSGlobalDomain</string>
	</array>
	<key>displaysLastCursorLocation</key>
	<dict>
		<key>1</key>
		<dict>
			<key>X</key>
			<real>530.64453125</real>
			<key>Y</key>
			<real>42.359375</real>
		</dict>
	</dict>
	<key>hoverTextEnabled</key>
	<false/>
	<key>hoverTypingEnabled</key>
	<false/>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBfEBNj
	b21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4AAgALSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxAWQVhTU0tleWJvYXJkQ29tbWFuZE1hcKIWF18QFkFYU1NLZXlib2FyZENvbW1h
	bmRNYXBYTlNPYmplY3QIERokKTI3SUxRU1ddYnh/gYOIk5y1uNEAAAAAAAABAQAAAAAA
	AAAYAAAAAAAAAAAAAAAAAAAA2g==
	</data>
	<key>keyboardAccessEnabled</key>
	<false/>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15</real>
	<key>keyboardAccessPassthroughMode</key>
	<false/>
	<key>login</key>
	<false/>
	<key>sessionChange</key>
	<false/>
</dict>
</plist>
