<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MiniBuddyLaunch</key>
	<false/>
	<key>NSWindow Frame ProcessPanel</key>
	<string>179 630 338 313 0 0 2560 1415 </string>
	<key>TALLogoutReason</key>
	<string>Restart</string>
	<key>TALLogoutSavesState</key>
	<false/>
	<key>oneTimeSSMigrationComplete</key>
	<true/>
</dict>
</plist>
