<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>NSApplicationCrashOnExceptions</key>
	<false/>
	<key>NSColorPanelMode</key>
	<string>6</string>
	<key>NSColorPickerPreferredRGBEntryMode</key>
	<integer>2</integer>
	<key>RecentSearches</key>
	<true/>
	<key>analyticsData</key>
	<dict>
		<key>dayCount</key>
		<integer>0</integer>
		<key>goalsCount</key>
		<integer>0</integer>
		<key>nextPageCount</key>
		<integer>0</integer>
		<key>reportsCount</key>
		<integer>0</integer>
		<key>sessionCount</key>
		<integer>90</integer>
		<key>standardDate</key>
		<date>2026-03-12T16:37:15Z</date>
		<key>todayPageCount</key>
		<integer>0</integer>
	</dict>
	<key>currentVersion</key>
	<integer>821</integer>
	<key>currentView</key>
	<integer>0</integer>
	<key>gtListsData</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxDqAAsADAAl
	AD4APwBAAEEAQgBDAEQARQBGAEcASABJAEwAUgBTAFQAVQBWAFkAhQCGAIcAiACJAIoA
	iwCMAI0AjgCPAJAAkQCSAJMAlACVAJYAlwCYAJkAmgCiAKMApAClAKYApwDPANAA0QDS
	ANMA1ADVANYA1wDYANkA2gDwAPEA8gDzAPQA9QENAQ4BDwEQAREBEgE6ATsBPAE9AT4B
	PwFAAUEBQgFDAUQBRQFbAVwBXQFeAV8BhwGIAYkBigGLAYwBjQGOAY8BkAGRAZIBugG7
	AbwBvQG+Ab8BwAHBAcIB6gHrAewB7QHuAe8B8AHxAfICCAIJAgoCCwIMAjgCOQI6AjsC
	PAI9Aj4CRQJGAkcCSAJJAnECcgJzAnQCdQJ2AncCeAJ5AnoCogKjAqQCpQKmAqcCqAKp
	AqoCqwKsAq0C1QLWAtcC2ALZAtoC2wLcAt0C3gLfAuADCAMJAwoDCwMMAw0DDgMPAxAD
	KAMpAyoDKwMsAy0DVwNYA1kDWgNbA1wDXQNhA2kDagNuA3YDdwN4A3kDfQOFA4YDsAOx
	A7IDswO0A7UDtgO6A8IDwwPEA8gDzAPUA9wEBgQHBAgECQQKBAsEDAQNBBEEGQQdBB4E
	IgQqVSRudWxs0gANAA4ADwAkWk5TLm9iamVjdHNWJGNsYXNzrxAUABAAEQASABMAFAAV
	ABYAFwAYABkAGgAbABwAHQAeAB8AIAAhACIAI4ACgBWAMYA9gEOASYBVgFqAZoBvgHiA
	fYCJgJOAn4CrgLSAuoDMgNuAD9MAJgANAA4AJwAyAD1XTlMua2V5c6oAKAApACoAKwAs
	AC0ALgAvADAAMYADgASABYAGgAeACIAJgAqAC4AMqgAzADQANQA1ADcANAA5ADoAOgA6
	gA2ADoAQgBCAEYAOgBKAE4ATgBOAFFtkZWZhdWx0Vmlld1pjYWxGaWx0ZXJzVGlzT3Jc
	ZXhjbHVkZUxpc3RzVXRpdGxlV2ZpbHRlcnNUdHlwZVt0YXNrRGlzcGxheVRtZW1vXxAQ
	dGFza0Rpc3BsYXlCb2FyZBAA0gANAA4ASgAkoIAP0gBNAE4ATwBQWiRjbGFzc25hbWVY
	JGNsYXNzZXNXTlNBcnJheaIATwBRWE5TT2JqZWN0CFhXb3JrZmxvdxALUNIATQBOAFcA
	WFxOU0RpY3Rpb25hcnmiAFcAUdMAJgANAA4AWgBvAD2vEBQAWwBcAF0AXgBfAGAAYQAu
	AGMAMQBlAGYAZwAsAGkAKgBrAC0AbQAwgBaAF4AYgBmAGoAbgByACYAdgAyAHoAfgCCA
	B4AhgAWAIoAIgCOAC68QFABwADUAcgA1ADoANAA0AHcAeAA6AHoAewAzAH0AMwA1AIAA
	NAA0ADqAJIAQgCWAEIATgA6ADoAmgCeAE4AogCmADYAqgA2AEIArgA6ADoATgBRZc29y
	dE9yZGVyXGV4Y2x1ZGVMaXN0c1ljb2xvckludDNdc2hvd0NhbGVuZGFyc1t0YXNrRGlz
	cGxheVpjYWxGaWx0ZXJzXmV2ZW50Q2FsZW5kYXJzWWNvbG9ySW50MVppZGVudGlmaWVy
	WWNvbG9ySW50MlRpY29uW2RlZmF1bHRWaWV3VXNvcnRzXxARcmVtaW5kZXJDYWxlbmRh
	cnMQChDJEAEQh18QJDJEOUYyNkRDLUJEM0YtNEE1RC1CNEJFLUU5QzE0NUY4RDVBMxCU
	VUluYm940gANAA4AmwAkpQCcAJ0AngCfAKCALIAtgC6AL4AwgA9VZGF0ZUFYcHJpb3Jp
	dHlZbGlzdE9yZGVyVHNvcnRcY3JlYXRlZFRpbWVC0wAmAA0ADgCoALsAPa8QEgAsAGUA
	LgBmAK0AKgBnADEAsQBdAG0ALQC1ALYAYwC4ALkAMIAHgB6ACYAfgDKABYAggAyAM4AY
	gCOACIA0gDWAHYA2gDeAC68QEgC8AL0AdwC/ADMANQAzADoANADFADQANAA1ADoAygA1
	ADQAOoA4gDmAJoA6gA2AEIANgBOADoA7gA6ADoAQgBOAPIAQgA6AE4AUW2RlZmF1bHRW
	aWV3XmV2ZW50Q2FsZW5kYXJzXGV4Y2x1ZGVMaXN0c1t0YXNrRGlzcGxheV1zaG93Q2Fs
	ZW5kYXJzWmNhbEZpbHRlcnNZUmVtaW5kZXJzXxAkNUQ5NEY4NEEtMzA3NC00NTBGLTkw
	QUEtREMwNTZGOEUyM0RFEI0QKBD/0wAmAA0ADgDbAOUAPakA3AAwAN4A3wAxAC4AKgAt
	AOSAPoALgD+AQIAMgAmABYAIgEGpADoAOgA1ADMAOgDrADUANAA0gBOAE4AQgA2AE4BC
	gBCADoAOgBRbdGFza0Rpc3BsYXlcZXhjbHVkZUxpc3RzW2RlZmF1bHRWaWV3WmNhbEZp
	bHRlcnMQDNMAJgANAA4A9gEBAD2qAC0AMQD5APoAKgD8ADAALgAsAQCACIAMgESARYAF
	gEaAC4AJgAeAR6oANAA6ADMANAA1ADoAOgA5AQoANYAOgBOADYAOgBCAE4ATgBKASIAQ
	gBRbZGVmYXVsdFZpZXdaY2FsRmlsdGVyc1t0YXNrRGlzcGxheVxleGNsdWRlTGlzdHNV
	TGlzdHPTACYADQAOARMBJgA9rxASARQALgBnARcALAEZAGMAMQEcAGYAMABdAGUALQAq
	AG0BJAElgEqACYAggEuAB4BMgB2ADIBNgB+AC4AYgB6ACIAFgCOAToBPrxASADUAdwAz
	ADMBKwA6AS0AOgA0ATAAOgEyATMANAA1ADQANQA0gBCAJoANgA2AUIATgFGAE4AOgFKA
	E4BTgFSADoAQgA6AEIAOgBRcZXhjbHVkZUxpc3RzW2RlZmF1bHRWaWV3W3Rhc2tEaXNw
	bGF5WmNhbEZpbHRlcnNdc2hvd0NhbGVuZGFyc15ldmVudENhbGVuZGFyc1lHcm9jZXJp
	ZXMQgxDXEFRfECQ5NzkwMzM0MC03QTMyLTRCNjgtODE3MC1DREM1NjI1MzZFQ0TTACYA
	DQAOAUYBUAA9qQFHACoALgFKADEBTAAtAU4AMIBWgAWACYBXgAyAWIAIgFmAC6kAOgA1
	AOsANQA6ADQANAAzADqAE4AQgEKAEIATgA6ADoANgBOAFFt0YXNrRGlzcGxheVxleGNs
	dWRlTGlzdHNaY2FsRmlsdGVyc1tkZWZhdWx0Vmlld9MAJgANAA4BYAFzAD2vEBIALQAw
	ACwAYwFlAGUAMQBtACoBagBnAGYBbQFuAF0ALgFxAXKACIALgAeAHYBbgB6ADIAjgAWA
	XIAggB+AXYBegBiACYBfgGCvEBIANAA6AXYBdwA0AXkAOgA0ADUANQAzAX8ANAA1AYIA
	dwAzADqADoATgGGAYoAOgGOAE4AOgBCAEIANgGSADoAQgGWAJoANgBOAFFpjYWxGaWx0
	ZXJzXGV4Y2x1ZGVMaXN0c15ldmVudENhbGVuZGFyc11zaG93Q2FsZW5kYXJzW2RlZmF1
	bHRWaWV3W3Rhc2tEaXNwbGF5XxAaVGF5bG9yIG9uZS1vZmYgdGFza3MgaW5ib3gQy18Q
	JDcyRUNBNDEwLUE3MjctNDE1My1BNzRDLUJBQTkwQzQ5QUFDRhAwEODTACYADQAOAZMB
	pgA9rxASAZQBlQGWACoAYwBlADAALgBtAC0BngBnAF0AMQGiAGYALAGlgGeAaIBpgAWA
	HYAegAuACYAjgAiAaoAggBiADIBrgB+AB4BsrxASADoANQA0ADUBdwGsADoAdwA0ADQA
	MwAzAYIAOgA0AX8BtwA1gBOAEIAOgBCAYoBtgBOAJoAOgA6ADYANgGWAE4AOgGSAboAQ
	gBRbdGFza0Rpc3BsYXlcZXhjbHVkZUxpc3RzXmV2ZW50Q2FsZW5kYXJzW2RlZmF1bHRW
	aWV3WmNhbEZpbHRlcnNdc2hvd0NhbGVuZGFyc18QJDMxNTcwQjg5LTA0NkItNDRDOC1C
	RTk1LUI0MTgwQkNBOENBQ28QDwBLAGkAdAB0AGUAbgBzIZIATABlAGEAdgBpAG4AZ9MA
	JgANAA4BwwHWAD2vEBIAbQBjAF0AMAAsAGUAZwHLAGYBzQHOAC0B0AAxAdIAKgAuAdWA
	I4AdgBiAC4AHgB6AIIBwgB+AcYBygAiAc4AMgHSABYAJgHWvEBIANAF3AYIAOgHbAdwA
	MwA1AX8ANAA1ADQANAA6ADMANQB3ADqADoBigGWAE4B2gHeADYAQgGSADoAQgA6ADoAT
	gA2AEIAmgBOAFF1zaG93Q2FsZW5kYXJzXmV2ZW50Q2FsZW5kYXJzXGV4Y2x1ZGVMaXN0
	c1pjYWxGaWx0ZXJzW2RlZmF1bHRWaWV3W3Rhc2tEaXNwbGF5bxAQAEsAaQB0AHQAZQBu
	AHMhkgBBAHIAcgBpAHYAaQBuAGdfECQ1NDIyMUI4Mi05OUQ4LTQ5N0YtODhCMC1FRUQ2
	OTY4RTc2ODTTACYADQAOAfMB/QA9qQH0ADEALQH3ACoB+QAwAC4B/IB5gAyACIB6gAWA
	e4ALgAmAfKkANAA6ADQAOgA1ADUAOgDrADOADoATgA6AE4AQgBCAE4BCgA2AFFpjYWxG
	aWx0ZXJzW3Rhc2tEaXNwbGF5XGV4Y2x1ZGVMaXN0c1tkZWZhdWx0Vmlld9MAJgANAA4C
	DQIiAD2vEBQAbQIPAC4CEQAqAGsCFAIVAhYCFwAsAGYAWwAxAF0AZwBlAGMALQAwgCOA
	foAJgH+ABYAigICAgYCCgIOAB4AfgBaADIAYgCCAHoAdgAiAC68QFAA0ADQAdwBwADUC
	KAA6ADUANQA0Ai0CLgBwADoAMwAzAjMAygA0ADqADoAOgCaAJIAQgISAE4AQgBCADoCG
	gIeAJIATgA2ADYCIgDyADoATgBReZXZlbnRDYWxlbmRhcnNbZGVmYXVsdFZpZXdbdGFz
	a0Rpc3BsYXldc2hvd0NhbGVuZGFyc1xleGNsdWRlTGlzdHNaY2FsRmlsdGVyc9IADQAO
	Aj8AJKQAnACdAkIAn4AsgC2AhYAvgA9cY3JlYXRlZFRpbWVCXkdpbmdlcmJyZWFkaW5n
	EJNfECRCN0QxRkQ3OC1DMkQxLTREQTAtQkY2OS0wQkNDRTRGQzUxNUHTACYADQAOAkoC
	XQA9rxASAGUAZwAuAF0AMAAsAG0AKgBjAlQAZgAxAlcCWAJZAC0CWwJcgB6AIIAJgBiA
	C4AHgCOABYAdgIqAH4AMgIuAjICNgAiAjoCPrxASAl4AMwB3AMoAOgJjADQANQAzADUC
	aAA6ADQAMwA6ADQANAA1gJCADYAmgDyAE4CRgA6AEIANgBCAkoATgA6ADYATgA6ADoAQ
	gBRcZXhjbHVkZUxpc3RzWmNhbEZpbHRlcnNbZGVmYXVsdFZpZXdbdGFza0Rpc3BsYXle
	ZXZlbnRDYWxlbmRhcnNdc2hvd0NhbGVuZGFyc18QJEFEQTMwMzUyLTMwNkMtNDVENi1C
	RTVCLTE0ODlCRjVGMTA2M1hXaXNobGlzdBB60wAmAA0ADgJ7Ao4APa8QEgJ8AC4ALQBm
	AGUAKgKCAGcAXQKFACwAYwAxAokCigAwAG0CjYCUgAmACIAfgB6ABYCVgCCAGICWgAeA
	HYAMgJeAmIALgCOAma8QEgAzAHcANAKSApMANQA1ADMClwA6ApkCmgA6ADQANAA6ADQA
	NYANgCaADoCagJuAEIAQgA2AnIATgJ2AnoATgA6ADoATgA6AEIAUW2RlZmF1bHRWaWV3
	XXNob3dDYWxlbmRhcnNbdGFza0Rpc3BsYXleZXZlbnRDYWxlbmRhcnNaY2FsRmlsdGVy
	c1xleGNsdWRlTGlzdHMQbl8QJDg2NUM1NzY5LTMxNTctNEUxNy04QTBFLUFFN0IzQUZG
	MDQ5RhCnVlF1b3RlcxCg0wAmAA0ADgKuAsEAPa8QEgBjAC0AMABmArMCtAK1ADECtwBt
	AF0ALgK7ArwALAAqAGcAZYAdgAiAC4AfgKCAoYCigAyAo4AjgBiACYCkgKWAB4AFgCCA
	Hq8QEgLCADQAOgLFADQANQA6ADoANAA0AswAdwA1ADMC0AA1ADMC04CmgA6AE4CngA6A
	EIATgBOADoAOgKiAJoAQgA2AqYAQgA2AqoAUXmV2ZW50Q2FsZW5kYXJzXXNob3dDYWxl
	bmRhcnNbdGFza0Rpc3BsYXlaY2FsRmlsdGVyc1xleGNsdWRlTGlzdHNbZGVmYXVsdFZp
	ZXcQWxBiEGpvEBsAWwBUAGUAbQBwAGwAYQB0AGUAXQAgAEsAaQB0AHQAZQBuAHMhkgBB
	AHIAcgBpAHYAaQBuAGdfECRCNEIzQUNBRi02MDNBLTRGMTUtODdEQi00NTExNDYwNUE4
	OETTACYADQAOAuEC9AA9rxASAuIAYwAuAGcAXQAqAugAZgLqADEAbQLtADAALQLwAvEA
	LABlgKyAHYAJgCCAGIAFgK2AH4CugAyAI4CvgAuACICwgLGAB4AerxASADoCwgB3ADMC
	zAA1ADUCxQAzADoANAA0ADoANAA1ADQDBQMGgBOApoAmgA2AqIAQgBCAp4ANgBOADoAO
	gBOADoAQgA6AsoCzgBRbdGFza0Rpc3BsYXlcZXhjbHVkZUxpc3RzW2RlZmF1bHRWaWV3
	WmNhbEZpbHRlcnNdc2hvd0NhbGVuZGFyc15ldmVudENhbGVuZGFyc28QGgBbAFQAZQBt
	AHAAbABhAHQAZQBdACAASwBpAHQAdABlAG4AcyGSAEwAZQBhAHYAaQBuAGdfECQ1OUY0
	RTExMy0zQTc5LTQ5QTMtOTI3RS03REYyMDJEMDI5M0PTACYADQAOAxEDHAA9qgAsACoD
	FAMVAxYDFwAuAC0AMQAwgAeABYC1gLaAt4C4gAmACIAMgAuqAx0ANQA1ADMAOgA0ADkA
	NAA6ADqAuYAQgBCADYATgA6AEoAOgBOAE4AUXGV4Y2x1ZGVMaXN0c1tkZWZhdWx0Vmll
	d1t0YXNrRGlzcGxheVpjYWxGaWx0ZXJzXxAPUmVjZW50IFNlYXJjaGVz0wAmAA0ADgMu
	A0IAPa8QEwBtAGsDMQAsAGMAMQAtADAAZwM4AzkAZQM7AGYDPQBdACoDQAAugCOAIoC7
	gAeAHYAMgAiAC4AggLyAvYAegL6AH4C/gBiABYDAgAmvEBMDQwNEADMDRgB4ADoDSQA6
	A0sDTAA0A04AOgB7ADUAcgA1ADUAcIDBgMKADYDDgCeAE4DEgBOAyIDJgA6Ay4ATgCmA
	EIAlgBCAEIAkgBRbZGVmYXVsdFZpZXdaY2FsRmlsdGVyc15ldmVudENhbGVuZGFyc1t0
	YXNrRGlzcGxheV1zaG93Q2FsZW5kYXJzXGV4Y2x1ZGVMaXN0c9IADQAOA14AJKEAeoAo
	gA/SAA0ADgNiACSlAJwAnQCeAJ8AoIAsgC2ALoAvgDCAD1VzdGFmZtIADQAOA2sAJKED
	bIDFgA/TACYADQAOA28DcgA9ogAuA3GACYDGogNzA0aAx4DDgBRUdGV4dBAGEHbSAA0A
	DgN6ACShA3uAyoAP0wAmAA0ADgN+A4EAPaIALgNxgAmAxqIDcwNGgMeAw4AUXxAkODFD
	MTQ0QzEtQkNDNS00OEY2LThENjgtNjEyNUM3QzczMTk20wAmAA0ADgOHA5sAPa8QEwOI
	ADEALQOLAGUDjQAqA48AYwAwAG0DkwAsA5UAXQBrAC4AZwBmgM2ADIAIgM6AHoDPgAWA
	0IAdgAuAI4DRgAeA0oAYgCKACYAggB+vEBMAOgA6A54ANAOgADUANQA1AHgAOgOmADMD
	qAOpAHIDqwBwA0sAe4ATgBOA04AOgNaAEIAQgBCAJ4ATgNeADYDVgNiAJYDagCSAyIAp
	gBRbdGFza0Rpc3BsYXleZXZlbnRDYWxlbmRhcnNcZXhjbHVkZUxpc3RzXXNob3dDYWxl
	bmRhcnNbZGVmYXVsdFZpZXdaY2FsRmlsdGVyc9IADQAOA7cAJKEDuIDUgA/TACYADQAO
	A7sDvgA9ogAuA3GACYDGogNzA6iAx4DVgBRVZ3VpZGVfECRERTZCMDk2OS03RjU2LTQw
	NjgtOEE5QS00MjI1Qjc0OUFFRjTSAA0ADgPFACShAHqAKIAP0gANAA4DyQAkoQPKgNmA
	D9MAJgANAA4DzQPQAD2iA3EALoDGgAmiA6gDc4DVgMeAFNIADQAOA9UAJKUAnACdAJ4A
	nwCggCyALYAugC+AMIAP0wAmAA0ADgPdA/EAPa8QEwAsADAALgBdAC0AMQPkA+UAZwBt
	A+gD6QBlACoD7ABjAGsD7wBmgAeAC4AJgBiACIAMgNyA3YAggCOA3oDfgB6ABYDggB2A
	IoDhgB+vEBMD8gA6AHAAcgP2ADoANAA1A0sD+wA1ADoD/gA1BAAAeAQCADMAe4DigBOA
	JIAlgOOAE4AOgBCAyIDlgBCAE4DmgBCA54AngOmADYApgBReZXZlbnRDYWxlbmRhcnNd
	c2hvd0NhbGVuZGFyc1xleGNsdWRlTGlzdHNbdGFza0Rpc3BsYXlaY2FsRmlsdGVyc1tk
	ZWZhdWx0Vmlld1V2YWN1ddIADQAOBA4AJKEED4DkgA/TACYADQAOBBIEFQA9ogNxAC6A
	xoAJogPyA3OA4oDHgBTSAA0ADgQaACShAHqAKIAPXxAkRkRDOENCQzctMEYwRi00MTE2
	LTlCMjAtQ0MxNjk5ODRDQzk10gANAA4EHwAkoQQggOiAD9MAJgANAA4EIwQmAD2iA3EA
	LoDGgAmiA/IDc4DigMeAFNIADQAOBCsAJKUAnACdAJ4AnwCggCyALYAugC+AMIAPAAgA
	GQAiACwAMQA6AD8AUQBWAFsAXQI0AjoCQwJOAlUCgAKCAoQChgKIAooCjAKOApACkgKU
	ApYCmAKaApwCngKgAqICpAKmAqgCqgK3Ar8C1ALWAtgC2gLcAt4C4ALiAuQC5gLoAv0C
	/wMBAwMDBQMHAwkDCwMNAw8DEQMTAx8DKgMvAzwDQgNKA08DWwNgA3MDdQN+A38DgQOK
	A5UDngOmA6sDtAO1A74DwAPBA8oD1wPcA+kEFAQWBBgEGgQcBB4EIAQiBCQEJgQoBCoE
	LAQuBDAEMgQ0BDYEOAQ6BDwEZwRpBGsEbQRvBHEEcwR1BHcEeQR7BH0EfwSBBIMEhQSH
	BIkEiwSNBI8EkQSbBKgEsgTABMwE1wTmBPAE+wUFBQoFFgUcBTAFMgU0BTYFOAVfBWEF
	ZwVwBXsFfQV/BYEFgwWFBYcFjQWWBaAFpQWyBb8F5gXoBeoF7AXuBfAF8gX0BfYF+AX6
	BfwF/gYABgIGBAYGBggGCgYxBjMGNQY3BjkGOwY9Bj8GQQZDBkUGRwZJBksGTQZPBlEG
	UwZVBlcGYwZyBn8GiwaZBqQGrgbVBtcG2QbbBugG+wb9Bv8HAQcDBwUHBwcJBwsHDQcg
	ByIHJAcmBygHKgcsBy4HMAcyBzQHQAdNB1kHZAdmB3MHiAeKB4wHjgeQB5IHlAeWB5gH
	mgecB7EHswe1B7cHuQe7B70HvwfBB8MHxQfHB9MH3gfqB/cH/QgKCDEIMwg1CDcIOQg7
	CD0IPwhBCEMIRQhHCEkISwhNCE8IUQhTCFUIfAh+CIAIggiECIYIiAiKCIwIjgiQCJII
	lAiWCJgImgicCJ4IoAiiCK8IuwjHCNII4AjvCPkI+wj9CP8JJgkzCUYJSAlKCUwJTglQ
	CVIJVAlWCVgJawltCW8JcQlzCXUJdwl5CXsJfQl/CYsJmAmjCa8JvAnjCeUJ5wnpCesJ
	7QnvCfEJ8wn1CfcJ+Qn7Cf0J/woBCgMKBQoHCi4KMAoyCjQKNgo4CjoKPAo+CkAKQgpE
	CkYKSApKCkwKTgpQClIKVApfCmwKewqJCpUKoQq+CsAK5wrpCusK+AsfCyELIwslCycL
	KQsrCy0LLwsxCzMLNQs3CzkLOws9Cz8LQQtDC2oLbAtuC3ALcgt0C3YLeAt6C3wLfguA
	C4ILhAuGC4gLiguMC44LkAucC6kLuAvEC88L3QwEDCUMMgxZDFsMXQxfDGEMYwxlDGcM
	aQxrDG0MbwxxDHMMdQx3DHkMewx9DKQMpgyoDKoMrAyuDLAMsgy0DLYMuAy6DLwMvgzA
	DMIMxAzGDMgMygzYDOcM9Az/DQsNFw06DWENbg2BDYMNhQ2HDYkNiw2NDY8NkQ2TDaYN
	qA2qDawNrg2wDbINtA22DbgNug3FDdEN3g3qDfcOIg4kDiYOKA4qDiwOLg4wDjIONA42
	DjgOOg48Dj4OQA5CDkQORg5IDkoOdQ53DnkOew59Dn8OgQ6DDoUOhw6JDosOjQ6PDpEO
	kw6VDpcOmQ6bDp0Onw6uDroOxg7UDuEO7A71Dv4PAA8CDwQPBg8IDxUPJA8mD00PWg+B
	D4MPhQ+HD4kPiw+ND48PkQ+TD5UPlw+ZD5sPnQ+fD6EPow+lD8wPzg/QD9IP1A/WD9gP
	2g/cD94P4A/iD+QP5g/oD+oP7A/uD/AP8g//EAoQFhAiEDEQPxBmEG8QcRB+EKUQpxCp
	EKsQrRCvELEQsxC1ELcQuRC7EL0QvxDBEMMQxRDHEMkQ8BDyEPQQ9hD4EPoQ/BD+EQAR
	AhEEEQYRCBEKEQwRDhEQERIRFBEWESIRMBE8EUsRVhFjEWURjBGOEZURlxGkEcsRzRHP
	EdER0xHVEdcR2RHbEd0R3xHhEeMR5RHnEekR6xHtEe8SFhIYEhoSHBIeEiASIhIkEiYS
	KBIqEiwSLhIwEjISNBI2EjgSOhI8EksSWRJlEnASfRKJEosSjRKPEsgS7xL8EyMTJRMn
	EykTKxMtEy8TMRMzEzUTNxM5EzsTPRM/E0ETQxNFE0cTbhNwE3ITdBN2E3gTehN8E34T
	gBOCE4QThhOIE4oTjBOOE5ATkhOUE6ATrRO5E8QT0hPhFBgUPxRMFGEUYxRlFGcUaRRr
	FG0UbxRxFHMUdRSKFIwUjhSQFJIUlBSWFJgUmhScFJ4UoBStFLkUxRTQFOIU7xUYFRoV
	HBUeFSAVIhUkFSYVKBUqFSwVLhUwFTIVNBU2FTgVOhU8FT4VZxVpFWsVbRVvFXEVcxV1
	FXcVeRV7FX0VfxWBFYMVhRWHFYkVixWNFY8VmxWmFbUVwRXPFdwV5RXoFeoV7BX1FgAW
	AhYEFgYWCBYKFgwWEhYbFh4WIBYiFi8WNBY2FjgWPRY/FkEWQxZIFkoWTBZVFlgWWhZc
	FmkWbhZwFnIWdxZ5FnsWfRakFrEW2hbcFt4W4BbiFuQW5hboFuoW7BbuFvAW8hb0FvYW
	+Bb6FvwW/hcAFykXKxctFy8XMRczFzUXNxc5FzsXPRc/F0EXQxdFF0cXSRdLF00XTxdR
	F10XbBd5F4cXkxeeF6cXqhesF64XuxfAF8IXxBfJF8sXzRfPF9UX/BgFGAgYChgMGBUY
	GBgaGBwYKRguGDAYMhg3GDkYOxg9GEYYURhTGFUYVxhZGFsYXRhqGJMYlRiXGJkYmxid
	GJ8YoRijGKUYpxipGKsYrRivGLEYsxi1GLcYuRjiGOQY5hjoGOoY7BjuGPAY8hj0GPYY
	+Bj6GPwY/hkAGQIZBBkGGQgZChkZGScZNBlAGUsZVxldGWYZaRlrGW0Zehl/GYEZgxmI
	GYoZjBmOGZcZmhmcGZ4ZxRnOGdEZ0xnVGeIZ5xnpGesZ8BnyGfQZ9hn/GgoaDBoOGhAa
	EhoUAAAAAAAAAgIAAAAAAAAEMgAAAAAAAAAAAAAAAAAAGhY=
	</data>
	<key>recentViewsArray</key>
	<array/>
	<key>searchRangeGlobal</key>
	<true/>
	<key>showCompleted</key>
	<false/>
	<key>showUpdate</key>
	<false/>
	<key>syncAppIconBadgeDate</key>
	<date>2026-01-04T19:10:40Z</date>
	<key>syncAppearanceDate</key>
	<date>2026-01-22T02:02:46Z</date>
	<key>syncListsDate</key>
	<date>2026-04-04T14:22:15Z</date>
	<key>syncOthersDate</key>
	<date>2025-12-26T20:41:56Z</date>
	<key>syncQuickActionsDate</key>
	<date>2025-12-26T20:40:40Z</date>
	<key>syncTasksDate</key>
	<date>2026-04-03T22:56:02Z</date>
	<key>v3AutoSyncTime</key>
	<integer>0</integer>
</dict>
</plist>
