<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>browsers</key>
	<array>
		<dict>
			<key>path</key>
			<string>/Applications/Firefox Developer Edition.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Google Chrome.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/Applications/Safari.app</string>
			<key>type</key>
			<string>ChoosyBrowser</string>
		</dict>
	</array>
	<key>displayMenuBarItem</key>
	<false/>
	<key>displayMode</key>
	<integer>0</integer>
	<key>generalMode</key>
	<integer>0</integer>
	<key>launchAtLogin</key>
	<true/>
	<key>runningMode</key>
	<integer>1</integer>
</dict>
</plist>
