<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddAdjustmentToSelectionAction</key>
	<integer>1</integer>
	<key>AddFilterToSelectionAction</key>
	<integer>0</integer>
	<key>AddMaskToSelectionAction</key>
	<integer>0</integer>
	<key>AdvancedBlendingController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGXt7MTAxMCwgNDc4fSwg
	ezU0MCwgNDkxfX3SFRYXGFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNP
	YmplY3QIERokKTI3SUxRU1heZXB3goSGiKSptL3FyAAAAAAAAAEBAAAAAAAAABoAAAAA
	AAAAAAAAAAAAAADR
	</data>
	<key>AlertOnActions</key>
	<integer>1</integer>
	<key>AppGamma</key>
	<real>0.20999999999999999</real>
	<key>AppTextGammaUIKey</key>
	<real>0.80000000000000004</real>
	<key>ArtboardGrayLevelBackground</key>
	<real>0.90000000000000002</real>
	<key>AutoUndoRedoActions</key>
	<integer>1</integer>
	<key>BaselineGrid</key>
	<false/>
	<key>BrushTipSharingAction</key>
	<integer>0</integer>
	<key>ColourPickerFlyoutModel</key>
	<integer>4</integer>
	<key>ColourPickerPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7MzIzLCAyMDJ9LCB7
	NTkwLCA0MDR9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>ColumnGuideFillColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC4xODgyMzUzMTI3ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineColumnColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineRowColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ContextToolbarHiddenState</key>
	<false/>
	<key>CrashDiagnosticId</key>
	<string>wil@wilhall.com</string>
	<key>DefaultBrushCategoryRaster</key>
	<integer>0</integer>
	<key>DevelopAlertOnActions</key>
	<integer>1</integer>
	<key>DevelopApplyToneCurve</key>
	<integer>0</integer>
	<key>DevelopApplyToneCurveToLinear</key>
	<integer>1</integer>
	<key>DevelopAutoNoiseReduction</key>
	<integer>1</integer>
	<key>DevelopCoreImage</key>
	<integer>0</integer>
	<key>DevelopExposureBias</key>
	<integer>2</integer>
	<key>DevelopGlobalEnable</key>
	<integer>1</integer>
	<key>DevelopLensProfileSelectionMode</key>
	<integer>1</integer>
	<key>DevelopMapDefault</key>
	<integer>2</integer>
	<key>DevelopOutputLinear</key>
	<integer>0</integer>
	<key>DocumentDefaultSize</key>
	<integer>98</integer>
	<key>EffectOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>EmbedAffinityLayers</key>
	<false/>
	<key>EraseFromVectorSelectionAction</key>
	<integer>0</integer>
	<key>Export Preset EPS</key>
	<string>EPS (for export)</string>
	<key>Export Preset EXR</key>
	<string>OpenEXR 32-bit linear</string>
	<key>Export Preset GIF</key>
	<string>GIF RGB</string>
	<key>Export Preset HDR</key>
	<string>Radiance HDR 32-bit linear</string>
	<key>Export Preset JPEG</key>
	<string>JPEG (Best quality)</string>
	<key>Export Preset JPEG XL</key>
	<string>JPEG XL (Best Quality)</string>
	<key>Export Preset PDF</key>
	<string>PDF (for print)</string>
	<key>Export Preset PNG</key>
	<string>PNG</string>
	<key>Export Preset PSD</key>
	<string>PSD (preserve accuracy)</string>
	<key>Export Preset SVG</key>
	<string>SVG (for export)</string>
	<key>Export Preset TGA</key>
	<string>TGA</string>
	<key>Export Preset TIFF</key>
	<string>TIFF RGB 8-bit</string>
	<key>Export Preset WEBP</key>
	<string>WEBP (Best Quality)</string>
	<key>ExportSettingsTabIdentifier</key>
	<string>PNG</string>
	<key>FillColumnGuides</key>
	<true/>
	<key>FlyoutID_AdjustmentBrush state</key>
	<string>RasterDodgeBrush</string>
	<key>FlyoutID_ColourBrush state</key>
	<string>RasterPaintBrush</string>
	<key>FlyoutID_ColourPicker state</key>
	<string>ColourPicker</string>
	<key>FlyoutID_Deformation state</key>
	<string>MeshWarp</string>
	<key>FlyoutID_Erase state</key>
	<string>RasterEraseBrush</string>
	<key>FlyoutID_Heal state</key>
	<string>RasterHealingBrush</string>
	<key>FlyoutID_Marquee state</key>
	<string>RectangularMarquee</string>
	<key>FlyoutID_PenNode state</key>
	<string>Pen</string>
	<key>FlyoutID_Shape state</key>
	<string>ShapeRectangle</string>
	<key>FlyoutID_SharpenBlurBrush state</key>
	<string>BlurBrush</string>
	<key>FlyoutID_Text state</key>
	<string>FrameText</string>
	<key>GlobalEnable</key>
	<integer>1</integer>
	<key>GrayLevelBackground</key>
	<real>0.13500000000000001</real>
	<key>GridMainColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4zNDkwMTk2MTY4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GridSubColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>KnifeToolAutoClose</key>
	<false/>
	<key>LinkGridColours</key>
	<true/>
	<key>ModelSelected</key>
	<integer>1</integer>
	<key>ModelSelected-Sliders</key>
	<integer>3</integer>
	<key>MonochromaticIconography</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>941 484 800 448 0 0 5120 1415 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>601 614 400 135 0 0 1512 944 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>470 409 620 398 0 0 1512 944 </string>
	<key>OtherBrushOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnNoSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaletteDefaultCategory</key>
	<string>Colors</string>
	<key>PaletteDefaultType</key>
	<integer>0</integer>
	<key>PaletteListMode</key>
	<false/>
	<key>PenToolUsesFill</key>
	<false/>
	<key>PencilToolAutoClose</key>
	<false/>
	<key>PencilToolUsesFill</key>
	<false/>
	<key>PreviewAfterPDFExport</key>
	<false/>
	<key>RasterDRAMLimit</key>
	<integer>65536</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://go.seriflabs.com/affinity-update-mac-retail-photo2</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-09-18T16:22:42Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>SelectNewShapes</key>
	<true/>
	<key>ShowFrameTextRuler</key>
	<false/>
	<key>ShowRulers</key>
	<true/>
	<key>SnappingCandidateBounds</key>
	<true/>
	<key>SnappingCandidateBoundsCentre</key>
	<true/>
	<key>SnappingCandidateGeometry</key>
	<false/>
	<key>SnappingCandidateKeyPoints</key>
	<false/>
	<key>SnappingCandidateSource</key>
	<integer>0</integer>
	<key>SnappingEnabled</key>
	<true/>
	<key>SnappingForcePixelSnapping</key>
	<true/>
	<key>SnappingGapsAndSpans</key>
	<false/>
	<key>SnappingGrid</key>
	<false/>
	<key>SnappingGuides</key>
	<true/>
	<key>SnappingIndividualBounds</key>
	<false/>
	<key>SnappingMargin</key>
	<true/>
	<key>SnappingMarginCentre</key>
	<true/>
	<key>SnappingNodeToolSnapAllSelectedNodes</key>
	<false/>
	<key>SnappingNodeToolSnapConstruction</key>
	<false/>
	<key>SnappingNodeToolSnapHandlePositions</key>
	<false/>
	<key>SnappingNodeToolSnapToGeometry</key>
	<true/>
	<key>SnappingNodeToolSnapToNodes</key>
	<false/>
	<key>SnappingOnlySnapToVisible</key>
	<true/>
	<key>SnappingOptionPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7NTg4LCAxODl9LCB7
	MzE0LCA2NDN9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>SnappingPageCentre</key>
	<true/>
	<key>SnappingPageEdge</key>
	<true/>
	<key>SnappingPixelSelectionBounds</key>
	<false/>
	<key>SnappingQuantizePixelMovement</key>
	<true/>
	<key>SnappingScreenMinSize</key>
	<real>8</real>
	<key>SnappingScreenTolerance</key>
	<real>8</real>
	<key>SnappingShowSnappingCandidates</key>
	<false/>
	<key>Tab-ToolUI-Hidden</key>
	<false/>
	<key>Tab-ToolUIPanel-NumberOfColumns</key>
	<integer>1</integer>
	<key>Tab-ToolsPanel-showingPalette</key>
	<false/>
	<key>Tab-ToolsUI-DockedState</key>
	<true/>
	<key>com.seriflabs.Colours.CMYKSlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.GreySlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.RGBHexSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Colours.RGBSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Histogram.Advance</key>
	<true/>
	<key>com.seriflabs.MainWindowFrame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QF3t7NjEsIDB9LCB7MjU2
	MCwgMTQxNX190hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU1ZhbHVlohcZWE5TT2Jq
	ZWN0CBEaJCkyN0lMUVNYXmVwd4KEhoiip7K7w8YAAAAAAAABAQAAAAAAAAAaAAAAAAAA
	AAAAAAAAAAAAzw==
	</data>
	<key>com.seriflabs.SelectedNewDocumentCategory</key>
	<integer>1</integer>
	<key>com.seriflabs.StatusBar.HiddenState</key>
	<false/>
	<key>com.seriflabs.Studio.CharacterPage.ExpandedState</key>
	<dict>
		<key>language</key>
		<false/>
		<key>optical</key>
		<false/>
		<key>positioning</key>
		<true/>
		<key>typography</key>
		<true/>
		<key>underline_strikethrough</key>
		<true/>
	</dict>
	<key>com.seriflabs.Studio.Data2.HideState</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Photo.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2Photo</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCSAAsADAAT
	ABgAHgAiACgAPABDAEQARQBGAEcATQA7ADgAVgBdAGMAZABnAGoAawBuAG8AcgBzAHQA
	eACDAJAAkQCSAJMAlACVAJYAlwCYAJkAmgCnALQAtwC4ALsAvAC/AMAAwwDEAMcAyADL
	AMwAzwDQANMA1ADXANgA2wDcAN0A6ADyAPMA9AD1APYA9wD4APkBAwENARABEQEUARUB
	GAEZARwBHQEgASEBJAElASgBKQEqAS0BMQE0ATgBQwFKAUsBTAFNAU4BVQFcAV8BYAFj
	AWQBZwFoAWsBbAFtAXEBdgF8AX0BiAGQAZEBkgGTAZQBlQGdAaUBqAGpAawBrQGwAbEB
	tAG1AbgBuQG6Ab4BwwHEAc8B0wHUAdgB3AHfAeAB4VUkbnVsbNMADQAOAA8AEAARABJf
	EB9jb20uc2VyaWZsYWJzLlN0dWRpby5XaW5kb3dEYXRhViRjbGFzc18QIWNvbS5zZXJp
	ZmxhYnMuU3R1ZGlvLkZsb2F0aW5nRGF0YYACgJGAb9IAFAAOABUAF1pOUy5vYmplY3Rz
	oQAWgAOAWdMAGQAaAA4AGwAcAB1ZRWFzdFNoZWxmWVdlc3RTaGVsZoAEgFuAbtIAHwAO
	ACAAIVhCb29rRGF0YYAFgFrSABQADgAjABejACQAJQAmgAaAHIA/gFnaAA4AKQAqACsA
	LAAtAC4ALwAwADEAMgAzADQANQA2ADcAOAA4ADgAO1dQYWdlSURzWlZpc2liaWxpdHla
	c2F2ZWRTaXplc1tGcm9udFBhZ2VJRFVGcmFtZVxBdXRvQ29sbGFwc2VYQ29sbGFwc2Vf
	EBREaXNhYmxlZEF1dG9Db2xsYXBzZV5TaG93UGFnZVRpdGxlc4AbgAeADYAQgAqAGggI
	CAnSABQADgA9AEKkAD4APwA2AEGACIAJgAqAC4AMXUhpc3RvZ3JhbVBhZ2VcV2F2ZWZv
	cm1QYWdlWkNvbG91clBhZ2VcU3dhdGNoZXNQYWdl0gBIAEkASgBLWiRjbGFzc25hbWVY
	JGNsYXNzZXNXTlNBcnJheaIASgBMWE5TT2JqZWN00gAUAA4ATgBCpABPAFAATwBQgA6A
	D4AOgA+ADAkI0gAUAA4AVwBCpABYAFkAWgBbgBGAFIAWgBiADNMAXgAOAF8AYABhAGJa
	TlMuc2l6ZXZhbFpOUy5zcGVjaWFsgBKAExACWnsyNjQsIDE2MH3SAEgASQBlAGZXTlNW
	YWx1ZaIAZQBM0wBeAA4AXwBoAGEAYoAVgBNaezI2NCwgMjc4fdMAXgAOAF8AbABhAGKA
	F4ATWnsyNjQsIDIxMH3TAF4ADgBfAHAAYQBigBmAE1p7MjY0LCAyMjV9XxAUe3swLCAw
	fSwgezI2NCwgMjM4fX3SAEgASQB1AHZeU3R1ZGlvQm9va0RhdGGiAHcATF5TdHVkaW9C
	b29rRGF0YdoADgApACoAKwAsAC0ALgAvADAAMQAyAHoAewB8AH0AfgA4ADgAOAA7gBuA
	HYAogCmAIIA+CAgICdIAFAAOAIQAQqoAhQCGAH0AiACJAIoAiwCMAI0AjoAegB+AIIAh
	gCKAI4AkgCWAJoAngAxeQWRqdXN0bWVudFBhZ2VXWE1QUGFnZVlMYXllclBhZ2VeTGF5
	ZXJTdGF0ZVBhZ2VcQ2hhbm5lbHNQYWdlWUJydXNoUGFnZVlTdG9ja1BhZ2VbRWZmZWN0
	c1BhZ2VaU3R5bGVzUGFnZVlEZWJ1Z1BhZ2XSABQADgCbAEKqAFAAUABPAFAATwBPAE8A
	UABQAFCAD4APgA6AD4AOgA6ADoAPgA+AD4AM0gAUAA4AqABCqgCpAKoAqwCsAK0ArgCv
	ALAAsQCygCqALIAugDCAMoA0gDaAOIA6gDyADNMAXgAOAF8AtQBhAGKAK4ATWnsyNjQs
	IDE1MH3TAF4ADgBfALkAYQBigC2AE1p7MjY0LCAzNjB90wBeAA4AXwC9AGEAYoAvgBNa
	ezI2NCwgODkxfdMAXgAOAF8AwQBhAGKAMYATWnsyNjQsIDE5Mn3TAF4ADgBfAMUAYQBi
	gDOAE1p7MjY0LCAxNTB90wBeAA4AXwDJAGEAYoA1gBNaezI2NCwgMjI1fdMAXgAOAF8A
	zQBhAGKAN4ATWnsyNjQsIDE1MH3TAF4ADgBfANEAYQBigDmAE1p7MjY0LCAxNTB90wBe
	AA4AXwDVAGEAYoA7gBNaezI2NCwgMTUwfdMAXgAOAF8A2QBhAGKAPYATWnsyNjQsIDUz
	Nn1fEBZ7ezAsIDI0MH0sIHsyNjQsIDkxOX192gAOACkAKgArACwALQAuAC8AMAAxADIA
	3wDgAOEA4gDjADgAOAA4ADuAG4BAgEiASYBCgFgICAgJ0gAUAA4A6QBCpwDqAOIA7ADt
	AO4A7wDwgEGAQoBDgESARYBGgEeADF1OYXZpZ2F0b3JQYWdlXVRyYW5zZm9ybVBhZ2Vb
	SGlzdG9yeVBhZ2VdU25hcHNob3RzUGFnZV8QD0luZm9ybWF0aW9uUGFnZV5IRFJQcmV2
	aWV3UGFnZVdHUFVQYWdl0gAUAA4A+gBCpwBPAE8ATwBQAFAAUABQgA6ADoAOgA+AD4AP
	gA+ADNIAFAAOAQQAQqcBBQEGAQcBCAEJAQoBC4BKgEyAToBQgFKAVIBWgAzTAF4ADgBf
	AQ4AYQBigEuAE1p7MjY0LCAxOTJ90wBeAA4AXwESAGEAYoBNgBNaezI2NCwgMTIwfdMA
	XgAOAF8BFgBhAGKAT4ATWnsyNjQsIDE1MH3TAF4ADgBfARoAYQBigFGAE1p7MjY0LCAx
	NTB90wBeAA4AXwEeAGEAYoBTgBNaezI2NCwgMTkyfdMAXgAOAF8BIgBhAGKAVYATWnsy
	NjQsIDI4MH3TAF4ADgBfASYAYQBigFeAE1p7MjY0LCAxOTJ9XxAXe3swLCAxMTYxfSwg
	ezI2NCwgMTQ4fX3SAEgASQErASxeTlNNdXRhYmxlQXJyYXmjASsASgBM0gBIAEkBLgEv
	XxAPU3R1ZGlvU2hlbGZEYXRhogEwAExfEA9TdHVkaW9TaGVsZkRhdGHSAB8ADgEyACGA
	XIBa0gAUAA4BNQAXoQE2gF2AWdoADgApACoAKwAsAC0ALgAvADAAMQAyAToBOwE8AT0B
	PgA4ADgAOAA7gBuAXoBjgGSAAIBtCAgICdIAFAAOAUQAQqQBRQFGAUcBSIBfgGCAYYBi
	gAxZTWFjcm9QYWdlWk1hY3Jvc1BhZ2VZQmF0Y2hQYWdlWkFzc2V0c1BhZ2XSABQADgFP
	AEKkAFAAUABQAFCAD4APgA+AD4AM0gAUAA4BVgBCpAFXAVgBWQFagGWAZ4BpgGuADNMA
	XgAOAF8BXQBhAGKAZoATWnsyNjQsIDY3Mn3TAF4ADgBfAWEAYQBigGiAE1p7MjY0LCAx
	NTB90wBeAA4AXwFlAGEAYoBqgBNaezI2NCwgMjI1fdMAXgAOAF8BaQBhAGKAbIATWnsy
	MDAsIDE1MH1fEBR7ezAsIDB9LCB7MjAwLCA3MDB9fdIASABJAW4Bb18QEFN0dWRpb1dp
	bmRvd0RhdGGiAXAATF8QEFN0dWRpb1dpbmRvd0RhdGHSABQADgFyABeiAXMBdIBwgIeA
	WdQAHwAtAXcADgF4AXkAOAF7WUhpZGVTdGF0ZYBygHEIgIZfEBd7ezk0NywgNzg1fSwg
	ezI2NCwgMjh9fdoADgApACoAKwAsAC0ALgAvADAAMQAyAX8BgAGBAT0BgwA4ADgAOAA7
	gBuAc4B5gHqAAICFCAgICdIAFAAOAYkAQqUBigGLAYwBjQGOgHSAdYB2gHeAeIAMXUNo
	YXJhY3RlclBhZ2VdUGFyYWdyYXBoUGFnZV5UZXh0U3R5bGVzUGFnZV8QFUNsb25lQnJ1
	c2hTb3VyY2VzUGFnZVlMaW5rc1BhZ2XSABQADgGWAEKlAFAAUABQAFAAUIAPgA+AD4AP
	gA+ADNIAFAAOAZ4AQqUBnwGgAaEBogGjgHuAfYB/gIGAg4AM0wBeAA4AXwGmAGEAYoB8
	gBNaezI2NCwgMjAwfdMAXgAOAF8BqgBhAGKAfoATWnsyNjQsIDIwMH3TAF4ADgBfAa4A
	YQBigICAE1p7MjY0LCAxMDB90wBeAA4AXwGyAGEAYoCCgBNaezI2NCwgMTUwfdMAXgAO
	AF8BtgBhAGKAhIATWnsyNjQsIDI1Nn1fEBN7ezAsIDB9LCB7MjY0LCAyOH190gBIAEkB
	uwG8XxAPU3R1ZGlvUGFuZWxEYXRhogG9AExfEA9TdHVkaW9QYW5lbERhdGHUAB8ALQF3
	AA4BvwHAADgBe4CJgIgIgIZfEBd7ezk0NywgNzU3fSwgezI2NCwgMjh9fdoADgApACoA
	KwAsAC0ALgAvADAAMQAyAcYBxwHIAT0BygA4ADgAOAA7gBuAioCMgI2AAICQCAgICdIA
	FAAOAdAAQqEB0YCLgAxfEBBHbHlwaEJyb3dzZXJQYWdl0gAUAA4B1QBCoQBQgA+ADNIA
	FAAOAdkAQqEB2oCOgAzTAF4ADgBfAd0AYQBigI+AE1p7MjY0LCAzMDB9XxATe3swLCAw
	fSwgezI2NCwgMjh9fdIASABJAeIB41pTdHVkaW9EYXRhogHkAExaU3R1ZGlvRGF0YQAI
	ABkAIgAsADEAOgA/AFEAVgBbAF0BhAGKAZcBuQHAAeQB5gHoAeoB8wH+AgECAwIFAhIC
	HAImAigCKgIsAjUCPgJAAkICSwJSAlQCVgJYAloCgwKLApYCoQKtArMCwALJAuAC7wLx
	AvMC9QL3AvkC+wL8Av0C/gL/AwgDEQMTAxUDFwMZAxsDKQM2A0EDTgNXA2IDawNzA3gD
	gQOKA5MDlQOXA5kDmwOdA54DnwOoA7EDswO1A7cDuQO7A8gD0wPeA+AD4gPkA+8D+AQA
	BAUEEgQUBBYEIQQuBDAEMgQ9BEoETAROBFkEcAR5BIgEjQScBMUExwTJBMsEzQTPBNEE
	0gTTBNQE1QTeBPME9QT3BPkE+wT9BP8FAQUDBQUFBwUJBRgFIAUqBTkFRgVQBVoFZgVx
	BXsFhAWZBZsFnQWfBaEFowWlBacFqQWrBa0FrwW4Bc0FzwXRBdMF1QXXBdkF2wXdBd8F
	4QXjBfAF8gX0Bf8GDAYOBhAGGwYoBioGLAY3BkQGRgZIBlMGYAZiBmQGbwZ8Bn4GgAaL
	BpgGmgacBqcGtAa2BrgGwwbQBtIG1AbfBuwG7gbwBvsHFAc9Bz8HQQdDB0UHRwdJB0oH
	SwdMB00HVgdlB2cHaQdrB20HbwdxB3MHdQeDB5EHnQerB70HzAfUB90H7AfuB/AH8gf0
	B/YH+Af6B/wIBQgUCBYIGAgaCBwIHgggCCIIJAgxCDMINQhACE0ITwhRCFwIaQhrCG0I
	eAiFCIcIiQiUCKEIowilCLAIvQi/CMEIzAjZCNsI3QjoCQIJCwkaCSEJKgk8CUEJUwlc
	CV4JYAlpCWwJbglwCZkJmwmdCZ8JoQmjCaUJpgmnCagJqQmyCbsJvQm/CcEJwwnFCc8J
	2gnkCe8J+AoBCgMKBQoHCgkKCwoUCh0KHwohCiMKJQonCjQKNgo4CkMKUApSClQKXwps
	Cm4KcAp7CogKigqMCpcKrgq3CsoKzwriCusK8AryCvQK9gsHCxELEwsVCxYLGAsyC1sL
	XQtfC2ELYwtlC2cLaAtpC2oLawt0C38LgQuDC4ULhwuJC4sLmQunC7YLzgvYC+EL7Avu
	C/AL8gv0C/YL+AwBDAwMDgwQDBIMFAwWDBgMJQwnDCkMNAxBDEMMRQxQDF0MXwxhDGwM
	eQx7DH0MiAyVDJcMmQykDLoMwwzVDNoM7Az9DP8NAQ0CDQQNHg1HDUkNSw1NDU8NUQ1T
	DVQNVQ1WDVcNYA1jDWUNZw16DYMNhg2IDYoNkw2WDZgNmg2nDakNqw22DcwN1Q3gDeUA
	AAAAAAACAgAAAAAAAAHlAAAAAAAAAAAAAAAAAAAN8A==
	</data>
	<key>com.seriflabs.Studio.ParagraphPage.ExpandedState</key>
	<dict>
		<key>Baseline Grid</key>
		<false/>
		<key>Decorations</key>
		<false/>
		<key>Drop Caps</key>
		<false/>
		<key>Flow Control</key>
		<false/>
		<key>Hyphenation</key>
		<false/>
		<key>Initial Words</key>
		<false/>
		<key>Justification</key>
		<false/>
		<key>Lists</key>
		<false/>
		<key>Spacing</key>
		<true/>
		<key>TabStops</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.SchemaVersion</key>
	<integer>5</integer>
	<key>com.seriflabs.affinity.watchForCrash</key>
	<false/>
	<key>com.seriflabs.export.panel.startupdir</key>
	<string>/Users/wilhall/Downloads</string>
	<key>com.seriflabs.favourites.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
	<key>com.seriflabs.recent.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwVFhcYGVUkbnVsbNINDg8U
	Wk5TLm9iamVjdHNWJGNsYXNzpBAREhOAAoADgASABYAGXE1lcnJpd2VhdGhlcl8QEU1l
	cnJpd2VhdGhlciBTYW5zXk1hdGVyaWFsIEljb25zXxAUQWNhZGVteSBFbmdyYXZlZCBM
	RVTSGhscHVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5oxweH1dOU0Fy
	cmF5WE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBbAGEAZgBxAHgAfQB/AIEA
	gwCFAIcAlACoALcAzgDTAN4A5wD2APoBAgAAAAAAAAIBAAAAAAAAACAAAAAAAAAAAAAA
	AAAAAAEL
	</data>
	<key>com.seriflabs.restoration.urls</key>
	<array/>
</dict>
</plist>
