<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>467e65ff56f72dc467e23ba45</key>
	<integer>1</integer>
	<key>CrashDeviceIdentifier</key>
	<string>6C399F8F-661A-4C66-9EDC-DE6AF95A5458</string>
	<key>ImportantInformationLastCheckedDate</key>
	<date>2023-06-27T21:58:32Z</date>
	<key>ImportantInformationLastForegroundDate</key>
	<date>2023-06-28T14:59:42Z</date>
	<key>LastPreferencePaneIdentifier</key>
	<string>sync</string>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>720C76C2-EABD-4F47-8881-E9F7D1905D0D</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HFJkEpO2idgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC4yLjBe
	TWFjQm9va1BybzE4LDRVQXBwbGVVbWFjT1NWMTMuNC4xVTIyRjgyVWVuX1VTE///////
	//8QWDE1MTJ4OTgyVjMuMTcuN1gzMTcwNzUwMF8QGmNvbS5jdWx0dXJlZGNvZGUuVGhp
	bmdzTWFj0h0eXl9aTVNBQ0RldmljZaNgYSFaTVNBQ0RldmljZV5NU0FDV3JhcHBlclNk
	a9IdHmNkXxAVTVNBQ0RldmljZUhpc3RvcnlJbmZvo2VmIV8QFU1TQUNEZXZpY2VIaXN0
	b3J5SW5mb18QD01TQUNIaXN0b3J5SW5mb9IdHmhpXk5TTXV0YWJsZUFycmF5o2hqIVdO
	U0FycmF5AAgAEQAaACQAKQAyADcASQBMAFEAUwBsAHIAdwCCAIkAiwCNAI8AlgCjAK0A
	rwCxALMAuADAAMkAywDQANsA5ADrAO4A9wEoATIBQQFKAWIBbQGBAY0BlQGcAbYBxQHQ
	Ad8B5wHyAf8CBQIdAjYCQQJIAlACUgJUAlYCWAJaAlwCXgJgAmICZAJmAmgCagJsAm4C
	cAJyAnQCdgJ4AnoCfAJ+ApAClgKlAqsCsQK4Ar4CxALNAtYC3QLmAwMDCAMTAxcDIgMx
	AzYDTgNSA2oDfAOBA5ADlAAAAAAAAAIBAAAAAAAAAGsAAAAAAAAAAAAAAAAAAAOc
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxSZBGht9t4AE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcUmQSuEMsqABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkNkMzOTlGOEYtNjYxQS00QzY2LTlF
	REMtREU2QUY5NUE1NDU40h0eJCVfEBVNU0FDVXNlcklkSGlzdG9yeUluZm+jJichXxAV
	TVNBQ1VzZXJJZEhpc3RvcnlJbmZvXxAPTVNBQ0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRh
	YmxlQXJyYXmjKSshV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIA
	eQB7AH0AfwCGAJMAnQCfAKEAowCoALAAuQC7AMAAywDUANsA3gDnAQ4BEwErAS8BRwFZ
	AV4BbQFxAAAAAAAAAgEAAAAAAAAALAAAAAAAAAAAAAAAAAAAAXk=
	</data>
	<key>OnboardingDidComplete</key>
	<true/>
	<key>OnboardingSampleProjectUUID</key>
	<string>AsdSigS1SP1gqZGqN4gpaw</string>
	<key>RecentlyDisplayedListUUIDs</key>
	<array>
		<string>area-7P5ij2UV8rb8fazXUoCHFS</string>
		<string>today</string>
		<string>area-Q6BCDfhnL9i4QeZkZxjpRZ</string>
		<string>area-8iZozMecFjibSiq6MhFbEC</string>
		<string>area-VAnrePdGvr56UFZSMpMe2r</string>
		<string>area-8CSS75E6uTwjvyJnK7kjYR</string>
		<string>inbox</string>
		<string>area-24z3wEL22WXVaVQpU3npwz</string>
		<string>area-DNNVvaa5VzqBN51famFS8c</string>
	</array>
	<key>RecentlyDisplayedSourceUUIDs</key>
	<array>
		<string>THMAreaParentSource/7P5ij2UV8rb8fazXUoCHFS</string>
		<string>THMAreaParentSource/GvQJ2AtPK1n9efqS5x8Vtm</string>
		<string>THMAreaParentSource/VAnrePdGvr56UFZSMpMe2r</string>
		<string>THMAreaParentSource/8iZozMecFjibSiq6MhFbEC</string>
		<string>THMTodayListSource</string>
		<string>THMInboxListSource</string>
		<string>THMAreaParentSource/XsJMHyvMTk7WmWCpeLTXtL</string>
		<string>THMAreaParentSource/Q6BCDfhnL9i4QeZkZxjpRZ</string>
		<string>THMAreaParentSource/AA8x1BdvBc5FLizms7VzpW</string>
		<string>THMAreaParentSource/PJwYugxycuSPNRYmYMXYBt</string>
	</array>
	<key>SharedDataSegmentContextPropertyList</key>
	<dict>
		<key>ExpandedContextKeyForProjectsOfArea-24z3wEL22WXVaVQpU3npwz</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-2Bp7YkNdHv1ugWdyKpt82e</key>
		<integer>1</integer>
		<key>ExpandedContextKeyForProjectsOfArea-6CZFp3Rjvw9LA2Kon47HN8</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-6NRixigdST5CasHCmP518Y</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-7P5ij2UV8rb8fazXUoCHFS</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-83mSGdVDLhu3QLnmYL5MRc</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-8iZozMecFjibSiq6MhFbEC</key>
		<false/>
		<key>ExpandedContextKeyForProjectsOfArea-BhzjWozgonehgzAs6jmxuL</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-FQNyxUyg6BppdtcezStwLB</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-J5EhVpFEkCqs25UF8BdjrE</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-P7FhhW1znaya3iqJi1vXuP</key>
		<true/>
		<key>GlobalSegmentSettingsKey.7P5ij2UV8rb8fazXUoCHFS.isToggleItemSectionExpanded-Later</key>
		<true/>
		<key>GlobalSegmentSettingsKey.TXLogbookListSourceOlderTasksToggleButtonSegmentExpanded</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>TXMainWindowDefaultState</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBxZYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctcICQoLDA0ODxARDxMUFV8QD2lzU2lkZUJhckhp
	ZGRlblVmcmFtZVxzaWRlQmFyV2lkdGhcaW5GdWxsU2NyZWVuWExpc3RVVUlEXxARc2Vs
	ZWN0ZWRJdGVtVVVJRHNfEBVhdXRvQ2FzY2FkZUlkZW50aWZpZXIIgAEjQGggAAAAAAAI
	gAOABIACphcYGRobIFUkbnVsbF8QFnt7NjcyLCAwfSwgezg0MCwgOTQ0fX1fECFUWE1h
	aW5XaW5kb3dBdXRvQ2FzY2FkZUlkZW50aWZpZXJfEBthcmVhLTdQNWlqMlVWOHJiOGZh
	elhVb0NIRlPSHB0eH1pOUy5vYmplY3RzViRjbGFzc6CABdIhIiMkWiRjbGFzc25hbWVY
	JGNsYXNzZXNVTlNTZXSiIyVYTlNPYmplY3QACAARABoAJAApADIANwBJAFgAagBwAH0A
	igCTAKcAvwDAAMIAywDMAM4A0ADSANkA3wD4ARwBOgE/AUoBUQFSAVQBWQFkAW0BcwF2
	AAAAAAAAAgEAAAAAAAAAJgAAAAAAAAAAAAAAAAAAAX8=
	</data>
	<key>TXTextViewAutomaticDashSubstitutionEnabledKey</key>
	<false/>
	<key>TXTextViewAutomaticDataDetectionEnabledKey</key>
	<true/>
	<key>TXTextViewAutomaticQuoteSubstitutionEnabledKey</key>
	<false/>
	<key>TXTextViewAutomaticSpellingCorrectionEnabledKey</key>
	<true/>
	<key>TXTextViewAutomaticTextReplacementEnabledKey</key>
	<true/>
	<key>TXTextViewGrammarCheckingEnabledKey</key>
	<false/>
	<key>TXWindowAutoCascadeTopLeftPoints</key>
	<dict>
		<key>TXMainWindowAutoCascadeIdentifier</key>
		<string>{43.5, 915}</string>
	</dict>
	<key>ThingsCloudEverUsed</key>
	<true/>
	<key>ThingsMainWindowSideBarWidthAutosaveName</key>
	<real>193</real>
	<key>firstAppLaunchDate</key>
	<date>2021-10-12T18:50:54Z</date>
	<key>whatsNewLastCheckedDate</key>
	<date>2023-06-28T13:42:38Z</date>
	<key>whatsNewLastCheckedParameterChecksum</key>
	<string>ce4192630d57b388e3e61640537cf3cf09e6a5fd23fec263e50b9a93c70605b1f06f0e36d295f65560ee50a4fced6460e46fdb02f9e94a3b7e74b8339eb38aff</string>
</dict>
</plist>
