<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountOrdering</key>
	<array>
		<string>local://C4C3A2DB-E3FC-4244-B7E0-A16D58B35425/</string>
		<string>imap://F86DE43D-2B13-4F66-B458-7DB373B6A47E/</string>
	</array>
	<key>AttachmentMIMESnipUpgradeState</key>
	<integer>4</integer>
	<key>BottomPreview</key>
	<false/>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1753548519</integer>
	<key>CategoriesEnabledByDefault</key>
	<false/>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>b0f6c00c1bc0cc8f587b86d07289c43e1d5161b1cf9a6687daf033a3801a3c16</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwweVSRu
		dWxs2g0ODxAREhMUFRYXFxgZFxoYHBcdXxAaQWNjb3VudEFjY2Vzc0F1dGhv
		cml6YXRpb25cV2FscnVzU3RhdHVzXxATQnlwYXNzUENTRW5jcnlwdGlvbl8Q
		E0hhc1ZhbGlkQ3JlZGVudGlhbHNfEBBBY2NvdW50UGFydGl0aW9uXxAkRGV2
		aWNlVG9EZXZpY2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxASTmVlZHNUb1Zl
		cmlmeVRlcm1zViRjbGFzc11BY2NvdW50U3RhdHVzXxAcQWNjb3VudEluZm9W
		YWxpZGF0aW9uQ291bnRlchABCAkQAwiAAhAT0h8gISJaJGNsYXNzbmFtZVgk
		Y2xhc3Nlc11DS0FjY291bnRJbmZvoiEjWE5TT2JqZWN0AAgAEQAaACQAKQAy
		ADcASQBMAFEAUwBXAF0AcgCPAJwAsgDIANsBAgEXAR4BLAFLAU0BTgFPAVEB
		UgFUAVYBWwFmAW8BfQGAAAAAAAAAAgEAAAAAAAAAJAAAAAAAAAAAAAAAAAAA
		AYk=
		</data>
	</dict>
	<key>ColumnConfiguration</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEB4LDB8gISIjJCUrLDpCQ0RF
	TE1RVVldYWlqcnp7g4dVJG51bGzTDQ4PEBceV05TLmtleXNaTlMub2JqZWN0c1YkY2xh
	c3OmERITFBUWgAKAA4AEgAWABoAHphgZGhscHYAIgBKAE4AUgBWAFoAPXxAXTWFpbGJv
	eENvbHVtblR5cGVEcmFmdHNfEBpNYWlsYm94Q29sdW1uVHlwZVJlYWRMYXRlcl8QGk1h
	aWxib3hDb2x1bW5UeXBlU2VuZExhdGVyXxAZTWFpbGJveENvbHVtblR5cGVPdXRnb2lu
	Z18QFk1haWxib3hDb2x1bW5UeXBlU21hcnRfEBdNYWlsYm94Q29sdW1uVHlwZU5vcm1h
	bNMNDg8mKB6hJ4AJoSmACoAPUjIw1w8tLi8wMTIzNDU2Nic2WHBvc2l0aW9uVndpZHRo
	c1d2aXNpYmxlXxAdaXNBdXRvbWF0aWNJbnNlcnRpb25BdmFpbGFibGVaaWRlbnRpZmll
	cl8QK2lzQXV0b21hdGljSW5zZXJ0aW9uV2hpbGVTZWFyY2hpbmdBdmFpbGFibGWAEYAQ
	gAsICIAJCNMNDg87Ph6iPD2ADIANoj8/gA6ADoAPWG11bHRpcGxlVm5vcm1hbCNAdwAA
	AAAAANJGR0hJWiRjbGFzc25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5
	o0hKS1xOU0RpY3Rpb25hcnlYTlNPYmplY3QQANJGR05PXxAeTWVzc2FnZUxpc3RDb2x1
	bW5Db25maWd1cmF0aW9uolBLXxAeTWVzc2FnZUxpc3RDb2x1bW5Db25maWd1cmF0aW9u
	0w0OD1JTHqCggA/TDQ4PVlceoKCAD9MNDg9aWx6goIAP0w0OD15fHqCggA/TDQ4PYmUe
	oidkgAmAF6JmZ4AYgBuAD1IxNNcPLS4vMDEyMzRtNjYnNoARgBCAGQgIgAkI0w0OD3N2
	HqI8PYAMgA2id3eAGoAagA8jQHYQAAAAAADXDy0uLzAxMjN9fn82ZDaAEYAdgBwJCIAX
	CNMNDg+EhR6goIAPEA0ACAARABoAJAApADIANwBJAEwAUQBTAHQAegCBAIkAlACbAKIA
	pACmAKgAqgCsAK4AtQC3ALkAuwC9AL8AwQDDAN0A+gEXATMBTAFmAW0BbwFxAXMBdQF3
	AXoBiQGSAZkBoQHBAcwB+gH8Af4CAAIBAgICBAIFAgwCDwIRAhMCFgIYAhoCHAIlAiwC
	NQI6AkUCTgJkAmgCdQJ+AoAChQKmAqkCygLRAtIC0wLVAtwC3QLeAuAC5wLoAukC6wLy
	AvMC9AL2Av0DAAMCAwQDBwMJAwsDDQMQAx8DIQMjAyUDJgMnAykDKgMxAzQDNgM4AzsD
	PQM/A0EDSgNZA1sDXQNfA2ADYQNjA2QDawNsA20DbwAAAAAAAAIBAAAAAAAAAIgAAAAA
	AAAAAAAAAAAAAANx
	</data>
	<key>ColumnLayoutMessageList</key>
	<false/>
	<key>ConversationViewSortDescending</key>
	<true/>
	<key>ConversationViewSpansMailboxes</key>
	<true/>
	<key>D02C4B54-E5FD-4412-8DC4-4C1D9A923731</key>
	<dict>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<key>DefaultViewerState</key>
	<dict>
		<key>FavoritesBarVisible</key>
		<false/>
		<key>FormatVersion</key>
		<integer>1</integer>
		<key>SearchPopupTag</key>
		<integer>4</integer>
		<key>SelectedMailboxOutlineItems</key>
		<array>
			<string>favoritemailboxdatum:Inbox?parent=0</string>
		</array>
		<key>ToolbarIsHidden</key>
		<false/>
	</dict>
	<key>DefaultWindowState</key>
	<dict>
		<key>dictionaryRepresentation</key>
		<dict>
			<key>FavoritesBarVisible</key>
			<false/>
			<key>FormatVersion</key>
			<integer>1</integer>
			<key>SearchPopupTag</key>
			<integer>4</integer>
			<key>SelectedMailboxOutlineItems</key>
			<array>
				<string>favoritemailboxdatum:Inbox?parent=0</string>
			</array>
			<key>ToolbarIsHidden</key>
			<false/>
		</dict>
		<key>windowFrame</key>
		<string>45 0 1467 944 0 0 1512 944 </string>
	</dict>
	<key>EnableContactPhotos</key>
	<integer>0</integer>
	<key>EnableToCcInMessageList</key>
	<integer>0</integer>
	<key>FavoriteMailboxInboxAutomaticallyAdded</key>
	<true/>
	<key>FavoriteMailboxSentAutomaticallyAdded</key>
	<true/>
	<key>Favorites</key>
	<array>
		<dict>
			<key>IsPrefferedSelection</key>
			<false/>
			<key>MailboxUidIsContainer</key>
			<true/>
			<key>MailboxUidName</key>
			<string>Inbox</string>
			<key>MailboxUidPersistentIdentifier</key>
			<string>Inbox</string>
			<key>MailboxUidType</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>IsPrefferedSelection</key>
			<false/>
			<key>MailboxUidIsContainer</key>
			<true/>
			<key>MailboxUidName</key>
			<string>Sent</string>
			<key>MailboxUidPersistentIdentifier</key>
			<string>Sent Messages</string>
			<key>MailboxUidType</key>
			<integer>102</integer>
		</dict>
	</array>
	<key>FavoritesManagerDefaultKeyHasLaunchedWithSidebarFavorites</key>
	<true/>
	<key>FavoritesVersion</key>
	<integer>3</integer>
	<key>FlagColorToDisplay</key>
	<integer>1</integer>
	<key>FlagNames</key>
	<dict>
		<key>0</key>
		<string>Red</string>
		<key>1</key>
		<string>Orange</string>
		<key>2</key>
		<string>Yellow</string>
		<key>3</key>
		<string>Green</string>
		<key>4</key>
		<string>Blue</string>
		<key>5</key>
		<string>Purple</string>
		<key>6</key>
		<string>Gray</string>
	</dict>
	<key>HasSetupIndexingDefaults</key>
	<true/>
	<key>IMAPServerPrefixesMirrorFilesystem</key>
	<true/>
	<key>InboxViewerAttributes</key>
	<dict>
		<key>CategoriesEnabled</key>
		<string>NO</string>
		<key>DisplayInThreadedMode</key>
		<string>YES</string>
		<key>FilterEnabled</key>
		<string>NO</string>
		<key>FocusEnabled</key>
		<string>YES</string>
		<key>MailboxViewingState</key>
		<dict>
			<key>ScrollPositionType</key>
			<integer>0</integer>
			<key>ThreadIdentifiers</key>
			<array>
				<integer>15</integer>
			</array>
		</dict>
		<key>ReadLaterEnabled</key>
		<string>NO</string>
		<key>SelectedBucket</key>
		<integer>1</integer>
		<key>SelectedFilters</key>
		<array>
			<dict>
				<key>FilterIdentifier</key>
				<string>Unread</string>
			</dict>
		</array>
		<key>SortOrder</key>
		<string>received-date</string>
		<key>SortedDescending</key>
		<string>YES</string>
	</dict>
	<key>IndexDecryptedMessages</key>
	<true/>
	<key>IndexJunk</key>
	<true/>
	<key>IndexTrash</key>
	<true/>
	<key>LastMessageTracingDate</key>
	<date>2025-07-22T13:34:54Z</date>
	<key>LibraryCompressionUpgradeState</key>
	<integer>1</integer>
	<key>MailDockBadge</key>
	<integer>5</integer>
	<key>MailDockBadgeCurrentCount</key>
	<dict>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<key>MailDockBadgeUpdatedForCategorization</key>
	<true/>
	<key>MailSections</key>
	<array>
		<string>SearchSection</string>
		<string>MailboxesSection</string>
		<string>FavoritesSection</string>
		<string>SmartMailboxesSection</string>
		<string>local://C4C3A2DB-E3FC-4244-B7E0-A16D58B35425/</string>
		<string>imap://F86DE43D-2B13-4F66-B458-7DB373B6A47E/</string>
	</array>
	<key>MailShowFlags</key>
	<false/>
	<key>MailUpgraderPrePersistenceVersion</key>
	<integer>21</integer>
	<key>MailUpgraderVersion</key>
	<integer>30</integer>
	<key>MailUserNotificationUpdatedForCategorization</key>
	<true/>
	<key>MailVisibleSections</key>
	<array>
		<string>FavoritesSection</string>
		<string>SmartMailboxesSection</string>
		<string>imap://F86DE43D-2B13-4F66-B458-7DB373B6A47E/</string>
	</array>
	<key>MessageListNextMessageDirection</key>
	<integer>0</integer>
	<key>MessageListShowSize</key>
	<integer>1</integer>
	<key>NSFixedPitchFont</key>
	<string>Menlo-Regular</string>
	<key>NSFixedPitchFontSize</key>
	<string>11</string>
	<key>NSFont</key>
	<string>Helvetica</string>
	<key>NSFontSize</key>
	<string>12</string>
	<key>NSOutlineView Items Main Window Mailbox List-V2</key>
	<array>
		<string>FavoritesSection</string>
		<string>SearchSection</string>
		<string>imap://F86DE43D-2B13-4F66-B458-7DB373B6A47E/</string>
	</array>
	<key>NSSplitView Subview Frames Main Window</key>
	<array>
		<string>0.000000, 0.000000, 200.000000, 944.000000, NO, NO</string>
		<string>201.000000, 0.000000, 1266.000000, 944.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames Main Window Preview Pane</key>
	<array>
		<string>0.000000, 0.000000, 1266.000000, 743.000000, NO, NO</string>
		<string>0.000000, 744.000000, 1266.000000, 200.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames Main Window Preview Pane Column</key>
	<array>
		<string>0.000000, 0.000000, 1266.000000, 743.000000, NO, NO</string>
		<string>0.000000, 744.000000, 1266.000000, 200.000000, NO, NO</string>
	</array>
	<key>NSSplitView Subview Frames Main Window Preview Pane Vertical</key>
	<array>
		<string>0.000000, 0.000000, 400.000000, 944.000000, NO, NO</string>
		<string>401.000000, 0.000000, 865.000000, 944.000000, NO, NO</string>
	</array>
	<key>NSToolbar Configuration ComposeWindow</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>send:</string>
			<string>header_fields</string>
			<string>EXTENSIONS_TOOLBAR_ITEMS</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>changeReplyMode:</string>
			<string>insertFile:</string>
			<string>insertOriginalAttachments:</string>
			<string>showWritingTools:</string>
			<string>toggleComposeFormatInspectorBar:</string>
			<string>insertEmoji:</string>
			<string>showMediaBrowser:</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>send:</string>
			<string>header_fields</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>changeReplyMode:</string>
			<string>insertFile:</string>
			<string>insertOriginalAttachments:</string>
			<string>showWritingTools:</string>
			<string>toggleComposeFormatInspectorBar:</string>
			<string>insertEmoji:</string>
			<string>showMediaBrowser:</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration ComposeWindow_NewMessage</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
	</dict>
	<key>NSToolbar Configuration ComposeWindow_ReplyOrForward</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
	</dict>
	<key>NSToolbar Configuration MainWindow</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>toggleMessageListFilter:</string>
			<string>messageListViewOptionsFromToolbar:</string>
			<string>SeparatorToolbarItem</string>
			<string>checkNewMail:</string>
			<string>showComposeWindow:</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>archive_delete_junk</string>
			<string>reply_replyAll_forward</string>
			<string>FlaggedStatus</string>
			<string>muteFromToolbar:</string>
			<string>moveMessagesFromToolbar:</string>
			<string>Search</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Item Identifiers</key>
		<array>
			<string>toggleMessageListFilter:</string>
			<string>SeparatorToolbarItem</string>
			<string>messageListViewOptionsFromToolbar:</string>
			<string>checkNewMail:</string>
			<string>showComposeWindow:</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>archive_delete_junk</string>
			<string>reply_replyAll_forward</string>
			<string>FlaggedStatus</string>
			<string>muteFromToolbar:</string>
			<string>moveMessagesFromToolbar:</string>
			<string>Search</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration SingleMessageViewer</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Send</key>
		<string>@↩</string>
	</dict>
	<key>NSWindow Frame Compose Window</key>
	<string>181 105 836 779 0 0 1512 944 </string>
	<key>NSWindow Frame Main Window Preview Pane</key>
	<string>45 0 1467 944 0 0 1512 944 </string>
	<key>NSWindow Frame Main Window Preview Pane Column</key>
	<string>45 0 1467 944 0 0 1512 944 </string>
	<key>NSWindow Frame Main Window Preview Pane Vertical</key>
	<string>45 0 1467 944 0 0 1512 944 </string>
	<key>NSWindow Frame Main Window Preview Pane Vertical Column</key>
	<string>45 0 1467 944 0 0 1512 944 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 407 425 137 0 0 1512 944 </string>
	<key>NSWindow Frame SetupAssistant</key>
	<string>225 385 578 442 0 0 1512 944 </string>
	<key>NSWindow Frame Torn Off Window</key>
	<string>530 0 982 944 0 0 1512 944 </string>
	<key>PollTime</key>
	<integer>-1</integer>
	<key>SelectedPreferencesTabIdentifierKey</key>
	<string>viewpref</string>
	<key>SentMessagesViewerAttributes</key>
	<dict>
		<key>DisplayInThreadedMode</key>
		<string>YES</string>
		<key>FilterEnabled</key>
		<string>NO</string>
		<key>FocusEnabled</key>
		<string>YES</string>
		<key>MailboxViewingState</key>
		<dict/>
		<key>ReadLaterEnabled</key>
		<string>NO</string>
		<key>SelectedFilters</key>
		<array>
			<dict>
				<key>FilterIdentifier</key>
				<string>Unread</string>
			</dict>
		</array>
		<key>SortOrder</key>
		<string>received-date</string>
		<key>SortedDescending</key>
		<string>YES</string>
	</dict>
	<key>ShouldShowUnreadMessagesInBold</key>
	<true/>
	<key>ShowBccHeader</key>
	<false/>
	<key>ShowCcHeader</key>
	<true/>
	<key>ShowPriorityControl</key>
	<integer>0</integer>
	<key>ShowReplyToHeader</key>
	<integer>1</integer>
	<key>SignatureSelectionMethods</key>
	<dict>
		<key>F86DE43D-2B13-4F66-B458-7DB373B6A47E</key>
		<string>SelectedOnly</string>
	</dict>
	<key>SignaturesSelected</key>
	<dict/>
	<key>SpecialMailbox-Inbox-UUID</key>
	<dict>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<key>SpecialMailbox-Read Later Mailbox-UUID</key>
	<dict>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<key>SpecialMailbox-Send Later Mailbox-UUID</key>
	<dict>
		<key>count</key>
		<integer>0</integer>
	</dict>
	<key>SpellCheckingBehavior</key>
	<string>InlineSpellCheckingEnabled</string>
	<key>SuppressDeliveryFailure</key>
	<true/>
	<key>ThreadingDefault</key>
	<true/>
	<key>UserDidCollapseFavoritesSectionKey</key>
	<false/>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>com.apple.email.searchableIndex.scheduler.com.apple.mail.contentIndex</key>
	<real>300</real>
	<key>expiresAfterSeconds</key>
	<integer>2592000</integer>
	<key>kCloudStoreHistoryTokenUserDefaultsKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwRGRobIVUkbnVsbNINDg8Q
	ViRjbGFzc18QIk5TUGVyc2lzdGVudEhpc3RvcnlUb2tlbkRpY3Rpb25hcnmABoAC0xIT
	DRQWGFdOUy5rZXlzWk5TLm9iamVjdHOhFYADoReABIAFXxAkMjlCNDRBODktODQ3RS00
	OEEyLUI4NDItMEY1MEExQjU0MjVDEAPSHB0eH1okY2xhc3NuYW1lWCRjbGFzc2VzXE5T
	RGljdGlvbmFyeaIeIFhOU09iamVjdNIcHSIjXxAZX05TUGVyc2lzdGVudEhpc3RvcnlU
	b2tlbqMkJSBfEBlfTlNQZXJzaXN0ZW50SGlzdG9yeVRva2VuXxAYTlNQZXJzaXN0ZW50
	SGlzdG9yeVRva2VuAAgAEQAaACQAKQAyADcASQBMAFEAUwBbAGEAZgBtAJIAlACWAJ0A
	pQCwALIAtAC2ALgAugDhAOMA6ADzAPwBCQEMARUBGgE2AToBVgAAAAAAAAIBAAAAAAAA
	ACYAAAAAAAAAAAAAAAAAAAFx
	</data>
	<key>kDefaultsKeyLastVerifiedMessageID</key>
	<integer>3331</integer>
	<key>maxSizeKB</key>
	<real>5000000</real>
	<key>minSizeKB</key>
	<real>20000</real>
	<key>whitelistedDownloadDomains</key>
	<array>
		<string>.digitalhub.com</string>
		<string>.icloud.com</string>
		<string>.icloud-content.com</string>
	</array>
</dict>
</plist>
