<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dropDownToTheRight</key>
	<false/>
	<key>hasBeenInitialized</key>
	<true/>
	<key>hideTitleArtistWhenPaused</key>
	<true/>
	<key>keyboardShortcutEnabled</key>
	<true/>
	<key>showAlbumName</key>
	<false/>
	<key>showArtist</key>
	<true/>
	<key>showPlayingIcon</key>
	<false/>
	<key>showSpotMenuIcon</key>
	<true/>
	<key>showTitle</key>
	<true/>
</dict>
</plist>
