<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>NSApplicationCrashOnExceptions</key>
	<false/>
	<key>RecentSearches</key>
	<true/>
	<key>analyticsData</key>
	<dict>
		<key>dayCount</key>
		<integer>0</integer>
		<key>goalsCount</key>
		<integer>0</integer>
		<key>nextPageCount</key>
		<integer>0</integer>
		<key>reportsCount</key>
		<integer>0</integer>
		<key>sessionCount</key>
		<integer>3461</integer>
		<key>standardDate</key>
		<date>2025-07-26T10:32:19Z</date>
		<key>todayPageCount</key>
		<integer>0</integer>
	</dict>
	<key>currentVersion</key>
	<integer>820</integer>
	<key>gtListsData</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCoAAsADAAg
	ADkAOgA7ADwAPQA+AD8AQABBAEIAQwBEAEcATQBOAE8AUABRAFQAgACBAIIAgwCEAIUA
	hgCHAIgAiQCKAIsAjACNAI4AjwCQAJEAkgCTAJQAnACdAJ4AnwCgAKEAogDKAMsAzADN
	AM4AzwDQANEA0gDTANQA1QDrAOwA7QDuAO8A8AEIAQkBCgELAQwBDQE1ATYBNwE4ATkB
	OgE7ATwBPQE+AT8BQAFWAVcBWAFZAVoBggGDAYQBhQGGAYcBiAGJAYoBiwGMAY0BtQG2
	AbcBuAG5AboBuwG8Ab0B5QHmAecB6AHpAeoB6wHsAe0CAwIEAgUCBgIHAjMCNAI1AjYC
	NwI4AjkCOgI7AkICQwJEAmwCbQJuAm8CcAJxAnICcwJ0AnUCnQKeAp8CoAKhAqICowKk
	AqUCpgKnAqgC0ALRAtIC0wLUAtUC1gLXVSRudWxs0gANAA4ADwAfWk5TLm9iamVjdHNW
	JGNsYXNzrxAPABAAEQASABMAFAAVABYAFwAYABkAGgAbABwAHQAegAKAFYAxgD2AQ4BJ
	gFWAWoBmgG+AeIB9gImAk4CfgA/TACEADQAOACIALQA4V05TLmtleXOqACMAJAAlACYA
	JwAoACkAKgArACyAA4AEgAWABoAHgAiACYAKgAuADKoALgAvADAAMAAyAC8ANAAuAC4A
	N4ANgA6AEIAQgBGADoASgA2ADYATgBRUbWVtb1pjYWxGaWx0ZXJzVGlzT3JcZXhjbHVk
	ZUxpc3RzVHR5cGVXZmlsdGVyc1V0aXRsZV8QEHRhc2tEaXNwbGF5Qm9hcmRbdGFza0Rp
	c3BsYXlbZGVmYXVsdFZpZXdQ0gANAA4ARQAfoIAP0gBIAEkASgBLWiRjbGFzc25hbWVY
	JGNsYXNzZXNXTlNBcnJheaIASgBMWE5TT2JqZWN0CBALWFdvcmtmbG93EADSAEgASQBS
	AFNcTlNEaWN0aW9uYXJ5ogBSAEzTACEADQAOAFUAagA4rxAUAFYAVwBYACgAWgBbAFwA
	XQAnAF8AKgAjAGIAYwAlACkAZgBnAGgAaYAWgBeAGIAIgBmAGoAbgByAB4AdgAqAA4Ae
	gB+ABYAJgCCAIYAigCOvEBQALwAuAC8ALwAwAHAALwAwAHMAdAAuAC4ANwB4ADAAegA3
	AHwAfQB+gA6ADYAOgA6AEIAkgA6AEIAlgCaADYANgBOAJ4AQgCiAE4ApgCqAMIAUWmNh
	bEZpbHRlcnNbdGFza0Rpc3BsYXlfEBFyZW1pbmRlckNhbGVuZGFyc11zaG93Q2FsZW5k
	YXJzWWNvbG9ySW50Ml5ldmVudENhbGVuZGFyc1xleGNsdWRlTGlzdHNaaWRlbnRpZmll
	cltkZWZhdWx0Vmlld1ljb2xvckludDNUaWNvblljb2xvckludDFVc29ydHNZc29ydE9y
	ZGVyEJQQAV8QJDJEOUYyNkRDLUJEM0YtNEE1RC1CNEJFLUU5QzE0NUY4RDVBMxDJVUlu
	Ym94EIfSAA0ADgCVAB+lAJYAlwCYAJkAmoArgCyALYAugC+AD1VkYXRlQVhwcmlvcml0
	eVlsaXN0T3JkZXJUc29ydFxjcmVhdGVkVGltZUIQCtMAIQANAA4AowC2ADivEBIAKQAj
	ACcAKgAlAKkAZgCrAFsAKABnAF8AsACxALIAswBYAGOACYADgAeACoAFgDKAIIAzgBqA
	CIAhgB2ANIA1gDaAN4AYgB+vEBIAtwAuAHMALgAwAC4ANwAvAL8ALwDBAMIAMAAwADcA
	LwAvAMiAOIANgCWADYAQgA2AE4AOgDmADoA6gDuAEIAQgBOADoAOgDyAFFt0YXNrRGlz
	cGxheV5ldmVudENhbGVuZGFyc11zaG93Q2FsZW5kYXJzXGV4Y2x1ZGVMaXN0c1tkZWZh
	dWx0Vmlld1pjYWxGaWx0ZXJzWVJlbWluZGVycxCNEP9fECQ1RDk0Rjg0QS0zMDc0LTQ1
	MEYtOTBBQS1EQzA1NkY4RTIzREUQKNMAIQANAA4A1gDgADipACoA2AAoANoAJQAnAN0A
	IwDfgAqAPoAIgD+ABYAHgECAA4BBqQAuAC4ALwAwADAA5gAvAC4AN4ANgA2ADoAQgBCA
	QoAOgA2AE4AUW3Rhc2tEaXNwbGF5XGV4Y2x1ZGVMaXN0c1pjYWxGaWx0ZXJzW2RlZmF1
	bHRWaWV3EAzTACEADQAOAPEA/AA4qgDyACUA9AD1ACgAKgAjACcA+gApgESABYBFgEaA
	CIAKgAOAB4BHgAmqAC4AMAAwADcALwAuAC4AMgAvAQaADYAQgBCAE4AOgA2ADYARgA6A
	SIAUW3Rhc2tEaXNwbGF5XGV4Y2x1ZGVMaXN0c1tkZWZhdWx0Vmlld1pjYWxGaWx0ZXJz
	VUxpc3Rz0wAhAA0ADgEOASEAOK8QEgBfACMBEQBmAGcAYwAqACkAWAEYARkAJwEbACgB
	HQBbAR8AJYAdgAOASoAggCGAH4AKgAmAGIBLgEyAB4BNgAiAToAagE+ABa8QEgEiAC4A
	LwA3ASYBJwAuASkALwAwADcAcwAuAC8ALwExADAAMIBQgA2ADoATgFGAUoANgFOADoAQ
	gBOAJYANgA6ADoBUgBCAEIAUXmV2ZW50Q2FsZW5kYXJzXGV4Y2x1ZGVMaXN0c1tkZWZh
	dWx0Vmlld1t0YXNrRGlzcGxheVpjYWxGaWx0ZXJzXXNob3dDYWxlbmRhcnNfECQ5Nzkw
	MzM0MC03QTMyLTRCNjgtODE3MC1DREM1NjI1MzZFQ0QQgxBUWUdyb2NlcmllcxDX0wAh
	AA0ADgFBAUsAOKkAKgAlAUQBRQFGACgAJwFJACOACoAFgFaAV4BYgAiAB4BZgAOpAC4A
	MAAwADcALgAvAOYALwAugA2AEIAQgBOADYAOgEKADoANgBRcZXhjbHVkZUxpc3RzW2Rl
	ZmF1bHRWaWV3W3Rhc2tEaXNwbGF5WmNhbEZpbHRlcnPTACEADQAOAVsBbgA4rxASAVwA
	KABjACUAZgBbAWIAIwFkAGcAKQFnAWgAWABfACcAKgFtgFuACIAfgAWAIIAagFyAA4Bd
	gCGACYBegF+AGIAdgAeACoBgrxASAC8ALwFxADAANwF0ADcALgAvAXgBeQAwAC4ALwF9
	AHMALgAwgA6ADoBhgBCAE4BigBOADYAOgGOAZIAQgA2ADoBlgCWADYAQgBRaY2FsRmls
	dGVyc1tkZWZhdWx0Vmlld15ldmVudENhbGVuZGFyc1xleGNsdWRlTGlzdHNbdGFza0Rp
	c3BsYXldc2hvd0NhbGVuZGFycxDgEDAQy18QGlRheWxvciBvbmUtb2ZmIHRhc2tzIGlu
	Ym94XxAkNzJFQ0E0MTAtQTcyNy00MTUzLUE3NEMtQkFBOTBDNDlBQUNG0wAhAA0ADgGO
	AaEAOK8QEgGPAF8AKgBbAZMBlAAlAFgAIwGYAZkAYwBmACgAJwBnAZ8AKYBngB2ACoAa
	gGiAaYAFgBiAA4BqgGuAH4AggAiAB4AhgGyACa8QEgAwAaMALgF0AC4AMAAwAC8ALgAv
	AC8BcQA3AC8AcwF4ADcBs4AQgG2ADYBigA2AEIAQgA6ADYAOgA6AYYATgA6AJYBjgBOA
	boAUXXNob3dDYWxlbmRhcnNbdGFza0Rpc3BsYXlcZXhjbHVkZUxpc3RzXmV2ZW50Q2Fs
	ZW5kYXJzWmNhbEZpbHRlcnNbZGVmYXVsdFZpZXdfECQzMTU3MEI4OS0wNDZCLTQ0Qzgt
	QkU5NS1CNDE4MEJDQThDQUNvEA8ASwBpAHQAdABlAG4AcyGSAEwAZQBhAHYAaQBuAGfT
	ACEADQAOAb4B0QA4rxASACoAKABnAcIBwwHEAF8BxgHHACUAYwBYAcsAWwApACMAZgAn
	gAqACIAhgHCAcYBygB2Ac4B0gAWAH4AYgHWAGoAJgAOAIIAHrxASAC4ALwF4AC8AMAAv
	AdgANwAwADABcQAvAC4BdAHgAC4ANwBzgA2ADoBjgA6AEIAOgHaAE4AQgBCAYYAOgA2A
	YoB3gA2AE4AlgBRaY2FsRmlsdGVyc11zaG93Q2FsZW5kYXJzXmV2ZW50Q2FsZW5kYXJz
	W2RlZmF1bHRWaWV3XGV4Y2x1ZGVMaXN0c1t0YXNrRGlzcGxheV8QJDU0MjIxQjgyLTk5
	RDgtNDk3Ri04OEIwLUVFRDY5NjhFNzY4NG8QEABLAGkAdAB0AGUAbgBzIZIAQQByAHIA
	aQB2AGkAbgBn0wAhAA0ADgHuAfgAOKkB7wAlACoAJwHzAfQB9QAoACOAeYAFgAqAB4B6
	gHuAfIAIgAOpADcAMAAuAOYAMAAvAC4ALwAugBOAEIANgEKAEIAOgA2ADoANgBRbZGVm
	YXVsdFZpZXdcZXhjbHVkZUxpc3RzWmNhbEZpbHRlcnNbdGFza0Rpc3BsYXnTACEADQAO
	AggCHQA4rxAUAFgAIwBmAGcCDQAqAF8AaQAoAFsCEwIUAGMAJQBoACcCGQIaAhsAKYAY
	gAOAIIAhgH6ACoAdgCOACIAagH+AgIAfgAWAIoAHgIGAgoCDgAmvEBQALwAuADcAwQAw
	AC4CJAB+AC8CJwAvAC8ANwAwAiwAcwAuADAAfgIxgA6ADYATgDqAEIANgISAMIAOgIWA
	DoAOgBOAEICGgCWADYAQgDCAiIAUXGV4Y2x1ZGVMaXN0c15ldmVudENhbGVuZGFyc1pj
	YWxGaWx0ZXJzW3Rhc2tEaXNwbGF5XXNob3dDYWxlbmRhcnNbZGVmYXVsdFZpZXdfECRC
	N0QxRkQ3OC1DMkQxLTREQTAtQkY2OS0wQkNDRTRGQzUxNUEQk9IADQAOAjwAH6QAlgCX
	Aj8AmYArgCyAh4AugA9cY3JlYXRlZFRpbWVCXkdpbmdlcmJyZWFkaW5n0wAhAA0ADgJF
	AlgAOK8QEgBmAFgCSABnAkoCSwAjACUAYwAnACoAKQJSAlMCVABbAF8AKIAggBiAioAh
	gIuAjIADgAWAH4AHgAqACYCNgI6Aj4AagB2ACK8QEgA3AC8ALgA3AC8ALwAuADAAwQBz
	AC4CZAAwADcAMAJoAmkAL4ATgA6ADYATgA6ADoANgBCAOoAlgA2AkIAQgBOAEICRgJKA
	DoAUW3Rhc2tEaXNwbGF5WmNhbEZpbHRlcnNeZXZlbnRDYWxlbmRhcnNdc2hvd0NhbGVu
	ZGFyc1tkZWZhdWx0Vmlld1xleGNsdWRlTGlzdHNYV2lzaGxpc3QQel8QJEFEQTMwMzUy
	LTMwNkMtNDVENi1CRTVCLTE0ODlCRjVGMTA2M9MAIQANAA4CdgKJADivEBICdwAnAnkC
	egBfACMCfQBYACgCgABnAGYAKgKEACUAKQBbAGOAlIAHgJWAloAdgAOAl4AYgAiAmIAh
	gCCACoCZgAWACYAagB+vEBIALgBzADAALwKOAC4ALwAvAC8AMAKUADcALgA3ADACmQKa
	ApuADYAlgBCADoCagA2ADoAOgA6AEICbgBOADYATgBCAnICdgJ6AFFt0YXNrRGlzcGxh
	eV1zaG93Q2FsZW5kYXJzXmV2ZW50Q2FsZW5kYXJzWmNhbEZpbHRlcnNcZXhjbHVkZUxp
	c3RzW2RlZmF1bHRWaWV3XxAkQjRCM0FDQUYtNjAzQS00RjE1LTg3REItNDUxMTQ2MDVB
	ODhEEFtvEBsAWwBUAGUAbQBwAGwAYQB0AGUAXQAgAEsAaQB0AHQAZQBuAHMhkgBBAHIA
	cgBpAHYAaQBuAGcQYhBq0wAhAA0ADgKpArwAOK8QEgAoAqsAZgApAq4CrwAlArEAJwBf
	ACoAIwBjArcAZwBYAFsCu4AIgKCAIIAJgKGAooAFgKOAB4AdgAqAA4AfgKSAIYAYgBqA
	pa8QEgAvADAANwLAADAALwAwAC4AcwLGAC4ALgKbAC8ClAAvApoAN4AOgBCAE4CmgBCA
	DoAQgA2AJYCngA2ADYCegA6Am4AOgJ2AE4AUXXNob3dDYWxlbmRhcnNcZXhjbHVkZUxp
	c3RzWmNhbEZpbHRlcnNbdGFza0Rpc3BsYXleZXZlbnRDYWxlbmRhcnNbZGVmYXVsdFZp
	ZXdvEBoAWwBUAGUAbQBwAGwAYQB0AGUAXQAgAEsAaQB0AHQAZQBuAHMhkgBMAGUAYQB2
	AGkAbgBnXxAkNTlGNEUxMTMtM0E3OS00OUEzLTkyN0UtN0RGMjAyRDAyOTNDAAgAGQAi
	ACwAMQA6AD8AUQBWAFsAXQGwAbYBvwHKAdEB8gH0AfYB+AH6AfwB/gIAAgICBAIGAggC
	CgIMAg4CEAISAh8CJwI8Aj4CQAJCAkQCRgJIAkoCTAJOAlACZQJnAmkCawJtAm8CcQJz
	AnUCdwJ5AnsCgAKLApACnQKiAqoCsALDAs8C2wLcAuUC5gLoAvEC/AMFAw0DEgMbAxwD
	HgMnAykDMgM/A0QDUQN8A34DgAOCA4QDhgOIA4oDjAOOA5ADkgOUA5YDmAOaA5wDngOg
	A6IDpAPPA9ED0wPVA9cD2QPbA90D3wPhA+MD5QPnA+kD6wPtA+8D8QPzA/UD9wP5BAQE
	EAQkBDIEPARLBFgEYwRvBHkEfgSIBI4EmASaBJwEwwTFBMsEzQTWBOEE4wTlBOcE6QTr
	BO0E8wT8BQYFCwUYBRoFJwVOBVAFUgVUBVYFWAVaBVwFXgVgBWIFZAVmBWgFagVsBW4F
	cAVyBZkFmwWdBZ8FoQWjBaUFpwWpBasFrQWvBbEFswW1BbcFuQW7Bb0FvwXLBdoF6AX1
	BgEGDAYWBhgGGgZBBkMGUAZjBmUGZwZpBmsGbQZvBnEGcwZ1BogGigaMBo4GkAaSBpQG
	lgaYBpoGnAaoBrUGwAbMBs4G2wbwBvIG9Ab2BvgG+gb8Bv4HAAcCBwQHGQcbBx0HHwch
	ByMHJQcnBykHKwctBy8HOwdIB1QHXwdlB3IHmQebB50HnwehB6MHpQenB6kHqwetB68H
	sQezB7UHtwe5B7sHvQfkB+YH6AfqB+wH7gfwB/IH9Af2B/gH+gf8B/4IAAgCCAQIBggI
	CAoIGQgmCDIIPghJCFcIfgiACIIIjAiOCJsIrgiwCLIItAi2CLgIugi8CL4IwAjTCNUI
	1wjZCNsI3QjfCOEI4wjlCOcI9AkACQwJFwkkCUsJTQlPCVEJUwlVCVcJWQlbCV0JXwlh
	CWMJZQlnCWkJawltCW8JlgmYCZoJnAmeCaAJogmkCaYJqAmqCawJrgmwCbIJtAm2CbgJ
	ugm8CccJ0wniCe8J+woJCgsKDQoPCiwKUwpgCocKiQqLCo0KjwqRCpMKlQqXCpkKmwqd
	Cp8KoQqjCqUKpwqpCqsK0grUCtYK2AraCtwK3grgCuIK5ArmCugK6grsCu4K8AryCvQK
	9gr4CwYLEgsfCy4LOQtFC2wLjQuaC8ELwwvFC8cLyQvLC80LzwvRC9ML1QvXC9kL2wvd
	C98L4QvjC+UMDAwODBAMEgwUDBYMGAwaDBwMHgwgDCIMJAwmDCgMKgwsDC4MMAwyDD0M
	SwxaDGYMcwx/DKYMyQzWDOkM6wztDO8M8QzzDPUM9wz5DPsNDg0QDRINFA0WDRgNGg0c
	DR4NIA0iDS4NOw1GDVINXw2KDYwNjg2QDZINlA2WDZgNmg2cDZ4NoA2iDaQNpg2oDaoN
	rA2uDbANsg3dDd8N4Q3jDeUN5w3pDesN7Q3vDfEN8w31DfcN+Q37Df0N/w4BDgMOBQ4H
	DhQOIw4uDjoOSA5UDnsOfQ6GDo8OkQ6TDpUOlw6ZDqYOtQ7CDukO6w7tDu8O8Q7zDvUO
	9w75DvsO/Q7/DwEPAw8FDwcPCQ8LDw0PNA82DzgPOg88Dz4PQA9CD0QPRg9ID0oPTA9O
	D1APUg9UD1YPWA9aD2YPcQ+AD44Pmg+nD7APsg/ZD+YQDRAPEBEQExAVEBcQGRAbEB0Q
	HxAhECMQJRAnECkQKxAtEC8QMRBYEFoQXBBeEGAQYhBkEGYQaBBqEGwQbhBwEHIQdBB2
	EHgQehB8EH4QihCYEKcQshC/EMsQ8hD0ES0RLxExET4RZRFnEWkRaxFtEW8RcRFzEXUR
	dxF5EXsRfRF/EYERgxGFEYcRiRGwEbIRtBG2EbgRuhG8Eb4RwBHCEcQRxhHIEcoRzBHO
	EdAR0hHUEdYR5BHxEfwSCBIXEiMSWgAAAAAAAAICAAAAAAAAAtgAAAAAAAAAAAAAAAAA
	ABKB
	</data>
	<key>gtRestoration</key>
	<dict>
		<key>mac</key>
		<dict>
			<key>row</key>
			<integer>1</integer>
			<key>view</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>recentViewsArray</key>
	<array/>
	<key>showCompleted</key>
	<true/>
	<key>showUpdate</key>
	<false/>
	<key>syncAppIconBadgeDate</key>
	<date>2026-01-04T19:10:40Z</date>
	<key>syncAppearanceDate</key>
	<date>2026-01-22T02:02:46Z</date>
	<key>syncListsDate</key>
	<date>2026-04-04T14:22:15Z</date>
	<key>syncOthersDate</key>
	<date>2025-12-26T20:41:56Z</date>
	<key>syncQuickActionsDate</key>
	<date>2025-12-26T20:40:40Z</date>
	<key>syncTasksDate</key>
	<date>2026-04-03T22:56:02Z</date>
</dict>
</plist>
