<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComputerViewSettings</key>
	<dict>
		<key>CustomViewStyleVersion</key>
		<integer>1</integer>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowPathbar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{577, 188}, {920, 480}}</string>
		</dict>
	</dict>
	<key>CopyProgressWindowLocation</key>
	<string>{763, 155}</string>
	<key>DesktopViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>DownloadsFolderListViewSettingsVersion</key>
	<integer>1</integer>
	<key>EmptyTrashProgressWindowLocation</key>
	<string>{549, 228}</string>
	<key>FK_AppCentricShowSidebar</key>
	<true/>
	<key>FK_DefaultIconViewSettings</key>
	<dict>
		<key>arrangeBy</key>
		<string>name</string>
		<key>backgroundColorBlue</key>
		<real>1</real>
		<key>backgroundColorGreen</key>
		<real>1</real>
		<key>backgroundColorRed</key>
		<real>1</real>
		<key>backgroundType</key>
		<integer>0</integer>
		<key>gridOffsetX</key>
		<real>0.0</real>
		<key>gridOffsetY</key>
		<real>0.0</real>
		<key>gridSpacing</key>
		<real>54</real>
		<key>iconSize</key>
		<real>64</real>
		<key>labelOnBottom</key>
		<true/>
		<key>showIconPreview</key>
		<true/>
		<key>showItemInfo</key>
		<true/>
		<key>textSize</key>
		<real>12</real>
		<key>viewOptionsVersion</key>
		<integer>1</integer>
	</dict>
	<key>FK_DefaultListViewSettings</key>
	<dict>
		<key>calculateAllSizes</key>
		<false/>
		<key>columns</key>
		<array>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>name</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateModified</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>181</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateCreated</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>181</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>size</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>97</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>kind</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>115</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>label</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>100</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>version</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>75</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<true/>
				<key>identifier</key>
				<string>comments</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>300</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateLastOpened</string>
				<key>visible</key>
				<false/>
				<key>width</key>
				<integer>200</integer>
			</dict>
			<dict>
				<key>ascending</key>
				<false/>
				<key>identifier</key>
				<string>dateAdded</string>
				<key>visible</key>
				<true/>
				<key>width</key>
				<integer>181</integer>
			</dict>
		</array>
		<key>iconSize</key>
		<integer>16</integer>
		<key>showIconPreview</key>
		<true/>
		<key>sortColumn</key>
		<string>dateAdded</string>
		<key>textSize</key>
		<integer>13</integer>
		<key>useRelativeDates</key>
		<true/>
		<key>viewOptionsVersion</key>
		<integer>1</integer>
	</dict>
	<key>FK_SidebarWidth</key>
	<real>143</real>
	<key>FK_StandardViewOptions2</key>
	<dict>
		<key>ColumnViewOptions</key>
		<dict>
			<key>ArrangeBy</key>
			<string>dnam</string>
			<key>ColumnShowFolderArrow</key>
			<true/>
			<key>ColumnShowIcons</key>
			<true/>
			<key>ColumnWidth</key>
			<integer>245</integer>
			<key>FontSize</key>
			<integer>13</integer>
			<key>PreviewDisclosureState</key>
			<true/>
			<key>SharedArrangeBy</key>
			<string>kipl</string>
			<key>ShowIconThumbnails</key>
			<true/>
			<key>ShowPreview</key>
			<true/>
		</dict>
	</dict>
	<key>FK_StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>54</real>
			<key>iconSize</key>
			<real>64</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>SettingsType</key>
		<string>FK_StandardViewSettings</string>
	</dict>
	<key>FXArrangeGroupViewBy</key>
	<string>Name</string>
	<key>FXAtLeastOneScreenHasBeenInHIDPI</key>
	<true/>
	<key>FXDefaultSearchScope</key>
	<string>SCcf</string>
	<key>FXDesktopTouchBarUpgradedToTenTwelveOne</key>
	<integer>1</integer>
	<key>FXDesktopVolumePositions</key>
	<dict>
		<key>Affinity Designer_0x1.31227098p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Affinity Photo_0x1.312be918p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>289</integer>
		</dict>
		<key>Dropbox Installer_0x0p+0</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>GPG Suite_0x1.32b987p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Google Chrome_0x1.3381ea9p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Jumpshare_0x1.3d54e8bp+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>289</integer>
		</dict>
		<key>Lightroom Installer_0x1.33491e98p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Macintosh HD_0x1.1de448p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>65</integer>
		</dict>
		<key>Macintosh HD_0x1.3b014178p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>84</integer>
		</dict>
		<key>Macintosh HD_0x1.3cdf677p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>65</integer>
		</dict>
		<key>Mimestream_0.23.2_0x1.348a9c6p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Notion Installer_0x1.309ee65p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Polypane 6.2.0-universal_0x1.34ec2178p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Polypane 8.0.0-universal_0x1.3d40d24p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>289</integer>
		</dict>
		<key>Pop_0x1.32c4fdp+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>401</integer>
		</dict>
		<key>Postgres-2.4.3-12_0x1.3275e07p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>Untitled_-0x1.d27e44p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
		<key>g_0x1.1de448p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>65</integer>
		</dict>
		<key>iMazing 2.13.10_0x1.3464fbc8p+29</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-65</integer>
			<key>yRelative</key>
			<integer>177</integer>
		</dict>
	</dict>
	<key>FXEnableExtensionChangeWarning</key>
	<false/>
	<key>FXICloudDriveDeclinedUpgrade</key>
	<false/>
	<key>FXICloudDriveDesktop</key>
	<true/>
	<key>FXICloudDriveDocuments</key>
	<true/>
	<key>FXICloudDriveEnabled</key>
	<true/>
	<key>FXICloudDriveFirstSyncDownComplete</key>
	<true/>
	<key>FXICloudLoggedIn</key>
	<true/>
	<key>FXPreferencesWindow.Location</key>
	<string>{{630, 246}, {377, 767}}</string>
	<key>FXPreferredGroupBy</key>
	<string>Name</string>
	<key>FXPreferredSearchViewStyleVersion</key>
	<string>%00%00%00%01</string>
	<key>FXPreferredViewStyle</key>
	<string>Nlsv</string>
	<key>FXQuickActionsConfigUpgradeLevel</key>
	<integer>2</integer>
	<key>FXRecentFolders</key>
	<array>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va5wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAjAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACQAAAAEBAABEb3dubG9hZHMAAAAM
			AAAAAQYAABAAAAAgAAAAMAAAAAgAAAAEAwAAhFwAAAAAAAAIAAAA
			BAMAALjDAwAAAAAACAAAAAQDAADrwwMAAAAAAAwAAAABBgAAWAAA
			AGgAAAB4AAAACAAAAAAEAABBw7AbAoAAABgAAAABAgAAAgAAAAAA
			AAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAA
			AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAA
			TWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcOw
			FBeAAAAkAAAAAQEAADI1QUM0MTk3LUNGNjItNDkzQi05Mzk1LThB
			MEI3MzczREVCORgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAA
			AAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAA
			RAAAAAAAAAAFEAAAiAAAAAAAAAAQEAAArAAAAAAAAABAEAAAnAAA
			AAAAAAACIAAAgAEAAAAAAAAFIAAA8AAAAAAAAAAQIAAAAAEAAAAA
			AAARIAAANAEAAAAAAAASIAAAFAEAAAAAAAATIAAAJAEAAAAAAAAg
			IAAAYAEAAAAAAAAwIAAAzAAAAAAAAAABwAAA1AAAAAAAAAARwAAA
			IAAAAAAAAAASwAAA5AAAAAAAAAAB0AAAzAAAAAAAAAAQ0AAABAAA
			AAAAAAA=
			</data>
			<key>name</key>
			<string>Downloads</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va5gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAiAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACAAAAAEBAABQaWN0dXJlcwwAAAAB
			BgAAEAAAACAAAAAwAAAACAAAAAQDAACEXAAAAAAAAAgAAAAEAwAA
			uMMDAAAAAAAIAAAABAMAALvDAwAAAAAADAAAAAEGAABUAAAAZAAA
			AHQAAAAIAAAAAAQAAEHDsBsCgAAAGAAAAAECAAACAAAAAAAAAA8A
			AAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAAEAwAAAQAAAAAAAAAE
			AAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
			bnRvc2ggSEQIAAAABAMAAACQgpbnAAAACAAAAAAEAABBw7AUF4AA
			ACQAAAABAQAAMjVBQzQxOTctQ0Y2Mi00OTNCLTkzOTUtOEEwQjcz
			NzNERUI5GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
			AAAAAQEAAC8AAADYAAAA/v///wEAAAAAAAAAEQAAAAQQAABAAAAA
			AAAAAAUQAACEAAAAAAAAABAQAACoAAAAAAAAAEAQAACYAAAAAAAA
			AAIgAAB8AQAAAAAAAAUgAADsAAAAAAAAABAgAAD8AAAAAAAAABEg
			AAAwAQAAAAAAABIgAAAQAQAAAAAAABMgAAAgAQAAAAAAACAgAABc
			AQAAAAAAADAgAADIAAAAAAAAAAHAAADQAAAAAAAAABHAAAAgAAAA
			AAAAABLAAADgAAAAAAAAAAHQAADIAAAAAAAAABDQAAAEAAAAAAAA
			AA==
			</data>
			<key>name</key>
			<string>Pictures</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va1QDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAARAIAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACQAAAAEBAAB3b3Jrc3BhY2UAAAAI
			AAAAAQEAAHNhZ2V3ZWxsAwAAAAEBAABhcHAACgAAAAEBAABqYXZh
			c2NyaXB0AAAGAAAAAQEAAGltYWdlcwAAIAAAAAEGAAAQAAAAIAAA
			ADAAAABEAAAARAAAAFQAAABgAAAAdAAAAAgAAAAEAwAAhFwAAAAA
			AAAIAAAABAMAALjDAwAAAAAACAAAAAQDAAAxzRYAAAAAAAgAAAAE
			AwAANM0WAAAAAAAIAAAABAMAAD3NFgAAAAAACAAAAAQDAACSzRYA
			AAAAAAgAAAAEAwAA/tAWAAAAAAAIAAAABAMAAI/xFgAAAAAAIAAA
			AAEGAACsAAAAvAAAAMwAAADcAAAA7AAAAPwAAAAMAQAAHAEAAAgA
			AAAABAAAQcPEQn6AAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAA
			AAAAAAAAAAAAAAABBQAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA
			9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBI
			RAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHDsBQXgAAAJAAAAAEB
			AAAyNUFDNDE5Ny1DRjYyLTQ5M0ItOTM5NS04QTBCNzM3M0RFQjkY
			AAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAA
			LwAAANgAAAD+////AQAAAAAAAAARAAAABBAAAIQAAAAAAAAABRAA
			ACwBAAAAAAAAEBAAAGQBAAAAAAAAQBAAAFQBAAAAAAAAAiAAADgC
			AAAAAAAABSAAAKgBAAAAAAAAECAAALgBAAAAAAAAESAAAOwBAAAA
			AAAAEiAAAMwBAAAAAAAAEyAAANwBAAAAAAAAICAAABgCAAAAAAAA
			MCAAAIQBAAAAAAAAAcAAAIwBAAAAAAAAEcAAACAAAAAAAAAAEsAA
			AJwBAAAAAAAAAdAAAIQBAAAAAAAAENAAAAQAAAAAAAAA
			</data>
			<key>name</key>
			<string>images</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va/ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA4AEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACQAAAAEBAAB3b3Jrc3BhY2UAAAAI
			AAAAAQEAAHNhZ2V3ZWxsDAAAAAEBAABzYWdld2VsbC1pb3MUAAAA
			AQYAABAAAAAgAAAAMAAAAEQAAABUAAAACAAAAAQDAACEXAAAAAAA
			AAgAAAAEAwAAuMMDAAAAAAAIAAAABAMAADHNFgAAAAAACAAAAAQD
			AAA0zRYAAAAAAAgAAAAEAwAAPs0WAAAAAAAUAAAAAQYAAIQAAACU
			AAAApAAAALQAAADEAAAACAAAAAAEAABBw9VeyoAAABgAAAABAgAA
			AgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAAAAEFAAAIAAAABAMA
			AAMAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwA
			AAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAA
			BAAAQcOwFBeAAAAkAAAAAQEAADI1QUM0MTk3LUNGNjItNDkzQi05
			Mzk1LThBMEI3MzczREVCORgAAAABAgAAgQAAAAEAAADvEwAAAQAA
			AAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAAAP7///8BAAAAAAAAABEA
			AAAEEAAAaAAAAAAAAAAFEAAA1AAAAAAAAAAQEAAAAAEAAAAAAABA
			EAAA8AAAAAAAAAACIAAA1AEAAAAAAAAFIAAARAEAAAAAAAAQIAAA
			VAEAAAAAAAARIAAAiAEAAAAAAAASIAAAaAEAAAAAAAATIAAAeAEA
			AAAAAAAgIAAAtAEAAAAAAAAwIAAAIAEAAAAAAAABwAAAKAEAAAAA
			AAARwAAAIAAAAAAAAAASwAAAOAEAAAAAAAAB0AAAIAEAAAAAAAAQ
			0AAABAAAAAAAAAA=
			</data>
			<key>name</key>
			<string>sagewell-ios</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9va8QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAtAEAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACQAAAAEBAAB3b3Jrc3BhY2UAAAAI
			AAAAAQEAAHNhZ2V3ZWxsEAAAAAEGAAAQAAAAIAAAADAAAABEAAAA
			CAAAAAQDAACEXAAAAAAAAAgAAAAEAwAAuMMDAAAAAAAIAAAABAMA
			ADHNFgAAAAAACAAAAAQDAAA0zRYAAAAAABAAAAABBgAAbAAAAHwA
			AACMAAAAnAAAAAgAAAAABAAAQcPVn4aAAAAYAAAAAQIAAAIAAAAA
			AAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQDAAACAAAA
			AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEA
			AE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAAAAQAAEHD
			sBQXgAAAJAAAAAEBAAAyNUFDNDE5Ny1DRjYyLTQ5M0ItOTM5NS04
			QTBCNzM3M0RFQjkYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
			AAAAAAEAAAABAQAALwAAANgAAAD+////AQAAAAAAAAARAAAABBAA
			AFQAAAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQA
			AAAAAAAAAiAAAKgBAAAAAAAABSAAABgBAAAAAAAAECAAACgBAAAA
			AAAAESAAAFwBAAAAAAAAEiAAADwBAAAAAAAAEyAAAEwBAAAAAAAA
			ICAAAIgBAAAAAAAAMCAAAPQAAAAAAAAAAcAAAPwAAAAAAAAAEcAA
			ACAAAAAAAAAAEsAAAAwBAAAAAAAAAdAAAPQAAAAAAAAAENAAAAQA
			AAAAAAAA
			</data>
			<key>name</key>
			<string>sagewell</string>
		</dict>
		<dict>
			<key>file-bookmark</key>
			<data>
			Ym9vaxgDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAACAIAAAQAAAADAwAAAAIAIAUAAAABAQAAVXNlcnMA
			AAAHAAAAAQEAAHdpbGhhbGwACQAAAAEBAAB3b3Jrc3BhY2UAAAAI
			AAAAAQEAAHNhZ2V3ZWxsDAAAAAEBAABzYWdld2VsbC1pb3MIAAAA
			AQEAAFNhZ2V3ZWxsGAAAAAEGAAAQAAAAIAAAADAAAABEAAAAVAAA
			AGgAAAAIAAAABAMAAIRcAAAAAAAACAAAAAQDAAC4wwMAAAAAAAgA
			AAAEAwAAMc0WAAAAAAAIAAAABAMAADTNFgAAAAAACAAAAAQDAAA+
			zRYAAAAAAAgAAAAEAwAAvc0WAAAAAAAYAAAAAQYAAJgAAACoAAAA
			uAAAAMgAAADYAAAA6AAAAAgAAAAABAAAQcPViSSAAAAYAAAAAQIA
			AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAAAAAABBQAACAAAAAQD
			AAAEAAAAAAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
			AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAA
			AAQAAEHDsBQXgAAAJAAAAAEBAAAyNUFDNDE5Ny1DRjYyLTQ5M0It
			OTM5NS04QTBCNzM3M0RFQjkYAAAAAQIAAIEAAAABAAAA7xMAAAEA
			AAAAAAAAAAAAAAEAAAABAQAALwAAANgAAAD+////AQAAAAAAAAAR
			AAAABBAAAHgAAAAAAAAABRAAAPgAAAAAAAAAEBAAACgBAAAAAAAA
			QBAAABgBAAAAAAAAAiAAAPwBAAAAAAAABSAAAGwBAAAAAAAAECAA
			AHwBAAAAAAAAESAAALABAAAAAAAAEiAAAJABAAAAAAAAEyAAAKAB
			AAAAAAAAICAAANwBAAAAAAAAMCAAAEgBAAAAAAAAAcAAAFABAAAA
			AAAAEcAAACAAAAAAAAAAEsAAAGABAAAAAAAAAdAAAEgBAAAAAAAA
			ENAAAAQAAAAAAAAA
			</data>
			<key>name</key>
			<string>Sagewell</string>
		</dict>
	</array>
	<key>FXSidebarUpgradedSharedSearchToTwelve</key>
	<true/>
	<key>FXSidebarUpgradedToTenFourteen</key>
	<true/>
	<key>FXSidebarUpgradedToTenTen</key>
	<true/>
	<key>FXSyncExtensionToolbarItemsAutomaticallyAdded</key>
	<array>
		<string>com.getdropbox.dropbox.garcon</string>
	</array>
	<key>FXToolbarUpgradedToTenEight</key>
	<integer>1</integer>
	<key>FXToolbarUpgradedToTenNine</key>
	<integer>2</integer>
	<key>FXToolbarUpgradedToTenSeven</key>
	<integer>1</integer>
	<key>FavoriteTagNames</key>
	<array>
		<string></string>
		<string>Red</string>
		<string>Orange</string>
		<string>Yellow</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Purple</string>
		<string>Gray</string>
	</array>
	<key>GoToField</key>
	<string>~/.dotfiles/</string>
	<key>GoToFieldHistory</key>
	<array>
		<string>/Users/wilhall/.dotfiles</string>
		<string>~/Library/Application Support/Google/Chrome/</string>
		<string>~/Library/Caches/</string>
		<string>~/.dotfiles/</string>
		<string>/usr/local/bin/</string>
	</array>
	<key>ICloudViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>ubiquity</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateAdded</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>invitationStatus</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<real>16</real>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>dateModified</string>
			<key>textSize</key>
			<real>13</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>dateModified</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>37</real>
			<key>iconSize</key>
			<real>56</real>
			<key>labelOnBottom</key>
			<true/>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<true/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<real>16</real>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>dateModified</string>
			<key>textSize</key>
			<real>13</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowPathbar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{283, 308}, {920, 464}}</string>
		</dict>
	</dict>
	<key>LastTrashState</key>
	<false/>
	<key>MeetingRoomViewSetting</key>
	<dict>
		<key>CustomViewStyleVersion</key>
		<integer>1</integer>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{1736, 960}, {920, 464}}</string>
		</dict>
	</dict>
	<key>NSNavLastRootDirectory</key>
	<string>/Applications</string>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 450}</string>
	<key>NSToolbar Configuration Browser</key>
	<dict>
		<key>TB Default Item Identifiers</key>
		<array>
			<string>com.apple.finder.BACK</string>
			<string>com.apple.finder.SWCH</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.ARNG</string>
			<string>com.apple.finder.SHAR</string>
			<string>com.apple.finder.LABL</string>
			<string>com.apple.finder.ACTN</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.SRCH</string>
		</array>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>1</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>com.apple.finder.BACK</string>
			<string>com.apple.finder.SWCH</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.ARNG</string>
			<string>com.apple.finder.SHAR</string>
			<string>com.apple.finder.LABL</string>
			<string>com.apple.finder.ACTN</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.getdropbox.dropbox.garcon</string>
			<string>com.apple.finder.SRCH</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSUserKeyEquivalents</key>
	<dict>
		<key>Cycle Through Windows</key>
		<string>@$`</string>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>547 173 800 365 0 0 1440 875 </string>
	<key>NewWindowTarget</key>
	<string>PfLo</string>
	<key>NewWindowTargetPath</key>
	<string>file:///Users/wilhall/Downloads/</string>
	<key>PackageViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowPathbar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{75, 439}, {920, 436}}</string>
		</dict>
	</dict>
	<key>PreferencesWindow.LastSelection</key>
	<string>SDBR</string>
	<key>RecentMoveAndCopyDestinations</key>
	<array>
		<string>file:///Users/wilhall/Pictures/</string>
		<string>file:///Users/wilhall/workspace/sagewell/sagewell/app/javascript/images/</string>
		<string>file:///Users/wilhall/Downloads/</string>
		<string>file:///Applications/</string>
		<string>file:///Users/wilhall/.config/coc/</string>
		<string>file:///Users/wilhall/</string>
		<string>file:///Users/wilhall/Library/Mobile%20Documents/com~apple~CloudDocs/</string>
		<string>file:///Users/wilhall/Library/Mobile%20Documents/com~apple~CloudDocs/Employment/Consulting/Sagewell/invoices/</string>
		<string>file:///Users/wilhall/Library/Mobile%20Documents/com~apple~CloudDocs/Employment/</string>
		<string>file:///Users/wilhall/Library/Mobile%20Documents/com~apple~CloudDocs/Employment/Consulting/</string>
	</array>
	<key>RecentsArrangeGroupViewBy</key>
	<string>Date Last Opened</string>
	<key>SearchRecentsSavedViewStyleVersion</key>
	<string>%00%00%00%01</string>
	<key>SearchRecentsViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{482, 516}, {920, 436}}</string>
		</dict>
	</dict>
	<key>SearchViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{1012, 639}, {920, 436}}</string>
		</dict>
	</dict>
	<key>ShowExternalHardDrivesOnDesktop</key>
	<true/>
	<key>ShowHardDrivesOnDesktop</key>
	<true/>
	<key>ShowMountedServersOnDesktop</key>
	<true/>
	<key>ShowPathbar</key>
	<true/>
	<key>ShowRecentTags</key>
	<false/>
	<key>ShowRemovableMediaOnDesktop</key>
	<true/>
	<key>ShowSidebar</key>
	<true/>
	<key>SidebarDevicesSectionDisclosedState</key>
	<true/>
	<key>SidebarPlacesSectionDisclosedState</key>
	<true/>
	<key>SidebarShowingSignedIntoiCloud</key>
	<true/>
	<key>SidebarShowingiCloudDesktop</key>
	<false/>
	<key>SidebarTagsSctionDisclosedState</key>
	<true/>
	<key>SidebarWidth</key>
	<real>159</real>
	<key>SidebariCloudDriveSectionDisclosedState</key>
	<true/>
	<key>StandardViewSettings</key>
	<dict>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>GalleryViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>iconSize</key>
			<real>48</real>
			<key>showIconPreview</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>name</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<real>0.0</real>
			<key>gridOffsetY</key>
			<real>0.0</real>
			<key>gridSpacing</key>
			<real>37</real>
			<key>iconSize</key>
			<real>56</real>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<true/>
			<key>textSize</key>
			<real>12</real>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>13</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>TagsCloudSerialNumber</key>
	<integer>28</integer>
	<key>TrashViewSettings</key>
	<dict>
		<key>CustomViewStyleVersion</key>
		<integer>1</integer>
		<key>ExtendedListViewSettingsV2</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<array>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>name</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>ubiquity</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>35</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateModified</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateCreated</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>size</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>kind</string>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>label</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>version</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<true/>
					<key>identifier</key>
					<string>comments</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateLastOpened</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>dateAdded</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareOwner</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>shareLastEditor</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
				<dict>
					<key>ascending</key>
					<false/>
					<key>identifier</key>
					<string>invitationStatus</string>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>210</integer>
				</dict>
			</array>
			<key>iconSize</key>
			<real>16</real>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<real>13</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<real>16</real>
			<key>scrollPositionX</key>
			<real>0.0</real>
			<key>scrollPositionY</key>
			<real>0.0</real>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<real>13</real>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>1</integer>
		</dict>
		<key>WindowState</key>
		<dict>
			<key>ContainerShowSidebar</key>
			<true/>
			<key>ShowPathbar</key>
			<true/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<false/>
			<key>ShowTabView</key>
			<false/>
			<key>ShowToolbar</key>
			<true/>
			<key>WindowBounds</key>
			<string>{{283, 309}, {920, 464}}</string>
		</dict>
	</dict>
	<key>ViewOptionsWindow.Location</key>
	<string>{886, 259}</string>
	<key>_FXSortFoldersFirst</key>
	<true/>
	<key>_FXSortFoldersFirstOnDesktop</key>
	<true/>
</dict>
</plist>
