<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BugsnagUserUserId</key>
	<string>6ce54835f1f633fff61202b9e058fea6edbd26f8</string>
	<key>ColorsAndFormatsShortCut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAChC1UkbnVsbAgRGiQpMjdJTFFT
	VQAAAAAAAAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
	</data>
	<key>FavoriteColors</key>
	<array/>
	<key>HistoryColors</key>
	<array>
		<string>F0F3FAFF</string>
		<string>031751FF</string>
		<string>F0F3FAFF</string>
		<string>2EB59BFF</string>
		<string>00826AFF</string>
		<string>014F40FF</string>
		<string>84ACF4FF</string>
		<string>E5E5E5FF</string>
		<string>60A896FF</string>
		<string>DEF0EBFF</string>
		<string>60A896FF</string>
		<string>DEF0EBFF</string>
		<string>001651FF</string>
		<string>E1E0DFFF</string>
		<string>BA1E1EFF</string>
		<string>CF0202FF</string>
		<string>027AA2FF</string>
		<string>02826AFF</string>
		<string>4E8EF7FF</string>
		<string>2D8F51FF</string>
		<string>459C65FF</string>
		<string>629BF8FF</string>
		<string>C13838FF</string>
		<string>F8F8F8FF</string>
		<string>394FB5FF</string>
		<string>092D91FF</string>
		<string>F0F3FAFF</string>
		<string>3450BBFF</string>
		<string>E5E7EBFF</string>
		<string>0450BCFF</string>
		<string>2D8F51FF</string>
		<string>459C65FF</string>
		<string>629BF8FF</string>
		<string>C13838FF</string>
		<string>F8F8F8FF</string>
		<string>394FB5FF</string>
		<string>092D91FF</string>
		<string>F0F3FAFF</string>
		<string>3450BBFF</string>
		<string>E5E7EBFF</string>
		<string>0450BCFF</string>
		<string>00826AFF</string>
		<string>E99B15FF</string>
		<string>370F03FF</string>
		<string>9A5328FF</string>
		<string>1E293BFF</string>
		<string>001651FF</string>
		<string>EE980FFF</string>
		<string>217B69FF</string>
		<string>004D3EFF</string>
		<string>001651FF</string>
		<string>00826AFF</string>
		<string>42B59BFF</string>
		<string>F1F8F9FF</string>
		<string>C4453BFF</string>
		<string>00826AFF</string>
		<string>42B59BFF</string>
		<string>F1F8F9FF</string>
		<string>C4453BFF</string>
		<string>2F4BB0FF</string>
		<string>2F4AAFFF</string>
		<string>F4F9FFFF</string>
		<string>78AAF4FF</string>
		<string>FCDFB9FF</string>
		<string>001351FF</string>
		<string>003027FF</string>
		<string>F29B0FFF</string>
		<string>C4453BFF</string>
		<string>F29C0EFF</string>
		<string>9E5A00FF</string>
		<string>2EB59BFF</string>
		<string>78AAF4FF</string>
		<string>9CA3AFFF</string>
		<string>EF4444FF</string>
		<string>3350BCFF</string>
		<string>092D91FF</string>
		<string>02826AFF</string>
		<string>001651FF</string>
		<string>001351FF</string>
		<string>2DB59BFF</string>
		<string>2C826AFF</string>
		<string>18503FFF</string>
		<string>42B59BFF</string>
		<string>02826AFF</string>
		<string>004F40FF</string>
		<string>02826AFF</string>
		<string>001351FF</string>
		<string>333333FF</string>
		<string>9E5A00FF</string>
		<string>42B59BFF</string>
		<string>F3B966FF</string>
		<string>E9EAECFF</string>
		<string>A05B01FF</string>
		<string>F2B864FF</string>
		<string>F2B764FF</string>
		<string>2C826AFF</string>
		<string>001651FF</string>
		<string>001351FF</string>
		<string>2DB59BFF</string>
		<string>2C826AFF</string>
	</array>
	<key>NSColorPanelMode</key>
	<string>6</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 480.000000, 318.000000, NO, NO</string>
		<string>0.000000, 319.000000, 480.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>423</real>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>48 81 480 347 0 0 1440 875 </string>
	<key>Paddle-ColorSnapper2-499167-SD</key>
	<string>de178b5a9a00b1f6141720bfad1eb7f468c9750ad5ff1a6c84db956b6eec3af7</string>
	<key>PickColorShortCut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzECOAAhIAEgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1pEQVNob3J0Y3V0oxgZGlpEQVNob3J0Y3V0W01BU1Nob3J0Y3V0WE5T
	T2JqZWN0CBEaJCkyN0lMUVNXXWRsc4GDhYqPmqOusr3JAAAAAAAAAQEAAAAAAAAAGwAA
	AAAAAAAAAAAAAAAAANI=
	</data>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-06-28T12:19:45Z</date>
	<key>SULastProfileSubmissionDate</key>
	<date>2023-06-28T12:19:45Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>43200</real>
	<key>SUSendProfileInfo</key>
	<true/>
	<key>captureValue</key>
	<real>33.525070190429688</real>
	<key>codeStyle</key>
	<dict>
		<key>css</key>
		<dict>
			<key>useHexShorthand</key>
			<false/>
			<key>useUppercase</key>
			<false/>
			<key>useW3CNames</key>
			<false/>
		</dict>
		<key>decimal</key>
		<dict>
			<key>precision</key>
			<integer>3</integer>
			<key>removeLeadingZero</key>
			<false/>
			<key>removeTrailingZeroes</key>
			<false/>
			<key>useFractions</key>
			<integer>0</integer>
			<key>useSuffix</key>
			<false/>
		</dict>
		<key>hex</key>
		<dict>
			<key>prefix</key>
			<string>0x</string>
			<key>usePrefix</key>
			<false/>
			<key>useUppercase</key>
			<false/>
		</dict>
		<key>int</key>
		<dict/>
		<key>whiteSpace</key>
		<dict>
			<key>csv</key>
			<true/>
			<key>kvc</key>
			<false/>
		</dict>
	</dict>
	<key>colorInfo</key>
	<integer>1</integer>
	<key>exportColorObject</key>
	<false/>
	<key>exportFormat</key>
	<string>Generic Hex</string>
	<key>openFormatsAfterPick</key>
	<integer>0</integer>
	<key>showMenubarIcon</key>
	<true/>
	<key>showWelcomeMessage</key>
	<false/>
	<key>userInterface</key>
	<string>light</string>
</dict>
</plist>
