<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppCore.UserSession.latitude</key>
	<real>42.494500000000002</real>
	<key>AppCore.UserSession.longitude</key>
	<real>-71.0715</real>
	<key>NSCOnboardingCompleted</key>
	<true/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>5544</real>
	<key>NSStatusItem Preferred Position Item-1</key>
	<real>5554</real>
	<key>appDataCollectionAccepted</key>
	<true/>
	<key>appIcon</key>
	<integer>1</integer>
	<key>appPreviouslyOpened</key>
	<true/>
	<key>autoConnectOnLaunchConnectionTarget</key>
	<dict>
		<key>wireguard_udp</key>
		<string>country:us:-:-:-</string>
	</dict>
	<key>cocoamqtt.emqx.version</key>
	<string>3.1.1</string>
	<key>connectOnDemand</key>
	<integer>0</integer>
	<key>connection_statistics_longest_streak</key>
	<integer>1</integer>
	<key>didShowMFAOnboarding</key>
	<true/>
	<key>enableCustomDNS</key>
	<integer>0</integer>
	<key>helpUsImprove</key>
	<true/>
	<key>isAnalyticsConsentAllowed</key>
	<true/>
	<key>isAppWasConnectedToVPN</key>
	<true/>
	<key>isAutoConnectOn</key>
	<true/>
	<key>isDefaultPresetsUsed</key>
	<true/>
	<key>isEngagementMeasurementConsentAllowed</key>
	<true/>
	<key>isUserConsentAccepted</key>
	<true/>
	<key>keychainMigrationVersionKey</key>
	<integer>2</integer>
	<key>lastConnectionDate</key>
	<date>2025-07-26T18:27:48Z</date>
	<key>lastLoadUpdateTime</key>
	<date>2025-07-26T21:49:08Z</date>
	<key>lastMapLocation</key>
	<string>{"long":-71.06028,"lat":42.358334}</string>
	<key>lastServerDownloadTimeKey</key>
	<date>2025-07-26T21:10:09Z</date>
	<key>lastSuccessfulSubscriptionHistoryUpdate</key>
	<date>2025-07-26T21:49:06Z</date>
	<key>lastTemplatesUpdateTimeKey</key>
	<date>2025-07-25T18:35:15Z</date>
	<key>meshnetEnabled</key>
	<false/>
	<key>noNetworkAlertOnMeshnetEnabled</key>
	<true/>
	<key>ratingPopupShowed</key>
	<date>2025-07-26T02:17:29Z</date>
	<key>startOnBoot</key>
	<true/>
	<key>vpnEventsCounter</key>
	<integer>2</integer>
	<key>vpnSnoozedName</key>
	<string>hour</string>
	<key>vpnSnoozedStart</key>
	<integer>1753550868</integer>
	<key>vpnSnoozedUntil</key>
	<integer>0</integer>
	<key>wasDashboardOnboardingShownAfterUpdate</key>
	<false/>
</dict>
</plist>
