<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSizeCategory</key>
	<dict>
		<key>com.apple.Magnifier</key>
		<string>UseGlobal</string>
		<key>com.apple.MobileSMS</key>
		<string>S</string>
		<key>com.apple.Notes</key>
		<string>UseGlobal</string>
		<key>com.apple.accessibility.AccessibilityReader</key>
		<string>UseGlobal</string>
		<key>com.apple.finder</key>
		<string>Custom</string>
		<key>com.apple.iBooksX</key>
		<string>UseGlobal</string>
		<key>com.apple.iCal</key>
		<string>UseGlobal</string>
		<key>com.apple.journal</key>
		<string>UseGlobal</string>
		<key>com.apple.mail</key>
		<string>UseGlobal</string>
		<key>com.apple.news</key>
		<string>UseGlobal</string>
		<key>com.apple.reminders</key>
		<string>UseGlobal</string>
		<key>com.apple.stocks</key>
		<string>UseGlobal</string>
		<key>com.apple.weather</key>
		<string>UseGlobal</string>
		<key>global</key>
		<string>DEFAULT</string>
		<key>version</key>
		<string>3.0</string>
	</dict>
	<key>closeViewCustomHotkeyKey</key>
	<dict>
		<key>AX_ZOOM_FREEZE_PANNING</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_MONITOR_SELECTION</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>0</integer>
		</dict>
		<key>AX_ZOOM_TEMP_DETACH</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>1310720</integer>
		</dict>
		<key>AX_ZOOM_TEMP_TOGGLE</key>
		<dict>
			<key>charCode</key>
			<integer>65535</integer>
			<key>keyCode</key>
			<integer>65535</integer>
			<key>modifiers</key>
			<integer>786432</integer>
		</dict>
		<key>AX_ZOOM_TOGGLE_FS_AND_PIP</key>
		<dict>
			<key>charCode</key>
			<integer>102</integer>
			<key>keyCode</key>
			<integer>3</integer>
			<key>modifiers</key>
			<integer>1572864</integer>
		</dict>
	</dict>
	<key>closeViewDesiredZoomFactor</key>
	<real>1.0201</real>
	<key>closeViewDisableUniversalControl</key>
	<false/>
	<key>closeViewHotkeysEnabled</key>
	<true/>
	<key>closeViewPanningMode</key>
	<integer>0</integer>
	<key>closeViewQuickSwitchHotKeysEnabled</key>
	<true/>
	<key>closeViewResizeHotKeysEnabled</key>
	<true/>
	<key>closeViewScrollWheelToggle</key>
	<true/>
	<key>closeViewSmoothImages</key>
	<true/>
	<key>closeViewSplitScreenRatio</key>
	<real>0.20000000000000001</real>
	<key>closeViewTrackpadGestureZoomEnabled</key>
	<false/>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>closeViewZoomFactorBeforeTermination</key>
	<real>1</real>
	<key>closeViewZoomMode</key>
	<integer>1</integer>
	<key>closeViewZoomScreenShareEnabledKey</key>
	<false/>
	<key>closeViewZoomedIn</key>
	<false/>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>NSGlobalDomain</string>
		<string>com.apple.mail</string>
		<string>com.google.Chrome</string>
	</array>
	<key>contrast</key>
	<real>0.0</real>
	<key>customFonts</key>
	<true/>
	<key>grayscale</key>
	<false/>
	<key>hoverColorEnabled</key>
	<false/>
	<key>hoverTextEnabled</key>
	<false/>
	<key>hoverTypingEnabled</key>
	<false/>
	<key>hudNotifiedConstrast</key>
	<real>0.0</real>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBfEBNj
	b21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4AAgALSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxAWQVhTU0tleWJvYXJkQ29tbWFuZE1hcKIWF18QFkFYU1NLZXlib2FyZENvbW1h
	bmRNYXBYTlNPYmplY3QIERokKTI3SUxRU1ddYnh/gYOIk5y1uNEAAAAAAAABAQAAAAAA
	AAAYAAAAAAAAAAAAAAAAAAAA2g==
	</data>
	<key>keyboardAccessEnabled</key>
	<false/>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15</real>
	<key>keyboardAccessPassthroughMode</key>
	<false/>
	<key>liveSpeechEnabled</key>
	<false/>
	<key>login</key>
	<false/>
	<key>sessionChange</key>
	<false/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>stickyKey</key>
	<false/>
	<key>useStickyKeysShortcutKeys</key>
	<false/>
	<key>voiceOverOnOffKey</key>
	<false/>
</dict>
</plist>
