<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FRFeedbackReporter.lastCrashCheckDate</key>
	<date>2020-04-08T16:23:21Z</date>
	<key>NSStatusItem Preferred Position EItem</key>
	<real>60000</real>
	<key>NSStatusItem Preferred Position HItem</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position HItem1</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position HItem2</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position HItem3</key>
	<real>10000</real>
	<key>NSStatusItem Preferred Position NCItem</key>
	<integer>-100</integer>
	<key>NSStatusItem Preferred Position statusItem</key>
	<real>401</real>
	<key>NSStatusItem Visible Item-0</key>
	<true/>
	<key>NSStatusItem Visible NCItem</key>
	<true/>
	<key>ReduceUpdateCheckFrequencyWhenOnBattery</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>UpdateWelcomeMessageShowAgain</key>
	<true/>
	<key>appSettings</key>
	<dict>
		<key>85C27NK92C.com.flexibits.fantastical2.mac.helper</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Fantastical Helper</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>AirPortExtra</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>AirPort - Wi-Fi</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>AppleBluetoothExtra</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Bluetooth</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>AppleClockExtra</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Clock</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>AppleVolumeExtra</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Volume</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>BatteryExtra</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Battery</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>DisplaysExtra</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Airplay Displays</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>NotificationCenter</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Notification Center</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>app.tuple.app</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Tuple</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.KMikiy.SpotMenu</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>SpotMenu</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.apple.Spotlight</key>
		<dict>
			<key>controlled</key>
			<integer>2</integer>
			<key>searchName</key>
			<string>Spotlight</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.apple.TextInputMenuAgent</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>TextInputMenuAgent</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.apple.locationmenu</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Location Menu</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.flexibits.cardhop.mac</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Cardhop</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.housetrip.Trailer</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Trailer</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.iconfactory.Tot</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>Tot</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.koolesache.ColorSnapper2</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>ColorSnapper2</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.linebreak.CloudAppMacOSX</key>
		<dict>
			<key>controlled</key>
			<integer>3</integer>
			<key>searchName</key>
			<string>CloudApp</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.objective-see.OverSightHelper</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>OverSight Helper</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>com.objectiveSee.BlockBlock</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>BlockBlock</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
		<key>org.hammerspoon.Hammerspoon</key>
		<dict>
			<key>controlled</key>
			<integer>1</integer>
			<key>searchName</key>
			<string>Hammerspoon</string>
			<key>showForUpdates</key>
			<false/>
			<key>updateDisplayTime</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>bartender.storedPositions</key>
	<dict>
		<key>85C27NK92C.com.flexibits.fantastical2.mac.helper-Fantastical</key>
		<real>602</real>
		<key>app.tuple.app-Item-0</key>
		<real>509.12890625</real>
		<key>com.KMikiy.SpotMenu-Item-0</key>
		<real>986</real>
		<key>com.apple.Spotlight-Item-0</key>
		<real>30821</real>
		<key>com.apple.TextInputMenuAgent-Item-0</key>
		<real>606</real>
		<key>com.apple.systemuiserver-AirPortExtra</key>
		<real>339.7265625</real>
		<key>com.apple.systemuiserver-AppleBluetoothExtra</key>
		<real>342</real>
		<key>com.apple.systemuiserver-AppleClockExtra</key>
		<real>171.5</real>
		<key>com.apple.systemuiserver-AppleVolumeExtra</key>
		<real>378</real>
		<key>com.apple.systemuiserver-BatteryExtra</key>
		<real>297</real>
		<key>com.apple.systemuiserver-DisplaysExtra</key>
		<real>639</real>
		<key>com.flexibits.cardhop.mac-Item-0</key>
		<real>649</real>
		<key>com.housetrip.Trailer-Item-0</key>
		<real>479.5</real>
		<key>com.housetrip.Trailer-Item-1</key>
		<real>437.5</real>
		<key>com.iconfactory.Tot-Item-0</key>
		<real>632</real>
		<key>com.koolesache.ColorSnapper2-Item-0</key>
		<real>858</real>
		<key>com.linebreak.CloudAppMacOSX-Item-0</key>
		<real>572</real>
		<key>com.objective-see.OverSightHelper-Item-0</key>
		<real>670</real>
		<key>com.objectiveSee.BlockBlock-Item-0</key>
		<real>700</real>
		<key>org.hammerspoon.Hammerspoon-Item-0</key>
		<real>730</real>
		<key>org.mozilla.firefoxdeveloperedition-Item-0</key>
		<real>30859</real>
		<key>org.mozilla.firefoxdeveloperedition-Item-1</key>
		<real>30889.000000010001</real>
	</dict>
	<key>bartenderBarDoesntAutohide</key>
	<true/>
	<key>hotkey</key>
	<dict>
		<key>characters</key>
		<string>H</string>
		<key>keyCode</key>
		<integer>4</integer>
		<key>modifierFlags</key>
		<integer>1441792</integer>
	</dict>
	<key>hotkeyFullBar</key>
	<dict>
		<key>characters</key>
		<string>U</string>
		<key>keyCode</key>
		<integer>32</integer>
		<key>modifierFlags</key>
		<integer>917504</integer>
	</dict>
</dict>
</plist>
