<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>467e65ff56f72dc467e23ba45</key>
	<integer>1</integer>
	<key>CrashDeviceIdentifier</key>
	<string>6C399F8F-661A-4C66-9EDC-DE6AF95A5458</string>
	<key>ImportantInformationLastCheckedDate</key>
	<date>2022-08-05T14:06:32Z</date>
	<key>ImportantInformationLastForegroundDate</key>
	<date>2022-08-05T21:17:27Z</date>
	<key>LastPreferencePaneIdentifier</key>
	<string>quickentry</string>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>720C76C2-EABD-4F47-8881-E9F7D1905D0D</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HETsnd+BP1gATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC4yLjBe
	TWFjQm9va1BybzE4LDRVQXBwbGVVbWFjT1NWMTIuNC4wVTIxRjc5VWVuX1VTE///////
	//8QWTE5MjB4MTIwMFczLjE1LjE2WDMxNTE2NTAyXxAaY29tLmN1bHR1cmVkY29kZS5U
	aGluZ3NNYWPSHR5eX1pNU0FDRGV2aWNlo2BhIVpNU0FDRGV2aWNlXk1TQUNXcmFwcGVy
	U2Rr0h0eY2RfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm+jZWYhXxAVTVNBQ0RldmljZUhp
	c3RvcnlJbmZvXxAPTVNBQ0hpc3RvcnlJbmZv0h0eaGleTlNNdXRhYmxlQXJyYXmjaGoh
	V05TQXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAGwAcgB3AIIAiQCLAI0AjwCWAKMA
	rQCvALEAswC4AMAAyQDLANAA2wDkAOsA7gD3ASgBMgFBAUoBYgFtAYEBjQGVAZwBtgHF
	AdAB3wHnAfIB/wIFAh0CNgJBAkgCUAJSAlQCVgJYAloCXAJeAmACYgJkAmYCaAJqAmwC
	bgJwAnICdAJ2AngCegJ8An4CkAKWAqUCqwKxArgCvgLEAs0C1wLfAugDBQMKAxUDGQMk
	AzMDOANQA1QDbAN+A4MDkgOWAAAAAAAAAgEAAAAAAAAAawAAAAAAAAAAAAAAAAAAA54=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxE7JzvIBo4AE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcROyeN9RvaABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkNkMzOTlGOEYtNjYxQS00QzY2LTlF
	REMtREU2QUY5NUE1NDU40h0eJCVfEBVNU0FDVXNlcklkSGlzdG9yeUluZm+jJichXxAV
	TVNBQ1VzZXJJZEhpc3RvcnlJbmZvXxAPTVNBQ0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRh
	YmxlQXJyYXmjKSshV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIA
	eQB7AH0AfwCGAJMAnQCfAKEAowCoALAAuQC7AMAAywDUANsA3gDnAQ4BEwErAS8BRwFZ
	AV4BbQFxAAAAAAAAAgEAAAAAAAAALAAAAAAAAAAAAAAAAAAAAXk=
	</data>
	<key>OnboardingDidComplete</key>
	<true/>
	<key>OnboardingSampleProjectUUID</key>
	<string>AsdSigS1SP1gqZGqN4gpaw</string>
	<key>RecentlyDisplayedSourceUUIDs</key>
	<array>
		<string>THMAreaParentSource/VAnrePdGvr56UFZSMpMe2r</string>
		<string>THMTodayListSource</string>
		<string>THMAreaParentSource/7P5ij2UV8rb8fazXUoCHFS</string>
		<string>THMAreaParentSource/Q6BCDfhnL9i4QeZkZxjpRZ</string>
		<string>THMAreaParentSource/6NRixigdST5CasHCmP518Y</string>
		<string>THMAreaParentSource/J5EhVpFEkCqs25UF8BdjrE</string>
		<string>THMAreaParentSource/GvQJ2AtPK1n9efqS5x8Vtm</string>
		<string>THMAreaParentSource/AA8x1BdvBc5FLizms7VzpW</string>
		<string>THMAreaParentSource/24z3wEL22WXVaVQpU3npwz</string>
		<string>THMLogbookListSource</string>
	</array>
	<key>SharedDataSegmentContextPropertyList</key>
	<dict>
		<key>ExpandedContextKeyForProjectsOfArea-24z3wEL22WXVaVQpU3npwz</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-2Bp7YkNdHv1ugWdyKpt82e</key>
		<integer>1</integer>
		<key>ExpandedContextKeyForProjectsOfArea-6CZFp3Rjvw9LA2Kon47HN8</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-6NRixigdST5CasHCmP518Y</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-7P5ij2UV8rb8fazXUoCHFS</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-83mSGdVDLhu3QLnmYL5MRc</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-BhzjWozgonehgzAs6jmxuL</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-FQNyxUyg6BppdtcezStwLB</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-J5EhVpFEkCqs25UF8BdjrE</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-P7FhhW1znaya3iqJi1vXuP</key>
		<true/>
		<key>GlobalSegmentSettingsKey.7P5ij2UV8rb8fazXUoCHFS.isToggleItemSectionExpanded-Later</key>
		<true/>
		<key>GlobalSegmentSettingsKey.TXLogbookListSourceOlderTasksToggleButtonSegmentExpanded</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>TXMainWindowDefaultState</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBxZYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctcICQoLDA0ODxARDxMUFV8QD2lzU2lkZUJhckhp
	ZGRlblVmcmFtZVxzaWRlQmFyV2lkdGhcaW5GdWxsU2NyZWVuXxARc2VsZWN0ZWRJdGVt
	VVVJRHNfEBVhdXRvQ2FzY2FkZUlkZW50aWZpZXJfEBxJbnRlcmFjdGlvbkNvbnRleHRT
	b3VyY2VVVUlECIABI0BoIAAAAAAACIAEgAKAA6YXGBkaGyBVJG51bGxfEBl7ezIxOTMs
	IDEzM30sIHs4NzMsIDc4NX19XxAhVFhNYWluV2luZG93QXV0b0Nhc2NhZGVJZGVudGlm
	aWVyXxAqVEhNQXJlYVBhcmVudFNvdXJjZS9WQW5yZVBkR3ZyNTZVRlpTTXBNZTJy0hwd
	Hh9aTlMub2JqZWN0c1YkY2xhc3OggAXSISIjJFokY2xhc3NuYW1lWCRjbGFzc2VzVU5T
	U2V0oiMlWE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBYAGoAcAB9AIoAngC2ANUA1gDY
	AOEA4gDkAOYA6ADvAPUBEQE1AWIBZwFyAXkBegF8AYEBjAGVAZsBngAAAAAAAAIBAAAA
	AAAAACYAAAAAAAAAAAAAAAAAAAGn
	</data>
	<key>TXTextViewAutomaticDashSubstitutionEnabledKey</key>
	<false/>
	<key>TXTextViewAutomaticQuoteSubstitutionEnabledKey</key>
	<false/>
	<key>TXTextViewAutomaticSpellingCorrectionEnabledKey</key>
	<true/>
	<key>TXWindowAutoCascadeTopLeftPoints</key>
	<dict>
		<key>TXMainWindowAutoCascadeIdentifier</key>
		<string>{2222, 889}</string>
	</dict>
	<key>ThingsCloudEverUsed</key>
	<true/>
	<key>ThingsMainWindowSideBarWidthAutosaveName</key>
	<real>193</real>
	<key>firstAppLaunchDate</key>
	<date>2021-10-12T18:50:54Z</date>
	<key>whatsNewLastCheckedDate</key>
	<date>2022-08-05T20:41:35Z</date>
	<key>whatsNewLastCheckedParameterChecksum</key>
	<string>01d6d304c385294bdc7be99a4e267ba8ff8baf286e03a50e90ec5af70c0750ece22c7fe5a61dfa871e1f37e71ee71dbd9869565eecc0be0742354d55bef074ad</string>
</dict>
</plist>
