<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloudRecentColors</key>
	<array>
		<string>1.000000 0.999974 0.999991 1.000000</string>
		<string>0.355669 0.962982 0.848897 1.000000</string>
		<string>0.998150 0.897061 0.039140 1.000000</string>
		<string>0.103316 0.103313 0.103315 1.000000</string>
		<string>0.201440 0.798135 0.998804 1.000000</string>
		<string>0.732905 1.000000 0.077308 1.000000</string>
		<string>0.987439 0.272506 0.497016 1.000000</string>
	</array>
	<key>MASPreferences Frame Top Left</key>
	<string>{1448, 945}</string>
	<key>MASPreferences Selected Identifier View</key>
	<string>general</string>
	<key>MSAppCenter310AnalyticsUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterAppDidReceiveMemoryWarning</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>24AF6FAE-106D-4EC2-ADE0-FEB548FE4EC8</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWFmVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HDgm9gS4fPgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVMy4yLjBe
	TWFjQm9va0FpcjEwLDFVQXBwbGVVbWFjT1NXMTAuMTYuMFYyMEUyNDFVZW5fVVMT////
	/////xBZMTgwMHgyODgwVTYuNS4yVDIyMDNfEBxjb20ubGluZWJyZWFrLkNsb3VkQXBw
	TWFjT1NY0h0eXl9YTVNEZXZpY2WjXmAhXE1TV3JhcHBlclNka9IdHmJjXxATTVNEZXZp
	Y2VIaXN0b3J5SW5mb6NkZSFfEBNNU0RldmljZUhpc3RvcnlJbmZvXU1TSGlzdG9yeUlu
	Zm/SHR5naF5OU011dGFibGVBcnJheaNnaSFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkA
	TABRAFMAbAByAHcAggCJAIsAjQCPAJYAowCtAK8AsQCzALgAwADJAMsA0ADbAOQA6wDu
	APcBKAEyAUEBSgFiAW0BgQGNAZUBnAG2AcUB0AHfAecB8gH/AgUCHQI2AkECSAJQAlIC
	VAJWAlgCWgJcAl4CYAJiAmQCZgJoAmoCbAJuAnACcgJ0AnYCeAJ6AnwCfgKQApYCpQKr
	ArECuQLAAsYCzwLZAt8C5AMDAwgDEQMVAyIDJwM9A0EDVwNlA2oDeQN9AAAAAAAAAgEA
	AAAAAAAAagAAAAAAAAAAAAAAAAAAA4U=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5XHNlc3Np
	b25JZEtleYADgAWABtIZDhobV05TLnRpbWUjQcOK8d8OnPWABNIdHh8gWiRjbGFzc25h
	bWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkMTAxRjAzRUItQ0E2MS00OTNG
	LUIwQTYtOTI2NERBMzFEOTVD0h0eJCVfEBRNU1Nlc3Npb25IaXN0b3J5SW5mb6MmJyFf
	EBRNU1Nlc3Npb25IaXN0b3J5SW5mb11NU0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRhYmxl
	QXJyYXmjKSshV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIAeQB7
	AH0AfwCGAJMAoACiAKQApgCrALMAvAC+AMMAzgDXAN4A4QDqAREBFgEtATEBSAFWAVsB
	agFuAAAAAAAAAgEAAAAAAAAALAAAAAAAAAAAAAAAAAAAAXY=
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcOCb2BMScuABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAPd2lsQHdpbGhhbGwuY29t0h0eJCVf
	EBNNU1VzZXJJZEhpc3RvcnlJbmZvoyYnIV8QE01TVXNlcklkSGlzdG9yeUluZm9dTVNI
	aXN0b3J5SW5mb9IdHikqXk5TTXV0YWJsZUFycmF5oykrIVdOU0FycmF5AAgAEQAaACQA
	KQAyADcASQBMAFEAUwBcAGIAZwByAHkAewB9AH8AhgCTAJ0AnwChAKMAqACwALkAuwDA
	AMsA1ADbAN4A5wD5AP4BFAEYAS4BPAFBAVABVAAAAAAAAAIBAAAAAAAAACwAAAAAAAAA
	AAAAAAAAAAFc
	</data>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>896</real>
	<key>accountv5</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGuCwwXGBkyNjw9QUVGR0tVJG51
	bGzVDQ4PEBESExQVFlVlbWFpbFN1aWRUaHJlZlRwbGFuViRjbGFzc4ADgAKAAIAEgA0S
	AATnRF8QD3dpbEB3aWxoYWxsLmNvbd0aGw8cHR4fIBEhIiMkJRQUKCkqFBQtFC8UFFhw
	bGFuTmFtZVdtZXNzYWdlWHBsYW5Db2RlXnJlY29yZGluZ0xpbWl0WmV4cGlyYXRpb25V
	dGl0bGVWYWN0aW9uVWl0ZW1zXxARZ2lmUmVjb3JkaW5nTGltaXRcc3Vic2NyaXB0aW9u
	Xm9yZ2FuaXphdGlvbklkgAeAAIAAgAiACoAFgACAAIAMgACAC4AAgADSMxE0NVdOUy50
	aW1lI0HDgm9gGaMBgAbSNzg5OlokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaI5O1hO
	U09iamVjdFpsZWdhY3ktcHJv0hE+P0BZTlMuc3RyaW5ngAlabGVnYWN5LXByb9I3OEJD
	XxAPTlNNdXRhYmxlU3RyaW5no0JEO1hOU1N0cmluZxIAAVGAEDzSNzhISVdDTERQbGFu
	o0hKO1lDTERPYmplY3TSNzhMTVpDTERBY2NvdW50o05KO1pDTERBY2NvdW50AAgAEQAa
	ACQAKQAyADcASQBMAFEAUwBiAGgAcwB5AH0AggCHAI4AkACSAJQAlgCYAJ0ArwDKANMA
	2wDkAPMA/gEEAQsBEQElATIBQQFDAUUBRwFJAUsBTQFPAVEBUwFVAVcBWQFbAWABaAFx
	AXMBeAGDAYwBkwGWAZ8BqgGvAbkBuwHGAcsB3QHhAeoB7wHxAfYB/gICAgwCEQIcAiAA
	AAAAAAACAQAAAAAAAABPAAAAAAAAAAAAAAAAAAACKw==
	</data>
	<key>alternateAnalyticsApi</key>
	<string>https://analytics.getcloudapp.com/v1</string>
	<key>autosaveDestinationFolder</key>
	<false/>
	<key>autosaveDrops</key>
	<false/>
	<key>camerViewWhenRecording</key>
	<false/>
	<key>cldApplicationUniqueIdentifier</key>
	<string>5D507A23-DEAF-4286-B5B0-88462C0FB85E</string>
	<key>cloudFeatureFlags</key>
	<dict>
		<key>existing_instant_upload</key>
		<true/>
		<key>instant_upload</key>
		<true/>
		<key>prize_steps</key>
		<true/>
		<key>window_title_naming</key>
		<true/>
	</dict>
	<key>cloudLastAudioId</key>
	<string>BuiltInMicrophoneDevice</string>
	<key>cloudLastDateReviewShown</key>
	<string>02/09/2021 13:57</string>
	<key>cloudLastUserId</key>
	<integer>321348</integer>
	<key>cloudNumberOfLaunchs</key>
	<integer>4</integer>
	<key>cloudRatioType</key>
	<integer>6</integer>
	<key>cloudSaveActions</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
	</array>
	<key>cloudShowPrizeSteps</key>
	<false/>
	<key>color</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxAnMC4yMDE0NDAwMDY1IDAuNzk4MTM0OTgy
	NiAwLjk5ODgwMzk3MzIAEAGAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNDb2xv
	cqIWGFhOU09iamVjdAgRGiQpMjdJTFFTV11kand+qKqssbzFzdAAAAAAAAABAQAAAAAA
	AAAZAAAAAAAAAAAAAAAAAAAA2Q==
	</data>
	<key>copyLinkType</key>
	<integer>0</integer>
	<key>currentOrganizationId</key>
	<string>mYF1122</string>
	<key>did_set_existing_instant_upload</key>
	<true/>
	<key>disableNotificationsDuringRecordings</key>
	<false/>
	<key>hasSentAppInstalledEvent</key>
	<true/>
	<key>kInvertArrowKey</key>
	<integer>1</integer>
	<key>lastCameraDevice</key>
	<string>0x2300000fd90066</string>
	<key>lastCameraState</key>
	<false/>
	<key>lastScreenState</key>
	<false/>
	<key>lastToolSelected</key>
	<integer>5</integer>
	<key>lastVersion</key>
	<string>6.5.2</string>
	<key>launchAtLogin</key>
	<true/>
	<key>nameDropsUsingWindowTitles</key>
	<true/>
	<key>openImageInAnnotationWindowWhenReady</key>
	<false/>
	<key>playUploadSound</key>
	<false/>
	<key>recordScreenGifShortcut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEAWAAhIAEgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>recordScreenInHD</key>
	<false/>
	<key>recordVideoQuality</key>
	<integer>1</integer>
	<key>recordWithSound</key>
	<false/>
	<key>recordingFormat</key>
	<integer>1</integer>
	<key>recordingSubtype</key>
	<integer>0</integer>
	<key>shouldShowCoachMarkAnnotateRecording</key>
	<false/>
	<key>shouldShowCoachMarkScreenShot</key>
	<false/>
	<key>shouldShowOnboarding</key>
	<array>
		<string>wil@wilhall.com</string>
	</array>
	<key>showIconInDock</key>
	<false/>
	<key>showUploadNotification</key>
	<false/>
	<key>takeDelayedScreenshot</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBWAAhIAFgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>takeFullScreenshot</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBeAAhIAEgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>takeScreenshotShortcut</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEBWAAhIAEgAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1tNQVNTaG9ydGN1dKIYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjr7K+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>uploadHLSVideo</key>
	<true/>
</dict>
</plist>
