<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddAdjustmentToSelectionAction</key>
	<integer>0</integer>
	<key>AddFilterToSelectionAction</key>
	<integer>0</integer>
	<key>AddMaskToSelectionAction</key>
	<integer>0</integer>
	<key>AlertOnActions</key>
	<integer>1</integer>
	<key>AppGamma</key>
	<real>0.20999999999999999</real>
	<key>AppTextGammaUIKey</key>
	<real>0.80000000000000004</real>
	<key>ArtboardGrayLevelBackground</key>
	<real>0.90000000000000002</real>
	<key>AutoUndoRedoActions</key>
	<integer>1</integer>
	<key>BaselineGrid</key>
	<false/>
	<key>BrushTipSharingAction</key>
	<integer>0</integer>
	<key>ColourPickerFlyoutModel</key>
	<integer>4</integer>
	<key>ColourPickerPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7ODk3LCAzNDZ9LCB7
	NTkwLCA0MDR9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>ColumnGuideFillColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC4xODgyMzUzMTI3ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineColumnColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineRowColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ContextToolbarHiddenState</key>
	<false/>
	<key>CrashDiagnosticId</key>
	<string></string>
	<key>DeleteSelectionFromImageNodeAction</key>
	<integer>0</integer>
	<key>DevelopAlertOnActions</key>
	<integer>1</integer>
	<key>DevelopApplyToneCurve</key>
	<integer>0</integer>
	<key>DevelopApplyToneCurveToLinear</key>
	<integer>1</integer>
	<key>DevelopAutoNoiseReduction</key>
	<integer>1</integer>
	<key>DevelopCoreImage</key>
	<integer>0</integer>
	<key>DevelopExposureBias</key>
	<integer>2</integer>
	<key>DevelopGlobalEnable</key>
	<integer>1</integer>
	<key>DevelopLensProfileSelectionMode</key>
	<integer>1</integer>
	<key>DevelopMapDefault</key>
	<integer>2</integer>
	<key>DevelopOutputLinear</key>
	<integer>0</integer>
	<key>DocumentDefaultSize</key>
	<integer>48</integer>
	<key>DuplicateSelectionFromImageNodeAction</key>
	<integer>0</integer>
	<key>EffectOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>EmbedAffinityLayers</key>
	<false/>
	<key>EraseFromVectorSelectionAction</key>
	<integer>0</integer>
	<key>Export Preset EPS</key>
	<string>EPS (for export)</string>
	<key>Export Preset EXR</key>
	<string>OpenEXR 32-bit linear</string>
	<key>Export Preset GIF</key>
	<string>GIF RGB</string>
	<key>Export Preset HDR</key>
	<string>Radiance HDR 32-bit linear</string>
	<key>Export Preset JPEG</key>
	<string>JPEG (Best quality)</string>
	<key>Export Preset JPEG XL</key>
	<string>JPEG XL (Best Quality)</string>
	<key>Export Preset PDF</key>
	<string>PDF (for print)</string>
	<key>Export Preset PNG</key>
	<string>PNG</string>
	<key>Export Preset PSD</key>
	<string>PSD (preserve accuracy)</string>
	<key>Export Preset SVG</key>
	<string>SVG (for export)</string>
	<key>Export Preset TGA</key>
	<string>TGA</string>
	<key>Export Preset TIFF</key>
	<string>TIFF RGB 8-bit</string>
	<key>Export Preset WEBP</key>
	<string>WEBP (Best Quality)</string>
	<key>ExportSettingsTabIdentifier</key>
	<string>PDF</string>
	<key>FillColumnGuides</key>
	<true/>
	<key>FillFlyoutModelTag</key>
	<integer>5</integer>
	<key>FlyoutID_ColourPicker state</key>
	<string>ColourPicker</string>
	<key>FlyoutID_Shape state</key>
	<string>ShapeRectangle</string>
	<key>FlyoutID_Text state</key>
	<string>ArtText</string>
	<key>GlobalEnable</key>
	<integer>1</integer>
	<key>GrayLevelBackground</key>
	<real>0.13500000000000001</real>
	<key>GridMainColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4zNDkwMTk2MTY4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GridSubColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GuidesWindowController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGXt7MTc2MCwgMTQyfSwg
	ezczNywgMzc2fX3SFRYXGFokY2xhc3NuYW1lWCRjbGFzc2VzV05TVmFsdWWiFxlYTlNP
	YmplY3QIERokKTI3SUxRU1heZXB3goSGiKSptL3FyAAAAAAAAAEBAAAAAAAAABoAAAAA
	AAAAAAAAAAAAAADR
	</data>
	<key>HideAllUIState</key>
	<array>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
	<key>IndexPage</key>
	<data>
	AP9LUwIAdHNpdQEAFwAAAINHcHhFAgAAAAAAAABndHBvAA==
	</data>
	<key>KnifeToolAutoClose</key>
	<false/>
	<key>KnifeToolAutoCloseMode</key>
	<integer>0</integer>
	<key>LinkGridColours</key>
	<true/>
	<key>ModelSelected</key>
	<integer>1</integer>
	<key>ModelSelected-Sliders</key>
	<integer>3</integer>
	<key>MonochromaticIconography</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/Professional Development/Plume &amp; Pith/studio_signage</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{800, 448}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>525 507 800 448 0 0 1800 1125 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>725 742 400 135 0 0 1800 1125 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>534 480 620 398 0 0 1800 1125 </string>
	<key>OtherBrushOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnNoSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaletteDefaultCategory</key>
	<string>Colors</string>
	<key>PaletteDefaultType</key>
	<integer>0</integer>
	<key>PaletteFlyoutIndex</key>
	<integer>0</integer>
	<key>PaletteListMode</key>
	<false/>
	<key>PenToolUsesFill</key>
	<false/>
	<key>PenToolUsesLine</key>
	<false/>
	<key>PencilToolAutoClose</key>
	<false/>
	<key>PencilToolAutoCloseMode</key>
	<integer>0</integer>
	<key>PencilToolUsesFill</key>
	<false/>
	<key>PencilToolUsesLine</key>
	<false/>
	<key>PixelGridColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>PreviewAfterPDFExport</key>
	<false/>
	<key>RasterDRAMLimit</key>
	<integer>65536</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://go.seriflabs.com/affinity-update-mac-retail-publisher2</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-07-26T21:27:37Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>SectionsGridWindowController-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7MjA3LCAyMTl9LCB7
	NDY3LCAyNzZ9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>SelectNewShapes</key>
	<true/>
	<key>ShowFrameTextRuler</key>
	<false/>
	<key>ShowRulers</key>
	<true/>
	<key>SnappingCandidateBounds</key>
	<true/>
	<key>SnappingCandidateBoundsCentre</key>
	<true/>
	<key>SnappingCandidateGeometry</key>
	<false/>
	<key>SnappingCandidateKeyPoints</key>
	<false/>
	<key>SnappingCandidateSource</key>
	<integer>0</integer>
	<key>SnappingEnabled</key>
	<true/>
	<key>SnappingForcePixelSnapping</key>
	<false/>
	<key>SnappingGapsAndSpans</key>
	<true/>
	<key>SnappingGrid</key>
	<false/>
	<key>SnappingGuides</key>
	<true/>
	<key>SnappingIndividualBounds</key>
	<false/>
	<key>SnappingMargin</key>
	<true/>
	<key>SnappingMarginCentre</key>
	<true/>
	<key>SnappingNodeToolSnapAllSelectedNodes</key>
	<false/>
	<key>SnappingNodeToolSnapConstruction</key>
	<false/>
	<key>SnappingNodeToolSnapHandlePositions</key>
	<false/>
	<key>SnappingNodeToolSnapToGeometry</key>
	<true/>
	<key>SnappingNodeToolSnapToNodes</key>
	<false/>
	<key>SnappingOnlySnapToVisible</key>
	<true/>
	<key>SnappingOptionPanel-Frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QGHt7NzMyLCAyODV9LCB7
	MzE0LCA2NDN9fdIVFhcYWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNWYWx1ZaIXGVhOU09i
	amVjdAgRGiQpMjdJTFFTWF5lcHeChIaIo6izvMTHAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAANA=
	</data>
	<key>SnappingPageCentre</key>
	<true/>
	<key>SnappingPageEdge</key>
	<true/>
	<key>SnappingPixelSelectionBounds</key>
	<false/>
	<key>SnappingQuantizePixelMovement</key>
	<true/>
	<key>SnappingScreenMinSize</key>
	<real>8</real>
	<key>SnappingScreenTolerance</key>
	<real>8</real>
	<key>SnappingShowSnappingCandidates</key>
	<false/>
	<key>SpreadPropertiesController</key>
	<data>
	AP9LUwIAdHNpdQEAFAAAAClvZHRzASplbGNzAgAAACpoY25hBQAAACphc2VyBAAAACls
	cHNhAQA=
	</data>
	<key>Tab-ToolUI-Hidden</key>
	<false/>
	<key>Tab-ToolUIPanel-NumberOfColumns</key>
	<integer>1</integer>
	<key>Tab-ToolsPanel-showingPalette</key>
	<false/>
	<key>Tab-ToolsUI-DockedState</key>
	<true/>
	<key>TagsPage</key>
	<data>
	AP9LUwIAdHNpdQEAFwAAAAA=
	</data>
	<key>com.seriflabs.Colours.CMYKSlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.GreySlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.RGBHexSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Colours.RGBSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.DocumentEditingSessionCount</key>
	<integer>3</integer>
	<key>com.seriflabs.MainWindowFrame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QF3t7NTEsIDB9LCB7MTc0
	OSwgMTEyNX190hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU1ZhbHVlohcZWE5TT2Jq
	ZWN0CBEaJCkyN0lMUVNYXmVwd4KEhoiip7K7w8YAAAAAAAABAQAAAAAAAAAaAAAAAAAA
	AAAAAAAAAAAAzw==
	</data>
	<key>com.seriflabs.PreferredUserDisplayName</key>
	<string>Wil Hall</string>
	<key>com.seriflabs.SelectedNewDocumentCategory</key>
	<integer>1</integer>
	<key>com.seriflabs.StatusBar.HiddenState</key>
	<false/>
	<key>com.seriflabs.Studio.CharacterPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAAINHcHhFBgAAAAUAAAByZ2VkcmdnbHJnYW9yZ3RwcmdwdAA=
	</data>
	<key>com.seriflabs.Studio.CharacterPage.ExpandedState</key>
	<dict>
		<key>language</key>
		<false/>
		<key>optical</key>
		<false/>
		<key>positioning</key>
		<true/>
		<key>typography</key>
		<true/>
		<key>underline_strikethrough</key>
		<true/>
	</dict>
	<key>com.seriflabs.Studio.Data2.HideState</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Layout.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Layout.com.seriflabs.hide.west</key>
	<false/>
	<key>com.seriflabs.Studio.Data2Layout</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCRAAsADAAT
	ABgAHgAiACgAPABCAEMARABFAEsAOwBSAFgAXgBfAGIAZQBmAGkAagBrAG8AegCDAIQA
	hQCGAIcAiACJADgAkwCcAJ8AoACjAKQApwCoAKsArACvALAAswC0ALUAwADGAMcAyADJ
	AM8A1QDYANkA3ADdAOAA4QDiAOUA6QDsAPAA+wEHAQgBCQEKAQsBDAENAQ4BDwEQARwB
	KAErASwBLwEwATMBNAE3ATgBOwE8AT8BQAFDAUQBRwFIAUsBTAFNAVEBVQFbAVwBZwF2
	AXcBeAF5AXoBewF8AX0BfgF/AYABgQGCAZEBoAGjAaQBpwGoAasBrAGvAbABswG0AbcB
	uAG7AbwBvwHAAcMBxAHHAcgBywHMAc8B0AHRAdVVJG51bGzTAA0ADgAPABAAEQASXxAf
	Y29tLnNlcmlmbGFicy5TdHVkaW8uV2luZG93RGF0YVYkY2xhc3NfECFjb20uc2VyaWZs
	YWJzLlN0dWRpby5GbG9hdGluZ0RhdGGAAoCQgGPSABQADgAVABdaTlMub2JqZWN0c6EA
	FoADgD7TABkAGgAOABsAHAAdWUVhc3RTaGVsZllXZXN0U2hlbGaABIBAgGLSAB8ADgAg
	ACFYQm9va0RhdGGABYA/0gAUAA4AIwAXowAkACUAJoAGgBiAMIA+2gAOACkAKgArACwA
	LQAuAC8AMAAxADIAMwA0ADUANgA3ADgAOAA4ADtXUGFnZUlEc1pWaXNpYmlsaXR5WnNh
	dmVkU2l6ZXNbRnJvbnRQYWdlSURVRnJhbWVcQXV0b0NvbGxhcHNlWENvbGxhcHNlXxAU
	RGlzYWJsZWRBdXRvQ29sbGFwc2VeU2hvd1BhZ2VUaXRsZXOAF4AHgAyADoAIgBYICAgJ
	0gAUAA4APQBBowA2AD8AQIAIgAmACoALWkNvbG91clBhZ2VcU3dhdGNoZXNQYWdlWExp
	bmVQYWdl0gBGAEcASABJWiRjbGFzc25hbWVYJGNsYXNzZXNXTlNBcnJheaIASABKWE5T
	T2JqZWN00gAUAA4ATABBowBNAE0ATYANgA2ADYALCdIAFAAOAFMAQaMAVABVAFaAD4AS
	gBSAC9MAWQAOAFoAWwBcAF1aTlMuc2l6ZXZhbFpOUy5zcGVjaWFsgBCAERACWnsyNjQs
	IDIxMH3SAEYARwBgAGFXTlNWYWx1ZaIAYABK0wBZAA4AWgBjAFwAXYATgBFaezI2NCwg
	MjI1fdMAWQAOAFoAZwBcAF2AFYARWnsyNjQsIDI5N31fEBR7ezAsIDB9LCB7MjY0LCAy
	Mzh9fdIARgBHAGwAbV5TdHVkaW9Cb29rRGF0YaIAbgBKXlN0dWRpb0Jvb2tEYXRh2gAO
	ACkAKgArACwALQAuAC8AMAAxADIAcQByAHMAdAB1ADgAOAA7ADuAF4AZgCCAIoAagC8I
	CAkJ0gAUAA4AewBBpgB0AH0AfgB/AIAAgYAagBuAHIAdgB6AH4ALWUxheWVyUGFnZV1D
	aGFyYWN0ZXJQYWdlXVBhcmFncmFwaFBhZ2VeVGV4dFN0eWxlc1BhZ2VaU3R5bGVzUGFn
	ZVtFZmZlY3RzUGFnZdIAFAAOAIoAQaYATQBNAE0ATQCPAI+ADYANgA2ADYAhgCGACwjS
	ABQADgCUAEGmAJUAlgCXAJgAmQCagCOAJYAngCmAK4AtgAvTAFkADgBaAJ0AXABdgCSA
	EVp7MjY0LCA2MDF90wBZAA4AWgChAFwAXYAmgBFaezI2NCwgODkxfdMAWQAOAFoApQBc
	AF2AKIARWnsyNjQsIDYwMX3TAFkADgBaAKkAXABdgCqAEVp7MjY0LCA2MDF90wBZAA4A
	WgCtAFwAXYAsgBFaezI2NCwgMTUwfdMAWQAOAFoAsQBcAF2ALoARWnsyNjQsIDE1MH1f
	EBZ7ezAsIDI0MH0sIHsyNjQsIDU0NX192gAOACkAKgArACwALQAuAC8AMAAxADIAtwC4
	ALkAugC7ADgAOAA4ADuAF4AxgDWANoAygD0ICAgJ0gAUAA4AwQBBowC6AMMAxIAygDOA
	NIALXVRyYW5zZm9ybVBhZ2VdTmF2aWdhdG9yUGFnZVtIaXN0b3J5UGFnZdIAFAAOAMoA
	QaMATQBNAE2ADYANgA2AC9IAFAAOANAAQaMA0QDSANOAN4A5gDuAC9MAWQAOAFoA1gBc
	AF2AOIARWnsyNjQsIDEyMH3TAFkADgBaANoAXABdgDqAEVp7MjY0LCAxOTJ90wBZAA4A
	WgDeAFwAXYA8gBFaezI2NCwgMTUwfV8QFnt7MCwgNzg3fSwgezI2NCwgMTQ4fX3SAEYA
	RwDjAOReTlNNdXRhYmxlQXJyYXmjAOMASABK0gBGAEcA5gDnXxAPU3R1ZGlvU2hlbGZE
	YXRhogDoAEpfEA9TdHVkaW9TaGVsZkRhdGHSAB8ADgDqACGAQYA/0gAUAA4A7QAXoQDu
	gEKAPtoADgApACoAKwAsAC0ALgAvADAAMQAyAPIA8wD0APUA9gA4ADgAOwA7gBeAQ4BN
	gE6ARIBhCAgJCdIAFAAOAPwAQakA9QD+AP8BAAEBAQIBAwEEAQWARIBFgEaAR4BIgEmA
	SoBLgEyAC1lQYWdlc1BhZ2VaQXNzZXRzUGFnZVlTdG9ja1BhZ2VfEBJGaW5kQW5kUmVw
	bGFjZVBhZ2VfEBRQbGFjZVRvb2xTb3VyY2VzUGFnZVdUb2NQYWdlWUluZGV4UGFnZV1Q
	cmVmbGlnaHRQYWdlWUJvb2tzUGFnZdIAFAAOAREAQakATQBNAE0ATQCPAI8AjwBNAI+A
	DYANgA2ADYAhgCGAIYANgCGAC9IAFAAOAR0AQakBHgEfASABIQEiASMBJAElASaAT4BR
	gFOAVYBXgFmAW4BdgF+AC9MAWQAOAFoBKQBcAF2AUIARWnsyNjQsIDk5MX3TAFkADgBa
	AS0AXABdgFKAEVp7MjAwLCAxNTB90wBZAA4AWgExAFwAXYBUgBFaezI2NCwgMTUwfdMA
	WQAOAFoBNQBcAF2AVoARWnsyNjQsIDk5MX3TAFkADgBaATkAXABdgFiAEVp7MjAwLCAx
	NTB90wBZAA4AWgE9AFwAXYBagBFaezI2NCwgMzUwfdMAWQAOAFoBQQBcAF2AXIARWnsy
	NjQsIDMwMH3TAFkADgBaAUUAXABdgF6AEVt7MjY0LCAxMjgxfdMAWQAOAFoBSQBcAF2A
	YIARWnsyNjQsIDI1Nn1fEBR7ezAsIDB9LCB7MjY0LCA5MzV9fdIARgBHAU4BT18QEFN0
	dWRpb1dpbmRvd0RhdGGiAVAASl8QEFN0dWRpb1dpbmRvd0RhdGHSABQADgFSABehAVOA
	ZIA+1AAfAC0BVgAOAVcBWAA7AVpZSGlkZVN0YXRlgGaAZQmAj18QGXt7MTI1MCwgNzky
	fSwgezI2NCwgMjI4fX3aAA4AKQAqACsALAAtAC4ALwAwADEAMgFeAV8BYAFhAWIAOAA4
	ADgAO4AXgGeAdIB1gACAjggICAnSABQADgFoAEGsAWkBagFrAWwBbQFuAW8BcAFxAXIB
	cwF0gGiAaYBqgGuAbIBtgG6Ab4BwgHGAcoBzgAtdVGV4dEZyYW1lUGFnZVlUYWJsZVBh
	Z2VfEA9UYWJsZUZvcm1hdFBhZ2VfEBBHbHlwaEJyb3dzZXJQYWdlXxAPQ29uc3RyYWlu
	dHNQYWdlWkZpZWxkc1BhZ2VdSHlwZXJsaW5rUGFnZVtBbmNob3JzUGFnZVtQaW5uaW5n
	UGFnZVlOb3Rlc1BhZ2VfEBNDcm9zc1JlZmVyZW5jZXNQYWdlWURlYnVnUGFnZdIAFAAO
	AYMAQawAjwCPAI8AjwCPAI8AjwCPAI8AjwCPAI+AIYAhgCGAIYAhgCGAIYAhgCGAIYAh
	gCGAC9IAFAAOAZIAQawBkwGUAZUBlgGXAZgBmQGaAZsBnAGdAZ6AdoB4gHqAfIB+gICA
	goCEgIaAiICKgIyAC9MAWQAOAFoBoQBcAF2Ad4ARWnsyNjQsIDEwMH3TAFkADgBaAaUA
	XABdgHmAEVp7MjY0LCAxMDB90wBZAA4AWgGpAFwAXYB7gBFaezI2NCwgMTAwfdMAWQAO
	AFoBrQBcAF2AfYARWnsyNjQsIDMwMH3TAFkADgBaAbEAXABdgH+AEVp7MjY0LCAyNTZ9
	0wBZAA4AWgG1AFwAXYCBgBFaezI2NCwgMjAwfdMAWQAOAFoBuQBcAF2Ag4ARWnsyNjQs
	IDI1Nn3TAFkADgBaAb0AXABdgIWAEVp7MjY0LCAyNTZ90wBZAA4AWgHBAFwAXYCHgBFa
	ezI2NCwgMTIwfdMAWQAOAFoBxQBcAF2AiYARWnsyNjQsIDEwMH3TAFkADgBaAckAXABd
	gIuAEVp7MjY0LCAxMDB90wBZAA4AWgHNAFwAXYCNgBFaezI2NCwgNTM2fV8QFHt7MCwg
	MH0sIHsyNjQsIDIyNn190gBGAEcB0gHTXxAPU3R1ZGlvUGFuZWxEYXRhogHUAEpfEA9T
	dHVkaW9QYW5lbERhdGHSAEYARwHWAddaU3R1ZGlvRGF0YaIB2ABKWlN0dWRpb0RhdGEA
	CAAZACIALAAxADoAPwBRAFYAWwBdAYIBiAGVAbcBvgHiAeQB5gHoAfEB/AH/AgECAwIQ
	AhoCJAImAigCKgIzAjwCPgJAAkkCUAJSAlQCVgJYAoECiQKUAp8CqwKxAr4CxwLeAu0C
	7wLxAvMC9QL3AvkC+gL7AvwC/QMGAw0DDwMRAxMDFQMgAy0DNgM/A0oDUwNbA2ADaQNy
	A3kDewN9A38DgQOCA4sDkgOUA5YDmAOaA6cDsgO9A78DwQPDA84D1wPfA+QD8QPzA/UE
	AAQNBA8EEQQcBDMEPARLBFAEXwSIBIoEjASOBJAEkgSUBJUElgSXBJgEoQSuBLAEsgS0
	BLYEuAS6BLwExgTUBOIE8QT8BQgFEQUeBSAFIgUkBSYFKAUqBSwFLQU2BUMFRQVHBUkF
	SwVNBU8FUQVeBWAFYgVtBXoFfAV+BYkFlgWYBZoFpQWyBbQFtgXBBc4F0AXSBd0F6gXs
	Be4F+QYSBjsGPQY/BkEGQwZFBkcGSAZJBkoGSwZUBlsGXQZfBmEGYwZxBn8GiwaUBpsG
	nQafBqEGowasBrMGtQa3BrkGuwbIBsoGzAbXBuQG5gboBvMHAAcCBwQHDwcoBzEHQAdH
	B1AHYgdnB3kHggeEB4YHjweSB5QHlge/B8EHwwfFB8cHyQfLB8wHzQfOB88H2AfrB+0H
	7wfxB/MH9Qf3B/kH+wf9B/8ICQgUCB4IMwhKCFIIXAhqCHQIfQiQCJIIlAiWCJgImgic
	CJ4IoAiiCKQIrQjACMIIxAjGCMgIygjMCM4I0AjSCNQI4QjjCOUI8Aj9CP8JAQkMCRkJ
	GwkdCSgJNQk3CTkJRAlRCVMJVQlgCW0JbwlxCXwJiQmLCY0JmAmlCacJqQm1CcIJxAnG
	CdEJ6AnxCgQKCQocCiUKKAoqCiwKPQpHCkkKSwpMCk4KagqTCpUKlwqZCpsKnQqfCqAK
	oQqiCqMKrArFCscKyQrLCs0KzwrRCtMK1QrXCtkK2wrdCt8K7Qr3CwkLHAsuCzkLRwtT
	C18LaQt/C4kLkgurC60LrwuxC7MLtQu3C7kLuwu9C78LwQvDC8ULzgvnC+kL6wvtC+8L
	8QvzC/UL9wv5C/sL/Qv/DAEMDgwQDBIMHQwqDCwMLgw5DEYMSAxKDFUMYgxkDGYMcQx+
	DIAMggyNDJoMnAyeDKkMtgy4DLoMxQzSDNQM1gzhDO4M8AzyDP0NCg0MDQ4NGQ0mDSgN
	Kg01DUINRA1GDVENaA1xDYMNiA2aDaMNrg2zAAAAAAAAAgIAAAAAAAAB2QAAAAAAAAAA
	AAAAAAAADb4=
	</data>
	<key>com.seriflabs.Studio.FieldsPage.ExpandedState</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
	</array>
	<key>com.seriflabs.Studio.IndexPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAAINHcHhFAgAAAAAAAABndHBvAA==
	</data>
	<key>com.seriflabs.Studio.NotesPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAACp5VE5WAAAAACl0c3VDAINHcHhFBQAAAAQAAABHbXJGR211
	Tkdzb1BHbHVSAA==
	</data>
	<key>com.seriflabs.Studio.PagesPage.ExpandedState</key>
	<dict>
		<key>_NS:102</key>
		<true/>
		<key>_NS:26</key>
		<true/>
	</dict>
	<key>com.seriflabs.Studio.ParagraphPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAAINHcHhFCgAAAAkAAAByZ2xicmdjZHJnbGZyZ3locmd3aXJn
	c2pyZ2Rwcmdwc3JnYnQA
	</data>
	<key>com.seriflabs.Studio.ParagraphPage.ExpandedState</key>
	<dict>
		<key>Baseline Grid</key>
		<false/>
		<key>Decorations</key>
		<false/>
		<key>Drop Caps</key>
		<false/>
		<key>Flow Control</key>
		<false/>
		<key>Hyphenation</key>
		<false/>
		<key>Initial Words</key>
		<false/>
		<key>Justification</key>
		<false/>
		<key>Lists</key>
		<false/>
		<key>Spacing</key>
		<true/>
		<key>TabStops</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.PinningPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAAClrbmxpAQA=
	</data>
	<key>com.seriflabs.Studio.SchemaVersion</key>
	<integer>5</integer>
	<key>com.seriflabs.Studio.TablePage.ExpandedState</key>
	<dict>
		<key>_NS:141</key>
		<true/>
		<key>_NS:20</key>
		<true/>
		<key>_NS:254</key>
		<true/>
		<key>_NS:316</key>
		<true/>
		<key>_NS:354</key>
		<true/>
		<key>_NS:359</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.TextFramePage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAAClMc25pASl3cGxjASlsZ2xjAINHcHhFBgAAAAMAAAByZ2xj
	cmduZ3JncHZyZ2dicmdyYwA=
	</data>
	<key>com.seriflabs.Studio.TocPage.ControllerState</key>
	<data>
	AP9LUwIAdHNpdQEAGgAAAINzeWVrAQAAAHJnbmepc2xhdgEAAAABAA==
	</data>
	<key>com.seriflabs.affinity.watchForCrash</key>
	<false/>
	<key>com.seriflabs.export.panel.startupdir</key>
	<string>/Users/wilhall/Library/Mobile Documents/com~apple~CloudDocs/Professional Development/Resume</string>
	<key>com.seriflabs.favourites.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
	<key>com.seriflabs.favourites.fonts.names-migrated</key>
	<true/>
	<key>com.seriflabs.opensave.panel.startupdir</key>
	<string>file:/Users/wilhall/Library/Mobile%20Documents/com~apple~CloudDocs/Professional%20Development/Plume%20&amp;%20Pith/studio_signage</string>
	<key>com.seriflabs.recent.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwWFxgZGhtVJG51bGzSDQ4P
	FVpOUy5vYmplY3RzViRjbGFzc6UQERITFIACgAOABIAFgAaAB1hUYXkgV2F3YV1UQVkg
	RHJlYW1ib2F0WlN3ZWV0aGVhcnRfEBFNZXJyaXdlYXRoZXIgU2Fuc1xNZXJyaXdlYXRo
	ZXLSHB0eH1okY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5ox4gIVdOU0Fy
	cmF5WE5TT2JqZWN0AAgAEQAaACQAKQAyADcASQBMAFEAUwBcAGIAZwByAHkAfwCBAIMA
	hQCHAIkAiwCUAKIArQDBAM4A0wDeAOcA9gD6AQIAAAAAAAACAQAAAAAAAAAiAAAAAAAA
	AAAAAAAAAAABCw==
	</data>
	<key>com.seriflabs.recent.fonts.names-migrated</key>
	<true/>
	<key>com.seriflabs.restoration.urls</key>
	<array/>
	<key>com.seriflabs.restore.mainwindow.frame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QF3t7MzIsIDB9LCB7MTcz
	NiwgMTA0MX190hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU1ZhbHVlohcZWE5TT2Jq
	ZWN0CBEaJCkyN0lMUVNYXmVwd4KEhoiip7K7w8YAAAAAAAABAQAAAAAAAAAaAAAAAAAA
	AAAAAAAAAAAAzw==
	</data>
</dict>
</plist>
