<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>467e65ff56f72dc467e23ba45</key>
	<integer>1</integer>
	<key>CrashDeviceIdentifier</key>
	<string>6C399F8F-661A-4C66-9EDC-DE6AF95A5458</string>
	<key>ImportantInformationLastCheckedDate</key>
	<date>2023-01-20T03:36:32Z</date>
	<key>ImportantInformationLastForegroundDate</key>
	<date>2023-01-21T13:36:32Z</date>
	<key>LastPreferencePaneIdentifier</key>
	<string>quickentry</string>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>720C76C2-EABD-4F47-8881-E9F7D1905D0D</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HEsz58Jq2KgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC4yLjBe
	TWFjQm9va1BybzE4LDRVQXBwbGVVbWFjT1NWMTMuMS4wVTIyQzY1VWVuX1VTE///////
	//7UWTEyODB4MTQ0MFYzLjE2LjNYMzE2MDM1MDJfEBpjb20uY3VsdHVyZWRjb2RlLlRo
	aW5nc01hY9IdHl5fWk1TQUNEZXZpY2WjYGEhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJT
	ZGvSHR5jZF8QFU1TQUNEZXZpY2VIaXN0b3J5SW5mb6NlZiFfEBVNU0FDRGV2aWNlSGlz
	dG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/SHR5oaV5OU011dGFibGVBcnJheaNoaiFX
	TlNBcnJheQAIABEAGgAkACkAMgA3AEkATABRAFMAbAByAHcAggCJAIsAjQCPAJYAowCt
	AK8AsQCzALgAwADJAMsA0ADbAOQA6wDuAPcBKAEyAUEBSgFiAW0BgQGNAZUBnAG2AcUB
	0AHfAecB8gH/AgUCHQI2AkECSAJQAlICVAJWAlgCWgJcAl4CYAJiAmQCZgJoAmoCbAJu
	AnACcgJ0AnYCeAJ6AnwCfgKQApYCpQKrArECuAK+AsQCzQLXAt4C5wMEAwkDFAMYAyMD
	MgM3A08DUwNrA30DggORA5UAAAAAAAACAQAAAAAAAABrAAAAAAAAAAAAAAAAAAADnQ==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBxLM+fAu3+oAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcSzPnw7rJuABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkNkMzOTlGOEYtNjYxQS00QzY2LTlF
	REMtREU2QUY5NUE1NDU40h0eJCVfEBVNU0FDVXNlcklkSGlzdG9yeUluZm+jJichXxAV
	TVNBQ1VzZXJJZEhpc3RvcnlJbmZvXxAPTVNBQ0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRh
	YmxlQXJyYXmjKSshV05TQXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIA
	eQB7AH0AfwCGAJMAnQCfAKEAowCoALAAuQC7AMAAywDUANsA3gDnAQ4BEwErAS8BRwFZ
	AV4BbQFxAAAAAAAAAgEAAAAAAAAALAAAAAAAAAAAAAAAAAAAAXk=
	</data>
	<key>OnboardingDidComplete</key>
	<true/>
	<key>OnboardingSampleProjectUUID</key>
	<string>AsdSigS1SP1gqZGqN4gpaw</string>
	<key>RecentlyDisplayedListUUIDs</key>
	<array>
		<string>area-7P5ij2UV8rb8fazXUoCHFS</string>
		<string>area-VAnrePdGvr56UFZSMpMe2r</string>
		<string>area-8iZozMecFjibSiq6MhFbEC</string>
		<string>area-XsJMHyvMTk7WmWCpeLTXtL</string>
		<string>today</string>
		<string>area-Q6BCDfhnL9i4QeZkZxjpRZ</string>
		<string>area-J5EhVpFEkCqs25UF8BdjrE</string>
		<string>area-6NRixigdST5CasHCmP518Y</string>
		<string>area-GvQJ2AtPK1n9efqS5x8Vtm</string>
		<string>area-6FppBQVWjGFfSkepVdL8HX</string>
	</array>
	<key>RecentlyDisplayedSourceUUIDs</key>
	<array>
		<string>THMAreaParentSource/7P5ij2UV8rb8fazXUoCHFS</string>
		<string>THMAreaParentSource/GvQJ2AtPK1n9efqS5x8Vtm</string>
		<string>THMAreaParentSource/VAnrePdGvr56UFZSMpMe2r</string>
		<string>THMAreaParentSource/8iZozMecFjibSiq6MhFbEC</string>
		<string>THMTodayListSource</string>
		<string>THMInboxListSource</string>
		<string>THMAreaParentSource/XsJMHyvMTk7WmWCpeLTXtL</string>
		<string>THMAreaParentSource/Q6BCDfhnL9i4QeZkZxjpRZ</string>
		<string>THMAreaParentSource/AA8x1BdvBc5FLizms7VzpW</string>
		<string>THMAreaParentSource/PJwYugxycuSPNRYmYMXYBt</string>
	</array>
	<key>SharedDataSegmentContextPropertyList</key>
	<dict>
		<key>ExpandedContextKeyForProjectsOfArea-24z3wEL22WXVaVQpU3npwz</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-2Bp7YkNdHv1ugWdyKpt82e</key>
		<integer>1</integer>
		<key>ExpandedContextKeyForProjectsOfArea-6CZFp3Rjvw9LA2Kon47HN8</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-6NRixigdST5CasHCmP518Y</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-7P5ij2UV8rb8fazXUoCHFS</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-83mSGdVDLhu3QLnmYL5MRc</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-BhzjWozgonehgzAs6jmxuL</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-FQNyxUyg6BppdtcezStwLB</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-J5EhVpFEkCqs25UF8BdjrE</key>
		<true/>
		<key>ExpandedContextKeyForProjectsOfArea-P7FhhW1znaya3iqJi1vXuP</key>
		<true/>
		<key>GlobalSegmentSettingsKey.7P5ij2UV8rb8fazXUoCHFS.isToggleItemSectionExpanded-Later</key>
		<true/>
		<key>GlobalSegmentSettingsKey.TXLogbookListSourceOlderTasksToggleButtonSegmentExpanded</key>
		<true/>
		<key>version</key>
		<integer>1</integer>
	</dict>
	<key>TXMainWindowDefaultState</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBxZYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctcICQoLDA0ODxARDxMUFV8QD2lzU2lkZUJhckhp
	ZGRlblVmcmFtZVxzaWRlQmFyV2lkdGhcaW5GdWxsU2NyZWVuWExpc3RVVUlEXxARc2Vs
	ZWN0ZWRJdGVtVVVJRHNfEBVhdXRvQ2FzY2FkZUlkZW50aWZpZXIIgAEjQGggAAAAAAAI
	gAOABIACpxcYGRobISJVJG51bGxfEBl7ezEzNjQsIDM1M30sIHs5MzUsIDcwMH19XxAh
	VFhNYWluV2luZG93QXV0b0Nhc2NhZGVJZGVudGlmaWVyXxAbYXJlYS03UDVpajJVVjhy
	YjhmYXpYVW9DSEZT0hwdHiBaTlMub2JqZWN0c1YkY2xhc3OhH4AFgAZYVGFzay0yNjbS
	IyQlJlokY2xhc3NuYW1lWCRjbGFzc2VzVU5TU2V0oiUnWE5TT2JqZWN0AAgAEQAaACQA
	KQAyADcASQBYAGoAcAB9AIoAkwCnAL8AwADCAMsAzADOANAA0gDaAOAA/AEgAT4BQwFO
	AVUBVwFZAVsBZAFpAXQBfQGDAYYAAAAAAAACAQAAAAAAAAAoAAAAAAAAAAAAAAAAAAAB
	jw==
	</data>
	<key>TXTextViewAutomaticDashSubstitutionEnabledKey</key>
	<false/>
	<key>TXTextViewAutomaticQuoteSubstitutionEnabledKey</key>
	<false/>
	<key>TXTextViewAutomaticSpellingCorrectionEnabledKey</key>
	<true/>
	<key>TXWindowAutoCascadeTopLeftPoints</key>
	<dict>
		<key>TXMainWindowAutoCascadeIdentifier</key>
		<string>{1393, 1024}</string>
	</dict>
	<key>ThingsCloudEverUsed</key>
	<true/>
	<key>ThingsMainWindowSideBarWidthAutosaveName</key>
	<real>193</real>
	<key>firstAppLaunchDate</key>
	<date>2021-10-12T18:50:54Z</date>
	<key>whatsNewLastCheckedDate</key>
	<date>2023-01-21T13:37:28Z</date>
	<key>whatsNewLastCheckedParameterChecksum</key>
	<string>579b6e880c074460c95c0cc2f1e02f624a40e1b1bbe1f912644c41751c4274481381de4307d4a013e74c9864dc670223e87209d60486e53e7fb783f1a6358d49</string>
</dict>
</plist>
