<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddAdjustmentToSelectionAction</key>
	<integer>1</integer>
	<key>AddFilterToSelectionAction</key>
	<integer>0</integer>
	<key>AddMaskToSelectionAction</key>
	<integer>0</integer>
	<key>AlertOnActions</key>
	<integer>1</integer>
	<key>AppGamma</key>
	<real>0.20999999999999999</real>
	<key>AppTextGammaUIKey</key>
	<real>0.80000000000000004</real>
	<key>ArtboardGrayLevelBackground</key>
	<real>0.90000000000000002</real>
	<key>AutoUndoRedoActions</key>
	<integer>1</integer>
	<key>BrushTipSharingAction</key>
	<integer>0</integer>
	<key>ColumnGuideFillColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC4xODgyMzUzMTI3ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineColumnColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ColumnGuideLineRowColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC43NTI5NDEyNTA4IDAuNzUyOTQxMjUw
	OCAwLjc1Mjk0MTI1MDggMC43NTI5NDEyNTA4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>ContextToolbarHiddenState</key>
	<false/>
	<key>CrashDiagnosticId</key>
	<string>wil@wilhall.com</string>
	<key>DefaultBrushCategoryRaster</key>
	<integer>0</integer>
	<key>DevelopAlertOnActions</key>
	<integer>1</integer>
	<key>DevelopApplyToneCurve</key>
	<integer>0</integer>
	<key>DevelopApplyToneCurveToLinear</key>
	<integer>1</integer>
	<key>DevelopAutoNoiseReduction</key>
	<integer>1</integer>
	<key>DevelopCoreImage</key>
	<integer>0</integer>
	<key>DevelopExposureBias</key>
	<integer>2</integer>
	<key>DevelopGlobalEnable</key>
	<integer>1</integer>
	<key>DevelopLensProfileSelectionMode</key>
	<integer>1</integer>
	<key>DevelopMapDefault</key>
	<integer>2</integer>
	<key>DevelopOutputLinear</key>
	<integer>0</integer>
	<key>DocumentDefaultSize</key>
	<integer>98</integer>
	<key>EffectOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>EraseFromVectorSelectionAction</key>
	<integer>0</integer>
	<key>FillColumnGuides</key>
	<true/>
	<key>FlyoutID_AdjustmentBrush state</key>
	<string>RasterDodgeBrush</string>
	<key>FlyoutID_ColourBrush state</key>
	<string>RasterPaintBrush</string>
	<key>FlyoutID_ColourPicker state</key>
	<string>ColourPicker</string>
	<key>FlyoutID_Deformation state</key>
	<string>MeshWarp</string>
	<key>FlyoutID_Erase state</key>
	<string>RasterEraseBrush</string>
	<key>FlyoutID_Heal state</key>
	<string>RasterHealingBrush</string>
	<key>FlyoutID_Marquee state</key>
	<string>RectangularMarquee</string>
	<key>FlyoutID_PenNode state</key>
	<string>Pen</string>
	<key>FlyoutID_Shape state</key>
	<string>ShapeRectangle</string>
	<key>FlyoutID_SharpenBlurBrush state</key>
	<string>BlurBrush</string>
	<key>FlyoutID_Text state</key>
	<string>ArtText</string>
	<key>GlobalEnable</key>
	<integer>1</integer>
	<key>GrayLevelBackground</key>
	<real>0.13500000000000001</real>
	<key>GridMainColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4zNDkwMTk2MTY4ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>GridSubColour</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxARElVO
	U1JHQlxOU0NvbG9yU3BhY2VWJGNsYXNzTxA0MC44MDAwMDAwNzE1IDAuODAwMDAwMDcx
	NSAwLjgwMDAwMDA3MTUgMC4xNzY0NzA1OTI2ABABgALSFBUWF1okY2xhc3NuYW1lWCRj
	bGFzc2VzV05TQ29sb3KiFhhYTlNPYmplY3QIERokKTI3SUxRU1ddZGp3frW3ub7J0trd
	AAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAOY=
	</data>
	<key>KnifeToolAutoClose</key>
	<false/>
	<key>LinkGridColours</key>
	<true/>
	<key>ModelSelected</key>
	<integer>1</integer>
	<key>ModelSelected-Sliders</key>
	<integer>0</integer>
	<key>MonochromaticIconography</key>
	<false/>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>OtherBrushOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnNoSelectionAction</key>
	<integer>0</integer>
	<key>PaintOnVectorSelectionAction</key>
	<integer>0</integer>
	<key>PaletteDefaultCategory</key>
	<string>Colors</string>
	<key>PaletteDefaultType</key>
	<integer>0</integer>
	<key>PaletteListMode</key>
	<false/>
	<key>PenToolUsesFill</key>
	<false/>
	<key>PencilToolAutoClose</key>
	<false/>
	<key>PencilToolUsesFill</key>
	<false/>
	<key>RasterDRAMLimit</key>
	<integer>65536</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://go.seriflabs.com/affinity-update-mac-retail-photo2</string>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-06-04T15:15:16Z</date>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SelectNewShapes</key>
	<true/>
	<key>ShowFrameTextRuler</key>
	<false/>
	<key>Tab-ToolUI-Hidden</key>
	<false/>
	<key>Tab-ToolUIPanel-NumberOfColumns</key>
	<integer>1</integer>
	<key>Tab-ToolsPanel-showingPalette</key>
	<false/>
	<key>Tab-ToolsUI-DockedState</key>
	<true/>
	<key>com.seriflabs.Colours.CMYKSlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.GreySlider.mode</key>
	<integer>2</integer>
	<key>com.seriflabs.Colours.RGBHexSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Colours.RGBSlider.mode</key>
	<integer>0</integer>
	<key>com.seriflabs.Histogram.Advance</key>
	<false/>
	<key>com.seriflabs.MainWindowFrame</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwTFFUkbnVsbNMNDg8QERJa
	TlMucmVjdHZhbFYkY2xhc3NaTlMuc3BlY2lhbIACgAMQA18QF3t7MzQsIDY0fSwgezE0
	NDgsIDg1NH190hUWFxhaJGNsYXNzbmFtZVgkY2xhc3Nlc1dOU1ZhbHVlohcZWE5TT2Jq
	ZWN0CBEaJCkyN0lMUVNYXmVwd4KEhoiip7K7w8YAAAAAAAABAQAAAAAAAAAaAAAAAAAA
	AAAAAAAAAAAAzw==
	</data>
	<key>com.seriflabs.SelectedNewDocumentCategory</key>
	<integer>1</integer>
	<key>com.seriflabs.StatusBar.HiddenState</key>
	<false/>
	<key>com.seriflabs.Studio.CharacterPage.ExpandedState</key>
	<dict>
		<key>language</key>
		<false/>
		<key>optical</key>
		<false/>
		<key>positioning</key>
		<true/>
		<key>typography</key>
		<true/>
		<key>underline_strikethrough</key>
		<true/>
	</dict>
	<key>com.seriflabs.Studio.Data2.HideState</key>
	<false/>
	<key>com.seriflabs.Studio.Data2.Photo.com.seriflabs.hide.east</key>
	<false/>
	<key>com.seriflabs.Studio.Data2Photo</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxCPAAsADAAT
	ABgAHgAiACgAPABDAEQARQBGAEcATQA7ADgAVgBdAGMAZABnAGoAawBuAG8AcgBzAHQA
	eACDAJAAkQCSAJMAlACVAJYAlwCYAJkAmgCnALQAtwC4ALsAvAC/AMAAwwDEAMcAyADL
	AMwAzwDQANMA1ADXANgA2wDcAN0A6ADyAPMA9AD1APYA9wD4APkBAwENARABEQEUARUB
	GAEZARwBHQEgASEBJAElASgBKQEqAS0BMQE0ATgBQwFKAUsBTAFNAU4BVQFcAV8BYAFj
	AWQBZwFoAWsBbAFtAXEBdgF8AX0BiAGQAZEBkgGTAZQBlQGdAaUBqAGpAawBrQGwAbEB
	tAG1AbgBuQG9AcIBzQHRAdIB1gHaAd0B3lUkbnVsbNMADQAOAA8AEAARABJfEB9jb20u
	c2VyaWZsYWJzLlN0dWRpby5XaW5kb3dEYXRhViRjbGFzc18QIWNvbS5zZXJpZmxhYnMu
	U3R1ZGlvLkZsb2F0aW5nRGF0YYACgI6Ab9IAFAAOABUAF1pOUy5vYmplY3RzoQAWgAOA
	WdMAGQAaAA4AGwAcAB1ZRWFzdFNoZWxmWVdlc3RTaGVsZoAEgFuAbtIAHwAOACAAIVhC
	b29rRGF0YYAFgFrSABQADgAjABejACQAJQAmgAaAHIA/gFnaAA4AKQAqACsALAAtAC4A
	LwAwADEAMgAzADQANQA2ADcAOAA4ADgAO1dQYWdlSURzWlZpc2liaWxpdHlac2F2ZWRT
	aXplc1tGcm9udFBhZ2VJRFVGcmFtZVxBdXRvQ29sbGFwc2VYQ29sbGFwc2VfEBREaXNh
	YmxlZEF1dG9Db2xsYXBzZV5TaG93UGFnZVRpdGxlc4AbgAeADYAQgAiAGggICAnSABQA
	DgA9AEKkADYAPwBAAEGACIAJgAqAC4AMXUhpc3RvZ3JhbVBhZ2VcV2F2ZWZvcm1QYWdl
	WkNvbG91clBhZ2VcU3dhdGNoZXNQYWdl0gBIAEkASgBLWiRjbGFzc25hbWVYJGNsYXNz
	ZXNXTlNBcnJheaIASgBMWE5TT2JqZWN00gAUAA4ATgBCpABPAFAATwBQgA6AD4AOgA+A
	DAkI0gAUAA4AVwBCpABYAFkAWgBbgBGAFIAWgBiADNMAXgAOAF8AYABhAGJaTlMuc2l6
	ZXZhbFpOUy5zcGVjaWFsgBKAExACWnsyNjQsIDE2MH3SAEgASQBlAGZXTlNWYWx1ZaIA
	ZQBM0wBeAA4AXwBoAGEAYoAVgBNaezI2NCwgMjc4fdMAXgAOAF8AbABhAGKAF4ATWnsy
	NjQsIDIxMH3TAF4ADgBfAHAAYQBigBmAE1p7MjY0LCAyMjV9XxAUe3swLCAwfSwgezI2
	NCwgMTg4fX3SAEgASQB1AHZeU3R1ZGlvQm9va0RhdGGiAHcATF5TdHVkaW9Cb29rRGF0
	YdoADgApACoAKwAsAC0ALgAvADAAMQAyAHoAewB8AH0AfgA4ADgAOAA7gBuAHYAogCmA
	IIA+CAgICdIAFAAOAIQAQqoAhQCGAH0AiACJAIoAiwCMAI0AjoAegB+AIIAhgCKAI4Ak
	gCWAJoAngAxeQWRqdXN0bWVudFBhZ2VXWE1QUGFnZVlMYXllclBhZ2VeTGF5ZXJTdGF0
	ZVBhZ2VcQ2hhbm5lbHNQYWdlWUJydXNoUGFnZVlTdG9ja1BhZ2VbRWZmZWN0c1BhZ2Va
	U3R5bGVzUGFnZVlEZWJ1Z1BhZ2XSABQADgCbAEKqAFAAUABPAFAATwBPAE8AUABQAFCA
	D4APgA6AD4AOgA6ADoAPgA+AD4AM0gAUAA4AqABCqgCpAKoAqwCsAK0ArgCvALAAsQCy
	gCqALIAugDCAMoA0gDaAOIA6gDyADNMAXgAOAF8AtQBhAGKAK4ATWnsyNjQsIDE1MH3T
	AF4ADgBfALkAYQBigC2AE1p7MjY0LCAzNjB90wBeAA4AXwC9AGEAYoAvgBNaezI2NCwg
	MzA4fdMAXgAOAF8AwQBhAGKAMYATWnsyNjQsIDE5Mn3TAF4ADgBfAMUAYQBigDOAE1p7
	MjY0LCAxNTB90wBeAA4AXwDJAGEAYoA1gBNaezI2NCwgMjI1fdMAXgAOAF8AzQBhAGKA
	N4ATWnsyNjQsIDE1MH3TAF4ADgBfANEAYQBigDmAE1p7MjY0LCAxNTB90wBeAA4AXwDV
	AGEAYoA7gBNaezI2NCwgMTUwfdMAXgAOAF8A2QBhAGKAPYATWnsyNjQsIDUzNn1fEBZ7
	ezAsIDE5MH0sIHsyNjQsIDMzNn192gAOACkAKgArACwALQAuAC8AMAAxADIA3wDgAOEA
	4gDjADgAOAA4ADuAG4BAgEiASYBBgFgICAgJ0gAUAA4A6QBCpwDiAOsA7ADtAO4A7wDw
	gEGAQoBDgESARYBGgEeADF1OYXZpZ2F0b3JQYWdlXVRyYW5zZm9ybVBhZ2VbSGlzdG9y
	eVBhZ2VdU25hcHNob3RzUGFnZV8QD0luZm9ybWF0aW9uUGFnZV5IRFJQcmV2aWV3UGFn
	ZVdHUFVQYWdl0gAUAA4A+gBCpwBPAE8ATwBQAFAAUABQgA6ADoAOgA+AD4APgA+ADNIA
	FAAOAQQAQqcBBQEGAQcBCAEJAQoBC4BKgEyAToBQgFKAVIBWgAzTAF4ADgBfAQ4AYQBi
	gEuAE1p7MjY0LCAxOTJ90wBeAA4AXwESAGEAYoBNgBNaezI2NCwgMTIwfdMAXgAOAF8B
	FgBhAGKAT4ATWnsyNjQsIDE1MH3TAF4ADgBfARoAYQBigFGAE1p7MjY0LCAxNTB90wBe
	AA4AXwEeAGEAYoBTgBNaezI2NCwgMTkyfdMAXgAOAF8BIgBhAGKAVYATWnsyNjQsIDI4
	MH3TAF4ADgBfASYAYQBigFeAE1p7MjY0LCAxOTJ9XxAWe3swLCA1Mjh9LCB7MjY0LCAy
	MjB9fdIASABJASsBLF5OU011dGFibGVBcnJheaMBKwBKAEzSAEgASQEuAS9fEA9TdHVk
	aW9TaGVsZkRhdGGiATAATF8QD1N0dWRpb1NoZWxmRGF0YdIAHwAOATIAIYBcgFrSABQA
	DgE1ABehATaAXYBZ2gAOACkAKgArACwALQAuAC8AMAAxADIBOgE7ATwBPQE+ADgAOAA4
	ADuAG4BegGOAZIAAgG0ICAgJ0gAUAA4BRABCpAFFAUYBRwFIgF+AYIBhgGKADFlNYWNy
	b1BhZ2VaTWFjcm9zUGFnZVlCYXRjaFBhZ2VaQXNzZXRzUGFnZdIAFAAOAU8AQqQAUABQ
	AFAAUIAPgA+AD4APgAzSABQADgFWAEKkAVcBWAFZAVqAZYBngGmAa4AM0wBeAA4AXwFd
	AGEAYoBmgBNaezI2NCwgNjcyfdMAXgAOAF8BYQBhAGKAaIATWnsyNjQsIDE1MH3TAF4A
	DgBfAWUAYQBigGqAE1p7MjY0LCAyMjV90wBeAA4AXwFpAGEAYoBsgBNaezIwMCwgMTUw
	fV8QFHt7MCwgMH0sIHsyMDAsIDcwMH190gBIAEkBbgFvXxAQU3R1ZGlvV2luZG93RGF0
	YaIBcABMXxAQU3R1ZGlvV2luZG93RGF0YdIAFAAOAXIAF6IBcwF0gHCAhoBZ1AAfAC0B
	dwAOAXgBeQA4AXtZSGlkZVN0YXRlgHKAcQiAhV8QEHt7MCwgMH0sIHswLCAwfX3aAA4A
	KQAqACsALAAtAC4ALwAwADEAMgF/AYABgQE9AXkAOAA4ADgAO4AbgHOAeYB6gACAcQgI
	CAnSABQADgGJAEKlAYoBiwGMAY0BjoB0gHWAdoB3gHiADF1DaGFyYWN0ZXJQYWdlXVBh
	cmFncmFwaFBhZ2VeVGV4dFN0eWxlc1BhZ2VfEBVDbG9uZUJydXNoU291cmNlc1BhZ2VZ
	TGlua3NQYWdl0gAUAA4BlgBCpQBQAFAAUABQAFCAD4APgA+AD4APgAzSABQADgGeAEKl
	AZ8BoAGhAaIBo4B7gH2Af4CBgIOADNMAXgAOAF8BpgBhAGKAfIATWnsyNjQsIDIwMH3T
	AF4ADgBfAaoAYQBigH6AE1p7MjY0LCAyMDB90wBeAA4AXwGuAGEAYoCAgBNaezI2NCwg
	MTAwfdMAXgAOAF8BsgBhAGKAgoATWnsyNjQsIDE1MH3TAF4ADgBfAbYAYQBigISAE1p7
	MjY0LCAyNTZ90gBIAEkBugG7XxAPU3R1ZGlvUGFuZWxEYXRhogG8AExfEA9TdHVkaW9Q
	YW5lbERhdGHUAB8ALQF3AA4BvgF5ADgBe4CHgHEIgIXaAA4AKQAqACsALAAtAC4ALwAw
	ADEAMgHEAcUBxgE9AXkAOAA4ADgAO4AbgIiAioCLgACAcQgICAnSABQADgHOAEKhAc+A
	iYAMXxAQR2x5cGhCcm93c2VyUGFnZdIAFAAOAdMAQqEAUIAPgAzSABQADgHXAEKhAdiA
	jIAM0wBeAA4AXwHbAGEAYoCNgBNaezI2NCwgMzAwfdIASABJAd8B4FpTdHVkaW9EYXRh
	ogHhAExaU3R1ZGlvRGF0YQAIABkAIgAsADEAOgA/AFEAVgBbAF0BfgGEAZEBswG6Ad4B
	4AHiAeQB7QH4AfsB/QH/AgwCFgIgAiICJAImAi8COAI6AjwCRQJMAk4CUAJSAlQCfQKF
	ApACmwKnAq0CugLDAtoC6QLrAu0C7wLxAvMC9QL2AvcC+AL5AwIDCwMNAw8DEQMTAxUD
	IwMwAzsDSANRA1wDZQNtA3IDewOEA40DjwORA5MDlQOXA5gDmQOiA6sDrQOvA7EDswO1
	A8IDzQPYA9oD3APeA+kD8gP6A/8EDAQOBBAEGwQoBCoELAQ3BEQERgRIBFMEagRzBIIE
	hwSWBL8EwQTDBMUExwTJBMsEzATNBM4EzwTYBO0E7wTxBPME9QT3BPkE+wT9BP8FAQUD
	BRIFGgUkBTMFQAVKBVQFYAVrBXUFfgWTBZUFlwWZBZsFnQWfBaEFowWlBacFqQWyBccF
	yQXLBc0FzwXRBdMF1QXXBdkF2wXdBeoF7AXuBfkGBgYIBgoGFQYiBiQGJgYxBj4GQAZC
	Bk0GWgZcBl4GaQZ2BngGegaFBpIGlAaWBqEGrgawBrIGvQbKBswGzgbZBuYG6AbqBvUH
	Dgc3BzkHOwc9Bz8HQQdDB0QHRQdGB0cHUAdfB2EHYwdlB2cHaQdrB20Hbwd9B4sHlwel
	B7cHxgfOB9cH5gfoB+oH7AfuB/AH8gf0B/YH/wgOCBAIEggUCBYIGAgaCBwIHggrCC0I
	Lwg6CEcISQhLCFYIYwhlCGcIcgh/CIEIgwiOCJsInQifCKoItwi5CLsIxgjTCNUI1wji
	CPsJBAkTCRoJIwk1CToJTAlVCVcJWQliCWUJZwlpCZIJlAmWCZgJmgmcCZ4JnwmgCaEJ
	ogmrCbQJtgm4CboJvAm+CcgJ0wndCegJ8Qn6CfwJ/goACgIKBAoNChYKGAoaChwKHgog
	Ci0KLwoxCjwKSQpLCk0KWAplCmcKaQp0CoEKgwqFCpAKpwqwCsMKyArbCuQK6QrrCu0K
	7wsACwoLDAsOCw8LEQskC00LTwtRC1MLVQtXC1kLWgtbC1wLXQtmC3ELcwt1C3cLeQt7
	C30LiwuZC6gLwAvKC9ML3gvgC+IL5AvmC+gL6gvzC/4MAAwCDAQMBgwIDAoMFwwZDBsM
	JgwzDDUMNwxCDE8MUQxTDF4MawxtDG8MegyHDIkMiwyWDJ8MsQy2DMgM2QzbDN0M3gzg
	DQkNCw0NDQ8NEQ0TDRUNFg0XDRgNGQ0iDSUNJw0pDTwNRQ1IDUoNTA1VDVgNWg1cDWkN
	aw1tDXgNgQ2MDZEAAAAAAAACAgAAAAAAAAHiAAAAAAAAAAAAAAAAAAANnA==
	</data>
	<key>com.seriflabs.Studio.ParagraphPage.ExpandedState</key>
	<dict>
		<key>Baseline Grid</key>
		<false/>
		<key>Decorations</key>
		<false/>
		<key>Drop Caps</key>
		<false/>
		<key>Flow Control</key>
		<false/>
		<key>Hyphenation</key>
		<false/>
		<key>Initial Words</key>
		<false/>
		<key>Justification</key>
		<false/>
		<key>Lists</key>
		<false/>
		<key>Spacing</key>
		<true/>
		<key>TabStops</key>
		<false/>
	</dict>
	<key>com.seriflabs.Studio.SchemaVersion</key>
	<integer>5</integer>
	<key>com.seriflabs.affinity.watchForCrash</key>
	<false/>
	<key>com.seriflabs.favourites.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
	<key>com.seriflabs.recent.fonts.names</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBaTlMu
	b2JqZWN0c1YkY2xhc3OggALSEhMUFVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJs
	ZUFycmF5oxQWF1dOU0FycmF5WE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJtdHV3fIeQn6Or
	AAAAAAAAAQEAAAAAAAAAGAAAAAAAAAAAAAAAAAAAALQ=
	</data>
</dict>
</plist>
