<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mru-spaces</key>
	<true/>
	<key>orientation</key>
	<string>right</string>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1192795333</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAeAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAATGF1bmNocGFkLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAfVwAA////DwgAAAAE
				AwAAq8gGAP///w8IAAAABAMAAKhHBwD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHBiQejgAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACgIGh0AAAACAAAAAAEAABBwahp5QcG0yQA
				AAABAQAAMUNDQzVDOTItMjk4MS00MzNGLTgwODYtQjlB
				ODE1QzBDMDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AGQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAABgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAAgBAAAA
				AAAAICAAAEQBAAAAAAAAMCAAAHABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.launchpad.launcher</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Launchpad.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Launchpad</string>
				<key>file-mod-date</key>
				<integer>3649538119</integer>
				<key>file-type</key>
				<integer>169</integer>
				<key>parent-mod-date</key>
				<integer>3652633376</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2461011027</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCgAAAAEBAABTYWZhcmku
				YXBwAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAAi0dHAgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwZ+DzAAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Safari</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Safari.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Safari</string>
				<key>file-mod-date</key>
				<integer>725220620493</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>217668318777963</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1192795334</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAeAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cw0AAAABAQAAQXBwIFN0b3JlLmFwcAAAAAwAAAABBgAA
				EAAAACAAAAA0AAAACAAAAAQDAAAfVwAA////DwgAAAAE
				AwAAq8gGAP///w8IAAAABAMAAGRpBwD///8PDAAAAAEG
				AABgAAAAcAAAAIAAAAAIAAAAAAQAAEHBll1sAAAAGAAA
				AAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAA
				AQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
				AAAABAMAAACgIGh0AAAACAAAAAAEAABBwahp5QcG0yQA
				AAABAQAAMUNDQzVDOTItMjk4MS00MzNGLTgwODYtQjlB
				ODE1QzBDMDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAA
				AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+
				////AQAAAAAAAAANAAAABBAAAEwAAAAAAAAABRAAAJAA
				AAAAAAAAEBAAALQAAAAAAAAAQBAAAKQAAAAAAAAAAiAA
				AGQBAAAAAAAABSAAANQAAAAAAAAAECAAAOQAAAAAAAAA
				ESAAABgBAAAAAAAAEiAAAPgAAAAAAAAAEyAAAAgBAAAA
				AAAAICAAAEQBAAAAAAAAMCAAAHABAAAAAAAAENAAAAQA
				AAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.AppStore</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/App%20Store.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>App Store</string>
				<key>file-mod-date</key>
				<integer>281006196422860</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>68564221951743</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1192795335</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAgAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxYAAAABAQAAU3lzdGVtIFByZWZlcmVuY2VzLmFwcAAA
				DAAAAAEGAAAQAAAAIAAAADQAAAAIAAAABAMAAB9XAAD/
				//8PCAAAAAQDAACryAYA////DwgAAAAEAwAAbpIHAP//
				/w8MAAAAAQYAAGgAAAB4AAAAiAAAAAgAAAAABAAAQcGb
				sbmAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAA
				AAAAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2lu
				dG9zaCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHB
				qGnlBwbTJAAAAAEBAAAxQ0NDNUM5Mi0yOTgxLTQzM0Yt
				ODA4Ni1COUE4MTVDMEMwNjIYAAAAAQIAAIEAAAABAAAA
				7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
				BQAAqAAAAP7///8BAAAAAAAAAA0AAAAEEAAAVAAAAAAA
				AAAFEAAAmAAAAAAAAAAQEAAAvAAAAAAAAABAEAAArAAA
				AAAAAAACIAAAbAEAAAAAAAAFIAAA3AAAAAAAAAAQIAAA
				7AAAAAAAAAARIAAAIAEAAAAAAAASIAAAAAEAAAAAAAAT
				IAAAEAEAAAAAAAAgIAAATAEAAAAAAAAwIAAAeAEAAAAA
				AAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Preferences.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Preferences</string>
				<key>file-mod-date</key>
				<integer>540537026765</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>68564221951743</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>698655315</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAYAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zHQAAAAEBAABGaXJlZm94
				IERldmVsb3BlciBFZGl0aW9uLmFwcAAAAAgAAAABBgAA
				EAAAACQAAAAIAAAABAMAAIhHRwIAAAAACAAAAAQDAACR
				iHoBAAAAAAgAAAABBgAAXAAAAGwAAAAIAAAAAAQAAEHB
				vO/egAAAGAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAA
				AAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABB
				wahp5QcG0yQAAAABAQAAMUNDQzVDOTItMjk4MS00MzNG
				LTgwODYtQjlBODE1QzBDMDYyGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
				AQUAAKgAAAD+////AQAAAAAAAAANAAAABBAAAEwAAAAA
				AAAABRAAAHwAAAAAAAAAEBAAAJwAAAAAAAAAQBAAAIwA
				AAAAAAAAAiAAAEwBAAAAAAAABSAAALwAAAAAAAAAECAA
				AMwAAAAAAAAAESAAAAABAAAAAAAAEiAAAOAAAAAAAAAA
				EyAAAPAAAAAAAAAAICAAACwBAAAAAAAAMCAAAFgBAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>org.mozilla.firefoxdeveloperedition</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Firefox%20Developer%20Edition.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Firefox Developer Edition</string>
				<key>file-mod-date</key>
				<integer>12330225513843</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>43404314432742</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>190811781</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABEZWNrc2V0
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAAPRHkAQAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwcdwtgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.unsignedinteger.Deckset-Paddle</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Deckset.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Deckset</string>
				<key>file-mod-date</key>
				<integer>3657718380</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>149047618961938</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3382811379</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABBZmZpbml0
				eSBEZXNpZ25lci5hcHAAAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAACIR0cCAAAAAAgAAAAEAwAA5qq6AgAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBwhnfyQAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAAAAAA
				AAEFAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNp
				bnRvc2ggSEQIAAAABAMAAACgIGh0AAAACAAAAAAEAABB
				wahp5QcG0yQAAAABAQAAMUNDQzVDOTItMjk4MS00MzNG
				LTgwODYtQjlBODE1QzBDMDYyGAAAAAECAACBAAAAAQAA
				AO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAC0AAAA
				/v///wEAAAAAAAAADgAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABMAQAAAAAAAAUgAAC8AAAAAAAAABAgAADMAAAAAAAA
				ABEgAAAAAQAAAAAAABIgAADgAAAAAAAAABMgAADwAAAA
				AAAAACAgAAAsAQAAAAAAADAgAAC0AAAAAAAAAAHQAAC0
				AAAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.seriflabs.affinitydesigner</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Affinity%20Designer.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Affinity Designer</string>
				<key>file-mod-date</key>
				<integer>3668523154</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>188359461888073</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3382811380</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEgAAAAEBAABBZmZpbml0
				eSBQaG90by5hcHAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAIhHRwIAAAAACAAAAAQDAAAk0boCAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHCGffmAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHBqGnl
				BwbTJAAAAAEBAAAxQ0NDNUM5Mi0yOTgxLTQzM0YtODA4
				Ni1COUE4MTVDMEMwNjIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAALQAAAD+////
				AQAAAAAAAAAOAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEgB
				AAAAAAAABSAAALgAAAAAAAAAECAAAMgAAAAAAAAAESAA
				APwAAAAAAAAAEiAAANwAAAAAAAAAEyAAAOwAAAAAAAAA
				ICAAACgBAAAAAAAAMCAAALAAAAAAAAAAAdAAALAAAAAA
				AAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.seriflabs.affinityphoto</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Affinity%20Photo.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Affinity Photo</string>
				<key>file-mod-date</key>
				<integer>3668535500</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>177033632939127</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazwCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAXAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zHAAAAAEBAABQYXByaWth
				IFJlY2lwZSBNYW5hZ2VyIDMuYXBwCAAAAAEGAAAQAAAA
				JAAAAAgAAAAEAwAAiEdHAgAAAAAIAAAABAMAAKJ14AIA
				AAAACAAAAAEGAABYAAAAaAAAAAgAAAAABAAAQcIS7oaA
				AAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAA
				AAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9z
				aCBIRAgAAAAEAwAAAKAgaHQAAAAIAAAAAAQAAEHBqGnl
				BwbTJAAAAAEBAAAxQ0NDNUM5Mi0yOTgxLTQzM0YtODA4
				Ni1COUE4MTVDMEMwNjIYAAAAAQIAAIEAAAABAAAA7xMA
				AAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAA
				qAAAAP7///8BAAAAAAAAAA0AAAAEEAAASAAAAAAAAAAF
				EAAAeAAAAAAAAAAQEAAAmAAAAAAAAABAEAAAiAAAAAAA
				AAACIAAASAEAAAAAAAAFIAAAuAAAAAAAAAAQIAAAyAAA
				AAAAAAARIAAA/AAAAAAAAAASIAAA3AAAAAAAAAATIAAA
				7AAAAAAAAAAgIAAAKAEAAAAAAAAwIAAAVAEAAAAAAAAQ
				0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.hindsightlabs.paprika.mac.v3</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Paprika%20Recipe%20Manager%203.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Paprika Recipe Manager 3</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAdAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAQm9va3MuYXBwAAAADAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAAB9XAAD///8PCAAAAAQDAACr
				yAYA////DwgAAAAEAwAAXpkHAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcGUaRcAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAKAgaHQAAAAIAAAAAAQAAEHBqGnlBwbTJAAAAAEB
				AAAxQ0NDNUM5Mi0yOTgxLTQzM0YtODA4Ni1COUE4MTVD
				MEMwNjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				FAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAg
				IAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iBooksX</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Books.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Books</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDwAAAAEBAABOZXROZXdz
				V2lyZS5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				iEdHAgAAAAAIAAAABAMAAB8J2gIAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcGvZdsAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AKAgaHQAAAAIAAAAAAQAAEHBqGnlBwbTJAAAAAEBAAAx
				Q0NDNUM5Mi0yOTgxLTQzM0YtODA4Ni1COUE4MTVDMEMw
				NjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.ranchero.NetNewsWire-Evergreen</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/NetNewsWire.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>NetNewsWire</string>
				<key>file-mod-date</key>
				<integer>3654567094</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>28294620692736</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>190811782</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABTdWJsaW1l
				IE1lcmdlLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAIhHRwIAAAAACAAAAAQDAADSiQ0BAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHBocfHcqdWGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACgIGh0AAAACAAAAAAEAABBwahp5QcG0yQAAAAB
				AQAAMUNDQzVDOTItMjk4MS00MzNGLTgwODYtQjlBODE1
				QzBDMDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.sublimemerge</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Sublime%20Merge.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Sublime Merge</string>
				<key>file-mod-date</key>
				<integer>252144002861198</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>169435835177427</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>190811783</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaygCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAASAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCAAAAAEBAABGb3JrLmFw
				cAgAAAABBgAAEAAAACQAAAAIAAAABAMAAIhHRwIAAAAA
				CAAAAAQDAACKg8ECAAAAAAgAAAABBgAARAAAAFQAAAAI
				AAAAAAQAAEHCH4fVgAAAGAAAAAECAAACAAAAAAAAAA8A
				AAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
				AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACgIGh0AAAA
				CAAAAAAEAABBwahp5QcG0yQAAAABAQAAMUNDQzVDOTIt
				Mjk4MS00MzNGLTgwODYtQjlBODE1QzBDMDYyGAAAAAEC
				AACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEA
				AC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAANAAAA
				BBAAADQAAAAAAAAABRAAAGQAAAAAAAAAEBAAAIQAAAAA
				AAAAQBAAAHQAAAAAAAAAAiAAADQBAAAAAAAABSAAAKQA
				AAAAAAAAECAAALQAAAAAAAAAESAAAOgAAAAAAAAAEiAA
				AMgAAAAAAAAAEyAAANgAAAAAAAAAICAAABQBAAAAAAAA
				MCAAAEABAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.DanPristupov.Fork</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Fork.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Fork</string>
				<key>file-mod-date</key>
				<integer>40483736161202</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>156452149304741</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>190811810</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va1QCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAdAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwwAAAABAQAATWVzc2FnZXMuYXBwDAAAAAEGAAAQAAAA
				IAAAADQAAAAIAAAABAMAAB9XAAD///8PCAAAAAQDAACr
				yAYA////DwgAAAAEAwAAkJMHAP///w8MAAAAAQYAAFwA
				AABsAAAAfAAAAAgAAAAABAAAQcGTuugAAAAYAAAAAQIA
				AAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAA
				ZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAE
				AwAAAKAgaHQAAAAIAAAAAAQAAEHBqGnlBwbTJAAAAAEB
				AAAxQ0NDNUM5Mi0yOTgxLTQzM0YtODA4Ni1COUE4MTVD
				MEMwNjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAA
				AAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8B
				AAAAAAAAAA0AAAAEEAAASAAAAAAAAAAFEAAAjAAAAAAA
				AAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAYAEA
				AAAAAAAFIAAA0AAAAAAAAAAQIAAA4AAAAAAAAAARIAAA
				FAEAAAAAAAASIAAA9AAAAAAAAAATIAAABAEAAAAAAAAg
				IAAAQAEAAAAAAAAwIAAAbAEAAAAAAAAQ0AAABAAAAAAA
				AAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.iChat</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Messages.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Messages</string>
				<key>file-mod-date</key>
				<integer>596371601613</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>68564221951743</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>190811927</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABraXR0eS5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAAk+HoAgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwiif6QAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>net.kovidgoyal.kitty</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/kitty.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>kitty</string>
				<key>file-mod-date</key>
				<integer>3670456530</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>11230715020622</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>482167228</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABQb3N0aWNv
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAA9CE4AgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwaM6v4AAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>at.eggerapps.Postico</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Postico.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Postico</string>
				<key>file-mod-date</key>
				<integer>3652972159</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>199719650450095</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>482167138</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAAKov7AgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwiJ/7gAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>86457067797176</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>69307263384248</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3587396427</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDwAAAAEBAAAxUGFzc3dv
				cmQgNy5hcHAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				iEdHAgAAAAAIAAAABAMAACbTewAAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcF85KuAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AKAgaHQAAAAIAAAAAAQAAEHBqGnlBwbTJAAAAAEBAAAx
				Q0NDNUM5Mi0yOTgxLTQzM0YtODA4Ni1COUE4MTVDMEMw
				NjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.agilebits.onepassword7</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/1Password%207.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>1Password 7</string>
				<key>file-mod-date</key>
				<integer>3647947351</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>parent-mod-date</key>
				<integer>95558099204461</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3587396439</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAUAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zDgAAAAEBAABCYXNlY2Ft
				cCAzLmFwcAAACAAAAAEGAAAQAAAAJAAAAAgAAAAEAwAA
				iEdHAgAAAAAIAAAABAMAAJSFJwIAAAAACAAAAAEGAABM
				AAAAXAAAAAgAAAAABAAAQcHUBkiAAAAYAAAAAQIAAAIA
				AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAABCQAAZmls
				ZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
				AKAgaHQAAAAIAAAAAAQAAEHBqGnlBwbTJAAAAAEBAAAx
				Q0NDNUM5Mi0yOTgxLTQzM0YtODA4Ni1COUE4MTVDMEMw
				NjIYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAA
				AAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAA
				AAAAAA0AAAAEEAAAPAAAAAAAAAAFEAAAbAAAAAAAAAAQ
				EAAAjAAAAAAAAABAEAAAfAAAAAAAAAACIAAAPAEAAAAA
				AAAFIAAArAAAAAAAAAAQIAAAvAAAAAAAAAARIAAA8AAA
				AAAAAAASIAAA0AAAAAAAAAATIAAA4AAAAAAAAAAgIAAA
				HAEAAAAAAAAwIAAASAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.basecamp.basecamp3</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Basecamp%203.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Basecamp 3</string>
				<key>file-mod-date</key>
				<integer>3659367825</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>28294620692736</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3587396361</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABGYW50YXN0
				aWNhbCAyLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAIhHRwIAAAAACAAAAAQDAACFU1sCAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHBSjsXAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACgIGh0AAAACAAAAAAEAABBwahp5QcG0yQAAAAB
				AQAAMUNDQzVDOTItMjk4MS00MzNGLTgwODYtQjlBODE1
				QzBDMDYyGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.flexibits.fantastical2.mac</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Fantastical%202.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Fantastical 2</string>
				<key>file-mod-date</key>
				<integer>105655567754857</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>77965913864836</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAABTcG90aWZ5
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAAENe5AgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwgg3RgAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.spotify.client</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Spotify.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Spotify</string>
				<key>file-mod-date</key>
				<integer>212123514016385</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>69307263384248</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCwAAAAEBAAB6b29tLnVz
				LmFwcAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAACIR0cC
				AAAAAAgAAAAEAwAAhkW6AgAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBwh7j5wAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAoCBo
				dAAAAAgAAAAABAAAQcGoaeUHBtMkAAAAAQEAADFDQ0M1
				QzkyLTI5ODEtNDMzRi04MDg2LUI5QTgxNUMwQzA2MhgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>us.zoom.xos</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/zoom.us.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>zoom.us</string>
				<key>file-mod-date</key>
				<integer>252723839873963</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>parent-mod-date</key>
				<integer>69307263384248</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>2461011044</integer>
			<key>tile-data</key>
			<dict>
				<key>arrangement</key>
				<integer>2</integer>
				<key>book</key>
				<data>
				Ym9va5ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAjAEAAAQAAAADAwAAAAAAIAUA
				AAABAQAAVXNlcnMAAAAHAAAAAQEAAHdpbGhhbGwACQAA
				AAEBAABEb3dubG9hZHMAAAAMAAAAAQYAABAAAAAgAAAA
				MAAAAAgAAAAEAwAAKLoKAAAAAAAIAAAABAMAAIEjEQAA
				AAAACAAAAAQDAACQIxEAAAAAAAwAAAABBgAAWAAAAGgA
				AAB4AAAACAAAAAAEAABBvv2+kwAAABgAAAABAgAAAgAA
				AAAAAAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAABAAAA
				AAAAAAQAAAADAwAA9QEAAAgAAAABCQAAZmlsZTovLy8M
				AAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAKAgaHQA
				AAAIAAAAAAQAAEHBqGnlBwbTJAAAAAEBAAAxQ0NDNUM5
				Mi0yOTgxLTQzM0YtODA4Ni1COUE4MTVDMEMwNjIYAAAA
				AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
				AQAALwAAAAAAAAABBQAAzAAAAP7///8BAAAAAAAAABAA
				AAAEEAAARAAAAAAAAAAFEAAAiAAAAAAAAAAQEAAArAAA
				AAAAAABAEAAAnAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA
				6AAAAAAAAAAQIAAA+AAAAAAAAAARIAAALAEAAAAAAAAS
				IAAADAEAAAAAAAATIAAAHAEAAAAAAAAgIAAAWAEAAAAA
				AAAwIAAAhAEAAAAAAAABwAAAzAAAAAAAAAARwAAAIAAA
				AAAAAAASwAAA3AAAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>displayas</key>
				<integer>0</integer>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Users/wilhall/Downloads/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Downloads</string>
				<key>file-mod-date</key>
				<integer>257929324670361</integer>
				<key>file-type</key>
				<integer>2</integer>
				<key>parent-mod-date</key>
				<integer>149412680977100</integer>
				<key>preferreditemsize</key>
				<integer>-1</integer>
				<key>showas</key>
				<integer>1</integer>
			</dict>
			<key>tile-type</key>
			<string>directory-tile</string>
		</dict>
	</array>
	<key>show-recents</key>
	<false/>
	<key>showDesktopGestureEnabled</key>
	<false/>
	<key>showLaunchpadGestureEnabled</key>
	<false/>
	<key>showMissionControlGestureEnabled</key>
	<false/>
	<key>tilesize</key>
	<real>38</real>
</dict>
</plist>
