<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Last Session Date</key>
	<string>12-10-2021</string>
	<key>LinkCopiedNotification</key>
	<true/>
	<key>MASPreferences AccountPreferences Frame</key>
	<string>{{0, 0}, {552, 251}}</string>
	<key>MASPreferences Frame Top Left</key>
	<string>{97, 742}</string>
	<key>MASPreferences GeneralPreferences Frame</key>
	<string>{{0, 0}, {552, 453}}</string>
	<key>MASPreferences MorePreferences Frame</key>
	<string>{{0, 0}, {552, 471}}</string>
	<key>MASPreferences Selected Identifier View</key>
	<string>GeneralPreferences</string>
	<key>MASPreferences ShortcutsPreferences Frame</key>
	<string>{{0, 0}, {552, 328}}</string>
	<key>MASPreferences UpgradePreferences Frame</key>
	<string>{{0, 0}, {552, 510}}</string>
	<key>MSAppCenter310AnalyticsUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterAppDidReceiveMemoryWarning</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>1AF9DABE-1D7D-4C23-AFB1-2131AA6787D4</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HDixAuyL6dgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC4yLjBe
	TWFjQm9va1BybzE3LDFVQXBwbGVVbWFjT1NWMTEuNi4wVjIwRzE2NVVlbl9VUxP/////
	////EFgxNDQweDkwMFUyLjcuM1MxMDNfEBdjb20uanVtcHNoYXJlLkp1bXBzaGFyZdId
	Hl5fWk1TQUNEZXZpY2WjYGEhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJTZGvSHR5jZF8Q
	FU1TQUNEZXZpY2VIaXN0b3J5SW5mb6NlZiFfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm9f
	EA9NU0FDSGlzdG9yeUluZm/SHR5oaV5OU011dGFibGVBcnJheaNoaiFXTlNBcnJheQAI
	ABEAGgAkACkAMgA3AEkATABRAFMAbAByAHcAggCJAIsAjQCPAJYAowCtAK8AsQCzALgA
	wADJAMsA0ADbAOQA6wDuAPcBKAEyAUEBSgFiAW0BgQGNAZUBnAG2AcUB0AHfAecB8gH/
	AgUCHQI2AkECSAJQAlICVAJWAlgCWgJcAl4CYAJiAmQCZgJoAmoCbAJuAnACcgJ0AnYC
	eAJ6AnwCfgKQApYCpQKrArECuAK/AsUCzgLXAt0C4QL7AwADCwMPAxoDKQMuA0YDSgNi
	A3QDeQOIA4wAAAAAAAACAQAAAAAAAABrAAAAAAAAAAAAAAAAAAADlA==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5XHNlc3Np
	b25JZEtleYADgAWABtIZDhobV05TLnRpbWUjQcOL3Se2TieABNIdHh8gWiRjbGFzc25h
	bWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkNjFEQ0U0MUYtREQxNy00OEE2
	LThFNEYtQ0Q4MTdBNjFGOUM20h0eJCVfEBZNU0FDU2Vzc2lvbkhpc3RvcnlJbmZvoyYn
	IV8QFk1TQUNTZXNzaW9uSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/SHR4pKl5O
	U011dGFibGVBcnJheaMpKyFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABRAFMAXABi
	AGcAcgB5AHsAfQB/AIYAkwCgAKIApACmAKsAswC8AL4AwwDOANcA3gDhAOoBEQEWAS8B
	MwFMAV4BYwFyAXYAAAAAAAACAQAAAAAAAAAsAAAAAAAAAAAAAAAAAAABfg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5WXVzZXJJ
	ZEtleYADgAWABtIZDhobV05TLnRpbWUjQcOLEDTFXhiABNIdHh8gWiRjbGFzc25hbWVY
	JGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAPd2lsQHdpbGhhbGwuY29t0h0eJCVf
	EBVNU0FDVXNlcklkSGlzdG9yeUluZm+jJichXxAVTVNBQ1VzZXJJZEhpc3RvcnlJbmZv
	XxAPTVNBQ0hpc3RvcnlJbmZv0h0eKSpeTlNNdXRhYmxlQXJyYXmjKSshV05TQXJyYXkA
	CAARABoAJAApADIANwBJAEwAUQBTAFwAYgBnAHIAeQB7AH0AfwCGAJMAnQCfAKEAowCo
	ALAAuQC7AMAAywDUANsA3gDnAPkA/gEWARoBMgFEAUkBWAFcAAAAAAAAAgEAAAAAAAAA
	LAAAAAAAAAAAAAAAAAAAAWQ=
	</data>
	<key>NSNavLastRootDirectory</key>
	<string>~/Pictures/Screenshots</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>576</real>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>342 320 800 448 0 0 1440 875 </string>
	<key>SULastCheckTime</key>
	<date>2021-10-12T19:58:21Z</date>
	<key>TeamCommentNotification</key>
	<true/>
	<key>TeamUploadNotification</key>
	<true/>
	<key>UploadCompleteNotification</key>
	<false/>
	<key>UploadCount</key>
	<integer>10</integer>
	<key>annotationbookmark</key>
	<data>
	Ym9va7gCAAAAAAQQMAAAAN1mS93EHHbXegk8FSRYlxgiNcOgTaiYkJO6mTC9fTCktAEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHdpbGhhbGwACAAAAAEB
	AABQaWN0dXJlcwsAAAABAQAAU2NyZWVuc2hvdHMAEAAAAAEGAAAQAAAAIAAAADAAAABA
	AAAACAAAAAQDAADaWgAAAAAAAAgAAAAEAwAAA6EDAAAAAAAIAAAABAMAAAehAwAAAAAA
	CAAAAAQDAADHmRQAAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQcMt
	iCAAAAAYAAAAAQIAAAIAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQI
	AAAABAMAAAAAhxE5AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAARjhDODlDNzEtMzM2
	Ni00MzA2LThFNkYtQzBFNzU3NkQxNDUzGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
	AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAAAAAAAAAQAAAABBAAAFQA
	AAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAAQBAAAMQAAAAAAAAAAiAAAKABAAAA
	AAAABSAAABABAAAAAAAAECAAACABAAAAAAAAESAAAFQBAAAAAAAAEiAAADQBAAAAAAAA
	EyAAAEQBAAAAAAAAICAAAIABAAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQAAAAAAAAAEcAA
	ACAAAAAAAAAAEsAAAAQBAAAAAAAAENAAAAQAAAAAAAAA
	</data>
	<key>appinitialized</key>
	<true/>
	<key>autouploadscreenshot</key>
	<dict>
		<key>bookmarkfolder</key>
		<data>
		Ym9va7gCAAAAAAQQMAAAAN1mS93EHHbXegk8FSRYlxgiNcOgTaiYkJO6mTC9
		fTCktAEAAAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAHdp
		bGhhbGwACAAAAAEBAABQaWN0dXJlcwsAAAABAQAAU2NyZWVuc2hvdHMAEAAA
		AAEGAAAQAAAAIAAAADAAAABAAAAACAAAAAQDAADaWgAAAAAAAAgAAAAEAwAA
		A6EDAAAAAAAIAAAABAMAAAehAwAAAAAACAAAAAQDAADHmRQAAAAAABAAAAAB
		BgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQcMtiCAAAAAYAAAAAQIAAAIA
		AAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAAAAAEAAAAAwMA
		APUBAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
		BAMAAAAAhxE5AAAACAAAAAAEAABBwd5EgAAAACQAAAABAQAARjhDODlDNzEt
		MzM2Ni00MzA2LThFNkYtQzBFNzU3NkQxNDUzGAAAAAECAACBAAAAAQAAAO8T
		AAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAMwAAAD+////AQAA
		AAAAAAAQAAAABBAAAFQAAAAAAAAABRAAAKwAAAAAAAAAEBAAANQAAAAAAAAA
		QBAAAMQAAAAAAAAAAiAAAKABAAAAAAAABSAAABABAAAAAAAAECAAACABAAAA
		AAAAESAAAFQBAAAAAAAAEiAAADQBAAAAAAAAEyAAAEQBAAAAAAAAICAAAIAB
		AAAAAAAAMCAAAKwBAAAAAAAAAcAAAPQAAAAAAAAAEcAAACAAAAAAAAAAEsAA
		AAQBAAAAAAAAENAAAAQAAAAAAAAA
		</data>
		<key>enabled</key>
		<true/>
		<key>showdialog</key>
		<false/>
	</dict>
	<key>currentplanbusiness</key>
	<false/>
	<key>currentversion</key>
	<string>2.7.3</string>
	<key>defaultscleaned</key>
	<true/>
	<key>downscaleScreenshots</key>
	<false/>
	<key>duplicatefileaction</key>
	<string>Always Ask</string>
	<key>firstlaunch</key>
	<true/>
	<key>gifrecordingquality</key>
	<string>Medium (6 fps)</string>
	<key>hotkeyRecordGif</key>
	<dict>
		<key>characters</key>
		<string>5</string>
		<key>charactersIgnoringModifiers</key>
		<string>%</string>
		<key>keyCode</key>
		<integer>23</integer>
		<key>modifierFlags</key>
		<integer>1179648</integer>
	</dict>
	<key>launchatlogin</key>
	<true/>
	<key>launchdate</key>
	<date>2021-10-12T19:58:21Z</date>
	<key>listOptionItemsFrom</key>
	<string>all</string>
	<key>notificationselectedsound</key>
	<string>Default</string>
	<key>playnotificationsound</key>
	<true/>
	<key>primaryaction</key>
	<integer>4</integer>
	<key>saverecordingenabled</key>
	<false/>
	<key>screencast.audio</key>
	<string>BuiltInMicrophoneDevice</string>
	<key>screencast.clicks</key>
	<integer>1</integer>
	<key>screencast.flipvideo</key>
	<true/>
	<key>screencast.gif</key>
	<true/>
	<key>screencast.video</key>
	<string>EAB7A68FEC2B4487AADFD8A91C1CB782</string>
	<key>screencastAudioRecording</key>
	<true/>
	<key>screencastCaptureMouseClicks</key>
	<true/>
	<key>screencastSelections</key>
	<dict>
		<key>1</key>
		<string>{{536.3515625, 371.609375}, {768, 432}}</string>
	</dict>
	<key>screencastVideoPreviewRecording</key>
	<true/>
	<key>secondaryaction</key>
	<integer>2</integer>
	<key>sessionid</key>
	<string>1bf007dc24f48ec421eefd6c75d99ab9043aae3c</string>
	<key>showlaunchatlogindialog</key>
	<true/>
	<key>themeviewerdefaulttheme</key>
	<string>Light</string>
	<key>tourshown</key>
	<true/>
	<key>uploadScreenshotDesktop</key>
	<false/>
	<key>urlshortener</key>
	<false/>
	<key>useraccountinfo</key>
	<dict>
		<key>avatar</key>
		<string>https://pouch.jumpshare.com/user/DpXlUfbRLWv6zOdNVmmSXPwkTYD_Va8NejVuoAh1k9h9m5BVwajQVmNIdQ5h-YD1</string>
		<key>desktop_upload</key>
		<string></string>
		<key>direct_upload_max_size</key>
		<integer>15728640</integer>
		<key>email</key>
		<string>wil@wilhall.com</string>
		<key>email_notifications</key>
		<dict>
			<key>comment_file</key>
			<false/>
			<key>files_downloaded</key>
			<true/>
			<key>files_sent</key>
			<false/>
			<key>files_shared</key>
			<false/>
			<key>files_viewed</key>
			<true/>
			<key>mention_comment</key>
			<false/>
			<key>new_features</key>
			<false/>
			<key>storage_full</key>
			<false/>
		</dict>
		<key>first_name</key>
		<string>Wil</string>
		<key>last_name</key>
		<string>Hall</string>
		<key>logo</key>
		<dict>
			<key>type</key>
			<string>jumpshare</string>
		</dict>
		<key>max_file_size</key>
		<integer>21474836480</integer>
		<key>multipart_upload</key>
		<dict>
			<key>part_size</key>
			<integer>15728640</integer>
		</dict>
		<key>name</key>
		<string>Wil Hall</string>
		<key>require_validaiton</key>
		<false/>
		<key>short_url</key>
		<false/>
		<key>storage</key>
		<dict>
			<key>percentage_used</key>
			<integer>0</integer>
			<key>storage_used</key>
			<integer>6262356</integer>
			<key>total_storage</key>
			<integer>1073741824000</integer>
		</dict>
		<key>theme</key>
		<string>white</string>
		<key>timezone</key>
		<dict>
			<key>city</key>
			<string>New York City</string>
			<key>id</key>
			<string>129320</string>
			<key>location</key>
			<string>New York City - NY - United States</string>
			<key>offset</key>
			<string>-5</string>
		</dict>
		<key>type</key>
		<string>Plus</string>
		<key>unread_activities_count</key>
		<integer>1</integer>
		<key>url</key>
		<dict>
			<key>domain</key>
			<string>share.wilhall.com</string>
			<key>protocol</key>
			<string>https</string>
		</dict>
	</dict>
	<key>values.playnotificationsound</key>
	<string>test</string>
	<key>yearlyplan</key>
	<true/>
</dict>
</plist>
