<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ArchiveIntroDisplayed</key>
	<true/>
	<key>B5UserDeviceUUID</key>
	<string>wvxvyzswqfccddfzy2bfeqboqy</string>
	<key>CompletedEssentialSettings_v7</key>
	<true/>
	<key>ForceOPVaultUsageMigrationKey</key>
	<true/>
	<key>KeepHelperRunning</key>
	<true/>
	<key>LastActiveProfileUUID</key>
	<string>all-vaults-uuid</string>
	<key>MASPreferences Accounts Frame (en_US)</key>
	<string>{{0, 0}, {670, 285}}</string>
	<key>MASPreferences Advanced Frame (en_US)</key>
	<string>{{0, 0}, {650, 325}}</string>
	<key>MASPreferences Browsers Frame (en_US)</key>
	<string>{{0, 0}, {621, 310}}</string>
	<key>MASPreferences Frame Top Left</key>
	<string>{1193, 1047}</string>
	<key>MASPreferences General Frame (en_US)</key>
	<string>{{0, 0}, {590, 264}}</string>
	<key>MASPreferences Security Frame (en_US)</key>
	<string>{{0, 0}, {592, 429}}</string>
	<key>MASPreferences Selected Identifier View</key>
	<string>Mini</string>
	<key>MASPreferences Watchtower Frame (en_US)</key>
	<string>{{0, 0}, {654, 377}}</string>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterAppDidReceiveMemoryWarning</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>94BB03FE-7E5D-408D-A5AE-E44459DC1258</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HDem4hXE+HgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC4yLjBe
	TWFjQm9va0FpcjEwLDFVQXBwbGVVbWFjT1NWMTEuMy4xVjIwRTI0MVVlbl9VUxP/////
	////EFkzMDA4eDEyNTNVNy44LjdYNzA4MDcwMDNfEBpjb20uYWdpbGViaXRzLm9uZXBh
	c3N3b3JkN9IdHl5fWk1TQUNEZXZpY2WjYGEhWk1TQUNEZXZpY2VeTVNBQ1dyYXBwZXJT
	ZGvSHR5jZF8QFU1TQUNEZXZpY2VIaXN0b3J5SW5mb6NlZiFfEBVNU0FDRGV2aWNlSGlz
	dG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/SHR5oaV5OU011dGFibGVBcnJheaNoaiFX
	TlNBcnJheQAIABEAGgAkACkAMgA3AEkATABRAFMAbAByAHcAggCJAIsAjQCPAJYAowCt
	AK8AsQCzALgAwADJAMsA0ADbAOQA6wDuAPcBKAEyAUEBSgFiAW0BgQGNAZUBnAG2AcUB
	0AHfAecB8gH/AgUCHQI2AkECSAJQAlICVAJWAlgCWgJcAl4CYAJiAmQCZgJoAmoCbAJu
	AnACcgJ0AnYCeAJ6AnwCfgKQApYCpQKrArECuAK/AsUCzgLYAt4C5wMEAwkDFAMYAyMD
	MgM3A08DUwNrA30DggORA5UAAAAAAAACAQAAAAAAAABrAAAAAAAAAAAAAAAAAAADnQ==
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlcc2Vzc2lv
	bklkS2V5gAOAAIAF0hkOGhtXTlMudGltZSNBw3puIVtLFoAE0h0eHyBaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFk1TQUNTZXNzaW9uSGlz
	dG9yeUluZm+jJSYhXxAWTVNBQ1Nlc3Npb25IaXN0b3J5SW5mb18QD01TQUNIaXN0b3J5
	SW5mb9IdHigpXk5TTXV0YWJsZUFycmF5oygqIVdOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFEAUwBbAGEAZgBxAHgAegB8AH4AhQCSAJ8AoQCjAKUAqgCyALsAvQDCAM0A1gDd
	AOAA6QDuAQcBCwEkATYBOwFKAU4AAAAAAAACAQAAAAAAAAArAAAAAAAAAAAAAAAAAAAB
	Vg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBw3puIVtbtIAE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>MiniCategoryOpenIn</key>
	<integer>2</integer>
	<key>NSConstraintBasedLayoutLogUnsatisfiable</key>
	<false/>
	<key>NSSplitView Subview Frames contentSplitView</key>
	<array>
		<string>0.000000, 0.000000, 299.000000, 520.000000, NO, NO</string>
		<string>300.000000, 0.000000, 400.000000, 520.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>854</real>
	<key>NSWindow Frame MainWindow</key>
	<string>112 225 900 520 0 0 1440 875 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 407 425 137 0 0 3008 1228 </string>
	<key>OPAppLaunchedFromLauncher</key>
	<false/>
	<key>OPKeychainUnlockServiceBiometryPolicyDomainState</key>
	<dict>
		<key>evaluatedPolicyDomainState</key>
		<data>
		runij+j4MleB62d9AbNh1JBkc2U54UTHtdugeBmc5O0=
		</data>
	</dict>
	<key>OPMiniWindow.position.mode</key>
	<string>attached</string>
	<key>OPMiniWindow.position.{{0, 0}, {1440, 900}}</key>
	<string>{{431, 514}, {687, 360}}</string>
	<key>OPMiniWindow.position.{{0, 0}, {3008, 1253}}</key>
	<string>{{1879, 867}, {687, 360}}</string>
	<key>OPPeriodicUpdateService-Timestamp-watchtowerCompromisedDomains</key>
	<data>
	eyJkYXRlIjo2NTU2ODExMTcuOTk0ODgyOTQsInRhc2tUaW1lc3RhbXBQYXlsb2FkIjoi
	ZXlKc1lYTjBUVzlrYVdacFpXUWlPaUpHY21rc0lEQTRJRTlqZENBeU1ESXhJREF4T2pJ
	NU9qVTFJRWROVkNJc0lteGhjM1JUZFdOalpYTnpablZzUkc5M2JteHZZV1FpT2pZMU5U
	UXlNRFF6TVM0eE9URTJNVEl3TVgwPSJ9
	</data>
	<key>OPPeriodicUpdateService-Timestamp-watchtowerTwoFactorSites</key>
	<data>
	eyJkYXRlIjo2NTU2ODExMTcuOTMyMTI0MDIsInRhc2tUaW1lc3RhbXBQYXlsb2FkIjoi
	ZXlKc1lYTjBUVzlrYVdacFpXUWlPaUpUZFc0c0lERXdJRTlqZENBeU1ESXhJREl5T2pR
	MU9qQXlJRWROVkNJc0lteGhjM1JUZFdOalpYTnpablZzUkc5M2JteHZZV1FpT2pZMU5U
	WTRNVEV4Tnk0NE5qQTROakE1TkgwPSJ9
	</data>
	<key>OPPrefFeatureEnableNewDetail</key>
	<true/>
	<key>OPPrefShowSafariInlineMenuAutomatically</key>
	<false/>
	<key>OPPromptForSAEUserDefaultsPromptCountKey</key>
	<integer>0</integer>
	<key>OPRemoveDemoProfileFromUnionProfileMigration</key>
	<true/>
	<key>OPUserMetricsLaunchCountKey</key>
	<integer>11</integer>
	<key>OPUserMetricsUsageKey</key>
	<real>6921465.773862958</real>
	<key>OPUserMetricsUsageStartKey</key>
	<date>2021-09-17T14:22:59Z</date>
	<key>ShortcutRecorder BrowserActivation</key>
	<dict>
		<key>keyChars</key>
		<string>.</string>
		<key>keyCharsIgnoringModifiers</key>
		<string>.</string>
		<key>keyCode</key>
		<integer>47</integer>
		<key>modifierFlags</key>
		<integer>1048576</integer>
		<key>modifiers</key>
		<integer>256</integer>
	</dict>
	<key>ShowStatusItem</key>
	<true/>
	<key>SidebarWidth</key>
	<integer>200</integer>
	<key>Sidebar_all-vaults-uuid</key>
	<dict>
		<key>expandedNodes</key>
		<array>
			<string>watchtowerSection</string>
			<string>categoriesSection</string>
			<string>tagsSection</string>
		</array>
	</dict>
	<key>WhatsNewVersion</key>
	<integer>2</integer>
	<key>__NSConstraintBasedLayoutLogUnsatisfiable</key>
	<false/>
	<key>autosaveBlacklist</key>
	<data>
	b3BkYXRhMDEcAAAAAAAAABFEGZAXgo/ZjoGaDBn/vnni0D4QlooqPZIrYL8/CHyat0NE
	rJVWejdiNiGrV7BrXQADJNz/bhNgAX2LMvogXWdgvjDU1/SSh4FnKzas1MCc
	</data>
	<key>useOPVaultFormatByDefault</key>
	<true/>
	<key>wvxvyzswqfccddfzy2bfeqboqy-biometry-quick-unlock-enabled</key>
	<true/>
</dict>
</plist>
