<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>KronosStableTime</key>
	<dict>
		<key>Offset</key>
		<real>0.37887477874755859</real>
		<key>Timestamp</key>
		<real>1762186708.993154</real>
		<key>Uptime</key>
		<real>34.742785930633545</real>
	</dict>
	<key>LittleBrowserWindow_size</key>
	<string>{1878, 1375}</string>
	<key>ModalWindowController_rect</key>
	<string>{{42, 16}, {735, 928}}</string>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>TopBarColorCache</key>
	<dict>
		<key>1096344309743030035</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>116304250515459946</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>1165245593960826075</key>
		<dict>
			<key>Color</key>
			<string>FEFEFE</string>
		</dict>
		<key>1387678826868248665</key>
		<dict>
			<key>Color</key>
			<string>F2F4F3</string>
		</dict>
		<key>1396778313188634969</key>
		<dict>
			<key>Color</key>
			<string>F3F3F3</string>
		</dict>
		<key>1470550758948692072</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>1524855565953147864</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>1608213545493585094</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>1780387862583734402</key>
		<dict>
			<key>Color</key>
			<string>575F6A</string>
		</dict>
		<key>1836313521031011940</key>
		<dict>
			<key>Color</key>
			<string>FDFFFE</string>
		</dict>
		<key>1840104353773384632</key>
		<dict>
			<key>Color</key>
			<string>F3F1F2</string>
		</dict>
		<key>1997146598496035749</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>2250766377637742512</key>
		<dict>
			<key>Color</key>
			<string>F3F3F3</string>
		</dict>
		<key>246248198812101869</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>2488653144861539352</key>
		<dict>
			<key>Color</key>
			<string>F3F3F3</string>
		</dict>
		<key>2558208313960099838</key>
		<dict>
			<key>Color</key>
			<string>444444</string>
		</dict>
		<key>259263606069217139</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>2878352750817986690</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>3377253662637102293</key>
		<dict>
			<key>Color</key>
			<string>E6E7EB</string>
		</dict>
		<key>3492409115342541441</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>3595087377823073381</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>3871552492025838935</key>
		<dict>
			<key>Color</key>
			<string>F8FAF9</string>
		</dict>
		<key>4183981722340792924</key>
		<dict>
			<key>Color</key>
			<string>F5F3F4</string>
		</dict>
		<key>4286386762951079324</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>4364872304777383532</key>
		<dict>
			<key>Color</key>
			<string>282828</string>
		</dict>
		<key>4916052868615602437</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>5032416154052780104</key>
		<dict>
			<key>Color</key>
			<string>FAFAFA</string>
		</dict>
		<key>5277705240327219107</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>5292017979360138959</key>
		<dict>
			<key>Color</key>
			<string>F1F4F9</string>
		</dict>
		<key>5406065223916377426</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>5580699352535044206</key>
		<dict>
			<key>Color</key>
			<string>F4F4F6</string>
		</dict>
		<key>5951555092195730938</key>
		<dict>
			<key>Color</key>
			<string>FFFEFF</string>
		</dict>
		<key>6004894195629122122</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>6021518617690636187</key>
		<dict>
			<key>Color</key>
			<string>F3F4F6</string>
		</dict>
		<key>6369940791051519091</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>6567534790216982097</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>6714475523399077067</key>
		<dict>
			<key>Color</key>
			<string>F3F5F2</string>
		</dict>
		<key>6810154633346605265</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>6839192178083984485</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>6899998750159442031</key>
		<dict>
			<key>Color</key>
			<string>471888</string>
		</dict>
		<key>7051031494797743720</key>
		<dict>
			<key>Color</key>
			<string>FEFEFE</string>
		</dict>
		<key>7099202271261239417</key>
		<dict>
			<key>Color</key>
			<string>B4C7FF</string>
		</dict>
		<key>7445887365873000502</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>7446796646598301177</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>7672836840494622765</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>7930435315086739567</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>8149753705376996377</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>8583934062352438120</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>8817357798426151408</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>8830237205691206615</key>
		<dict>
			<key>Color</key>
			<string>F4F4F2</string>
		</dict>
	</dict>
	<key>appearance</key>
	<string>NSAppearanceNameAqua</string>
	<key>arcAlwaysAllowedLinkToSchemesPerSite</key>
	<dict>
		<key>app.git.live</key>
		<array>
			<string>cursor</string>
		</array>
		<key>app.todoist.com</key>
		<array>
			<string>com.todoist</string>
		</array>
		<key>betterhealthconnector.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>copilot.money</key>
		<array>
			<string>com.copilot.production</string>
		</array>
		<key>cursor.com</key>
		<array>
			<string>cursor</string>
		</array>
		<key>docs.github.com</key>
		<array>
			<string>vscode</string>
		</array>
		<key>facetime.apple.com</key>
		<array>
			<string>facetime-open-link</string>
		</array>
		<key>github.com</key>
		<array>
			<string>gitify</string>
		</array>
		<key>gitkraken.dev</key>
		<array>
			<string>vscode</string>
		</array>
		<key>identity.getpostman.com</key>
		<array>
			<string>postman</string>
		</array>
		<key>marketplace.visualstudio.com</key>
		<array>
			<string>vscode</string>
		</array>
		<key>my.embracepetinsurance.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>nordaccount.com</key>
		<array>
			<string>nordvpn-sl</string>
		</array>
		<key>oauth.pstmn.io</key>
		<array>
			<string>postman</string>
		</array>
		<key>ray.so</key>
		<array>
			<string>raycast</string>
		</array>
		<key>spotify.app.link</key>
		<array>
			<string>spotify</string>
		</array>
		<key>www.cursor.com</key>
		<array>
			<string>cursor</string>
		</array>
		<key>www.embracepetinsurance.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.google.com</key>
		<array>
			<string>tel</string>
			<string>tel</string>
			<string>tel</string>
			<string>tel</string>
		</array>
		<key>www.pumpkin.care</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.raycast.com</key>
		<array>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
		</array>
		<key>www.teva.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.ups.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.wealthbox.com</key>
		<array>
			<string>mailto</string>
		</array>
		<key>zoom.us</key>
		<array>
			<string>zoomus</string>
		</array>
		<key>zushealth.slack.com</key>
		<array>
			<string>slack</string>
		</array>
		<key>zushealth.zoom.us</key>
		<array>
			<string>zoomus</string>
		</array>
	</dict>
	<key>arcMaxAutoOptInEnabled</key>
	<true/>
	<key>arc_quitAlwaysKeepsWindows</key>
	<true/>
	<key>askOnPageEnabled</key>
	<true/>
	<key>autoArchiveTimeThreshold</key>
	<string>thirtyDays</string>
	<key>autoArchiveTimeThresholdsPerProfile</key>
	<string>{"thresholds":[{"default":{}},"thirtyDays"]}</string>
	<key>autoDisableAdBlockOnAllowListedURLsCompleteProfileIDs</key>
	<array>
		<string>Default</string>
		<string>Profile 1</string>
	</array>
	<key>autoUpdateBannerDismissalCount</key>
	<integer>9</integer>
	<key>automaticUpdateWillRelaunchApp</key>
	<false/>
	<key>availableAppIconNames</key>
	<array>
		<string>original</string>
		<string>candy</string>
		<string>neon</string>
		<string>flutedGlass</string>
		<string>schoolbook</string>
		<string>colorful</string>
	</array>
	<key>cloudKitSyncEnabled</key>
	<false/>
	<key>com.launchDarkly.ConnectionInformationStore.connectionInformationKey</key>
	<data>
	eyJjdXJyZW50Q29ubmVjdGlvbk1vZGUiOiJzdHJlYW1pbmciLCJsYXN0RmFpbGVkQ29u
	bmVjdGlvbiI6NzgzODc5NTAwLjUzMjcxOSwibGFzdENvbm5lY3Rpb25GYWlsdXJlUmVh
	c29uIjp7InR5cGUiOiJ1bmtub3duRXJyb3IiLCJwYXlsb2FkIjoiVGhlIHJlcXVlc3Qg
	dGltZWQgb3V0LiJ9fQ==
	</data>
	<key>com.launchdarkly.DiagnosticCache.diagnosticData.mob-eb7cd033-956d-453a-ad51-8619c156cfee</key>
	<data>
	eyJkYXRhU2luY2VEYXRlIjoxNzYyMTg4NzIzNDQxLCJkcm9wcGVkRXZlbnRzIjowLCJl
	dmVudHNJbkxhc3RCYXRjaCI6MCwiaW5zdGFuY2VJZCI6IkQwMzkxMDAxLTc1QzktNDRD
	MS05QkU5LUVFRThEODREMkJENiIsInN0cmVhbUluaXRzIjpbeyJmYWlsZWQiOmZhbHNl
	LCJ0aW1lc3RhbXAiOjE3NjIxODg3MjM1NzYsImR1cmF0aW9uTWlsbGlzIjoxMjh9XX0=
	</data>
	<key>cronPreviewEnabled</key>
	<false/>
	<key>currentAppIconName</key>
	<string>arc.candy</string>
	<key>currentUpdateAvailableSince</key>
	<date>2025-10-31T21:09:56Z</date>
	<key>currentUpdateDownloadedSince</key>
	<date>2025-10-31T21:10:00Z</date>
	<key>devModeReloadState</key>
	<string>reload</string>
	<key>didSetDefaultGoogleMeetRoute</key>
	<true/>
	<key>didSyncArchiveTime</key>
	<true/>
	<key>didSyncArchiveTimesPerProfile</key>
	<true/>
	<key>eligibleToSeeAutoArchiveEducationBanner</key>
	<false/>
	<key>eligibleToSeePasswordImportPrompt</key>
	<true/>
	<key>firebaseSyncEnabled</key>
	<true/>
	<key>firebaseUpgradeKeychain10_4_0_to_10_5_0</key>
	<true/>
	<key>githubLiveFolderSSOPreferences</key>
	<dict/>
	<key>globalLittleBrowserHotkeyEnabled</key>
	<false/>
	<key>gptSiteSearchEnabled</key>
	<false/>
	<key>hasAutoInstalledJsonFormatterExtension</key>
	<true/>
	<key>hasCompletedBrowserImport</key>
	<true/>
	<key>hasHiddenSidebarWithGesture</key>
	<true/>
	<key>hasLaunchedBefore</key>
	<true/>
	<key>hasSeenGithubLiveFolderEducation</key>
	<true/>
	<key>hasTurnedOffGithubLiveFolder</key>
	<true/>
	<key>hoverCardsEnabled</key>
	<true/>
	<key>instantLinksEnabled</key>
	<true/>
	<key>ldGeneratedContextKey:ld_device</key>
	<string>C95C4A10-A8B1-4FA1-8BEE-B694DE575008</string>
	<key>littleBrowserNUXPresentationCount</key>
	<integer>2</integer>
	<key>migratedToTabOnlySiteSearchTrigger</key>
	<true/>
	<key>nativeAdBlockEnabled</key>
	<false/>
	<key>openExternalLinksInLittleBrowserEnabled</key>
	<false/>
	<key>optionCommandClickLittleArcEntryPointEnabled</key>
	<false/>
	<key>outlookCalendarPreviewEnabled</key>
	<false/>
	<key>outlookEmailPreviewEnabled</key>
	<false/>
	<key>recentPagesPreviewEnabled</key>
	<true/>
	<key>renameDownloadsEnabled</key>
	<false/>
	<key>renamePinnedTabsEnabled</key>
	<true/>
	<key>restartClientServiceShouldBeAllowed</key>
	<false/>
	<key>seededPopularSiteSearches</key>
	<true/>
	<key>shouldAutomaticallyUpdateArc</key>
	<true/>
	<key>shouldSkipUnboxingVideo</key>
	<true/>
	<key>shouldWarnBeforeQuitting</key>
	<false/>
	<key>tidyTabsEnabled</key>
	<true/>
	<key>toolbarShowFullURLsEnabledPreference</key>
	<true/>
	<key>topAppsEmptyStateDismissedForProfiles</key>
	<array>
		<string>Default</string>
		<string>Profile 1</string>
	</array>
	<key>topBarURLEnabled</key>
	<true/>
</dict>
</plist>
