<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>ExternalProtocolDialogShowAlwaysOpenCheckbox</key>
	<true/>
	<key>KronosStableTime</key>
	<dict>
		<key>Offset</key>
		<real>0.064485311508178711</real>
		<key>Timestamp</key>
		<real>1762720397.2488711</real>
		<key>Uptime</key>
		<real>2502283.0977909565</real>
	</dict>
	<key>LittleBrowserWindow_size</key>
	<string>{1878, 1375}</string>
	<key>ModalWindowController_rect</key>
	<string>{{2903, 40}, {1878, 1375}}</string>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>NSQuitAlwaysKeepsWindows</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>TopBarColorCache</key>
	<dict>
		<key>1096344309743030035</key>
		<dict>
			<key>Color</key>
			<string>F0F2F1</string>
		</dict>
		<key>1099907127413265762</key>
		<dict>
			<key>Color</key>
			<string>F3F3F3</string>
		</dict>
		<key>1150093730444428424</key>
		<dict>
			<key>Color</key>
			<string>3C3C3C</string>
		</dict>
		<key>1195356700641219727</key>
		<dict>
			<key>Color</key>
			<string>531771</string>
		</dict>
		<key>1258396501013005261</key>
		<dict>
			<key>Color</key>
			<string>F2F2F0</string>
		</dict>
		<key>1413483925174144525</key>
		<dict>
			<key>Color</key>
			<string>EDEDED</string>
		</dict>
		<key>1447992847288733259</key>
		<dict>
			<key>Color</key>
			<string>F5F5F5</string>
		</dict>
		<key>182902016111913187</key>
		<dict>
			<key>Color</key>
			<string>B4B4B4</string>
		</dict>
		<key>2016149429260861708</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>2193859237147881677</key>
		<dict>
			<key>Color</key>
			<string>ECECEC</string>
		</dict>
		<key>2368398733158846563</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>246248198812101869</key>
		<dict>
			<key>Color</key>
			<string>ECECEC</string>
		</dict>
		<key>2857756087988734461</key>
		<dict>
			<key>Color</key>
			<string>ECECEC</string>
		</dict>
		<key>294247322478195687</key>
		<dict>
			<key>Color</key>
			<string>EDEBEE</string>
		</dict>
		<key>3059589047841280346</key>
		<dict>
			<key>Color</key>
			<string>EDEDEF</string>
		</dict>
		<key>3147333112564103454</key>
		<dict>
			<key>Color</key>
			<string>F2F2F2</string>
		</dict>
		<key>3463366845840545484</key>
		<dict>
			<key>Color</key>
			<string>F3F3F3</string>
		</dict>
		<key>418901416947368177</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>4323899752474474488</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>4355398877470853128</key>
		<dict>
			<key>Color</key>
			<string>EEECEF</string>
		</dict>
		<key>4730885544328164024</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>4991507647341842860</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>5032416154052780104</key>
		<dict>
			<key>Color</key>
			<string>E8E7EC</string>
		</dict>
		<key>5032877498522864274</key>
		<dict>
			<key>Color</key>
			<string>F5F3F4</string>
		</dict>
		<key>5213711700289693333</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>5748268238021466438</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>5777974177279809451</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>6021518617690636187</key>
		<dict>
			<key>Color</key>
			<string>F4F4F2</string>
		</dict>
		<key>6193353137910210923</key>
		<dict>
			<key>Color</key>
			<string>0E0E0E</string>
		</dict>
		<key>6246898632659624717</key>
		<dict>
			<key>Color</key>
			<string>EBEBEB</string>
		</dict>
		<key>6698576465840590553</key>
		<dict>
			<key>Color</key>
			<string>F3F3F3</string>
		</dict>
		<key>6780888024521180013</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>6979870251551728726</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>7051031494797743720</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>7112890073433397434</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>7320892972258700590</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>7411247134564269442</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>7446796646598301177</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>7558602052403243003</key>
		<dict>
			<key>Color</key>
			<string>EEEEEE</string>
		</dict>
		<key>7705799229069172103</key>
		<dict>
			<key>Color</key>
			<string>F4F4F6</string>
		</dict>
		<key>7953761948958983930</key>
		<dict>
			<key>Color</key>
			<string>FDFDFD</string>
		</dict>
		<key>8149753705376996377</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
		<key>8271431233689768884</key>
		<dict>
			<key>Color</key>
			<string>F6F6F6</string>
		</dict>
		<key>8465972527680648481</key>
		<dict>
			<key>Color</key>
			<string>EFEFEF</string>
		</dict>
		<key>85146904604998774</key>
		<dict>
			<key>Color</key>
			<string>F2F2F2</string>
		</dict>
		<key>8566469375916912860</key>
		<dict>
			<key>Color</key>
			<string>F7F6F2</string>
		</dict>
		<key>8927123813722937909</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>8973031737806001996</key>
		<dict>
			<key>Color</key>
			<string>F4F4F4</string>
		</dict>
		<key>964798682766352082</key>
		<dict>
			<key>Color</key>
			<string>ECECEE</string>
		</dict>
		<key>NullString</key>
		<dict>
			<key>Color</key>
			<string>FFFFFF</string>
		</dict>
	</dict>
	<key>appearance</key>
	<string>NSAppearanceNameAqua</string>
	<key>arcAlwaysAllowedLinkToSchemesPerSite</key>
	<dict>
		<key>app.git.live</key>
		<array>
			<string>cursor</string>
		</array>
		<key>app.todoist.com</key>
		<array>
			<string>com.todoist</string>
		</array>
		<key>apps.apple.com</key>
		<array>
			<string>macappstores</string>
		</array>
		<key>cleanshot.cloud</key>
		<array>
			<string>cleanshot</string>
		</array>
		<key>copilot.money</key>
		<array>
			<string>com.copilot.production</string>
		</array>
		<key>docs.github.com</key>
		<array>
			<string>vscode</string>
		</array>
		<key>facetime.apple.com</key>
		<array>
			<string>facetime-open-link</string>
		</array>
		<key>github.com</key>
		<array>
			<string>neatapp</string>
			<string>gitify</string>
		</array>
		<key>gitkraken.dev</key>
		<array>
			<string>vscode</string>
		</array>
		<key>id.logi.com</key>
		<array>
			<string>com.logitech.options</string>
			<string>com.logitech.logioptionsplus</string>
		</array>
		<key>identity.getpostman.com</key>
		<array>
			<string>postman</string>
		</array>
		<key>marketplace.visualstudio.com</key>
		<array>
			<string>vscode</string>
		</array>
		<key>nordaccount.com</key>
		<array>
			<string>nordvpn-sl</string>
		</array>
		<key>oauth.pstmn.io</key>
		<array>
			<string>postman</string>
		</array>
		<key>portlandpottery.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>ray.so</key>
		<array>
			<string>raycast</string>
		</array>
		<key>signin.autodesk.com</key>
		<array>
			<string>adskidmgr</string>
		</array>
		<key>spotify.app.link</key>
		<array>
			<string>spotify</string>
		</array>
		<key>thoughtbot-alumni.slack.com</key>
		<array>
			<string>slack</string>
		</array>
		<key>www.cursor.com</key>
		<array>
			<string>cursor</string>
		</array>
		<key>www.embracepetinsurance.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.google.com</key>
		<array>
			<string>tel</string>
			<string>tel</string>
			<string>tel</string>
		</array>
		<key>www.jetblue.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.pumpkin.care</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.raycast.com</key>
		<array>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
			<string>raycast</string>
		</array>
		<key>www.ups.com</key>
		<array>
			<string>tel</string>
		</array>
		<key>www.wealthbox.com</key>
		<array>
			<string>mailto</string>
		</array>
		<key>zoom.us</key>
		<array>
			<string>zoomus</string>
		</array>
		<key>zushealth.slack.com</key>
		<array>
			<string>slack</string>
		</array>
		<key>zushealth.zoom.us</key>
		<array>
			<string>zoomus</string>
		</array>
	</dict>
	<key>arcMaxAutoOptInEnabled</key>
	<false/>
	<key>arc_quitAlwaysKeepsWindows</key>
	<true/>
	<key>askOnPageEnabled</key>
	<false/>
	<key>autoArchiveTimeThreshold</key>
	<string>thirtyDays</string>
	<key>autoArchiveTimeThresholdsPerProfile</key>
	<string>{"thresholds":[{"default":{}},"thirtyDays"]}</string>
	<key>autoDisableAdBlockOnAllowListedURLsCompleteProfileIDs</key>
	<array>
		<string>Default</string>
		<string>Profile 1</string>
	</array>
	<key>autoUpdateBannerDismissalCount</key>
	<integer>6</integer>
	<key>automaticUpdateWillRelaunchApp</key>
	<false/>
	<key>availableAppIconNames</key>
	<array>
		<string>original</string>
		<string>candy</string>
		<string>neon</string>
		<string>flutedGlass</string>
		<string>schoolbook</string>
		<string>colorful</string>
	</array>
	<key>cloudKitSyncEnabled</key>
	<false/>
	<key>com.launchDarkly.ConnectionInformationStore.connectionInformationKey</key>
	<data>
	eyJsYXN0RmFpbGVkQ29ubmVjdGlvbiI6Nzg0NDIxNDk0LjI0NTc1MywibGFzdENvbm5l
	Y3Rpb25GYWlsdXJlUmVhc29uIjp7InR5cGUiOiJub25lIn0sImN1cnJlbnRDb25uZWN0
	aW9uTW9kZSI6InN0cmVhbWluZyJ9
	</data>
	<key>com.launchdarkly.DiagnosticCache.diagnosticData.mob-eb7cd033-956d-453a-ad51-8619c156cfee</key>
	<data>
	eyJkYXRhU2luY2VEYXRlIjoxNzYyNzIwMzk1OTQwLCJldmVudHNJbkxhc3RCYXRjaCI6
	MywiZHJvcHBlZEV2ZW50cyI6MCwiaW5zdGFuY2VJZCI6Ijk4QjgwQzk0LTcxQTctNENC
	MS1BMkI1LUE1QjU4NTg0MDFGOCIsInN0cmVhbUluaXRzIjpbeyJkdXJhdGlvbk1pbGxp
	cyI6MTM2LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjAzOTYwODl9LHsi
	ZHVyYXRpb25NaWxsaXMiOjEzOCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYy
	NzIwMzk2MzY4fSx7ImR1cmF0aW9uTWlsbGlzIjoyMzAsImZhaWxlZCI6ZmFsc2UsInRp
	bWVzdGFtcCI6MTc2MjcyMDQ1NDAzM30seyJkdXJhdGlvbk1pbGxpcyI6MTAzLCJmYWls
	ZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjA0NTU3MDV9LHsiZHVyYXRpb25NaWxs
	aXMiOjEzMCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIwNDU5MzUxfSx7
	ImR1cmF0aW9uTWlsbGlzIjoxMTYsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2
	MjcyMDQ2MDc5M30seyJkdXJhdGlvbk1pbGxpcyI6MTg3LCJmYWlsZWQiOmZhbHNlLCJ0
	aW1lc3RhbXAiOjE3NjI3MjA1MDQzMDF9LHsiZHVyYXRpb25NaWxsaXMiOjE4MSwiZmFp
	bGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIwNjUzNTU0fSx7ImR1cmF0aW9uTWls
	bGlzIjoxMzgsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMDY3MTA1MX0s
	eyJkdXJhdGlvbk1pbGxpcyI6MTI1LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3
	NjI3MjA2ODM4Nzd9LHsiZHVyYXRpb25NaWxsaXMiOjE3MiwiZmFpbGVkIjpmYWxzZSwi
	dGltZXN0YW1wIjoxNzYyNzIwNzg4MjI3fSx7ImR1cmF0aW9uTWlsbGlzIjoxNDAsImZh
	aWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMDgwNzQ3OH0seyJkdXJhdGlvbk1p
	bGxpcyI6MTQzLCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjA4MTk3MTN9
	LHsiZHVyYXRpb25NaWxsaXMiOjE4NCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjox
	NzYyNzIwOTA0NzI0fSx7ImR1cmF0aW9uTWlsbGlzIjoxMzQsImZhaWxlZCI6ZmFsc2Us
	InRpbWVzdGFtcCI6MTc2MjcyMDkxNDQwM30seyJkdXJhdGlvbk1pbGxpcyI6MTcxLCJm
	YWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjA5MjE3MjB9LHsiZHVyYXRpb25N
	aWxsaXMiOjEyOCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIwOTUxODcx
	fSx7ImR1cmF0aW9uTWlsbGlzIjoxNzYsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6
	MTc2MjcyMTAyNDA5OX0seyJkdXJhdGlvbk1pbGxpcyI6MTcwLCJmYWlsZWQiOmZhbHNl
	LCJ0aW1lc3RhbXAiOjE3NjI3MjEyNDAyNDN9LHsiZHVyYXRpb25NaWxsaXMiOjExOCwi
	ZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIxMjQyNDAyfSx7ImR1cmF0aW9u
	TWlsbGlzIjoxMjcsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMTI0MzUx
	Mn0seyJkdXJhdGlvbk1pbGxpcyI6MTg5LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAi
	OjE3NjI3MjEyOTcyNTF9LHsiZHVyYXRpb25NaWxsaXMiOjExMSwiZmFpbGVkIjpmYWxz
	ZSwidGltZXN0YW1wIjoxNzYyNzIxMzAyMDEyfSx7ImR1cmF0aW9uTWlsbGlzIjoxNjIs
	ImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMTMyMjY1N30seyJkdXJhdGlv
	bk1pbGxpcyI6MTIxLCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjEzMzM5
	NDh9LHsiZHVyYXRpb25NaWxsaXMiOjE3NywiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1w
	IjoxNzYyNzIxNDMxNjc3fSx7ImR1cmF0aW9uTWlsbGlzIjoxMzEsImZhaWxlZCI6ZmFs
	c2UsInRpbWVzdGFtcCI6MTc2MjcyMTQ0ODU0MH0seyJkdXJhdGlvbk1pbGxpcyI6MTE5
	LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjE0ODY2MjJ9LHsiZHVyYXRp
	b25NaWxsaXMiOjE2OCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIxNTA4
	NzM0fSx7ImR1cmF0aW9uTWlsbGlzIjoxODgsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFt
	cCI6MTc2MjcyMTY0MzQ4OX0seyJkdXJhdGlvbk1pbGxpcyI6MTM1LCJmYWlsZWQiOmZh
	bHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjE2NTMyMTV9LHsiZHVyYXRpb25NaWxsaXMiOjI0
	NCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIxOTI2NDU1fSx7ImR1cmF0
	aW9uTWlsbGlzIjoxMjMsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMTkz
	Njc0Mn0seyJkdXJhdGlvbk1pbGxpcyI6MTIxLCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3Rh
	bXAiOjE3NjI3MjE5Mzk0MjN9LHsiZHVyYXRpb25NaWxsaXMiOjEwNiwiZmFpbGVkIjpm
	YWxzZSwidGltZXN0YW1wIjoxNzYyNzIxOTQ0MTAyfSx7ImR1cmF0aW9uTWlsbGlzIjox
	NzAsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMTk1NTY1Mn0seyJkdXJh
	dGlvbk1pbGxpcyI6MTgzLCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjIw
	ODUyNzB9LHsiZHVyYXRpb25NaWxsaXMiOjE3OCwiZmFpbGVkIjpmYWxzZSwidGltZXN0
	YW1wIjoxNzYyNzIyNzM4MjA3fSx7ImR1cmF0aW9uTWlsbGlzIjoxMjksImZhaWxlZCI6
	ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjcyMjc2MTkzOH0seyJkdXJhdGlvbk1pbGxpcyI6
	MTk2LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjI4NTY4MDl9LHsiZHVy
	YXRpb25NaWxsaXMiOjExNCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIy
	ODU4NTMwfSx7ImR1cmF0aW9uTWlsbGlzIjoxODYsImZhaWxlZCI6ZmFsc2UsInRpbWVz
	dGFtcCI6MTc2MjcyMjk0Njg4Nn0seyJkdXJhdGlvbk1pbGxpcyI6MTMxLCJmYWlsZWQi
	OmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjI5NTUwOTh9LHsiZHVyYXRpb25NaWxsaXMi
	OjExMSwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzIyOTU3OTc2fSx7ImR1
	cmF0aW9uTWlsbGlzIjoyMDU2ODYsImZhaWxlZCI6dHJ1ZSwidGltZXN0YW1wIjoxNzYy
	NzIzMTYzNTUxfSx7ImR1cmF0aW9uTWlsbGlzIjoyODA4MywiZmFpbGVkIjpmYWxzZSwi
	dGltZXN0YW1wIjoxNzYyNzIzMTkxNjM0fSx7ImR1cmF0aW9uTWlsbGlzIjo1NzkzNDYs
	ImZhaWxlZCI6dHJ1ZSwidGltZXN0YW1wIjoxNzYyNzIzNzQyODk3fSx7ImR1cmF0aW9u
	TWlsbGlzIjo4ODAsImZhaWxlZCI6dHJ1ZSwidGltZXN0YW1wIjoxNzYyNzIzNzQzNzc3
	fSx7ImR1cmF0aW9uTWlsbGlzIjoxMzYyOTQsImZhaWxlZCI6dHJ1ZSwidGltZXN0YW1w
	IjoxNzYyNzIzODgwMDcxfSx7ImR1cmF0aW9uTWlsbGlzIjozNTMyLCJmYWlsZWQiOmZh
	bHNlLCJ0aW1lc3RhbXAiOjE3NjI3MjM4ODM2MDN9LHsiZHVyYXRpb25NaWxsaXMiOjM3
	NjcxLCJmYWlsZWQiOnRydWUsInRpbWVzdGFtcCI6MTc2MjcyMzkxNzc0Mn0seyJkdXJh
	dGlvbk1pbGxpcyI6NTExNywiZmFpbGVkIjp0cnVlLCJ0aW1lc3RhbXAiOjE3NjI3MjM5
	MjI4NTl9LHsiZHVyYXRpb25NaWxsaXMiOjEwNzE3MzIsImZhaWxlZCI6dHJ1ZSwidGlt
	ZXN0YW1wIjoxNzYyNzI0OTk0NTkxfSx7ImR1cmF0aW9uTWlsbGlzIjoyNzI5OCwiZmFp
	bGVkIjp0cnVlLCJ0aW1lc3RhbXAiOjE3NjI3MjUwMjE4ODl9LHsiZHVyYXRpb25NaWxs
	aXMiOjI2NzIyNDIsImZhaWxlZCI6dHJ1ZSwidGltZXN0YW1wIjoxNzYyNzI3Njk0MTMx
	fSx7ImR1cmF0aW9uTWlsbGlzIjo5ODQ1MDYsImZhaWxlZCI6dHJ1ZSwidGltZXN0YW1w
	IjoxNzYyNzI4Njc4NjM3fSx7ImR1cmF0aW9uTWlsbGlzIjoxNTYwNSwiZmFpbGVkIjp0
	cnVlLCJ0aW1lc3RhbXAiOjE3NjI3Mjg2OTQyNDJ9LHsiZHVyYXRpb25NaWxsaXMiOjE0
	NTM0NTksImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjczMDE0NzcwMX0seyJk
	dXJhdGlvbk1pbGxpcyI6MjA4LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3
	MzA5OTgxODV9LHsiZHVyYXRpb25NaWxsaXMiOjExNiwiZmFpbGVkIjpmYWxzZSwidGlt
	ZXN0YW1wIjoxNzYyNzMxMDAzMTA2fSx7ImR1cmF0aW9uTWlsbGlzIjoxNTcsImZhaWxl
	ZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjczMTAxMTQwNn0seyJkdXJhdGlvbk1pbGxp
	cyI6MzM5LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MzEwNTAyNjR9LHsi
	ZHVyYXRpb25NaWxsaXMiOjE0NCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYy
	NzMxMTMzMzI1fSx7ImR1cmF0aW9uTWlsbGlzIjoxNzAsImZhaWxlZCI6ZmFsc2UsInRp
	bWVzdGFtcCI6MTc2MjczMTI2NzcyNH0seyJkdXJhdGlvbk1pbGxpcyI6MTMwLCJmYWls
	ZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3NjI3MzEyODMxODl9LHsiZHVyYXRpb25NaWxs
	aXMiOjEzNCwiZmFpbGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzMxMjkwMTQyfSx7
	ImR1cmF0aW9uTWlsbGlzIjoxMjEsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2
	MjczMTMwNzgxOX0seyJkdXJhdGlvbk1pbGxpcyI6MTMwLCJmYWlsZWQiOmZhbHNlLCJ0
	aW1lc3RhbXAiOjE3NjI3MzEzMTc4MDF9LHsiZHVyYXRpb25NaWxsaXMiOjE4MCwiZmFp
	bGVkIjpmYWxzZSwidGltZXN0YW1wIjoxNzYyNzMxNDgzMDU3fSx7ImR1cmF0aW9uTWls
	bGlzIjoxMTEsImZhaWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjczMTQ4Njg3N30s
	eyJkdXJhdGlvbk1pbGxpcyI6MTU3LCJmYWlsZWQiOmZhbHNlLCJ0aW1lc3RhbXAiOjE3
	NjI3MzE2MzE4OTN9LHsiZHVyYXRpb25NaWxsaXMiOjEyMCwiZmFpbGVkIjpmYWxzZSwi
	dGltZXN0YW1wIjoxNzYyNzMxNjQ3NTQwfSx7ImR1cmF0aW9uTWlsbGlzIjoxMzcsImZh
	aWxlZCI6ZmFsc2UsInRpbWVzdGFtcCI6MTc2MjczMTY0ODc1N31dfQ==
	</data>
	<key>cronPreviewEnabled</key>
	<false/>
	<key>currentAppIconName</key>
	<string>arc.candy</string>
	<key>devModeReloadState</key>
	<string>reload</string>
	<key>didSetDefaultGoogleMeetRoute</key>
	<true/>
	<key>didSyncArchiveTime</key>
	<true/>
	<key>didSyncArchiveTimesPerProfile</key>
	<true/>
	<key>disableHistoryClusters</key>
	<true/>
	<key>eligibleToSeeAutoArchiveEducationBanner</key>
	<false/>
	<key>eligibleToSeePasswordImportPrompt</key>
	<true/>
	<key>firebaseSyncEnabled</key>
	<true/>
	<key>firebaseUpgradeKeychain10_4_0_to_10_5_0</key>
	<true/>
	<key>githubLiveFolderSSOPreferences</key>
	<dict/>
	<key>globalLittleBrowserHotkeyEnabled</key>
	<true/>
	<key>gptSiteSearchEnabled</key>
	<false/>
	<key>hasAutoInstalledJsonFormatterExtension</key>
	<true/>
	<key>hasCompletedBrowserImport</key>
	<true/>
	<key>hasHiddenSidebarWithGesture</key>
	<true/>
	<key>hasLaunchedBefore</key>
	<true/>
	<key>hasSeenGithubLiveFolderEducation</key>
	<true/>
	<key>hasTurnedOffGithubLiveFolder</key>
	<true/>
	<key>hoverCardsEnabled</key>
	<false/>
	<key>instantLinksEnabled</key>
	<false/>
	<key>ldGeneratedContextKey:ld_device</key>
	<string>C95C4A10-A8B1-4FA1-8BEE-B694DE575008</string>
	<key>littleBrowserNUXPresentationCount</key>
	<integer>2</integer>
	<key>migratedToTabOnlySiteSearchTrigger</key>
	<true/>
	<key>nativeAdBlockEnabled</key>
	<false/>
	<key>openExternalLinksInLittleBrowserEnabled</key>
	<false/>
	<key>optionCommandClickLittleArcEntryPointEnabled</key>
	<false/>
	<key>outlookCalendarPreviewEnabled</key>
	<false/>
	<key>outlookEmailPreviewEnabled</key>
	<false/>
	<key>recentPagesPreviewEnabled</key>
	<true/>
	<key>renameDownloadsEnabled</key>
	<false/>
	<key>renamePinnedTabsEnabled</key>
	<false/>
	<key>restartClientServiceShouldBeAllowed</key>
	<false/>
	<key>seededPopularSiteSearches</key>
	<true/>
	<key>shouldAutomaticallyUpdateArc</key>
	<true/>
	<key>shouldSkipUnboxingVideo</key>
	<true/>
	<key>shouldWarnBeforeQuitting</key>
	<false/>
	<key>tidyTabsEnabled</key>
	<false/>
	<key>toolbarShowFullURLsEnabledPreference</key>
	<true/>
	<key>topAppsEmptyStateDismissedForProfiles</key>
	<array>
		<string>Default</string>
		<string>Profile 1</string>
	</array>
	<key>topBarURLEnabled</key>
	<true/>
</dict>
</plist>
