<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame Preferences Window</key>
	<string>1090 839 460 319 0 0 2560 1415 </string>
	<key>selectedPopoverSize</key>
	<integer>1</integer>
	<key>selectedUIIcon</key>
	<integer>0</integer>
</dict>
</plist>
