<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1634067231</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>31d32db517aea086deeeb968c8249dbbda92644e0d2b30a6ab59d39f3d9842e2</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwYVSRu
		dWxs1g0ODxAREhMUFRMWF11BY2NvdW50U3RhdHVzXxAkRGV2aWNlVG9EZXZp
		Y2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxAcQWNjb3VudEluZm9WYWxpZGF0
		aW9uQ291bnRlcl8QEEFjY291bnRQYXJ0aXRpb25fEBNIYXNWYWxpZENyZWRl
		bnRpYWxzViRjbGFzcxABEAMQIgmAAtIZGhscWiRjbGFzc25hbWVYJGNsYXNz
		ZXNdQ0tBY2NvdW50SW5mb6IbHVhOU09iamVjdAAIABEAGgAkACkAMgA3AEkA
		TABRAFMAVwBdAGoAeACfAL4A0QDnAO4A8ADyAPQA9QD3APwBBwEQAR4BIQAA
		AAAAAAIBAAAAAAAAAB4AAAAAAAAAAAAAAAAAAAEq
		</data>
	</dict>
	<key>MASPreferences PreferencesGeneral Frame</key>
	<string>{{0, 0}, {560, 348}}</string>
	<key>MASPreferences Selected Identifier View</key>
	<string>PreferencesGeneral</string>
	<key>MSAppCenter310AnalyticsUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310AppCenterUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenter310CrashesUserDefaultsMigratedKey</key>
	<true/>
	<key>MSAppCenterAppDidReceiveMemoryWarning</key>
	<true/>
	<key>MSAppCenterInstallId</key>
	<string>F21BC4D9-2521-4F09-8F18-3F6E3838B218</string>
	<key>MSAppCenterPastDevices</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBYLDBIYHCJQUVJTVFVWV1hZ
	WltcXWJnVSRudWxs0g0ODxFaTlMub2JqZWN0c1YkY2xhc3OhEIACgBXTExQOFRYXXHRp
	bWVzdGFtcEtleVlkZXZpY2VLZXmAA4AFgBTSGQ4aG1dOUy50aW1lI0HDiw1kQ0OWgATS
	HR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaIfIVhOU09iamVjdN8QFyMkJSYO
	JygpKissLS4vMDEyMzQ1Njc4OTo7PD0+PDxBQjw8PDxHSElKPDxNTk9Zb3NWZXJzaW9u
	XnRpbWVab25lT2Zmc2V0WGFwcEJ1aWxkXxAVbGl2ZVVwZGF0ZVBhY2thZ2VIYXNoWmFw
	cFZlcnNpb25fEBF3cmFwcGVyU2RrVmVyc2lvbltjYXJyaWVyTmFtZVdzZGtOYW1lVmxv
	Y2FsZV8QF2xpdmVVcGRhdGVEZXBsb3ltZW50S2V5XmNhcnJpZXJDb3VudHJ5Wm9zQXBp
	TGV2ZWxed3JhcHBlclNka05hbWVXb2VtTmFtZVpzZGtWZXJzaW9uXGFwcE5hbWVzcGFj
	ZVVtb2RlbF8QFXdyYXBwZXJSdW50aW1lVmVyc2lvbl8QFmxpdmVVcGRhdGVSZWxlYXNl
	TGFiZWxac2NyZWVuU2l6ZVZvc05hbWVXb3NCdWlsZIALgA6AEYAAgBOAEIAAgACABoAN
	gACAAIAAgACACYAHgBKACIAAgACAD4AKgAxfEA9hcHBjZW50ZXIubWFjb3NVNC4wLjFe
	TWFjQm9va1BybzE3LDFVQXBwbGVVbWFjT1NWMTEuNi4wVjIwRzE2NVVlbl9VUxP/////
	////EFgxNDQweDkwMFYxLjE5LjJVMTU3MjhfEBtubC5uaWVsc21vdXRoYWFuLmRhaWx5
	Lm1haW7SHR5eX1pNU0FDRGV2aWNlo2BhIVpNU0FDRGV2aWNlXk1TQUNXcmFwcGVyU2Rr
	0h0eY2RfEBVNU0FDRGV2aWNlSGlzdG9yeUluZm+jZWYhXxAVTVNBQ0RldmljZUhpc3Rv
	cnlJbmZvXxAPTVNBQ0hpc3RvcnlJbmZv0h0eaGleTlNNdXRhYmxlQXJyYXmjaGohV05T
	QXJyYXkACAARABoAJAApADIANwBJAEwAUQBTAGwAcgB3AIIAiQCLAI0AjwCWAKMArQCv
	ALEAswC4AMAAyQDLANAA2wDkAOsA7gD3ASgBMgFBAUoBYgFtAYEBjQGVAZwBtgHFAdAB
	3wHnAfIB/wIFAh0CNgJBAkgCUAJSAlQCVgJYAloCXAJeAmACYgJkAmYCaAJqAmwCbgJw
	AnICdAJ2AngCegJ8An4CkAKWAqUCqwKxArgCvwLFAs4C1wLeAuQDAgMHAxIDFgMhAzAD
	NQNNA1EDaQN7A4ADjwOTAAAAAAAAAgEAAAAAAAAAawAAAAAAAAAAAAAAAAAAA5s=
	</data>
	<key>MSAppCenterSessionIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSGBwiIyhVJG51bGzSDQ4P
	EVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9MTFA4VFhdcdGltZXN0YW1wS2V5XHNlc3Np
	b25JZEtleYADgAWABtIZDhobV05TLnRpbWUjQcOLoisCEq6ABNIdHh8gWiRjbGFzc25h
	bWVYJGNsYXNzZXNWTlNEYXRloh8hWE5TT2JqZWN0XxAkM0UxNTg3RjktQzZENC00MTQ5
	LTlGNTAtMzVFN0EwNDU1QzI30h0eJCVfEBZNU0FDU2Vzc2lvbkhpc3RvcnlJbmZvoyYn
	IV8QFk1TQUNTZXNzaW9uSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/SHR4pKl5O
	U011dGFibGVBcnJheaMpKyFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABRAFMAXABi
	AGcAcgB5AHsAfQB/AIYAkwCgAKIApACmAKsAswC8AL4AwwDOANcA3gDhAOoBEQEWAS8B
	MwFMAV4BYwFyAXYAAAAAAAACAQAAAAAAAAAsAAAAAAAAAAAAAAAAAAABfg==
	</data>
	<key>MSAppCenterUserIdHistory</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSGBwiJ1UkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG0xMUDhUWF1x0aW1lc3RhbXBLZXlZdXNlcklk
	S2V5gAOAAIAF0hkOGhtXTlMudGltZSNBw4sNZEGcx4AE0h0eHyBaJGNsYXNzbmFtZVgk
	Y2xhc3Nlc1ZOU0RhdGWiHyFYTlNPYmplY3TSHR4jJF8QFU1TQUNVc2VySWRIaXN0b3J5
	SW5mb6MlJiFfEBVNU0FDVXNlcklkSGlzdG9yeUluZm9fEA9NU0FDSGlzdG9yeUluZm/S
	HR4oKV5OU011dGFibGVBcnJheaMoKiFXTlNBcnJheQAIABEAGgAkACkAMgA3AEkATABR
	AFMAWwBhAGYAcQB4AHoAfAB+AIUAkgCcAJ4AoACiAKcArwC4ALoAvwDKANMA2gDdAOYA
	6wEDAQcBHwExATYBRQFJAAAAAAAAAgEAAAAAAAAAKwAAAAAAAAAAAAAAAAAAAVE=
	</data>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>502</real>
	<key>activityHiddenPropertyPopulated</key>
	<true/>
	<key>askAfterInactivity</key>
	<real>900</real>
	<key>introductionShown</key>
	<true/>
	<key>language</key>
	<integer>0</integer>
	<key>lastAppVersionWhenOpeningDashboard</key>
	<string>1.19.0</string>
	<key>previousRatedVersion</key>
	<string>1.19.2</string>
	<key>receiptInformation</key>
	<data>
	LYiWxGkN1TZJjadbC8endPIt4DmMvudSg0UWbq+/PT7LgWCpUL/vLVxscW6Gx4K3FGe+
	wvjixtSzCQfZ12FF4yuZkQ3kRIaGrPEquWcPkdrVUVGCditi9sIp0OdbYDUU1sBOSScY
	q6SPEDmqgjT0Ke+Hwe9MdB6qofrLg5usNTi9ARalGLVj0G9/9bKBCua0SCGDMGdJ/A0e
	gRdKEX/DiURVQ+our8bg8A6IkE6pYzRkOdijXDMMTer5a+WWPmTRVdsa5bjgRSn6hYGm
	4GyCdwTAOvO8GN6bfvHKIjY/9ARv0rzYEvqCsGdULOT6YO6X5Ap4kDiXRYS1kr8IGUR2
	3YOG+nomORxnQk7hQtl3FoSYRatBwnejgsjewvdpH3UhvKttugj15kwFlCyjlmk65qlp
	Nd1usPD9KHfeWR5dZCQtdQOEnejQzyYYdBdsextPV133mejtqGyl0TqT91NP6s78goG1
	qQH/Xoiq8tGMIIZWp62uSo4dsfLjmHnv/FPqbwauzyjhfRsaspOKce5mV4L1EiaXJGcZ
	+cEfSu8JpJ5+rhXZ8zi1a11Cpk1pAQ/vRHqzoVV5vRdIQsscO4xtE1Da48xU81Hinns/
	kQqkaQ7s1AjD9v40dy22MW8o9RQvHlEqApT4OqaEUAZDnYhWM3EISjDbH65WTRYW1xXD
	CeGlhF0iAMskHyfBhOXs04SN+jnBTUYoea/ugSTJNtPh06Ce61MKT7PI1BrPhU6A+nBM
	ALcZUiMn2+w6VLUZPCQgE44kzzbWI8TKUTODjJ+NXU/AapdU72OVvpLk7du+OaX3FhBD
	yeF47JI+1bZEI0rQJQOrxBo8wINJ2UxdO27Cl4NMnedzfp9m6IIxj/UTCYHZ9kdytcDt
	WpMi6sGxxoJcG9YMDJgWEM68ssd1T5wpkaHyxud2dGxI2Nted2bKStKWvrviA9pf88Cw
	/G0KoKCa1vxaWebGsb9Pa9N5qiQeLZdXtetf65O8KdzhUpclwhuI+kgXHcA29eEOna0n
	9pbhtNPAHZH5kxBVfoPqUHKH6hMADAMZYDEyk8R47KgWSk1sFhTAKmsUX9slsPSZHrAT
	27zHTVfyUizCUXzya1/Q9Hj7loXSddZg81vFL3ejhpI=
	</data>
	<key>schedulerData</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>endTime</key>
			<date>2021-10-12T17:30:00Z</date>
			<key>startTime</key>
			<date>2021-10-12T09:00:00Z</date>
		</dict>
	</array>
	<key>usingNewDataModel</key>
	<true/>
</dict>
</plist>
