<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>2050</real>
	<key>askAfterInactivity</key>
	<real>900</real>
	<key>cachedUserRecordID</key>
	<string>_f6022dd8d00a83b38d9a295fe51ebfc8</string>
	<key>dataRetention</key>
	<string>90</string>
	<key>deduplicatedActivities</key>
	<true/>
	<key>deduplicatedDays</key>
	<true/>
	<key>defaultDashboardType</key>
	<integer>1</integer>
	<key>dialogTimeInterval</key>
	<real>900</real>
	<key>groupsViewWidth</key>
	<real>200</real>
	<key>hasDismissedOffer_New Year Discount_1768175999.0</key>
	<true/>
	<key>hasSeen2025InReviewMAW</key>
	<true/>
	<key>installationID</key>
	<string>E14D9B6B-7B9B-42EC-9A45-6D4F495C66B3</string>
	<key>introductionShown</key>
	<true/>
	<key>migratedEnabledAndHiddenToArchived</key>
	<true/>
	<key>previouslyDenied</key>
	<date>2026-03-06T17:25:01Z</date>
	<key>previouslyDeniedForNewsletterSubscription</key>
	<date>2025-07-26T16:51:45Z</date>
	<key>queuedDatesForUpload</key>
	<array/>
	<key>schedulerData</key>
	<array>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T19:00:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T17:30:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T17:30:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T17:30:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T17:30:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T17:30:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
		<dict>
			<key>enabled</key>
			<true/>
			<key>endTime</key>
			<date>2025-07-26T17:30:00Z</date>
			<key>startTime</key>
			<date>2025-07-26T07:00:00Z</date>
		</dict>
	</array>
	<key>schedulerIsActive</key>
	<false/>
	<key>timeRounding</key>
	<integer>15</integer>
	<key>translucentEffect</key>
	<true/>
	<key>webApi</key>
	<false/>
</dict>
</plist>
