<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HSenableSpotlightForNameSearches</key>
	<true/>
	<key>MJKeepConsoleOnTopKey</key>
	<true/>
	<key>MJShowMenuIconKey</key>
	<false/>
	<key>MJSkipDockMenuIconProblemAlertKey</key>
	<true/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>10650</real>
	<key>NSToolbar Configuration Console Default</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>615 545 620 398 0 0 1800 1125 </string>
	<key>NSWindow Frame console</key>
	<string>574 236 853 405 0 0 1512 944 </string>
	<key>NSWindow Frame prefs</key>
	<string>601 499 365 277 0 0 1512 944 </string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2025-07-26T17:43:51Z</date>
	<key>SUSendProfileInfo</key>
	<false/>
	<key>SUUpdateGroupIdentifier</key>
	<integer>3906537174</integer>
</dict>
</plist>
