<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFullScreenMenuItemEverywhere</key>
	<false/>
	<key>NSNavLastUserSetHideExtensionButtonState</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{799, 448}</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{841, 457}</string>
	<key>NSNavPanelExpandedStateForSaveMode</key>
	<true/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>30859</real>
	<key>NSStatusItem Preferred Position Item-1</key>
	<real>30889.000000010001</real>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>PMPrintingExpandedStateForPrint2</key>
	<true/>
</dict>
</plist>
