<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IKAnonymousIdentifier</key>
	<string>47883243-1508-476e-9509-75fcf5faeb9a</string>
	<key>IKEvents</key>
	<data>
	W3sibWV0YWRhdGEiOnsic3lzdGVtX3ZlcnNpb24iOiIyNi40LjEiLCJhcHBfdmVyc2lv
	biI6IjQuOC44In0sIm5hbWUiOiJzY3JlZW5zaG90X2FyZWEiLCJjcmVhdGVkX2F0Ijox
	Nzc4ODU1NzAwfSx7Im5hbWUiOiJzY3JlZW5zaG90X2FyZWEiLCJjcmVhdGVkX2F0Ijox
	Nzc4ODU1NzA3LCJtZXRhZGF0YSI6eyJzeXN0ZW1fdmVyc2lvbiI6IjI2LjQuMSIsImFw
	cF92ZXJzaW9uIjoiNC44LjgifX0seyJuYW1lIjoiYW5ub3RhdGUiLCJtZXRhZGF0YSI6
	eyJ1c2VkX3Rvb2xzIjpbIk5vbmUiXSwic3lzdGVtX3ZlcnNpb24iOiIyNi40LjEiLCJh
	cHBfdmVyc2lvbiI6IjQuOC44In0sImNyZWF0ZWRfYXQiOjE3Nzg4NTU3MDh9LHsibmFt
	ZSI6ImFubm90YXRlX3NhdmVfY2xpcGJvYXJkIiwibWV0YWRhdGEiOnsic3lzdGVtX3Zl
	cnNpb24iOiIyNi40LjEiLCJhcHBfdmVyc2lvbiI6IjQuOC44In0sImNyZWF0ZWRfYXQi
	OjE3Nzg4NTU3MDh9LHsibmFtZSI6InNjcmVlbnNob3RfYXJlYSIsImNyZWF0ZWRfYXQi
	OjE3Nzg4NjY2MTIsIm1ldGFkYXRhIjp7ImFwcF92ZXJzaW9uIjoiNC44LjgiLCJzeXN0
	ZW1fdmVyc2lvbiI6IjI2LjQuMSJ9fSx7ImNyZWF0ZWRfYXQiOjE3Nzg4NjY2MTQsIm5h
	bWUiOiJhbm5vdGF0ZSIsIm1ldGFkYXRhIjp7ImFwcF92ZXJzaW9uIjoiNC44LjgiLCJ1
	c2VkX3Rvb2xzIjpbIk5vbmUiXSwic3lzdGVtX3ZlcnNpb24iOiIyNi40LjEifX0seyJt
	ZXRhZGF0YSI6eyJhcHBfdmVyc2lvbiI6IjQuOC44Iiwic3lzdGVtX3ZlcnNpb24iOiIy
	Ni40LjEifSwibmFtZSI6ImFubm90YXRlX3NhdmVfY2xpcGJvYXJkIiwiY3JlYXRlZF9h
	dCI6MTc3ODg2NjYxNH0seyJuYW1lIjoic2NyZWVuc2hvdF9hcmVhIiwibWV0YWRhdGEi
	OnsiYXBwX3ZlcnNpb24iOiI0LjguOCIsInN5c3RlbV92ZXJzaW9uIjoiMjYuNC4xIn0s
	ImNyZWF0ZWRfYXQiOjE3Nzg4NzI2OTZ9LHsibmFtZSI6ImFubm90YXRlIiwiY3JlYXRl
	ZF9hdCI6MTc3ODg3MjY5OCwibWV0YWRhdGEiOnsiYXBwX3ZlcnNpb24iOiI0LjguOCIs
	InVzZWRfdG9vbHMiOlsiTm9uZSJdLCJzeXN0ZW1fdmVyc2lvbiI6IjI2LjQuMSJ9fSx7
	Im1ldGFkYXRhIjp7ImFwcF92ZXJzaW9uIjoiNC44LjgiLCJzeXN0ZW1fdmVyc2lvbiI6
	IjI2LjQuMSJ9LCJuYW1lIjoiYW5ub3RhdGVfc2F2ZV9jbGlwYm9hcmQiLCJjcmVhdGVk
	X2F0IjoxNzc4ODcyNjk4fSx7Im5hbWUiOiJzY3JlZW5zaG90X2FyZWEiLCJtZXRhZGF0
	YSI6eyJzeXN0ZW1fdmVyc2lvbiI6IjI2LjQuMSIsImFwcF92ZXJzaW9uIjoiNC44Ljgi
	fSwiY3JlYXRlZF9hdCI6MTc3ODg3NDAxN30seyJtZXRhZGF0YSI6eyJ1c2VkX3Rvb2xz
	IjpbIk5vbmUiXSwiYXBwX3ZlcnNpb24iOiI0LjguOCIsInN5c3RlbV92ZXJzaW9uIjoi
	MjYuNC4xIn0sIm5hbWUiOiJhbm5vdGF0ZSIsImNyZWF0ZWRfYXQiOjE3Nzg4NzQwMTl9
	LHsiY3JlYXRlZF9hdCI6MTc3ODg3NDAxOSwibWV0YWRhdGEiOnsiYXBwX3ZlcnNpb24i
	OiI0LjguOCIsInN5c3RlbV92ZXJzaW9uIjoiMjYuNC4xIn0sIm5hbWUiOiJhbm5vdGF0
	ZV9zYXZlX2NsaXBib2FyZCJ9XQ==
	</data>
	<key>IKPreferencesLast</key>
	<data>
	eyJjb3B5X2JlaGF2aW91ciI6MCwib3B0aW1pemVfZ2lmcyI6dHJ1ZSwiaWdub3JlX2Fm
	dGVyX2NhcHR1cmUiOnRydWUsImFza19mb3JfbmFtZV9hZnRlcl9jYXB0dXJlIjpmYWxz
	ZSwiY2xvdWRfY29weV9kaXJlY3RfbGluayI6dHJ1ZSwid2luZG93X2JhY2tncm91bmRf
	cGFkZGluZyI6MiwiYW5ub3RhdGVfY29uZmlybV9jbG91ZF91cGRhdGUiOmZhbHNlLCJh
	bm5vdGF0ZV9zbmFwX2Nyb3AiOnRydWUsInNob3dfcmVjb3JkaW5nX2NvbnRyb2xzIjp0
	cnVlLCJjdXJzb3JfaGlnaGxpZ2h0X3N0eWxlIjoxLCJkaXNwbGF5X3JlY29yZGluZ190
	aW1lIjp0cnVlLCJhbm5vdGF0ZV9jb3VudGVyX3N0eWxlIjowLCJmaWxlbmFtZV9pc19k
	ZWZhdWx0IjpmYWxzZSwic2VsZl90aW1lcl9pbnRlcnZhbCI6NSwiYW5ub3RhdGVfc21v
	b3RoX2RyYXdpbmciOnRydWUsImFubm90YXRlX3Nob3dfZG9ja19pY29uIjp0cnVlLCJx
	YW9fY2xvc2VfYWZ0ZXJfZHJhZ2dpbmciOnRydWUsImFubm90YXRlX3Nob3dfY29sb3Jf
	bmFtZXMiOmZhbHNlLCJsYXVuY2hfYXRfbG9naW4iOnRydWUsInBpbm5lZF9zaG93X2Jv
	cmRlciI6dHJ1ZSwiYW5ub3RhdGVfZXhwYW5kX2NhbnZhcyI6ZmFsc2UsImtleWJvYXJk
	X292ZXJsYXlfcG9zaXRpb24iOjQsImRlZmF1bHRfbWVkaWFfZXhwb3J0X3BhdGgiOnRy
	dWUsImN1cnNvcl9oaWdobGlnaHRfYW5pbWF0ZSI6dHJ1ZSwia2V5Ym9hcmRfb3Zlcmxh
	eV9zaXplIjo0NSwiYXV0b21hdGljYWxseV9jaGVja19mb3JfdXBkYXRlcyI6dHJ1ZSwi
	c2NyZWVuc2hvdF9zb3VuZCI6InN5c3RlbURlZmF1bHQiLCJhbm5vdGF0ZV9sb2NrX2Nh
	bnZhcyI6dHJ1ZSwidXNlX2RlZmF1bHRfY2FtZXJhX3Bvc2l0aW9uIjpmYWxzZSwiZGlk
	X2Fza19hYm91dF91cmxfc2NoZW1lcyI6ZmFsc2UsImRpbV9zY3JlZW5fd2hpbGVfcmVj
	b3JkaW5nIjp0cnVlLCJoaWRlX2ljb25zX3doZW5fY2FwdHVyZSI6ZmFsc2UsImFkZF9A
	Mnhfc3VmZml4Ijp0cnVlLCJwb3B1cF9hc2tfZm9yX2Rlc3RpbmF0aW9uIjpmYWxzZSwi
	YW5ub3RhdGVfYWx3YXlzX29uX3RvcCI6dHJ1ZSwicmVtZW1iZXJfb25lX292ZXJsYXlf
	YXJlYSI6dHJ1ZSwiZnJlZXplX3NjcmVlbiI6dHJ1ZSwiYW5ub3RhdGVfcGl4ZWxhdGVf
	c3R5bGUiOjEsInNob3dfcmVjZW50X2Nsb3VkX2ZpbGVzIjp0cnVlLCJxYW9fbW92ZV90
	b19hY3RpdmVfZGlzcGxheSI6dHJ1ZSwicWFvX2NvbmZpcm1fdmlkZW9fZGVsZXRlIjp0
	cnVlLCJnaWZfZnBzIjoxNSwic2hvd19jb3VudGRvd24iOmZhbHNlLCJyZWNvcmRfaW5f
	bW9ubyI6ZmFsc2UsImNhcHR1cmVfd2luZG93X3NoYWRvdyI6dHJ1ZSwiY2xvdWRfb3B0
	aW1pemVfc2NyZWVuc2hvdHMiOnRydWUsImNhbWVyYV9zaXplX25ldyI6MSwiYWRkX2Zy
	YW1lX3RvX3NjcmVlbnNob3RzIjpmYWxzZSwiY2FtZXJhX3NoYXBlIjowLCJhbm5vdGF0
	ZV90ZXh0X3N0eWxlIjozLCJpY29uX292ZXJsYXlfdHlwZSI6MCwiYmFja2dyb3VuZF90
	b29sX29wZW5lZCI6dHJ1ZSwibWF4X3JlY29yZGluZ19yZXNvbHV0aW9uIjowLCJxYW9f
	YXV0b19jbG9zZV9pbnRlcnZhbCI6MzAsInRleHRfcmVjb2duaXRpb25fa2VlcF9lbnRl
	cnMiOmZhbHNlLCJzaG93X2VuY29kaW5nX3N1bW1hcnkiOnRydWUsImtleWJvYXJkX292
	ZXJsYXlfc2hvd19hbGwiOmZhbHNlLCJyZWNvcmRfbWljcm9waG9uZSI6ZmFsc2UsInRl
	eHRfcmVjb2duaXRpb25fYXV0b19sYW5nIjp0cnVlLCJyZW1lbWJlcl9yZWNvcmRpbmdf
	YXJlYSI6ZmFsc2UsInFhb19vbl9sZWZ0X3NpZGUiOnRydWUsImN1cnNvcl9oaWdobGln
	aHRfc2l6ZSI6NTAsImFubm90YXRlX3Nob3dfbW9yZV9ncmFkaWVudHMiOnRydWUsInNo
	b3dfY2hhbmdlbG9nIjpmYWxzZSwia2V5Ym9hcmRfb3ZlcmxheV9zdHlsZSI6MCwiYW5u
	b3RhdGVfZHJhd19zaGFkb3ciOnRydWUsImNvbmZpcm1faGlzdG9yeV9kZWxldGUiOnRy
	dWUsIm9jcl9kZXRlY3RfdXJscyI6dHJ1ZSwicGlubmVkX2Ryb3Bfc2hhZG93Ijp0cnVl
	LCJ0cmFuc3BhcmVudF93aW5kb3dfYmFja2dyb3VuZCI6dHJ1ZSwicGxheV9zb3VuZHMi
	OnRydWUsImN1cnNvcl9oaWdobGlnaHRfZW5hYmxlZCI6dHJ1ZSwiY29weV9saW5rX2Jl
	Zm9yZV91cGxvYWQiOnRydWUsInNjcmVlbnNob3RfZm9ybWF0IjoicG5nIiwiaGlzdG9y
	eV9jYXBhY2l0eSI6Miwic2hvd19jdXJzb3Jfb25fcmVjb3JkaW5ncyI6dHJ1ZSwic2hv
	d19tZW51YmFyX2ljb24iOnRydWUsInFhb19zaXplIjoyLCJ3YXJuX2Fib3V0X211dGVk
	X21pYyI6dHJ1ZSwidmlkZW9fZnBzIjo2MCwiZG93bnNjYWxlX3JldGluYV92aWRlb3Mi
	OmZhbHNlLCJhdWRpb19kcml2ZXJfaW5zdGFsbGVkIjpmYWxzZSwicWFvX2F1dG9fY2xv
	c2UiOmZhbHNlLCJhbm5vdGF0ZV9oaWdobGlnaHRfc2hhcGUiOjEsImZpbGVfbmFtZV91
	dGNfdGltZXpvbmUiOmZhbHNlLCJxYW9fY2xvc2VfYWZ0ZXJfdXBsb2FkaW5nIjp0cnVl
	LCJhbGxvd191cmxfc2NoZW1lcyI6ZmFsc2UsImFmdGVyX3NjcmVlbnNob3RfYWN0aW9u
	cyI6WzEsM10sImJhY2tncm91bmRfdG9vbF9yZW1lbWJlcl9vcGVuIjpmYWxzZSwicGlu
	bmVkX3JvdW5kX2Nvcm5lcnMiOnRydWUsImRvX25vdF9kaXN0dXJiX3JlY29yZGluZyI6
	dHJ1ZSwiY2FwdHVyZV9jdXJzb3IiOnRydWUsImNsb3VkX3JlbmFtZV9ldmVyeV91cGxv
	YWQiOmZhbHNlLCJyZWNvcmRfY29tcHV0ZXJfYXVkaW8iOmZhbHNlLCJmbGlwX2NhbWVy
	YSI6dHJ1ZSwiYW5ub3RhdGVfaW52ZXJzZV9hcnJvdyI6ZmFsc2UsImtleWJvYXJkX292
	ZXJsYXlfYmx1cl9iZyI6dHJ1ZSwiYW5ub3RhdGVfYXJyb3dfc3R5bGUiOjEsInNob3df
	bWFnbmlmaWVyIjp0cnVlLCJkb3duc2NhbGVfcmV0aW5hX3NjcmVlbnNob3RzIjpmYWxz
	ZSwiY3VzdG9tX2JhY2tncm91bmRfY291bnQiOjAsImFubm90YXRlX3ByZXNldHNfY291
	bnQiOjAsImNyb3NzaGFpcl9tb2RlIjoxLCJyZWNvcmRfY2FtZXJhIjpmYWxzZSwiZmls
	ZW5hbWVfdG9rZW5zIjpbIiVIIiwiJU0iLCIlUyIsIiVkIiwiJW0iLCIleSJdLCJrZXli
	b2FyZF9vdmVybGF5X2VuYWJsZWQiOnRydWUsIm1lcmdlX2F1ZGlvX3RyYWNrcyI6dHJ1
	ZSwicWFvX2F1dG9fY2xvc2VfbW9kZSI6MCwiYW5ub3RhdGVfY3VzdG9tX2NvbG9yc19j
	b3VudCI6MCwiZ2lmX3F1YWxpdHkiOjgwLCJnaWZfbWF4X3NpemUiOjgwMCwicmVtb3Zl
	X2lsbGVnYWxfY2hhcmFjdGVycyI6dHJ1ZSwiYWZ0ZXJfdmlkZW9fYWN0aW9ucyI6WzBd
	fQ==
	</data>
	<key>LAVArecordVideo</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjY0MDAsImNhcmJvbktleSI6MTV9
	</data>
	<key>LAVAtakeAllInOne</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyM30=
	</data>
	<key>LAVAtakeArea</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMX0=
	</data>
	<key>LAVAtakeFullscreen</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMH0=
	</data>
	<key>LaunchAtLogin__hasMigrated</key>
	<true/>
	<key>MGR001</key>
	<true/>
	<key>MGR002</key>
	<true/>
	<key>MGR003</key>
	<true/>
	<key>MGR004</key>
	<true/>
	<key>MGR005</key>
	<true/>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>544</real>
	<key>QTIP_0</key>
	<true/>
	<key>QTIP_13</key>
	<true/>
	<key>QTIP_16</key>
	<true/>
	<key>QTIP_19</key>
	<true/>
	<key>QTIP_2</key>
	<true/>
	<key>QTIP_4</key>
	<true/>
	<key>QTIP_7</key>
	<true/>
	<key>QTIP_8</key>
	<true/>
	<key>QTIP_9</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SUUpdateRelaunchingMarker</key>
	<true/>
	<key>afterScreenshotActions</key>
	<array>
		<integer>1</integer>
		<integer>3</integer>
	</array>
	<key>analyticsAllowed</key>
	<true/>
	<key>annotateAlwaysOnTop</key>
	<true/>
	<key>annotatePixelateIntensity</key>
	<integer>3</integer>
	<key>annotateTextStyle</key>
	<integer>3</integer>
	<key>askedToUninstallAudioDriver</key>
	<true/>
	<key>autoClosePopup</key>
	<false/>
	<key>cameraPositionX</key>
	<integer>2</integer>
	<key>cameraPositionY</key>
	<integer>0</integer>
	<key>captureCursor</key>
	<true/>
	<key>captureWithoutDesktopIcons</key>
	<false/>
	<key>cloudCopyDirectLink</key>
	<true/>
	<key>cloudUser</key>
	<data>
	eyJwbGFuTmFtZSI6IlBybyIsImV4cGlyZUFmdGVyIjotMSwiaWQiOjQzNjk2LCJjYW5V
	cGxvYWRPcmlnaW5hbE1lZGlhIjp0cnVlLCJpc1Bhc3REdWUiOmZhbHNlLCJjYW5TZXRN
	ZWRpYVBhc3N3b3JkIjp0cnVlLCJjYW5TZXRFeHBpcmVBZnRlciI6dHJ1ZSwic3RvcmFn
	ZUxpbWl0UmVhZGFibGUiOiIiLCJoYXNQYWlkUGxhbiI6dHJ1ZSwicm9sZSI6ImFkbWlu
	IiwidXNlZFN0b3JhZ2VQZXJjZW50YWdlIjowLCJuYW1lIjoiV2lsIEhhbGwiLCJhdmF0
	YXJVUkwiOiJodHRwczpcL1wvY2xlYW5zaG90LWNsb3VkLWZyYS5zMy5ldS1jZW50cmFs
	LTEuYW1hem9uYXdzLmNvbVwvYXZhdGFyc1wvVkRoZ25Cem14ejVmeThNTUhCWFlxaUlR
	ekFhRGd2N0VTUEpQMHdvOC5qcGciLCJlbWFpbCI6IndpbEB3aWxoYWxsLmNvbSIsImhh
	c0xpbWl0ZWRTdG9yYWdlIjpmYWxzZSwiY2FuQ29weURpcmVjdExpbmtUb0NsaXBib2Fy
	ZCI6dHJ1ZX0=
	</data>
	<key>confirmCloudUpdateAfterAnnotate</key>
	<false/>
	<key>copyToClipboardPriority</key>
	<integer>1</integer>
	<key>crosshairMode</key>
	<integer>1</integer>
	<key>cursorHighlightAnimate</key>
	<true/>
	<key>cursorHighlightStyle</key>
	<integer>1</integer>
	<key>deletePopupAfterDragging</key>
	<true/>
	<key>displayRecordingTime</key>
	<true/>
	<key>doNotDisturbWhileRecording</key>
	<true/>
	<key>freezeScreen</key>
	<true/>
	<key>highlightClicks</key>
	<true/>
	<key>keyboardOverlayDisplayAll</key>
	<false/>
	<key>mediaHistory</key>
	<data>
	W3sicHJvamVjdFVSTCI6ImZpbGU6XC9cL1wvVXNlcnNcL3dpbGhhbGxcL0xpYnJhcnlc
	L0FwcGxpY2F0aW9uJTIwU3VwcG9ydFwvQ2xlYW5TaG90XC9tZWRpYVwvbWVkaWFfV21B
	NXJZa0dhd1wvU2NyZWVuc2hvdCUyMDIwMjYtMDUtMTMlMjBhdCUyMDEwLjQyLjA0LmNs
	ZWFuc2hvdCIsImFwcE1ldGFkYXRhIjp7ImFwcCI6IlZpdmFsZGkiLCJ3aW5kb3ciOiJa
	dXMgU3RhbmRhbG9uZSBBcHAgLSBWaXZhbGRpIiwiYnVuZGxlVVJMIjoiZmlsZTpcL1wv
	XC9BcHBsaWNhdGlvbnNcL1ZpdmFsZGkuYXBwXC8iLCJidW5kbGVJRCI6ImNvbS52aXZh
	bGRpLlZpdmFsZGkifSwiY2xvdWRNZWRpYSI6bnVsbCwidGVtcFVSTCI6bnVsbCwidXJs
	IjoiZmlsZTpcL1wvXC9Vc2Vyc1wvd2lsaGFsbFwvTGlicmFyeVwvQXBwbGljYXRpb24l
	MjBTdXBwb3J0XC9DbGVhblNob3RcL21lZGlhXC9tZWRpYV9BZGRURjJmSTlqXC9TY3Jl
	ZW5zaG90JTIwMjAyNi0wNS0xMyUyMGF0JTIwMTAuNDIuMDQucG5nIiwiY3JlYXRpb25E
	YXRlIjo4MDAzNzYxMjguOTA1NjJ9LHsicHJvamVjdFVSTCI6ImZpbGU6XC9cL1wvVXNl
	cnNcL3dpbGhhbGxcL0xpYnJhcnlcL0FwcGxpY2F0aW9uJTIwU3VwcG9ydFwvQ2xlYW5T
	aG90XC9tZWRpYVwvbWVkaWFfYU1GNnJ6QkR6YVwvU2NyZWVuc2hvdCUyMDIwMjYtMDUt
	MTUlMjBhdCUyMDEwLjM0LjU3QDJ4LmNsZWFuc2hvdCIsImFwcE1ldGFkYXRhIjp7ImFw
	cCI6IlZpdmFsZGkiLCJ3aW5kb3ciOiJadXMgU3RhbmRhbG9uZSBBcHAgLSBWaXZhbGRp
	IiwiYnVuZGxlVVJMIjoiZmlsZTpcL1wvXC9BcHBsaWNhdGlvbnNcL1ZpdmFsZGkuYXBw
	XC8iLCJidW5kbGVJRCI6ImNvbS52aXZhbGRpLlZpdmFsZGkifSwiY2xvdWRNZWRpYSI6
	bnVsbCwidGVtcFVSTCI6bnVsbCwidXJsIjoiZmlsZTpcL1wvXC9Vc2Vyc1wvd2lsaGFs
	bFwvTGlicmFyeVwvQXBwbGljYXRpb24lMjBTdXBwb3J0XC9DbGVhblNob3RcL21lZGlh
	XC9tZWRpYV8wWnlRN0M5TzlIXC9TY3JlZW5zaG90JTIwMjAyNi0wNS0xNSUyMGF0JTIw
	MTAuMzQuNTdAMngucG5nIiwiY3JlYXRpb25EYXRlIjo4MDA1NDg1MDAuMTYzNzI2fSx7
	InByb2plY3RVUkwiOiJmaWxlOlwvXC9cL1VzZXJzXC93aWxoYWxsXC9MaWJyYXJ5XC9B
	cHBsaWNhdGlvbiUyMFN1cHBvcnRcL0NsZWFuU2hvdFwvbWVkaWFcL21lZGlhX2xRZG1D
	ZDVXN0VcL1NjcmVlbnNob3QlMjAyMDI2LTA1LTE1JTIwYXQlMjAxMC4zNS4wNEAyeC5j
	bGVhbnNob3QiLCJhcHBNZXRhZGF0YSI6eyJhcHAiOiJWaXZhbGRpIiwid2luZG93Ijoi
	WnVzIFN0YW5kYWxvbmUgQXBwIC0gVml2YWxkaSIsImJ1bmRsZVVSTCI6ImZpbGU6XC9c
	L1wvQXBwbGljYXRpb25zXC9WaXZhbGRpLmFwcFwvIiwiYnVuZGxlSUQiOiJjb20udml2
	YWxkaS5WaXZhbGRpIn0sImNsb3VkTWVkaWEiOm51bGwsInRlbXBVUkwiOm51bGwsInVy
	bCI6ImZpbGU6XC9cL1wvVXNlcnNcL3dpbGhhbGxcL0xpYnJhcnlcL0FwcGxpY2F0aW9u
	JTIwU3VwcG9ydFwvQ2xlYW5TaG90XC9tZWRpYVwvbWVkaWFfT3lpeEVJR21jZFwvU2Ny
	ZWVuc2hvdCUyMDIwMjYtMDUtMTUlMjBhdCUyMDEwLjM1LjA0QDJ4LnBuZyIsImNyZWF0
	aW9uRGF0ZSI6ODAwNTQ4NTA3LjI1NDEwM30seyJwcm9qZWN0VVJMIjoiZmlsZTpcL1wv
	XC9Vc2Vyc1wvd2lsaGFsbFwvTGlicmFyeVwvQXBwbGljYXRpb24lMjBTdXBwb3J0XC9D
	bGVhblNob3RcL21lZGlhXC9tZWRpYV9mWFFMZGZrYU5UXC9TY3JlZW5zaG90JTIwMjAy
	Ni0wNS0xNSUyMGF0JTIwMTMuMzYuNDkuY2xlYW5zaG90IiwiYXBwTWV0YWRhdGEiOnsi
	YXBwIjoiTWFpbCIsIndpbmRvdyI6IkFsbCBJbmJveGVzIiwiYnVuZGxlVVJMIjoiZmls
	ZTpcL1wvXC9TeXN0ZW1cL0FwcGxpY2F0aW9uc1wvTWFpbC5hcHBcLyIsImJ1bmRsZUlE
	IjoiY29tLmFwcGxlLm1haWwifSwiY2xvdWRNZWRpYSI6bnVsbCwidGVtcFVSTCI6bnVs
	bCwidXJsIjoiZmlsZTpcL1wvXC9Vc2Vyc1wvd2lsaGFsbFwvTGlicmFyeVwvQXBwbGlj
	YXRpb24lMjBTdXBwb3J0XC9DbGVhblNob3RcL21lZGlhXC9tZWRpYV9VWlpsa01QRjR6
	XC9TY3JlZW5zaG90JTIwMjAyNi0wNS0xNSUyMGF0JTIwMTMuMzYuNDkucG5nIiwiY3Jl
	YXRpb25EYXRlIjo4MDA1NTk0MTIuOTAwMzh9LHsicHJvamVjdFVSTCI6ImZpbGU6XC9c
	L1wvVXNlcnNcL3dpbGhhbGxcL0xpYnJhcnlcL0FwcGxpY2F0aW9uJTIwU3VwcG9ydFwv
	Q2xlYW5TaG90XC9tZWRpYVwvbWVkaWFfYUw1Y1VBeUpnM1wvU2NyZWVuc2hvdCUyMDIw
	MjYtMDUtMTUlMjBhdCUyMDE1LjE4LjEyLmNsZWFuc2hvdCIsImFwcE1ldGFkYXRhIjp7
	ImFwcCI6IlZpdmFsZGkiLCJ3aW5kb3ciOiJadXMgU3RhbmRhbG9uZSBBcHAgLSBWaXZh
	bGRpIiwiYnVuZGxlVVJMIjoiZmlsZTpcL1wvXC9BcHBsaWNhdGlvbnNcL1ZpdmFsZGku
	YXBwXC8iLCJidW5kbGVJRCI6ImNvbS52aXZhbGRpLlZpdmFsZGkifSwiY2xvdWRNZWRp
	YSI6bnVsbCwidGVtcFVSTCI6bnVsbCwidXJsIjoiZmlsZTpcL1wvXC9Vc2Vyc1wvd2ls
	aGFsbFwvTGlicmFyeVwvQXBwbGljYXRpb24lMjBTdXBwb3J0XC9DbGVhblNob3RcL21l
	ZGlhXC9tZWRpYV85RzFwNDlaRG41XC9TY3JlZW5zaG90JTIwMjAyNi0wNS0xNSUyMGF0
	JTIwMTUuMTguMTIucG5nIiwiY3JlYXRpb25EYXRlIjo4MDA1NjU0OTYuODg0NTQyfSx7
	InByb2plY3RVUkwiOiJmaWxlOlwvXC9cL1VzZXJzXC93aWxoYWxsXC9MaWJyYXJ5XC9B
	cHBsaWNhdGlvbiUyMFN1cHBvcnRcL0NsZWFuU2hvdFwvbWVkaWFcL21lZGlhX0o4bWFU
	bWx4eTlcL1NjcmVlbnNob3QlMjAyMDI2LTA1LTE1JTIwYXQlMjAxNS40MC4xNC5jbGVh
	bnNob3QiLCJhcHBNZXRhZGF0YSI6eyJhcHAiOiJWaXZhbGRpIiwid2luZG93IjoiWnVz
	IFN0YW5kYWxvbmUgQXBwIC0gVml2YWxkaSIsImJ1bmRsZVVSTCI6ImZpbGU6XC9cL1wv
	QXBwbGljYXRpb25zXC9WaXZhbGRpLmFwcFwvIiwiYnVuZGxlSUQiOiJjb20udml2YWxk
	aS5WaXZhbGRpIn0sImNsb3VkTWVkaWEiOm51bGwsInRlbXBVUkwiOm51bGwsInVybCI6
	ImZpbGU6XC9cL1wvVXNlcnNcL3dpbGhhbGxcL0xpYnJhcnlcL0FwcGxpY2F0aW9uJTIw
	U3VwcG9ydFwvQ2xlYW5TaG90XC9tZWRpYVwvbWVkaWFfRVdYaEpVVUNrbVwvU2NyZWVu
	c2hvdCUyMDIwMjYtMDUtMTUlMjBhdCUyMDE1LjQwLjE0LnBuZyIsImNyZWF0aW9uRGF0
	ZSI6ODAwNTY2ODE3LjU1MTk3fV0=
	</data>
	<key>mediaNameTemplate</key>
	<array>
		<string>Screenshot </string>
		<string>%y</string>
		<string>-</string>
		<string>%m</string>
		<string>-</string>
		<string>%d</string>
		<string> at </string>
		<string>%H</string>
		<string>.</string>
		<string>%M</string>
		<string>.</string>
		<string>%S</string>
	</array>
	<key>onboardingDisplayed</key>
	<true/>
	<key>plainColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZHyAnVSRudWxs1g0ODxAR
	EhMUFRYXGFYkY2xhc3NcTlNDb21wb25lbnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5T
	Q3VzdG9tQ29sb3JTcGFjZV8QEE5TTGluZWFyRXhwb3N1cmWABU8QEzAuNTE4IDAuNjc4
	IDAuNzQ1IDFPECcwLjQ0Nzg3ODcxODQgMC42MTU2ODgwODU2IDAuNjkxMDE2MTk3MgAQ
	AYACQTHTGhsNHB0eVE5TSURVTlNJQ0MQB4ADgARPEQxIAAAMSExpbm8CEAAAbW50clJH
	QiBYWVogB84AAgAJAAYAMQAAYWNzcE1TRlQAAAAASUVDIHNSR0IAAAAAAAAAAAAAAAAA
	APbWAAEAAAAA0y1IUCAgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAARY3BydAAAAVAAAAAzZGVzYwAAAYQAAABsd3RwdAAAAfAAAAAUYmtw
	dAAAAgQAAAAUclhZWgAAAhgAAAAUZ1hZWgAAAiwAAAAUYlhZWgAAAkAAAAAUZG1uZAAA
	AlQAAABwZG1kZAAAAsQAAACIdnVlZAAAA0wAAACGdmlldwAAA9QAAAAkbHVtaQAAA/gA
	AAAUbWVhcwAABAwAAAAkdGVjaAAABDAAAAAMclRSQwAABDwAAAgMZ1RSQwAABDwAAAgM
	YlRSQwAABDwAAAgMdGV4dAAAAABDb3B5cmlnaHQgKGMpIDE5OTggSGV3bGV0dC1QYWNr
	YXJkIENvbXBhbnkAAGRlc2MAAAAAAAAAEnNSR0IgSUVDNjE5NjYtMi4xAAAAAAAAAAAA
	AAASc1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAADzUQABAAAAARbMWFlaIAAAAAAAAAAA
	AAAAAAAAAABYWVogAAAAAAAAb6IAADj1AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFla
	IAAAAAAAACSgAAAPhAAAts9kZXNjAAAAAAAAABZJRUMgaHR0cDovL3d3dy5pZWMuY2gA
	AAAAAAAAAAAAABZJRUMgaHR0cDovL3d3dy5pZWMuY2gAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAuSUVDIDYxOTY2LTIu
	MSBEZWZhdWx0IFJHQiBjb2xvdXIgc3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAuSUVDIDYx
	OTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xvdXIgc3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAGRlc2MAAAAAAAAALFJlZmVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBp
	biBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAACxSZWZlcmVuY2UgVmlld2luZyBDb25kaXRp
	b24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB2aWV3AAAA
	AAATpP4AFF8uABDPFAAD7cwABBMLAANcngAAAAFYWVogAAAAAABMCVYAUAAAAFcf521l
	YXMAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAKPAAAAAnNpZyAAAAAAQ1JUIGN1cnYA
	AAAAAAAEAAAAAAUACgAPABQAGQAeACMAKAAtADIANwA7AEAARQBKAE8AVABZAF4AYwBo
	AG0AcgB3AHwAgQCGAIsAkACVAJoAnwCkAKkArgCyALcAvADBAMYAywDQANUA2wDgAOUA
	6wDwAPYA+wEBAQcBDQETARkBHwElASsBMgE4AT4BRQFMAVIBWQFgAWcBbgF1AXwBgwGL
	AZIBmgGhAakBsQG5AcEByQHRAdkB4QHpAfIB+gIDAgwCFAIdAiYCLwI4AkECSwJUAl0C
	ZwJxAnoChAKOApgCogKsArYCwQLLAtUC4ALrAvUDAAMLAxYDIQMtAzgDQwNPA1oDZgNy
	A34DigOWA6IDrgO6A8cD0wPgA+wD+QQGBBMEIAQtBDsESARVBGMEcQR+BIwEmgSoBLYE
	xATTBOEE8AT+BQ0FHAUrBToFSQVYBWcFdwWGBZYFpgW1BcUF1QXlBfYGBgYWBicGNwZI
	BlkGagZ7BowGnQavBsAG0QbjBvUHBwcZBysHPQdPB2EHdAeGB5kHrAe/B9IH5Qf4CAsI
	HwgyCEYIWghuCIIIlgiqCL4I0gjnCPsJEAklCToJTwlkCXkJjwmkCboJzwnlCfsKEQon
	Cj0KVApqCoEKmAquCsUK3ArzCwsLIgs5C1ELaQuAC5gLsAvIC+EL+QwSDCoMQwxcDHUM
	jgynDMAM2QzzDQ0NJg1ADVoNdA2ODakNww3eDfgOEw4uDkkOZA5/DpsOtg7SDu4PCQ8l
	D0EPXg96D5YPsw/PD+wQCRAmEEMQYRB+EJsQuRDXEPURExExEU8RbRGMEaoRyRHoEgcS
	JhJFEmQShBKjEsMS4xMDEyMTQxNjE4MTpBPFE+UUBhQnFEkUahSLFK0UzhTwFRIVNBVW
	FXgVmxW9FeAWAxYmFkkWbBaPFrIW1hb6Fx0XQRdlF4kXrhfSF/cYGxhAGGUYihivGNUY
	+hkgGUUZaxmRGbcZ3RoEGioaURp3Gp4axRrsGxQbOxtjG4obshvaHAIcKhxSHHscoxzM
	HPUdHh1HHXAdmR3DHeweFh5AHmoelB6+HukfEx8+H2kflB+/H+ogFSBBIGwgmCDEIPAh
	HCFIIXUhoSHOIfsiJyJVIoIiryLdIwojOCNmI5QjwiPwJB8kTSR8JKsk2iUJJTglaCWX
	Jccl9yYnJlcmhya3JugnGCdJJ3onqyfcKA0oPyhxKKIo1CkGKTgpaymdKdAqAio1Kmgq
	myrPKwIrNitpK50r0SwFLDksbiyiLNctDC1BLXYtqy3hLhYuTC6CLrcu7i8kL1ovkS/H
	L/4wNTBsMKQw2zESMUoxgjG6MfIyKjJjMpsy1DMNM0YzfzO4M/E0KzRlNJ402DUTNU01
	hzXCNf02NzZyNq426TckN2A3nDfXOBQ4UDiMOMg5BTlCOX85vDn5OjY6dDqyOu87LTtr
	O6o76DwnPGU8pDzjPSI9YT2hPeA+ID5gPqA+4D8hP2E/oj/iQCNAZECmQOdBKUFqQaxB
	7kIwQnJCtUL3QzpDfUPARANER0SKRM5FEkVVRZpF3kYiRmdGq0bwRzVHe0fASAVIS0iR
	SNdJHUljSalJ8Eo3Sn1KxEsMS1NLmkviTCpMcky6TQJNSk2TTdxOJU5uTrdPAE9JT5NP
	3VAnUHFQu1EGUVBRm1HmUjFSfFLHUxNTX1OqU/ZUQlSPVNtVKFV1VcJWD1ZcVqlW91dE
	V5JX4FgvWH1Yy1kaWWlZuFoHWlZaplr1W0VblVvlXDVchlzWXSddeF3JXhpebF69Xw9f
	YV+zYAVgV2CqYPxhT2GiYfViSWKcYvBjQ2OXY+tkQGSUZOllPWWSZedmPWaSZuhnPWeT
	Z+loP2iWaOxpQ2maafFqSGqfavdrT2una/9sV2yvbQhtYG25bhJua27Ebx5veG/RcCtw
	hnDgcTpxlXHwcktypnMBc11zuHQUdHB0zHUodYV14XY+dpt2+HdWd7N4EXhueMx5KnmJ
	eed6RnqlewR7Y3vCfCF8gXzhfUF9oX4BfmJ+wn8jf4R/5YBHgKiBCoFrgc2CMIKSgvSD
	V4O6hB2EgITjhUeFq4YOhnKG14c7h5+IBIhpiM6JM4mZif6KZIrKizCLlov8jGOMyo0x
	jZiN/45mjs6PNo+ekAaQbpDWkT+RqJIRknqS45NNk7aUIJSKlPSVX5XJljSWn5cKl3WX
	4JhMmLiZJJmQmfyaaJrVm0Kbr5wcnImc951kndKeQJ6unx2fi5/6oGmg2KFHobaiJqKW
	owajdqPmpFakx6U4pammGqaLpv2nbqfgqFKoxKk3qamqHKqPqwKrdavprFys0K1Erbiu
	La6hrxavi7AAsHWw6rFgsdayS7LCszizrrQltJy1E7WKtgG2ebbwt2i34LhZuNG5SrnC
	uju6tbsuu6e8IbybvRW9j74KvoS+/796v/XAcMDswWfB48JfwtvDWMPUxFHEzsVLxcjG
	RsbDx0HHv8g9yLzJOsm5yjjKt8s2y7bMNcy1zTXNtc42zrbPN8+40DnQutE80b7SP9LB
	00TTxtRJ1MvVTtXR1lXW2Ndc1+DYZNjo2WzZ8dp22vvbgNwF3IrdEN2W3hzeot8p36/g
	NuC94UThzOJT4tvjY+Pr5HPk/OWE5g3mlucf56noMui86Ubp0Opb6uXrcOv77IbtEe2c
	7ijutO9A78zwWPDl8XLx//KM8xnzp/Q09ML1UPXe9m32+/eK+Bn4qPk4+cf6V/rn+3f8
	B/yY/Sn9uv5L/tz/bf//0iEiIyRaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0NvbG9yU3Bh
	Y2WiJSZcTlNDb2xvclNwYWNlWE5TT2JqZWN00iEiKClXTlNDb2xvcqIoJgAIABEAGgAk
	ACkAMgA3AEkATABRAFMAWgBgAG0AdACBAIcAlACpALwAvgDUAP4BAAECAQQBCwEQARYB
	GAEaARwNaA1tDXgNgQ2ODZENng2nDawNtAAAAAAAAAIBAAAAAAAAACoAAAAAAAAAAAAA
	AAAAAA23
	</data>
	<key>popupAskForDestinationWhenSaving</key>
	<false/>
	<key>popupSize</key>
	<integer>2</integer>
	<key>s000</key>
	<integer>1659748001</integer>
	<key>s001</key>
	<integer>2320</integer>
	<key>s002</key>
	<integer>28</integer>
	<key>s003</key>
	<integer>143</integer>
	<key>s004</key>
	<integer>2506</integer>
	<key>s006</key>
	<integer>268</integer>
	<key>s007</key>
	<integer>24</integer>
	<key>s008</key>
	<integer>143</integer>
	<key>shouldShowHorizontalScrollingCaptureGuide</key>
	<true/>
	<key>showChangelog</key>
	<false/>
	<key>showColorNameLabels</key>
	<false/>
	<key>showKeystrokes</key>
	<true/>
	<key>snapInAnnotateCrop</key>
	<true/>
	<key>stopRecordingPopupDisplayed</key>
	<true/>
	<key>transparentWindowBackground</key>
	<true/>
</dict>
</plist>
