<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IKAnonymousIdentifier</key>
	<string>47883243-1508-476e-9509-75fcf5faeb9a</string>
	<key>IKEvents</key>
	<data>
	W3sibmFtZSI6InNjcmVlbnNob3RfYXJlYSIsImNyZWF0ZWRfYXQiOjE2NzQzMTAwOTYs
	Im1ldGFkYXRhIjp7InN5c3RlbV92ZXJzaW9uIjoiMTMuMS4wIiwiYXBwX3ZlcnNpb24i
	OiI0LjUifX0seyJuYW1lIjoiYW5ub3RhdGUiLCJjcmVhdGVkX2F0IjoxNjc0MzEwMDk3
	LCJtZXRhZGF0YSI6eyJ1c2VkX3Rvb2xzIjpbIk5vbmUiXSwiYXBwX3ZlcnNpb24iOiI0
	LjUiLCJzeXN0ZW1fdmVyc2lvbiI6IjEzLjEuMCJ9fSx7Im1ldGFkYXRhIjp7ImFwcF92
	ZXJzaW9uIjoiNC41Iiwic3lzdGVtX3ZlcnNpb24iOiIxMy4xLjAifSwibmFtZSI6ImFu
	bm90YXRlX3NhdmVfZG9uZSIsImNyZWF0ZWRfYXQiOjE2NzQzMTAwOTd9LHsiY3JlYXRl
	ZF9hdCI6MTY3NDM0MTMwMCwibWV0YWRhdGEiOnsiYXBwX3ZlcnNpb24iOiI0LjUiLCJz
	eXN0ZW1fdmVyc2lvbiI6IjEzLjEuMCJ9LCJuYW1lIjoic2NyZWVuc2hvdF9hcmVhIn0s
	eyJjcmVhdGVkX2F0IjoxNjc0MzQxMzA2LCJtZXRhZGF0YSI6eyJ1c2VkX3Rvb2xzIjpb
	InJlY3RhbmdsZSJdLCJhcHBfdmVyc2lvbiI6IjQuNSIsInN5c3RlbV92ZXJzaW9uIjoi
	MTMuMS4wIn0sIm5hbWUiOiJhbm5vdGF0ZSJ9LHsiY3JlYXRlZF9hdCI6MTY3NDM0MTMw
	NiwibWV0YWRhdGEiOnsic3lzdGVtX3ZlcnNpb24iOiIxMy4xLjAiLCJhcHBfdmVyc2lv
	biI6IjQuNSJ9LCJuYW1lIjoiYW5ub3RhdGVfc2F2ZV9kb25lIn0seyJuYW1lIjoic2Ny
	ZWVuc2hvdF9hcmVhIiwibWV0YWRhdGEiOnsiYXBwX3ZlcnNpb24iOiI0LjUiLCJzeXN0
	ZW1fdmVyc2lvbiI6IjEzLjEuMCJ9LCJjcmVhdGVkX2F0IjoxNjc0MzkzMzI2fSx7ImNy
	ZWF0ZWRfYXQiOjE2NzQzOTMzMzIsIm5hbWUiOiJhbm5vdGF0ZSIsIm1ldGFkYXRhIjp7
	InN5c3RlbV92ZXJzaW9uIjoiMTMuMS4wIiwidXNlZF90b29scyI6WyJyZWN0YW5nbGUi
	XSwiYXBwX3ZlcnNpb24iOiI0LjUifX0seyJjcmVhdGVkX2F0IjoxNjc0MzkzMzMyLCJt
	ZXRhZGF0YSI6eyJzeXN0ZW1fdmVyc2lvbiI6IjEzLjEuMCIsImFwcF92ZXJzaW9uIjoi
	NC41In0sIm5hbWUiOiJhbm5vdGF0ZV9zYXZlX2RvbmUifV0=
	</data>
	<key>IKPreferencesLast</key>
	<data>
	eyJvcHRpbWl6ZV9naWZzIjp0cnVlLCJjdXJzb3JfaGlnaGxpZ2h0X3N0eWxlIjoxLCJz
	aG93X3JlY2VudF9jbG91ZF9maWxlcyI6dHJ1ZSwiYW5ub3RhdGVfZXhwYW5kX2NhbnZh
	cyI6ZmFsc2UsImJhY2tncm91bmRfdG9vbF9yZW1lbWJlcl9vcGVuIjpmYWxzZSwiY29w
	eV9iZWhhdmlvdXIiOjAsImhpZGVfaWNvbnNfd2hlbl9jYXB0dXJlIjpmYWxzZSwic2Ny
	ZWVuc2hvdF9zb3VuZCI6InN5c3RlbURlZmF1bHQiLCJwbGF5X3NvdW5kcyI6dHJ1ZSwi
	ZGVmYXVsdF9tZWRpYV9leHBvcnRfcGF0aCI6ZmFsc2UsInJlY29yZF9jb21wdXRlcl9h
	dWRpbyI6ZmFsc2UsInNob3dfbWFnbmlmaWVyIjp0cnVlLCJhbm5vdGF0ZV9hbHdheXNf
	b25fdG9wIjpmYWxzZSwibGF1bmNoX2F0X2xvZ2luIjp0cnVlLCJjYW1lcmFfc2l6ZV9u
	ZXciOjEsImdpZl9tYXhfc2l6ZSI6ODAwLCJzaG93X3JlY29yZGluZ19jb250cm9scyI6
	dHJ1ZSwicGlubmVkX3JvdW5kX2Nvcm5lcnMiOnRydWUsIm9jcl9kZXRlY3RfdXJscyI6
	dHJ1ZSwiZmlsZV9uYW1lX3V0Y190aW1lem9uZSI6ZmFsc2UsImFubm90YXRlX2Fycm93
	X3N0eWxlIjowLCJhZnRlcl9zY3JlZW5zaG90X2FjdGlvbnMiOlsxLDQsM10sImNvcHlf
	bGlua19iZWZvcmVfdXBsb2FkIjp0cnVlLCJxYW9fYXV0b19jbG9zZV9tb2RlIjowLCJh
	bm5vdGF0ZV90ZXh0X3N0eWxlIjowLCJjbG91ZF9yZW5hbWVfZXZlcnlfdXBsb2FkIjpm
	YWxzZSwiY29uZmlybV9oaXN0b3J5X2RlbGV0ZSI6dHJ1ZSwiZG93bnNjYWxlX3JldGlu
	YV92aWRlb3MiOmZhbHNlLCJkb19ub3RfZGlzdHVyYl9yZWNvcmRpbmciOnRydWUsImtl
	eWJvYXJkX292ZXJsYXlfcG9zaXRpb24iOjQsInNlbGZfdGltZXJfaW50ZXJ2YWwiOjUs
	ImRpc3BsYXlfcmVjb3JkaW5nX3RpbWUiOmZhbHNlLCJhbm5vdGF0ZV9jb3VudGVyX3N0
	eWxlIjowLCJzaG93X2VuY29kaW5nX3N1bW1hcnkiOnRydWUsInFhb19jbG9zZV9hZnRl
	cl9kcmFnZ2luZyI6dHJ1ZSwiYWZ0ZXJfdmlkZW9fYWN0aW9ucyI6WzRdLCJxYW9fY2xv
	c2VfYWZ0ZXJfdXBsb2FkaW5nIjp0cnVlLCJnaWZfZnBzIjoxNSwibWVyZ2VfYXVkaW9f
	dHJhY2tzIjp0cnVlLCJyZWNvcmRfY2FtZXJhIjpmYWxzZSwiYXV0b21hdGljYWxseV9j
	aGVja19mb3JfdXBkYXRlcyI6dHJ1ZSwiaGlzdG9yeV9jYXBhY2l0eSI6MSwiZG93bnNj
	YWxlX3JldGluYV9zY3JlZW5zaG90cyI6ZmFsc2UsImFkZF9mcmFtZV90b19zY3JlZW5z
	aG90cyI6ZmFsc2UsInNob3dfbWVudWJhcl9pY29uIjp0cnVlLCJhbm5vdGF0ZV9zbW9v
	dGhfZHJhd2luZyI6dHJ1ZSwiY2xvdWRfY29weV9kaXJlY3RfbGluayI6dHJ1ZSwid2lu
	ZG93X2JhY2tncm91bmRfcGFkZGluZyI6MiwidGV4dF9yZWNvZ25pdGlvbl9rZWVwX2Vu
	dGVycyI6dHJ1ZSwic2NyZWVuc2hvdF9mb3JtYXQiOiJwbmciLCJ2aWRlb19mcHMiOjYw
	LCJyZW1lbWJlcl9vbmVfb3ZlcmxheV9hcmVhIjp0cnVlLCJmaWxlbmFtZV90b2tlbnMi
	OlsiJUgiLCIlTSIsIiVTIiwiJWQiLCIlbSIsIiV5Il0sImRpbV9zY3JlZW5fd2hpbGVf
	cmVjb3JkaW5nIjp0cnVlLCJxYW9fbW92ZV90b19hY3RpdmVfZGlzcGxheSI6dHJ1ZSwi
	cWFvX2F1dG9fY2xvc2VfaW50ZXJ2YWwiOjMwLCJhdWRpb19kcml2ZXJfaW5zdGFsbGVk
	IjpmYWxzZSwiYW5ub3RhdGVfcGl4ZWxhdGVfc3R5bGUiOjAsImNhbWVyYV9zaGFwZSI6
	MCwiZnJlZXplX3NjcmVlbiI6ZmFsc2UsImFubm90YXRlX2NvbmZpcm1fY2xvdWRfdXBk
	YXRlIjp0cnVlLCJjdXJzb3JfaGlnaGxpZ2h0X2VuYWJsZWQiOnRydWUsInBvcHVwX2Fz
	a19mb3JfZGVzdGluYXRpb24iOmZhbHNlLCJwaW5uZWRfZHJvcF9zaGFkb3ciOnRydWUs
	ImNhcHR1cmVfY3Vyc29yIjpmYWxzZSwic2hvd19jdXJzb3Jfb25fcmVjb3JkaW5ncyI6
	dHJ1ZSwia2V5Ym9hcmRfb3ZlcmxheV9lbmFibGVkIjp0cnVlLCJzaG93X2NoYW5nZWxv
	ZyI6ZmFsc2UsInFhb19zaXplIjoyLCJyZWNvcmRfbWljcm9waG9uZSI6ZmFsc2UsImJh
	Y2tncm91bmRfdG9vbF9vcGVuZWQiOmZhbHNlLCJhbm5vdGF0ZV9sb2NrX2NhbnZhcyI6
	dHJ1ZSwiaWdub3JlX2FmdGVyX2NhcHR1cmUiOnRydWUsImdpZl9xdWFsaXR5Ijo4MCwi
	dXNlX2RlZmF1bHRfY2FtZXJhX3Bvc2l0aW9uIjp0cnVlLCJhbm5vdGF0ZV9zbmFwX2Ny
	b3AiOnRydWUsImtleWJvYXJkX292ZXJsYXlfYmx1cl9iZyI6dHJ1ZSwicGlubmVkX3No
	b3dfYm9yZGVyIjp0cnVlLCJhbm5vdGF0ZV9zaG93X2RvY2tfaWNvbiI6dHJ1ZSwia2V5
	Ym9hcmRfb3ZlcmxheV9zdHlsZSI6MCwicWFvX2F1dG9fY2xvc2UiOmZhbHNlLCJyZW1v
	dmVfaWxsZWdhbF9jaGFyYWN0ZXJzIjp0cnVlLCJjbG91ZF9vcHRpbWl6ZV9zY3JlZW5z
	aG90cyI6dHJ1ZSwiYW5ub3RhdGVfc2hvd19jb2xvcl9uYW1lcyI6ZmFsc2UsImZpbGVu
	YW1lX2lzX2RlZmF1bHQiOnRydWUsIm1heF9yZWNvcmRpbmdfcmVzb2x1dGlvbiI6MCwi
	YWRkX0AyeF9zdWZmaXgiOnRydWUsImN1cnNvcl9oaWdobGlnaHRfYW5pbWF0ZSI6dHJ1
	ZSwicmVtZW1iZXJfcmVjb3JkaW5nX2FyZWEiOmZhbHNlLCJjdXJzb3JfaGlnaGxpZ2h0
	X3NpemUiOjUwLCJjcm9zc2hhaXJfbW9kZSI6MCwiY2FwdHVyZV93aW5kb3dfc2hhZG93
	Ijp0cnVlLCJrZXlib2FyZF9vdmVybGF5X3Nob3dfYWxsIjpmYWxzZSwicWFvX2NvbmZp
	cm1fdmlkZW9fZGVsZXRlIjp0cnVlLCJpY29uX292ZXJsYXlfdHlwZSI6MCwiZmxpcF9j
	YW1lcmEiOnRydWUsImFza19mb3JfbmFtZV9hZnRlcl9jYXB0dXJlIjpmYWxzZSwiYW5u
	b3RhdGVfaGlnaGxpZ2h0X3NoYXBlIjoxLCJxYW9fb25fbGVmdF9zaWRlIjp0cnVlLCJh
	bm5vdGF0ZV9kcmF3X3NoYWRvdyI6dHJ1ZSwiY3VzdG9tX2JhY2tncm91bmRfY291bnQi
	OjAsInRyYW5zcGFyZW50X3dpbmRvd19iYWNrZ3JvdW5kIjp0cnVlLCJrZXlib2FyZF9v
	dmVybGF5X3NpemUiOjQ1LCJhbm5vdGF0ZV9pbnZlcnNlX2Fycm93IjpmYWxzZX0=
	</data>
	<key>LAVAtakeAllInOne</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyM30=
	</data>
	<key>LAVAtakeArea</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMX0=
	</data>
	<key>LAVAtakeFullscreen</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMH0=
	</data>
	<key>LaunchAtLogin__hasMigrated</key>
	<true/>
	<key>MGR001</key>
	<true/>
	<key>MGR002</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>507</real>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>127 81 224 278 0 0 1800 1125 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>711 428 430 188 0 0 1800 1125 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>633 902 400 135 0 0 2560 1415 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>970 762 620 398 0 0 2560 1415 </string>
	<key>QTIP_7</key>
	<true/>
	<key>QTIP_9</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2022-12-24T16:06:14Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>436542746</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>afterScreenshotActions</key>
	<array>
		<integer>1</integer>
		<integer>4</integer>
		<integer>3</integer>
	</array>
	<key>afterVideoActions</key>
	<array>
		<integer>4</integer>
	</array>
	<key>analyticsAllowed</key>
	<true/>
	<key>annotateLastArrowStyle</key>
	<integer>0</integer>
	<key>annotateLastBackgroundColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXHyAnVSRudWxs1Q0ODxAR
	EhMUFRZXTlNXaGl0ZVxOU0NvbXBvbmVudHNcTlNDb2xvclNwYWNlXxASTlNDdXN0b21D
	b2xvclNwYWNlViRjbGFzc0QwIDAAQzAgMBADgAKABdQYGRoRGxwdHlROU0lEVU5TSUND
	V05TTW9kZWwQCYADEACABE8REZwAABGcYXBwbAIAAABtbnRyR1JBWVhZWiAH3AAIABcA
	DwAuAA9hY3NwQVBQTAAAAABub25lAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWFw
	cGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVk
	ZXNjAAAAwAAAAHlkc2NtAAABPAAACBpjcHJ0AAAJWAAAACN3dHB0AAAJfAAAABRrVFJD
	AAAJkAAACAxkZXNjAAAAAAAAAB9HZW5lcmljIEdyYXkgR2FtbWEgMi4yIFByb2ZpbGUA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbWx1YwAAAAAAAAAfAAAADHNrU0sA
	AAAuAAABhGRhREsAAAA6AAABsmNhRVMAAAA4AAAB7HZpVk4AAABAAAACJHB0QlIAAABK
	AAACZHVrVUEAAAAsAAACrmZyRlUAAAA+AAAC2mh1SFUAAAA0AAADGHpoVFcAAAAaAAAD
	TGtvS1IAAAAiAAADZm5iTk8AAAA6AAADiGNzQ1oAAAAoAAADwmhlSUwAAAAkAAAD6nJv
	Uk8AAAAqAAAEDmRlREUAAABOAAAEOGl0SVQAAABOAAAEhnN2U0UAAAA4AAAE1HpoQ04A
	AAAaAAAFDGphSlAAAAAmAAAFJmVsR1IAAAAqAAAFTHB0UE8AAABSAAAFdm5sTkwAAABA
	AAAFyGVzRVMAAABMAAAGCHRoVEgAAAAyAAAGVHRyVFIAAAAkAAAGhmZpRkkAAABGAAAG
	qmhySFIAAAA+AAAG8HBsUEwAAABKAAAHLmFyRUcAAAAsAAAHeHJ1UlUAAAA6AAAHpGVu
	VVMAAAA8AAAH3gBWAWEAZQBvAGIAZQBjAG4A4QAgAHMAaQB2AOEAIABnAGEAbQBhACAA
	MgAsADIARwBlAG4AZQByAGkAcwBrACAAZwByAOUAIAAyACwAMgAgAGcAYQBtAG0AYQAt
	AHAAcgBvAGYAaQBsAEcAYQBtAG0AYQAgAGQAZQAgAGcAcgBpAHMAbwBzACAAZwBlAG4A
	6AByAGkAYwBhACAAMgAuADIAQx6lAHUAIABoAOwAbgBoACAATQDgAHUAIAB4AOEAbQAg
	AEMAaAB1AG4AZwAgAEcAYQBtAG0AYQAgADIALgAyAFAAZQByAGYAaQBsACAARwBlAG4A
	6QByAGkAYwBvACAAZABhACAARwBhAG0AYQAgAGQAZQAgAEMAaQBuAHoAYQBzACAAMgAs
	ADIEFwQwBDMEMAQ7BEwEPQQwACAARwByAGEAeQAtBDMEMAQ8BDAAIAAyAC4AMgBQAHIA
	bwBmAGkAbAAgAGcA6QBuAOkAcgBpAHEAdQBlACAAZwByAGkAcwAgAGcAYQBtAG0AYQAg
	ADIALAAyAMEAbAB0AGEAbADhAG4AbwBzACAAcwB6APwAcgBrAGUAIABnAGEAbQBtAGEA
	IAAyAC4AMpAadShwcJaOUUlepgAyAC4AMoJyX2ljz4/wx3y8GAAg1ozAyQAgrBC5yAAg
	ADIALgAyACDVBLhc0wzHfABHAGUAbgBlAHIAaQBzAGsAIABnAHIA5QAgAGcAYQBtAG0A
	YQAgADIALAAyAC0AcAByAG8AZgBpAGwATwBiAGUAYwBuAOEAIAFhAGUAZADhACAAZwBh
	AG0AYQAgADIALgAyBdIF0AXeBdQAIAXQBeQF1QXoACAF2wXcBdwF2QAgADIALgAyAEcA
	YQBtAGEAIABnAHIAaQAgAGcAZQBuAGUAcgBpAGMBAwAgADIALAAyAEEAbABsAGcAZQBt
	AGUAaQBuAGUAcwAgAEcAcgBhAHUAcwB0AHUAZgBlAG4ALQBQAHIAbwBmAGkAbAAgAEcA
	YQBtAG0AYQAgADIALAAyAFAAcgBvAGYAaQBsAG8AIABnAHIAaQBnAGkAbwAgAGcAZQBu
	AGUAcgBpAGMAbwAgAGQAZQBsAGwAYQAgAGcAYQBtAG0AYQAgADIALAAyAEcAZQBuAGUA
	cgBpAHMAawAgAGcAcgDlACAAMgAsADIAIABnAGEAbQBtAGEAcAByAG8AZgBpAGxmbpAa
	cHBepnz7ZXAAMgAuADJjz4/wZYdO9k4AgiwwsDDsMKQwrDDzMN4AIAAyAC4AMgAgMNcw
	7TDVMKEwpDDrA5MDtQO9A7kDugPMACADkwO6A8EDuQAgA5MDrAO8A7wDsQAgADIALgAy
	AFAAZQByAGYAaQBsACAAZwBlAG4A6QByAGkAYwBvACAAZABlACAAYwBpAG4AegBlAG4A
	dABvAHMAIABkAGEAIABHAGEAbQBtAGEAIAAyACwAMgBBAGwAZwBlAG0AZQBlAG4AIABn
	AHIAaQBqAHMAIABnAGEAbQBtAGEAIAAyACwAMgAtAHAAcgBvAGYAaQBlAGwAUABlAHIA
	ZgBpAGwAIABnAGUAbgDpAHIAaQBjAG8AIABkAGUAIABnAGEAbQBtAGEAIABkAGUAIABn
	AHIAaQBzAGUAcwAgADIALAAyDiMOMQ4HDioONQ5BDgEOIQ4hDjIOQA4BDiMOIg5MDhcO
	MQ5IDicORA4bACAAMgAuADIARwBlAG4AZQBsACAARwByAGkAIABHAGEAbQBhACAAMgAs
	ADIAWQBsAGUAaQBuAGUAbgAgAGgAYQByAG0AYQBhAG4AIABnAGEAbQBtAGEAIAAyACwA
	MgAgAC0AcAByAG8AZgBpAGkAbABpAEcAZQBuAGUAcgBpAQ0AawBpACAARwByAGEAeQAg
	AEcAYQBtAG0AYQAgADIALgAyACAAcAByAG8AZgBpAGwAVQBuAGkAdwBlAHIAcwBhAGwA
	bgB5ACAAcAByAG8AZgBpAGwAIABzAHoAYQByAG8BWwBjAGkAIABnAGEAbQBtAGEAIAAy
	ACwAMgY6BicGRQYnACAAMgAuADIAIAZEBkgGRgAgBjEGRQYnBi8GSgAgBjkGJwZFBB4E
	MQRJBDAETwAgBEEENQRABDAETwAgBDMEMAQ8BDwEMAAgADIALAAyAC0EPwRABD4ERAQ4
	BDsETABHAGUAbgBlAHIAaQBjACAARwByAGEAeQAgAEcAYQBtAG0AYQAgADIALgAyACAA
	UAByAG8AZgBpAGwAZQAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAxMgAA
	WFlaIAAAAAAAAPNRAAEAAAABFsxjdXJ2AAAAAAAABAAAAAAFAAoADwAUABkAHgAjACgA
	LQAyADcAOwBAAEUASgBPAFQAWQBeAGMAaABtAHIAdwB8AIEAhgCLAJAAlQCaAJ8ApACp
	AK4AsgC3ALwAwQDGAMsA0ADVANsA4ADlAOsA8AD2APsBAQEHAQ0BEwEZAR8BJQErATIB
	OAE+AUUBTAFSAVkBYAFnAW4BdQF8AYMBiwGSAZoBoQGpAbEBuQHBAckB0QHZAeEB6QHy
	AfoCAwIMAhQCHQImAi8COAJBAksCVAJdAmcCcQJ6AoQCjgKYAqICrAK2AsECywLVAuAC
	6wL1AwADCwMWAyEDLQM4A0MDTwNaA2YDcgN+A4oDlgOiA64DugPHA9MD4APsA/kEBgQT
	BCAELQQ7BEgEVQRjBHEEfgSMBJoEqAS2BMQE0wThBPAE/gUNBRwFKwU6BUkFWAVnBXcF
	hgWWBaYFtQXFBdUF5QX2BgYGFgYnBjcGSAZZBmoGewaMBp0GrwbABtEG4wb1BwcHGQcr
	Bz0HTwdhB3QHhgeZB6wHvwfSB+UH+AgLCB8IMghGCFoIbgiCCJYIqgi+CNII5wj7CRAJ
	JQk6CU8JZAl5CY8JpAm6Cc8J5Qn7ChEKJwo9ClQKagqBCpgKrgrFCtwK8wsLCyILOQtR
	C2kLgAuYC7ALyAvhC/kMEgwqDEMMXAx1DI4MpwzADNkM8w0NDSYNQA1aDXQNjg2pDcMN
	3g34DhMOLg5JDmQOfw6bDrYO0g7uDwkPJQ9BD14Peg+WD7MPzw/sEAkQJhBDEGEQfhCb
	ELkQ1xD1ERMRMRFPEW0RjBGqEckR6BIHEiYSRRJkEoQSoxLDEuMTAxMjE0MTYxODE6QT
	xRPlFAYUJxRJFGoUixStFM4U8BUSFTQVVhV4FZsVvRXgFgMWJhZJFmwWjxayFtYW+hcd
	F0EXZReJF64X0hf3GBsYQBhlGIoYrxjVGPoZIBlFGWsZkRm3Gd0aBBoqGlEadxqeGsUa
	7BsUGzsbYxuKG7Ib2hwCHCocUhx7HKMczBz1HR4dRx1wHZkdwx3sHhYeQB5qHpQevh7p
	HxMfPh9pH5Qfvx/qIBUgQSBsIJggxCDwIRwhSCF1IaEhziH7IiciVSKCIq8i3SMKIzgj
	ZiOUI8Ij8CQfJE0kfCSrJNolCSU4JWgllyXHJfcmJyZXJocmtyboJxgnSSd6J6sn3CgN
	KD8ocSiiKNQpBik4KWspnSnQKgIqNSpoKpsqzysCKzYraSudK9EsBSw5LG4soizXLQwt
	QS12Last4S4WLkwugi63Lu4vJC9aL5Evxy/+MDUwbDCkMNsxEjFKMYIxujHyMioyYzKb
	MtQzDTNGM38zuDPxNCs0ZTSeNNg1EzVNNYc1wjX9Njc2cjauNuk3JDdgN5w31zgUOFA4
	jDjIOQU5Qjl/Obw5+To2OnQ6sjrvOy07azuqO+g8JzxlPKQ84z0iPWE9oT3gPiA+YD6g
	PuA/IT9hP6I/4kAjQGRApkDnQSlBakGsQe5CMEJyQrVC90M6Q31DwEQDREdEikTORRJF
	VUWaRd5GIkZnRqtG8Ec1R3tHwEgFSEtIkUjXSR1JY0mpSfBKN0p9SsRLDEtTS5pL4kwq
	THJMuk0CTUpNk03cTiVObk63TwBPSU+TT91QJ1BxULtRBlFQUZtR5lIxUnxSx1MTU19T
	qlP2VEJUj1TbVShVdVXCVg9WXFapVvdXRFeSV+BYL1h9WMtZGllpWbhaB1pWWqZa9VtF
	W5Vb5Vw1XIZc1l0nXXhdyV4aXmxevV8PX2Ffs2AFYFdgqmD8YU9homH1YklinGLwY0Nj
	l2PrZEBklGTpZT1lkmXnZj1mkmboZz1nk2fpaD9olmjsaUNpmmnxakhqn2r3a09rp2v/
	bFdsr20IbWBtuW4SbmtuxG8eb3hv0XArcIZw4HE6cZVx8HJLcqZzAXNdc7h0FHRwdMx1
	KHWFdeF2Pnabdvh3VnezeBF4bnjMeSp5iXnnekZ6pXsEe2N7wnwhfIF84X1BfaF+AX5i
	fsJ/I3+Ef+WAR4CogQqBa4HNgjCCkoL0g1eDuoQdhICE44VHhauGDoZyhteHO4efiASI
	aYjOiTOJmYn+imSKyoswi5aL/IxjjMqNMY2Yjf+OZo7OjzaPnpAGkG6Q1pE/kaiSEZJ6
	kuOTTZO2lCCUipT0lV+VyZY0lp+XCpd1l+CYTJi4mSSZkJn8mmia1ZtCm6+cHJyJnPed
	ZJ3SnkCerp8dn4uf+qBpoNihR6G2oiailqMGo3aj5qRWpMelOKWpphqmi6b9p26n4KhS
	qMSpN6mpqhyqj6sCq3Wr6axcrNCtRK24ri2uoa8Wr4uwALB1sOqxYLHWskuywrM4s660
	JbSctRO1irYBtnm28Ldot+C4WbjRuUq5wro7urW7LrunvCG8m70VvY++Cr6Evv+/er/1
	wHDA7MFnwePCX8Lbw1jD1MRRxM7FS8XIxkbGw8dBx7/IPci8yTrJuco4yrfLNsu2zDXM
	tc01zbXONs62zzfPuNA50LrRPNG+0j/SwdNE08bUSdTL1U7V0dZV1tjXXNfg2GTY6Nls
	2fHadtr724DcBdyK3RDdlt4c3qLfKd+v4DbgveFE4cziU+Lb42Pj6+Rz5PzlhOYN5pbn
	H+ep6DLovOlG6dDqW+rl63Dr++yG7RHtnO4o7rTvQO/M8Fjw5fFy8f/yjPMZ86f0NPTC
	9VD13vZt9vv3ivgZ+Kj5OPnH+lf65/t3/Af8mP0p/br+S/7c/23//9IhIiMkWiRjbGFz
	c25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNloiUmXE5TQ29sb3JTcGFjZVhOU09iamVj
	dNIhIigpV05TQ29sb3KiKCYACAARABoAJAApADIANwBJAEwAUQBTAFoAYABrAHMAgACN
	AKIAqQCuALIAtAC2ALgAwQDGAMwA1ADWANgA2gDcEnwSgRKMEpUSohKlErISuxLAEsgA
	AAAAAAACAQAAAAAAAAAqAAAAAAAAAAAAAAAAAAASyw==
	</data>
	<key>annotateLastHighlightShape</key>
	<integer>1</integer>
	<key>annotateLastPixelateStyle</key>
	<integer>0</integer>
	<key>annotateLastSaveURL</key>
	<string>/Users/wilhall/Downloads</string>
	<key>annotateLastTextSize</key>
	<real>20</real>
	<key>annotateTextStyle</key>
	<integer>0</integer>
	<key>autoClosePopup</key>
	<false/>
	<key>captureWithoutDesktopIcons</key>
	<false/>
	<key>cloudCopyDirectLink</key>
	<true/>
	<key>cloudUser</key>
	<data>
	eyJwbGFuTmFtZSI6IlBybyIsImlkIjo0MzY5NiwidXNlZFN0b3JhZ2VQZXJjZW50YWdl
	IjowLCJyb2xlIjoiYWRtaW4iLCJlIjoieElqd1l2Rm85QnRJVFAwXC9hY1ZWd2JcL1Vj
	VUY5UEZlZW5ZQk1QK21od0E1WFNYMlwvejA5dGlaMXphbElkOW5JU1M0NmdlRTM5YkI2
	REx6am51Z3B4NHhjT1A5cUtYXC81XC8wWHdRdjFGUVN5bWtZVU9XMnlJOW1Ba2pIWmk3
	a2RKWDFsb2dyWFZBdWN0Y1ZGUmo2STNWYTZHeHpyMWR0Vko4TnlwMEZlVUxWKzdVS2NH
	SWxFK0VjMGsrUWNkelwvbXg5Q1lOYlJLZGFOdFlrbnJhcGRVUUhPdWpyNXN2bGlxaEdK
	NUpTRzFTWlIwVUt6N3NxTFIzUE9qZUo1OU84UTdwXC84SkNSVGVWUFVJaUJSdkE5aklI
	OWZhb2VWTVZMcmxkT24wck16THA3aWhQQVJIOWVWNGJFcmpkRUNxUXNHcnpzbGNSQzB6
	MERJQlRDZ0FqTTFkcGZhY1pZS05YNEk0M2hzcVppdXdaOFpzM2pVMzFvUFh4bFpHRmVO
	WnY1XC94ZlRJRFdZR3VBSlAxS21JNE5HdGhoVE0yWkFJSnFHZmlhSUFoaCt3czNkM1N6
	NXlJOVNQMkxDM0tRU2E1N080Z1dscHlrYml4R212MkRXbitKK3FDQjl3OTI0R1NjU280
	THhXVHdnVjNBVmJpN3dtdGlEYjNDZE1UTlVwVGVUMkNGd1RKdkhrZFBsTGwrU3lZSlAy
	aktRT0o5aTlCV1RsdHNKemRBaVdOb0I2SjJaaUNLYXBSNUUzVFp4eDk5YkNyUStPV0Q4
	N3lwREs2WitKZVVjQlVza3k1UjdiMlBCeStCZ3NFd3pMQjlUWjYwMmZnWjVSVVhwd1M4
	UVk1ckRYNXFCWkVaSmdoaTA5MHhuQXhoK3dTeURKXC9XWWZHUHlnUFBqdlhmd1wvT29x
	T1wvYmIraFhER1B2NFg3dFFldFBFcUhENkozMEdtSjNoamhUTW83VFZCWG5WVTI3ek9S
	M2dnR0VKcTdhYytVd2RMS05lNys4a3hkczc0UVRXbVwvTG9lU3QyM1Vpd0w5czR6d3lE
	U1wvY1FzNGFpVWtyeXk5bE9iMUEyVkh6aUlEcURFc3l1ZW12Y3ZPTm01TWhaVDBlQmZr
	NDE5Q0dNSmExeGZranBEMHhUZVwvZmZLR1VrMjNjVXhYRnZOaGI5Smo0aFpWQTlrUFgw
	clNsV0tmTUZyTG55M1E1bHNjeEpnR0o5MkQ1SkpqSW5YK3g2V0RBRnJzMlg3RjFvOWpY
	b1dtb2VBZFRQQjdGVExPR0pCWFBFT0VWRkJZNG1UYmdtTVBQYXQrb2xXSElaTk9nUHh4
	UThjdzM5YWZ2RytRaXlhdWZBMnhIajR6bFppXC9JbjFndnVycjRjSGJ5bDNTNElCdmhN
	MnZ4RmlUdkNUSTVqTW9wN1RvSjBuWkZvQzN0aWdTQ292elwvWHl1ODUrU0NGMDZvbGVj
	YXFPZE0xSEp4NUJyXC9YODNPUXM5amtsZ0ZsS1JtQUZQQm03VkxSd3lNREhFNHE2Mk41
	Nk84aVwvd2RLODN4M1F4c1U1QkN5am9nRVZVTUdzaCtMUUI5TFlmT1Y3WVdaRU9ORStC
	NHlYQlYyRlZOR1ZZNm9LZ2p2ekZ4TTEwWmgzVVNpZEdyZ2JHVlMxZ2pLblVTTnE1TGoz
	U0JnTkJyS3RYdGlFcENveDR5VHFmOUF4R2JSWjFwUE1NaEdNRU4wQzJ2WEh3a0h1S0JQ
	TGRkdjA4TmhoQVdTOFB2dDNoUnkyWXJPODhTK1FRPT0iLCJoYXNQYWlkUGxhbiI6dHJ1
	ZSwiY2FuQ29weURpcmVjdExpbmtUb0NsaXBib2FyZCI6dHJ1ZSwiY2FuVXBsb2FkT3Jp
	Z2luYWxNZWRpYSI6dHJ1ZSwiaGFzTGltaXRlZFN0b3JhZ2UiOmZhbHNlLCJzdG9yYWdl
	TGltaXRSZWFkYWJsZSI6IiIsImF2YXRhclVSTCI6Imh0dHBzOlwvXC9jbGVhbnNob3Qt
	Y2xvdWQtZnJhLnMzLmV1LWNlbnRyYWwtMS5hbWF6b25hd3MuY29tXC9hdmF0YXJzXC9W
	RGhnbkJ6bXh6NWZ5OE1NSEJYWXFpSVF6QWFEZ3Y3RVNQSlAwd284LmpwZyIsImNhblNl
	dEV4cGlyZUFmdGVyIjp0cnVlLCJjYW5TZXRNZWRpYVBhc3N3b3JkIjp0cnVlLCJleHBp
	cmVBZnRlciI6LTEsImVtYWlsIjoid2lsQHdpbGhhbGwuY29tIiwibmFtZSI6IldpbCBI
	YWxsIn0=
	</data>
	<key>copyToClipboardPriority</key>
	<integer>1</integer>
	<key>cursorHighlightAnimate</key>
	<true/>
	<key>cursorHighlightStyle</key>
	<integer>1</integer>
	<key>deletePopupAfterDragging</key>
	<true/>
	<key>doNotDisturbWhileRecording</key>
	<true/>
	<key>exportPath</key>
	<string>/Users/wilhall/Pictures/Screenshots</string>
	<key>highlightClicks</key>
	<true/>
	<key>keyboardOverlayDisplayAll</key>
	<false/>
	<key>lastAcceptedEulaVersion</key>
	<integer>1</integer>
	<key>lastLaunchVersion</key>
	<string>4.5</string>
	<key>lastLegitVersionNumber</key>
	<integer>7</integer>
	<key>lastOneOverlayArea</key>
	<data>
	eyJzY3JlZW5JRCI6MSwiYXJlYSI6eyJ5IjoyNzMsIngiOjIzMywid2lkdGgiOjYxOSwi
	aGVpZ2h0Ijo3NzJ9fQ==
	</data>
	<key>lastRecordingArea</key>
	<data>
	eyJzY3JlZW5JRCI6NSwiYXJlYSI6eyJ5IjoxLCJ4Ijo3MDcsIndpZHRoIjoxMTk4LCJo
	ZWlnaHQiOjE0MTB9fQ==
	</data>
	<key>markupLastColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXHR4lVSRudWxs1Q0ODxAR
	EhMUFRZcTlNDb21wb25lbnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29s
	b3JTcGFjZVYkY2xhc3NPEBMwLjk3NiAwLjIwNCAwLjI1OSAxTxAoMC45NTY2MzQ4MTk1
	IDAuMDk4NTE2OTg1NzcgMC4yMDE2NzQ3NDQ1ABABgAKABdMYGREaGxxUTlNJRFVOU0lD
	QxAHgAOABE8RDEgAAAxITGlubwIQAABtbnRyUkdCIFhZWiAHzgACAAkABgAxAABhY3Nw
	TVNGVAAAAABJRUMgc1JHQgAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLUhQICAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFjcHJ0AAABUAAA
	ADNkZXNjAAABhAAAAGx3dHB0AAAB8AAAABRia3B0AAACBAAAABRyWFlaAAACGAAAABRn
	WFlaAAACLAAAABRiWFlaAAACQAAAABRkbW5kAAACVAAAAHBkbWRkAAACxAAAAIh2dWVk
	AAADTAAAAIZ2aWV3AAAD1AAAACRsdW1pAAAD+AAAABRtZWFzAAAEDAAAACR0ZWNoAAAE
	MAAAAAxyVFJDAAAEPAAACAxnVFJDAAAEPAAACAxiVFJDAAAEPAAACAx0ZXh0AAAAAENv
	cHlyaWdodCAoYykgMTk5OCBIZXdsZXR0LVBhY2thcmQgQ29tcGFueQAAZGVzYwAAAAAA
	AAASc1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWFla
	IAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAA
	OPUAAAOQWFlaIAAAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z2Rlc2MA
	AAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAFklFQyBodHRwOi8v
	d3d3LmllYy5jaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAABkZXNjAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBz
	cGFjZSAtIHNSR0IAAAAAAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNv
	bG91ciBzcGFjZSAtIHNSR0IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAs
	UmVmZXJlbmNlIFZpZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAA
	AAAALFJlZmVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAHZpZXcAAAAAABOk/gAUXy4AEM8UAAPtzAAEEwsA
	A1yeAAAAAVhZWiAAAAAAAEwJVgBQAAAAVx/nbWVhcwAAAAAAAAABAAAAAAAAAAAAAAAA
	AAAAAAAAAo8AAAACc2lnIAAAAABDUlQgY3VydgAAAAAAAAQAAAAABQAKAA8AFAAZAB4A
	IwAoAC0AMgA3ADsAQABFAEoATwBUAFkAXgBjAGgAbQByAHcAfACBAIYAiwCQAJUAmgCf
	AKQAqQCuALIAtwC8AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7AQEBBwENARMBGQEfASUB
	KwEyATgBPgFFAUwBUgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBwQHJAdEB2QHh
	AekB8gH6AgMCDAIUAh0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBAssC
	1QLgAusC9QMAAwsDFgMhAy0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5
	BAYEEwQgBC0EOwRIBFUEYwRxBH4EjASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgF
	ZwV3BYYFlgWmBbUFxQXVBeUF9gYGBhYGJwY3BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcH
	BxkHKwc9B08HYQd0B4YHmQesB78H0gflB/gICwgfCDIIRghaCG4IggiWCKoIvgjSCOcI
	+wkQCSUJOglPCWQJeQmPCaQJugnPCeUJ+woRCicKPQpUCmoKgQqYCq4KxQrcCvMLCwsi
	CzkLUQtpC4ALmAuwC8gL4Qv5DBIMKgxDDFwMdQyODKcMwAzZDPMNDQ0mDUANWg10DY4N
	qQ3DDd4N+A4TDi4OSQ5kDn8Omw62DtIO7g8JDyUPQQ9eD3oPlg+zD88P7BAJECYQQxBh
	EH4QmxC5ENcQ9RETETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSwxLjEwMTIxNDE2MT
	gxOkE8UT5RQGFCcUSRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsFo8WshbW
	FvoXHRdBF2UXiReuF9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGnca
	nhrFGuwbFBs7G2MbihuyG9ocAhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6U
	Hr4e6R8THz4faR+UH78f6iAVIEEgbCCYIMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0j
	CiM4I2YjlCPCI/AkHyRNJHwkqyTaJQklOCVoJZclxyX3JicmVyaHJrcm6CcYJ0kneier
	J9woDSg/KHEooijUKQYpOClrKZ0p0CoCKjUqaCqbKs8rAis2K2krnSvRLAUsOSxuLKIs
	1y0MLUEtdi2rLeEuFi5MLoIuty7uLyQvWi+RL8cv/jA1MGwwpDDbMRIxSjGCMbox8jIq
	MmMymzLUMw0zRjN/M7gz8TQrNGU0njTYNRM1TTWHNcI1/TY3NnI2rjbpNyQ3YDecN9c4
	FDhQOIw4yDkFOUI5fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8ZTykPOM9Ij1hPaE94D4g
	PmA+oD7gPyE/YT+iP+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q8BEA0RHRIpE
	zkUSRVVFmkXeRiJGZ0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU0ua
	S+JMKkxyTLpNAk1KTZNN3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdT
	E1NfU6pT9lRCVI9U21UoVXVVwlYPVlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqm
	WvVbRVuVW+VcNVyGXNZdJ114XcleGl5sXr1fD19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi
	8GNDY5dj62RAZJRk6WU9ZZJl52Y9ZpJm6Gc9Z5Nn6Wg/aJZo7GlDaZpp8WpIap9q92tP
	a6dr/2xXbK9tCG1gbbluEm5rbsRvHm94b9FwK3CGcOBxOnGVcfByS3KmcwFzXXO4dBR0
	cHTMdSh1hXXhdj52m3b4d1Z3s3gReG54zHkqeYl553pGeqV7BHtje8J8IXyBfOF9QX2h
	fgF+Yn7CfyN/hH/lgEeAqIEKgWuBzYIwgpKC9INXg7qEHYSAhOOFR4Wrhg6GcobXhzuH
	n4gEiGmIzokziZmJ/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j56QBpBukNaRP5Go
	khGSepLjk02TtpQglIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQpuvnByc
	iZz3nWSd0p5Anq6fHZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adu
	p+CoUqjEqTepqaocqo+rAqt1q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKz
	OLOutCW0nLUTtYq2AbZ5tvC3aLfguFm40blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/
	v3q/9cBwwOzBZ8Hjwl/C28NYw9TEUcTOxUvFyMZGxsPHQce/yD3IvMk6ybnKOMq3yzbL
	tsw1zLXNNc21zjbOts83z7jQOdC60TzRvtI/0sHTRNPG1EnUy9VO1dHWVdbY11zX4Nhk
	2OjZbNnx2nba+9uA3AXcit0Q3ZbeHN6i3ynfr+A24L3hROHM4lPi2+Nj4+vkc+T85YTm
	DeaW5x/nqegy6LzpRunQ6lvq5etw6/vshu0R7ZzuKO6070DvzPBY8OXxcvH/8ozzGfOn
	9DT0wvVQ9d72bfb794r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/kv+3P9t///SHyAhIlok
	Y2xhc3NuYW1lWCRjbGFzc2VzXE5TQ29sb3JTcGFjZaIjJFxOU0NvbG9yU3BhY2VYTlNP
	YmplY3TSHyAmJ1dOU0NvbG9yoiYkAAgAEQAaACQAKQAyADcASQBMAFEAUwBaAGAAawB4
	AH4AiwCgAKcAvQDoAOoA7ADuAPUA+gEAAQIBBAEGDVINVw1iDWsNeA17DYgNkQ2WDZ4A
	AAAAAAACAQAAAAAAAAAoAAAAAAAAAAAAAAAAAAANoQ==
	</data>
	<key>markupLastToolIndex</key>
	<integer>1</integer>
	<key>markupLastWidth</key>
	<real>7</real>
	<key>mediaHistory</key>
	<data>
	W3sidGVtcFVSTCI6bnVsbCwiY3JlYXRpb25EYXRlIjo2OTYwMDI4OTYuNjgwOTYzMDQs
	InByb2plY3RVUkwiOiJmaWxlOlwvXC9cL1VzZXJzXC93aWxoYWxsXC9MaWJyYXJ5XC9B
	cHBsaWNhdGlvbiUyMFN1cHBvcnRcL0NsZWFuU2hvdFwvbWVkaWFcL21lZGlhX2FDTFJI
	dGFNRmdcL0NsZWFuU2hvdCUyMDIwMjMtMDEtMjElMjBhdCUyMDA5LjA4LjE0QDJ4LmNs
	ZWFuc2hvdCIsImFwcE1ldGFkYXRhIjp7ImFwcCI6Ikdvb2dsZSBDaHJvbWUiLCJidW5k
	bGVVUkwiOiJmaWxlOlwvXC9cL0FwcGxpY2F0aW9uc1wvR29vZ2xlJTIwQ2hyb21lLmFw
	cFwvIiwid2luZG93IjoiQ2hlY2tpbmcgLSBUcmFuc2ZlcnMgLSBTYWdld2VsbCIsImJ1
	bmRsZUlEIjoiY29tLmdvb2dsZS5DaHJvbWUifSwidXJsIjoiZmlsZTpcL1wvXC9Vc2Vy
	c1wvd2lsaGFsbFwvTGlicmFyeVwvQXBwbGljYXRpb24lMjBTdXBwb3J0XC9DbGVhblNo
	b3RcL21lZGlhXC9tZWRpYV9PMjhiNlhUNUZWXC9DbGVhblNob3QlMjAyMDIzLTAxLTIx
	JTIwYXQlMjAwOS4wOC4xNEAyeC5wbmciLCJjbG91ZE1lZGlhIjp7InR5cGUiOiJpbWFn
	ZSIsImlkIjoiZEhiOGpWblEiLCJmdWxsX3VybCI6Imh0dHBzOlwvXC9zaGFyZS53aWxo
	YWxsLmNvbVwvZEhiOGpWblEiLCJuYW1lIjoiQ2xlYW5TaG90IDIwMjMtMDEtMjEgYXQg
	MDkuMDguMTQiLCJ2aWV3cyI6MCwiZG93bmxvYWRfdXJsIjoiaHR0cHM6XC9cL3NoYXJl
	LndpbGhhbGwuY29tXC9kSGI4alZuUVwvZG93bmxvYWQifX0seyJ0ZW1wVVJMIjpudWxs
	LCJjcmVhdGlvbkRhdGUiOjY5NjAzNDEwMC40NDQxMTUwNCwicHJvamVjdFVSTCI6ImZp
	bGU6XC9cL1wvVXNlcnNcL3dpbGhhbGxcL0xpYnJhcnlcL0FwcGxpY2F0aW9uJTIwU3Vw
	cG9ydFwvQ2xlYW5TaG90XC9tZWRpYVwvbWVkaWFfbGFvOEpDYzlXM1wvQ2xlYW5TaG90
	JTIwMjAyMy0wMS0yMSUyMGF0JTIwMTcuNDguMTdAMnguY2xlYW5zaG90IiwiYXBwTWV0
	YWRhdGEiOnsiYXBwIjoiR29vZ2xlIENocm9tZSIsImJ1bmRsZVVSTCI6ImZpbGU6XC9c
	L1wvQXBwbGljYXRpb25zXC9Hb29nbGUlMjBDaHJvbWUuYXBwXC8iLCJ3aW5kb3ciOiJX
	aWwgSGFsbCB8IFNhZ2V3ZWxsIEZpbmFuY2lhbCB8IENsb3NlIiwiYnVuZGxlSUQiOiJj
	b20uZ29vZ2xlLkNocm9tZSJ9LCJ1cmwiOiJmaWxlOlwvXC9cL1VzZXJzXC93aWxoYWxs
	XC9MaWJyYXJ5XC9BcHBsaWNhdGlvbiUyMFN1cHBvcnRcL0NsZWFuU2hvdFwvbWVkaWFc
	L21lZGlhX1VBVTNWNlI2R3FcL0NsZWFuU2hvdCUyMDIwMjMtMDEtMjElMjBhdCUyMDE3
	LjQ4LjE3QDJ4LnBuZyIsImNsb3VkTWVkaWEiOnsiaWQiOiI3M3RqVHY0bCIsImRvd25s
	b2FkX3VybCI6Imh0dHBzOlwvXC9zaGFyZS53aWxoYWxsLmNvbVwvNzN0alR2NGxcL2Rv
	d25sb2FkIiwidGh1bWJuYWlsX3NtYWxsX3VybCI6Imh0dHBzOlwvXC9icmllZi5jbGVh
	bnNob3QuY2xvdWRcL21lZGlhXC80MzY5Nlwvd1ZZWW9HVUJqR2hpTWV6WVFaUjhEU2d5
	RkVSQWRoak43OUhZakR2dC5qcGVnP3dpZHRoPTYwJmhlaWdodD02MCZzY2FsaW5nPWNv
	dmVyIiwidHlwZSI6ImltYWdlIiwiZnVsbF91cmwiOiJodHRwczpcL1wvc2hhcmUud2ls
	aGFsbC5jb21cLzczdGpUdjRsIiwibmFtZSI6IkNsZWFuU2hvdCAyMDIzLTAxLTIxIGF0
	IDE3LjQ4LjE3Iiwidmlld3MiOjB9fSx7InRlbXBVUkwiOm51bGwsImNyZWF0aW9uRGF0
	ZSI6Njk2MDg2MTI2LjUwNzcyNDA1LCJwcm9qZWN0VVJMIjoiZmlsZTpcL1wvXC9Vc2Vy
	c1wvd2lsaGFsbFwvTGlicmFyeVwvQXBwbGljYXRpb24lMjBTdXBwb3J0XC9DbGVhblNo
	b3RcL21lZGlhXC9tZWRpYV9ZdVh4RzEzNHp6XC9DbGVhblNob3QlMjAyMDIzLTAxLTIy
	JTIwYXQlMjAwOC4xNS4yNEAyeC5jbGVhbnNob3QiLCJhcHBNZXRhZGF0YSI6eyJhcHAi
	OiJHb29nbGUgQ2hyb21lIiwiYnVuZGxlVVJMIjoiZmlsZTpcL1wvXC9BcHBsaWNhdGlv
	bnNcL0dvb2dsZSUyMENocm9tZS5hcHBcLyIsIndpbmRvdyI6IldpbCBIYWxsIHwgU2Fn
	ZXdlbGwgRmluYW5jaWFsIHwgQ2xvc2UiLCJidW5kbGVJRCI6ImNvbS5nb29nbGUuQ2hy
	b21lIn0sInVybCI6ImZpbGU6XC9cL1wvVXNlcnNcL3dpbGhhbGxcL0xpYnJhcnlcL0Fw
	cGxpY2F0aW9uJTIwU3VwcG9ydFwvQ2xlYW5TaG90XC9tZWRpYVwvbWVkaWFfS2c0RUo3
	QkN4TlwvQ2xlYW5TaG90JTIwMjAyMy0wMS0yMiUyMGF0JTIwMDguMTUuMjRAMngucG5n
	IiwiY2xvdWRNZWRpYSI6eyJpZCI6InBsOHRZOFo2IiwiZG93bmxvYWRfdXJsIjoiaHR0
	cHM6XC9cL3NoYXJlLndpbGhhbGwuY29tXC9wbDh0WThaNlwvZG93bmxvYWQiLCJ0aHVt
	Ym5haWxfc21hbGxfdXJsIjoiaHR0cHM6XC9cL2JyaWVmLmNsZWFuc2hvdC5jbG91ZFwv
	bWVkaWFcLzQzNjk2XC90amRFS0xiSzRORG1hdzVTRHV2QUF2UDlDRldnZ3gyV3V1ZktK
	UEJBLmpwZWc/d2lkdGg9NjAmaGVpZ2h0PTYwJnNjYWxpbmc9Y292ZXIiLCJ0eXBlIjoi
	aW1hZ2UiLCJmdWxsX3VybCI6Imh0dHBzOlwvXC9zaGFyZS53aWxoYWxsLmNvbVwvcGw4
	dFk4WjYiLCJuYW1lIjoiQ2xlYW5TaG90IDIwMjMtMDEtMjIgYXQgMDguMTUuMjQiLCJ2
	aWV3cyI6MH19XQ==
	</data>
	<key>onboardingDisplayed</key>
	<true/>
	<key>plainColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXHR4lVSRudWxs1Q0ODxAR
	EhMUFRZcTlNDb21wb25lbnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29s
	b3JTcGFjZVYkY2xhc3NPEBMwLjUxOCAwLjY3OCAwLjc0NSAxTxAnMC40NDc4Nzg3MTg0
	IDAuNjE1Njg4MTQ1MiAwLjY5MTAxNjI1NjgAEAGAAoAF0xgZERobHFROU0lEVU5TSUND
	EAeAA4AETxEMSAAADEhMaW5vAhAAAG1udHJSR0IgWFlaIAfOAAIACQAGADEAAGFjc3BN
	U0ZUAAAAAElFQyBzUkdCAAAAAAAAAAAAAAAAAAD21gABAAAAANMtSFAgIAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEWNwcnQAAAFQAAAA
	M2Rlc2MAAAGEAAAAbHd0cHQAAAHwAAAAFGJrcHQAAAIEAAAAFHJYWVoAAAIYAAAAFGdY
	WVoAAAIsAAAAFGJYWVoAAAJAAAAAFGRtbmQAAAJUAAAAcGRtZGQAAALEAAAAiHZ1ZWQA
	AANMAAAAhnZpZXcAAAPUAAAAJGx1bWkAAAP4AAAAFG1lYXMAAAQMAAAAJHRlY2gAAAQw
	AAAADHJUUkMAAAQ8AAAIDGdUUkMAAAQ8AAAIDGJUUkMAAAQ8AAAIDHRleHQAAAAAQ29w
	eXJpZ2h0IChjKSAxOTk4IEhld2xldHQtUGFja2FyZCBDb21wYW55AABkZXNjAAAAAAAA
	ABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAEnNSR0IgSUVDNjE5NjYtMi4xAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYWVog
	AAAAAAAA81EAAQAAAAEWzFhZWiAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAG+iAAA4
	9QAAA5BYWVogAAAAAAAAYpkAALeFAAAY2lhZWiAAAAAAAAAkoAAAD4QAALbPZGVzYwAA
	AAAAAAAWSUVDIGh0dHA6Ly93d3cuaWVjLmNoAAAAAAAAAAAAAAAWSUVDIGh0dHA6Ly93
	d3cuaWVjLmNoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAGRlc2MAAAAAAAAALklFQyA2MTk2Ni0yLjEgRGVmYXVsdCBSR0IgY29sb3VyIHNw
	YWNlIC0gc1JHQgAAAAAAAAAAAAAALklFQyA2MTk2Ni0yLjEgRGVmYXVsdCBSR0IgY29s
	b3VyIHNwYWNlIC0gc1JHQgAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAAAAAAACxS
	ZWZlcmVuY2UgVmlld2luZyBDb25kaXRpb24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAA
	AAAsUmVmZXJlbmNlIFZpZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAdmlldwAAAAAAE6T+ABRfLgAQzxQAA+3MAAQTCwAD
	XJ4AAAABWFlaIAAAAAAATAlWAFAAAABXH+dtZWFzAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAACjwAAAAJzaWcgAAAAAENSVCBjdXJ2AAAAAAAABAAAAAAFAAoADwAUABkAHgAj
	ACgALQAyADcAOwBAAEUASgBPAFQAWQBeAGMAaABtAHIAdwB8AIEAhgCLAJAAlQCaAJ8A
	pACpAK4AsgC3ALwAwQDGAMsA0ADVANsA4ADlAOsA8AD2APsBAQEHAQ0BEwEZAR8BJQEr
	ATIBOAE+AUUBTAFSAVkBYAFnAW4BdQF8AYMBiwGSAZoBoQGpAbEBuQHBAckB0QHZAeEB
	6QHyAfoCAwIMAhQCHQImAi8COAJBAksCVAJdAmcCcQJ6AoQCjgKYAqICrAK2AsECywLV
	AuAC6wL1AwADCwMWAyEDLQM4A0MDTwNaA2YDcgN+A4oDlgOiA64DugPHA9MD4APsA/kE
	BgQTBCAELQQ7BEgEVQRjBHEEfgSMBJoEqAS2BMQE0wThBPAE/gUNBRwFKwU6BUkFWAVn
	BXcFhgWWBaYFtQXFBdUF5QX2BgYGFgYnBjcGSAZZBmoGewaMBp0GrwbABtEG4wb1BwcH
	GQcrBz0HTwdhB3QHhgeZB6wHvwfSB+UH+AgLCB8IMghGCFoIbgiCCJYIqgi+CNII5wj7
	CRAJJQk6CU8JZAl5CY8JpAm6Cc8J5Qn7ChEKJwo9ClQKagqBCpgKrgrFCtwK8wsLCyIL
	OQtRC2kLgAuYC7ALyAvhC/kMEgwqDEMMXAx1DI4MpwzADNkM8w0NDSYNQA1aDXQNjg2p
	DcMN3g34DhMOLg5JDmQOfw6bDrYO0g7uDwkPJQ9BD14Peg+WD7MPzw/sEAkQJhBDEGEQ
	fhCbELkQ1xD1ERMRMRFPEW0RjBGqEckR6BIHEiYSRRJkEoQSoxLDEuMTAxMjE0MTYxOD
	E6QTxRPlFAYUJxRJFGoUixStFM4U8BUSFTQVVhV4FZsVvRXgFgMWJhZJFmwWjxayFtYW
	+hcdF0EXZReJF64X0hf3GBsYQBhlGIoYrxjVGPoZIBlFGWsZkRm3Gd0aBBoqGlEadxqe
	GsUa7BsUGzsbYxuKG7Ib2hwCHCocUhx7HKMczBz1HR4dRx1wHZkdwx3sHhYeQB5qHpQe
	vh7pHxMfPh9pH5Qfvx/qIBUgQSBsIJggxCDwIRwhSCF1IaEhziH7IiciVSKCIq8i3SMK
	IzgjZiOUI8Ij8CQfJE0kfCSrJNolCSU4JWgllyXHJfcmJyZXJocmtyboJxgnSSd6J6sn
	3CgNKD8ocSiiKNQpBik4KWspnSnQKgIqNSpoKpsqzysCKzYraSudK9EsBSw5LG4soizX
	LQwtQS12Last4S4WLkwugi63Lu4vJC9aL5Evxy/+MDUwbDCkMNsxEjFKMYIxujHyMioy
	YzKbMtQzDTNGM38zuDPxNCs0ZTSeNNg1EzVNNYc1wjX9Njc2cjauNuk3JDdgN5w31zgU
	OFA4jDjIOQU5Qjl/Obw5+To2OnQ6sjrvOy07azuqO+g8JzxlPKQ84z0iPWE9oT3gPiA+
	YD6gPuA/IT9hP6I/4kAjQGRApkDnQSlBakGsQe5CMEJyQrVC90M6Q31DwEQDREdEikTO
	RRJFVUWaRd5GIkZnRqtG8Ec1R3tHwEgFSEtIkUjXSR1JY0mpSfBKN0p9SsRLDEtTS5pL
	4kwqTHJMuk0CTUpNk03cTiVObk63TwBPSU+TT91QJ1BxULtRBlFQUZtR5lIxUnxSx1MT
	U19TqlP2VEJUj1TbVShVdVXCVg9WXFapVvdXRFeSV+BYL1h9WMtZGllpWbhaB1pWWqZa
	9VtFW5Vb5Vw1XIZc1l0nXXhdyV4aXmxevV8PX2Ffs2AFYFdgqmD8YU9homH1YklinGLw
	Y0Njl2PrZEBklGTpZT1lkmXnZj1mkmboZz1nk2fpaD9olmjsaUNpmmnxakhqn2r3a09r
	p2v/bFdsr20IbWBtuW4SbmtuxG8eb3hv0XArcIZw4HE6cZVx8HJLcqZzAXNdc7h0FHRw
	dMx1KHWFdeF2Pnabdvh3VnezeBF4bnjMeSp5iXnnekZ6pXsEe2N7wnwhfIF84X1BfaF+
	AX5ifsJ/I3+Ef+WAR4CogQqBa4HNgjCCkoL0g1eDuoQdhICE44VHhauGDoZyhteHO4ef
	iASIaYjOiTOJmYn+imSKyoswi5aL/IxjjMqNMY2Yjf+OZo7OjzaPnpAGkG6Q1pE/kaiS
	EZJ6kuOTTZO2lCCUipT0lV+VyZY0lp+XCpd1l+CYTJi4mSSZkJn8mmia1ZtCm6+cHJyJ
	nPedZJ3SnkCerp8dn4uf+qBpoNihR6G2oiailqMGo3aj5qRWpMelOKWpphqmi6b9p26n
	4KhSqMSpN6mpqhyqj6sCq3Wr6axcrNCtRK24ri2uoa8Wr4uwALB1sOqxYLHWskuywrM4
	s660JbSctRO1irYBtnm28Ldot+C4WbjRuUq5wro7urW7LrunvCG8m70VvY++Cr6Evv+/
	er/1wHDA7MFnwePCX8Lbw1jD1MRRxM7FS8XIxkbGw8dBx7/IPci8yTrJuco4yrfLNsu2
	zDXMtc01zbXONs62zzfPuNA50LrRPNG+0j/SwdNE08bUSdTL1U7V0dZV1tjXXNfg2GTY
	6Nls2fHadtr724DcBdyK3RDdlt4c3qLfKd+v4DbgveFE4cziU+Lb42Pj6+Rz5PzlhOYN
	5pbnH+ep6DLovOlG6dDqW+rl63Dr++yG7RHtnO4o7rTvQO/M8Fjw5fFy8f/yjPMZ86f0
	NPTC9VD13vZt9vv3ivgZ+Kj5OPnH+lf65/t3/Af8mP0p/br+S/7c/23//9IfICEiWiRj
	bGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNloiMkXE5TQ29sb3JTcGFjZVhOU09i
	amVjdNIfICYnV05TQ29sb3KiJiQACAARABoAJAApADIANwBJAEwAUQBTAFoAYABrAHgA
	fgCLAKAApwC9AOcA6QDrAO0A9AD5AP8BAQEDAQUNUQ1WDWENag13DXoNhw2QDZUNnQAA
	AAAAAAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAA2g
	</data>
	<key>popupAskForDestinationWhenSaving</key>
	<false/>
	<key>popupSize</key>
	<integer>2</integer>
	<key>s000</key>
	<integer>1659748001</integer>
	<key>s001</key>
	<integer>502</integer>
	<key>s002</key>
	<integer>11</integer>
	<key>s003</key>
	<integer>19</integer>
	<key>s004</key>
	<integer>559</integer>
	<key>s006</key>
	<integer>30</integer>
	<key>s007</key>
	<integer>11</integer>
	<key>s008</key>
	<integer>18</integer>
	<key>showChangelog</key>
	<false/>
	<key>showColorNameLabels</key>
	<false/>
	<key>showKeystrokes</key>
	<true/>
	<key>snapInAnnotateCrop</key>
	<true/>
	<key>stopRecordingPopupDisplayed</key>
	<true/>
	<key>sttys</key>
	<data>
	W3sidXBsb2FkcyI6NDYzLCJhcHBMYXVuY2giOjE4LCJ2aWRlb3MiOjksInNjcm9sbGlu
	Z0NhcHR1cmVzIjowLCJhbm5vdGF0ZXMiOjIzLCJzY3JlZW5zaG90cyI6NDEzLCJzdGFy
	dFRpbWVTdGFtcCI6MTY1OTc0ODAwMSwieWVhciI6MjAyMiwiYW5ub3RhdGVUb29scyI6
	eyJDcm9wIjoxLCJwaXhlbGF0ZSI6MSwiTm9uZSI6NiwiYXJyb3ciOjMsInJlY3Rhbmds
	ZSI6MTl9LCJnaWZzIjoxN30seyJ1cGxvYWRzIjo5NiwiYXBwTGF1bmNoIjowLCJ2aWRl
	b3MiOjIsInNjcm9sbGluZ0NhcHR1cmVzIjowLCJhbm5vdGF0ZXMiOjcsInNjcmVlbnNo
	b3RzIjo4OSwic3RhcnRUaW1lU3RhbXAiOjE2NzI3NTU3MjgsInllYXIiOjIwMjMsImFu
	bm90YXRlVG9vbHMiOnsiYXJyb3ciOjMsInJlY3RhbmdsZSI6NywidGV4dCI6NX0sImdp
	ZnMiOjJ9XQ==
	</data>
	<key>transparentWindowBackground</key>
	<true/>
</dict>
</plist>
