<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IKAnonymousIdentifier</key>
	<string>47883243-1508-476e-9509-75fcf5faeb9a</string>
	<key>IKEvents</key>
	<data>
	W10=
	</data>
	<key>IKPreferencesLast</key>
	<data>
	eyJhZnRlcl92aWRlb19hY3Rpb25zIjpbNF0sIndpbmRvd19iYWNrZ3JvdW5kX3BhZGRp
	bmciOjIsImN1cnNvcl9oaWdobGlnaHRfc3R5bGUiOjEsImFubm90YXRlX2Fsd2F5c19v
	bl90b3AiOmZhbHNlLCJnaWZfZnBzIjoxNSwic2VsZl90aW1lcl9pbnRlcnZhbCI6NSwi
	Y2xvdWRfcmVuYW1lX2V2ZXJ5X3VwbG9hZCI6ZmFsc2UsInFhb19hdXRvX2Nsb3NlX21v
	ZGUiOjAsImtleWJvYXJkX292ZXJsYXlfZW5hYmxlZCI6dHJ1ZSwibWF4X3JlY29yZGlu
	Z19yZXNvbHV0aW9uIjowLCJhbm5vdGF0ZV9zaG93X2RvY2tfaWNvbiI6dHJ1ZSwiZG9f
	bm90X2Rpc3R1cmJfcmVjb3JkaW5nIjp0cnVlLCJhZnRlcl9zY3JlZW5zaG90X2FjdGlv
	bnMiOlsxLDQsM10sInNob3dfY3Vyc29yX29uX3JlY29yZGluZ3MiOnRydWUsImtleWJv
	YXJkX292ZXJsYXlfc3R5bGUiOjAsInVzZV9kZWZhdWx0X2NhbWVyYV9wb3NpdGlvbiI6
	dHJ1ZSwiY3Vyc29yX2hpZ2hsaWdodF9zaXplIjo1MCwiZmlsZV9uYW1lX3V0Y190aW1l
	em9uZSI6ZmFsc2UsInNob3dfcmVjb3JkaW5nX2NvbnRyb2xzIjp0cnVlLCJhbm5vdGF0
	ZV9zbmFwX2Nyb3AiOnRydWUsInBpbm5lZF9zaG93X2JvcmRlciI6dHJ1ZSwic2hvd19t
	YWduaWZpZXIiOnRydWUsInNob3dfbWVudWJhcl9pY29uIjp0cnVlLCJwb3B1cF9hc2tf
	Zm9yX2Rlc3RpbmF0aW9uIjpmYWxzZSwibGF1bmNoX2F0X2xvZ2luIjp0cnVlLCJjb3B5
	X2JlaGF2aW91ciI6MCwicmVtZW1iZXJfcmVjb3JkaW5nX2FyZWEiOmZhbHNlLCJjYXB0
	dXJlX2N1cnNvciI6ZmFsc2UsInFhb19vbl9sZWZ0X3NpZGUiOnRydWUsImRpbV9zY3Jl
	ZW5fd2hpbGVfcmVjb3JkaW5nIjp0cnVlLCJhbm5vdGF0ZV9zaG93X2NvbG9yX25hbWVz
	IjpmYWxzZSwiZmxpcF9jYW1lcmEiOnRydWUsInNjcmVlbnNob3RfZm9ybWF0IjoicG5n
	IiwiYWRkX2ZyYW1lX3RvX3NjcmVlbnNob3RzIjpmYWxzZSwic2hvd19jaGFuZ2Vsb2ci
	OmZhbHNlLCJrZXlib2FyZF9vdmVybGF5X2JsdXJfYmciOnRydWUsImFkZF9AMnhfc3Vm
	Zml4Ijp0cnVlLCJtZXJnZV9hdWRpb190cmFja3MiOnRydWUsImtleWJvYXJkX292ZXJs
	YXlfcG9zaXRpb24iOjQsImdpZl9xdWFsaXR5Ijo4MCwicWFvX2F1dG9fY2xvc2UiOmZh
	bHNlLCJkb3duc2NhbGVfcmV0aW5hX3ZpZGVvcyI6ZmFsc2UsInFhb19jbG9zZV9hZnRl
	cl91cGxvYWRpbmciOnRydWUsImFubm90YXRlX2RyYXdfc2hhZG93Ijp0cnVlLCJkZWZh
	dWx0X21lZGlhX2V4cG9ydF9wYXRoIjp0cnVlLCJjbG91ZF9jb3B5X2RpcmVjdF9saW5r
	Ijp0cnVlLCJjYW1lcmFfc2hhcGUiOjAsInJlY29yZF9taWNyb3Bob25lIjpmYWxzZSwi
	aGlkZV9pY29uc193aGVuX2NhcHR1cmUiOmZhbHNlLCJkaXNwbGF5X3JlY29yZGluZ190
	aW1lIjpmYWxzZSwicWFvX21vdmVfdG9fYWN0aXZlX2Rpc3BsYXkiOnRydWUsImF1ZGlv
	X2RyaXZlcl9pbnN0YWxsZWQiOmZhbHNlLCJhbm5vdGF0ZV9waXhlbGF0ZV9zdHlsZSI6
	MSwic2NyZWVuc2hvdF9zb3VuZCI6InN5c3RlbURlZmF1bHQiLCJhbm5vdGF0ZV9sb2Nr
	X2NhbnZhcyI6dHJ1ZSwicmVjb3JkX2NvbXB1dGVyX2F1ZGlvIjpmYWxzZSwiYW5ub3Rh
	dGVfdGV4dF9zdHlsZSI6MCwiYW5ub3RhdGVfaW52ZXJzZV9hcnJvdyI6ZmFsc2UsInJl
	bWVtYmVyX29uZV9vdmVybGF5X2FyZWEiOnRydWUsInFhb19zaXplIjoyLCJ0ZXh0X3Jl
	Y29nbml0aW9uX2tlZXBfZW50ZXJzIjp0cnVlLCJhbm5vdGF0ZV9jb3VudGVyX3N0eWxl
	IjowLCJhbm5vdGF0ZV9hcnJvd19zdHlsZSI6MCwiaGlzdG9yeV9jYXBhY2l0eSI6MSwi
	Y29weV9saW5rX2JlZm9yZV91cGxvYWQiOnRydWUsImN1c3RvbV9iYWNrZ3JvdW5kX2Nv
	dW50IjowLCJyZW1vdmVfaWxsZWdhbF9jaGFyYWN0ZXJzIjp0cnVlLCJhdXRvbWF0aWNh
	bGx5X2NoZWNrX2Zvcl91cGRhdGVzIjp0cnVlLCJjcm9zc2hhaXJfbW9kZSI6MCwiZ2lm
	X21heF9zaXplIjo4MDAsInBpbm5lZF9kcm9wX3NoYWRvdyI6dHJ1ZSwic2hvd19lbmNv
	ZGluZ19zdW1tYXJ5Ijp0cnVlLCJzaG93X3JlY2VudF9jbG91ZF9maWxlcyI6dHJ1ZSwi
	YW5ub3RhdGVfc21vb3RoX2RyYXdpbmciOnRydWUsImZyZWV6ZV9zY3JlZW4iOmZhbHNl
	LCJrZXlib2FyZF9vdmVybGF5X3NpemUiOjQ1LCJhc2tfZm9yX25hbWVfYWZ0ZXJfY2Fw
	dHVyZSI6ZmFsc2UsIm9jcl9kZXRlY3RfdXJscyI6dHJ1ZSwiY2FwdHVyZV93aW5kb3df
	c2hhZG93Ijp0cnVlLCJ2aWRlb19mcHMiOjYwLCJkb3duc2NhbGVfcmV0aW5hX3NjcmVl
	bnNob3RzIjpmYWxzZSwib3B0aW1pemVfZ2lmcyI6dHJ1ZSwicGxheV9zb3VuZHMiOnRy
	dWUsInJlY29yZF9jYW1lcmEiOmZhbHNlLCJmaWxlbmFtZV90b2tlbnMiOlsiJUgiLCIl
	TSIsIiVTIiwiJWQiLCIlbSIsIiV5Il0sImN1cnNvcl9oaWdobGlnaHRfYW5pbWF0ZSI6
	dHJ1ZSwidHJhbnNwYXJlbnRfd2luZG93X2JhY2tncm91bmQiOnRydWUsImFubm90YXRl
	X2NvbmZpcm1fY2xvdWRfdXBkYXRlIjp0cnVlLCJjYW1lcmFfc2l6ZV9uZXciOjEsInFh
	b19jb25maXJtX3ZpZGVvX2RlbGV0ZSI6dHJ1ZSwiZmlsZW5hbWVfaXNfZGVmYXVsdCI6
	dHJ1ZSwiaWdub3JlX2FmdGVyX2NhcHR1cmUiOnRydWUsImFubm90YXRlX2hpZ2hsaWdo
	dF9zaGFwZSI6MSwiaWNvbl9vdmVybGF5X3R5cGUiOjAsImNsb3VkX29wdGltaXplX3Nj
	cmVlbnNob3RzIjp0cnVlLCJxYW9fY2xvc2VfYWZ0ZXJfZHJhZ2dpbmciOnRydWUsInFh
	b19hdXRvX2Nsb3NlX2ludGVydmFsIjozMCwiY29uZmlybV9oaXN0b3J5X2RlbGV0ZSI6
	dHJ1ZSwiYW5ub3RhdGVfZXhwYW5kX2NhbnZhcyI6ZmFsc2UsInBpbm5lZF9yb3VuZF9j
	b3JuZXJzIjp0cnVlLCJrZXlib2FyZF9vdmVybGF5X3Nob3dfYWxsIjpmYWxzZSwiYmFj
	a2dyb3VuZF90b29sX3JlbWVtYmVyX29wZW4iOmZhbHNlLCJjdXJzb3JfaGlnaGxpZ2h0
	X2VuYWJsZWQiOnRydWUsImJhY2tncm91bmRfdG9vbF9vcGVuZWQiOmZhbHNlfQ==
	</data>
	<key>LAVAtakeAllInOne</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyM30=
	</data>
	<key>LAVAtakeArea</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMX0=
	</data>
	<key>LAVAtakeFullscreen</key>
	<data>
	eyJjYXJib25Nb2RpZmllcnMiOjc2OCwiY2FyYm9uS2V5IjoyMH0=
	</data>
	<key>LaunchAtLogin__hasMigrated</key>
	<true/>
	<key>MGR001</key>
	<true/>
	<key>MGR002</key>
	<true/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Downloads</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSSplitView Subview Frames NSColorPanelSplitView</key>
	<array>
		<string>0.000000, 0.000000, 224.000000, 258.000000, NO, NO</string>
		<string>0.000000, 259.000000, 224.000000, 48.000000, NO, NO</string>
	</array>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>493</real>
	<key>NSToolbar Configuration com.apple.NSColorPanel</key>
	<dict>
		<key>TB Is Shown</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame NSColorPanel</key>
	<string>671 81 224 278 0 0 1512 944 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>1065 608 430 188 0 0 2560 1415 </string>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>633 902 400 135 0 0 2560 1415 </string>
	<key>NSWindow Frame SUUpdateAlert</key>
	<string>970 762 620 398 0 0 2560 1415 </string>
	<key>QTIP_13</key>
	<true/>
	<key>QTIP_16</key>
	<true/>
	<key>QTIP_7</key>
	<true/>
	<key>QTIP_9</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUHasLaunchedBefore</key>
	<true/>
	<key>SULastCheckTime</key>
	<date>2023-06-28T15:04:03Z</date>
	<key>SUUpdateGroupIdentifier</key>
	<integer>436542746</integer>
	<key>SUUpdateRelaunchingMarker</key>
	<false/>
	<key>afterScreenshotActions</key>
	<array>
		<integer>1</integer>
		<integer>4</integer>
		<integer>3</integer>
	</array>
	<key>afterVideoActions</key>
	<array>
		<integer>4</integer>
	</array>
	<key>analyticsAllowed</key>
	<true/>
	<key>annotateLastArrowStyle</key>
	<integer>0</integer>
	<key>annotateLastBackgroundColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXHyAnVSRudWxs1Q0ODxAR
	EhMUFRZXTlNXaGl0ZVxOU0NvbXBvbmVudHNcTlNDb2xvclNwYWNlXxASTlNDdXN0b21D
	b2xvclNwYWNlViRjbGFzc0QwIDAAQzAgMBADgAKABdQYGRoRGxwdHlROU0lEVU5TSUND
	V05TTW9kZWwQCYADEACABE8REZwAABGcYXBwbAIAAABtbnRyR1JBWVhZWiAH3AAIABcA
	DwAuAA9hY3NwQVBQTAAAAABub25lAAAAAAAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLWFw
	cGwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVk
	ZXNjAAAAwAAAAHlkc2NtAAABPAAACBpjcHJ0AAAJWAAAACN3dHB0AAAJfAAAABRrVFJD
	AAAJkAAACAxkZXNjAAAAAAAAAB9HZW5lcmljIEdyYXkgR2FtbWEgMi4yIFByb2ZpbGUA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAbWx1YwAAAAAAAAAfAAAADHNrU0sA
	AAAuAAABhGRhREsAAAA6AAABsmNhRVMAAAA4AAAB7HZpVk4AAABAAAACJHB0QlIAAABK
	AAACZHVrVUEAAAAsAAACrmZyRlUAAAA+AAAC2mh1SFUAAAA0AAADGHpoVFcAAAAaAAAD
	TGtvS1IAAAAiAAADZm5iTk8AAAA6AAADiGNzQ1oAAAAoAAADwmhlSUwAAAAkAAAD6nJv
	Uk8AAAAqAAAEDmRlREUAAABOAAAEOGl0SVQAAABOAAAEhnN2U0UAAAA4AAAE1HpoQ04A
	AAAaAAAFDGphSlAAAAAmAAAFJmVsR1IAAAAqAAAFTHB0UE8AAABSAAAFdm5sTkwAAABA
	AAAFyGVzRVMAAABMAAAGCHRoVEgAAAAyAAAGVHRyVFIAAAAkAAAGhmZpRkkAAABGAAAG
	qmhySFIAAAA+AAAG8HBsUEwAAABKAAAHLmFyRUcAAAAsAAAHeHJ1UlUAAAA6AAAHpGVu
	VVMAAAA8AAAH3gBWAWEAZQBvAGIAZQBjAG4A4QAgAHMAaQB2AOEAIABnAGEAbQBhACAA
	MgAsADIARwBlAG4AZQByAGkAcwBrACAAZwByAOUAIAAyACwAMgAgAGcAYQBtAG0AYQAt
	AHAAcgBvAGYAaQBsAEcAYQBtAG0AYQAgAGQAZQAgAGcAcgBpAHMAbwBzACAAZwBlAG4A
	6AByAGkAYwBhACAAMgAuADIAQx6lAHUAIABoAOwAbgBoACAATQDgAHUAIAB4AOEAbQAg
	AEMAaAB1AG4AZwAgAEcAYQBtAG0AYQAgADIALgAyAFAAZQByAGYAaQBsACAARwBlAG4A
	6QByAGkAYwBvACAAZABhACAARwBhAG0AYQAgAGQAZQAgAEMAaQBuAHoAYQBzACAAMgAs
	ADIEFwQwBDMEMAQ7BEwEPQQwACAARwByAGEAeQAtBDMEMAQ8BDAAIAAyAC4AMgBQAHIA
	bwBmAGkAbAAgAGcA6QBuAOkAcgBpAHEAdQBlACAAZwByAGkAcwAgAGcAYQBtAG0AYQAg
	ADIALAAyAMEAbAB0AGEAbADhAG4AbwBzACAAcwB6APwAcgBrAGUAIABnAGEAbQBtAGEA
	IAAyAC4AMpAadShwcJaOUUlepgAyAC4AMoJyX2ljz4/wx3y8GAAg1ozAyQAgrBC5yAAg
	ADIALgAyACDVBLhc0wzHfABHAGUAbgBlAHIAaQBzAGsAIABnAHIA5QAgAGcAYQBtAG0A
	YQAgADIALAAyAC0AcAByAG8AZgBpAGwATwBiAGUAYwBuAOEAIAFhAGUAZADhACAAZwBh
	AG0AYQAgADIALgAyBdIF0AXeBdQAIAXQBeQF1QXoACAF2wXcBdwF2QAgADIALgAyAEcA
	YQBtAGEAIABnAHIAaQAgAGcAZQBuAGUAcgBpAGMBAwAgADIALAAyAEEAbABsAGcAZQBt
	AGUAaQBuAGUAcwAgAEcAcgBhAHUAcwB0AHUAZgBlAG4ALQBQAHIAbwBmAGkAbAAgAEcA
	YQBtAG0AYQAgADIALAAyAFAAcgBvAGYAaQBsAG8AIABnAHIAaQBnAGkAbwAgAGcAZQBu
	AGUAcgBpAGMAbwAgAGQAZQBsAGwAYQAgAGcAYQBtAG0AYQAgADIALAAyAEcAZQBuAGUA
	cgBpAHMAawAgAGcAcgDlACAAMgAsADIAIABnAGEAbQBtAGEAcAByAG8AZgBpAGxmbpAa
	cHBepnz7ZXAAMgAuADJjz4/wZYdO9k4AgiwwsDDsMKQwrDDzMN4AIAAyAC4AMgAgMNcw
	7TDVMKEwpDDrA5MDtQO9A7kDugPMACADkwO6A8EDuQAgA5MDrAO8A7wDsQAgADIALgAy
	AFAAZQByAGYAaQBsACAAZwBlAG4A6QByAGkAYwBvACAAZABlACAAYwBpAG4AegBlAG4A
	dABvAHMAIABkAGEAIABHAGEAbQBtAGEAIAAyACwAMgBBAGwAZwBlAG0AZQBlAG4AIABn
	AHIAaQBqAHMAIABnAGEAbQBtAGEAIAAyACwAMgAtAHAAcgBvAGYAaQBlAGwAUABlAHIA
	ZgBpAGwAIABnAGUAbgDpAHIAaQBjAG8AIABkAGUAIABnAGEAbQBtAGEAIABkAGUAIABn
	AHIAaQBzAGUAcwAgADIALAAyDiMOMQ4HDioONQ5BDgEOIQ4hDjIOQA4BDiMOIg5MDhcO
	MQ5IDicORA4bACAAMgAuADIARwBlAG4AZQBsACAARwByAGkAIABHAGEAbQBhACAAMgAs
	ADIAWQBsAGUAaQBuAGUAbgAgAGgAYQByAG0AYQBhAG4AIABnAGEAbQBtAGEAIAAyACwA
	MgAgAC0AcAByAG8AZgBpAGkAbABpAEcAZQBuAGUAcgBpAQ0AawBpACAARwByAGEAeQAg
	AEcAYQBtAG0AYQAgADIALgAyACAAcAByAG8AZgBpAGwAVQBuAGkAdwBlAHIAcwBhAGwA
	bgB5ACAAcAByAG8AZgBpAGwAIABzAHoAYQByAG8BWwBjAGkAIABnAGEAbQBtAGEAIAAy
	ACwAMgY6BicGRQYnACAAMgAuADIAIAZEBkgGRgAgBjEGRQYnBi8GSgAgBjkGJwZFBB4E
	MQRJBDAETwAgBEEENQRABDAETwAgBDMEMAQ8BDwEMAAgADIALAAyAC0EPwRABD4ERAQ4
	BDsETABHAGUAbgBlAHIAaQBjACAARwByAGEAeQAgAEcAYQBtAG0AYQAgADIALgAyACAA
	UAByAG8AZgBpAGwAZQAAdGV4dAAAAABDb3B5cmlnaHQgQXBwbGUgSW5jLiwgMjAxMgAA
	WFlaIAAAAAAAAPNRAAEAAAABFsxjdXJ2AAAAAAAABAAAAAAFAAoADwAUABkAHgAjACgA
	LQAyADcAOwBAAEUASgBPAFQAWQBeAGMAaABtAHIAdwB8AIEAhgCLAJAAlQCaAJ8ApACp
	AK4AsgC3ALwAwQDGAMsA0ADVANsA4ADlAOsA8AD2APsBAQEHAQ0BEwEZAR8BJQErATIB
	OAE+AUUBTAFSAVkBYAFnAW4BdQF8AYMBiwGSAZoBoQGpAbEBuQHBAckB0QHZAeEB6QHy
	AfoCAwIMAhQCHQImAi8COAJBAksCVAJdAmcCcQJ6AoQCjgKYAqICrAK2AsECywLVAuAC
	6wL1AwADCwMWAyEDLQM4A0MDTwNaA2YDcgN+A4oDlgOiA64DugPHA9MD4APsA/kEBgQT
	BCAELQQ7BEgEVQRjBHEEfgSMBJoEqAS2BMQE0wThBPAE/gUNBRwFKwU6BUkFWAVnBXcF
	hgWWBaYFtQXFBdUF5QX2BgYGFgYnBjcGSAZZBmoGewaMBp0GrwbABtEG4wb1BwcHGQcr
	Bz0HTwdhB3QHhgeZB6wHvwfSB+UH+AgLCB8IMghGCFoIbgiCCJYIqgi+CNII5wj7CRAJ
	JQk6CU8JZAl5CY8JpAm6Cc8J5Qn7ChEKJwo9ClQKagqBCpgKrgrFCtwK8wsLCyILOQtR
	C2kLgAuYC7ALyAvhC/kMEgwqDEMMXAx1DI4MpwzADNkM8w0NDSYNQA1aDXQNjg2pDcMN
	3g34DhMOLg5JDmQOfw6bDrYO0g7uDwkPJQ9BD14Peg+WD7MPzw/sEAkQJhBDEGEQfhCb
	ELkQ1xD1ERMRMRFPEW0RjBGqEckR6BIHEiYSRRJkEoQSoxLDEuMTAxMjE0MTYxODE6QT
	xRPlFAYUJxRJFGoUixStFM4U8BUSFTQVVhV4FZsVvRXgFgMWJhZJFmwWjxayFtYW+hcd
	F0EXZReJF64X0hf3GBsYQBhlGIoYrxjVGPoZIBlFGWsZkRm3Gd0aBBoqGlEadxqeGsUa
	7BsUGzsbYxuKG7Ib2hwCHCocUhx7HKMczBz1HR4dRx1wHZkdwx3sHhYeQB5qHpQevh7p
	HxMfPh9pH5Qfvx/qIBUgQSBsIJggxCDwIRwhSCF1IaEhziH7IiciVSKCIq8i3SMKIzgj
	ZiOUI8Ij8CQfJE0kfCSrJNolCSU4JWgllyXHJfcmJyZXJocmtyboJxgnSSd6J6sn3CgN
	KD8ocSiiKNQpBik4KWspnSnQKgIqNSpoKpsqzysCKzYraSudK9EsBSw5LG4soizXLQwt
	QS12Last4S4WLkwugi63Lu4vJC9aL5Evxy/+MDUwbDCkMNsxEjFKMYIxujHyMioyYzKb
	MtQzDTNGM38zuDPxNCs0ZTSeNNg1EzVNNYc1wjX9Njc2cjauNuk3JDdgN5w31zgUOFA4
	jDjIOQU5Qjl/Obw5+To2OnQ6sjrvOy07azuqO+g8JzxlPKQ84z0iPWE9oT3gPiA+YD6g
	PuA/IT9hP6I/4kAjQGRApkDnQSlBakGsQe5CMEJyQrVC90M6Q31DwEQDREdEikTORRJF
	VUWaRd5GIkZnRqtG8Ec1R3tHwEgFSEtIkUjXSR1JY0mpSfBKN0p9SsRLDEtTS5pL4kwq
	THJMuk0CTUpNk03cTiVObk63TwBPSU+TT91QJ1BxULtRBlFQUZtR5lIxUnxSx1MTU19T
	qlP2VEJUj1TbVShVdVXCVg9WXFapVvdXRFeSV+BYL1h9WMtZGllpWbhaB1pWWqZa9VtF
	W5Vb5Vw1XIZc1l0nXXhdyV4aXmxevV8PX2Ffs2AFYFdgqmD8YU9homH1YklinGLwY0Nj
	l2PrZEBklGTpZT1lkmXnZj1mkmboZz1nk2fpaD9olmjsaUNpmmnxakhqn2r3a09rp2v/
	bFdsr20IbWBtuW4SbmtuxG8eb3hv0XArcIZw4HE6cZVx8HJLcqZzAXNdc7h0FHRwdMx1
	KHWFdeF2Pnabdvh3VnezeBF4bnjMeSp5iXnnekZ6pXsEe2N7wnwhfIF84X1BfaF+AX5i
	fsJ/I3+Ef+WAR4CogQqBa4HNgjCCkoL0g1eDuoQdhICE44VHhauGDoZyhteHO4efiASI
	aYjOiTOJmYn+imSKyoswi5aL/IxjjMqNMY2Yjf+OZo7OjzaPnpAGkG6Q1pE/kaiSEZJ6
	kuOTTZO2lCCUipT0lV+VyZY0lp+XCpd1l+CYTJi4mSSZkJn8mmia1ZtCm6+cHJyJnPed
	ZJ3SnkCerp8dn4uf+qBpoNihR6G2oiailqMGo3aj5qRWpMelOKWpphqmi6b9p26n4KhS
	qMSpN6mpqhyqj6sCq3Wr6axcrNCtRK24ri2uoa8Wr4uwALB1sOqxYLHWskuywrM4s660
	JbSctRO1irYBtnm28Ldot+C4WbjRuUq5wro7urW7LrunvCG8m70VvY++Cr6Evv+/er/1
	wHDA7MFnwePCX8Lbw1jD1MRRxM7FS8XIxkbGw8dBx7/IPci8yTrJuco4yrfLNsu2zDXM
	tc01zbXONs62zzfPuNA50LrRPNG+0j/SwdNE08bUSdTL1U7V0dZV1tjXXNfg2GTY6Nls
	2fHadtr724DcBdyK3RDdlt4c3qLfKd+v4DbgveFE4cziU+Lb42Pj6+Rz5PzlhOYN5pbn
	H+ep6DLovOlG6dDqW+rl63Dr++yG7RHtnO4o7rTvQO/M8Fjw5fFy8f/yjPMZ86f0NPTC
	9VD13vZt9vv3ivgZ+Kj5OPnH+lf65/t3/Af8mP0p/br+S/7c/23//9IhIiMkWiRjbGFz
	c25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNloiUmXE5TQ29sb3JTcGFjZVhOU09iamVj
	dNIhIigpV05TQ29sb3KiKCYACAARABoAJAApADIANwBJAEwAUQBTAFoAYABrAHMAgACN
	AKIAqQCuALIAtAC2ALgAwQDGAMwA1ADWANgA2gDcEnwSgRKMEpUSohKlErISuxLAEsgA
	AAAAAAACAQAAAAAAAAAqAAAAAAAAAAAAAAAAAAASyw==
	</data>
	<key>annotateLastHighlightShape</key>
	<integer>1</integer>
	<key>annotateLastPixelateStyle</key>
	<integer>1</integer>
	<key>annotateLastSaveURL</key>
	<string>/Users/wilhall/Downloads</string>
	<key>annotateLastTextSize</key>
	<real>72</real>
	<key>annotatePixelateIntensity</key>
	<integer>3</integer>
	<key>annotateTextStyle</key>
	<integer>0</integer>
	<key>autoClosePopup</key>
	<false/>
	<key>captureWithoutDesktopIcons</key>
	<false/>
	<key>cloudCopyDirectLink</key>
	<true/>
	<key>cloudUser</key>
	<data>
	eyJwbGFuTmFtZSI6IlBybyIsImlkIjo0MzY5NiwidXNlZFN0b3JhZ2VQZXJjZW50YWdl
	IjowLCJyb2xlIjoiYWRtaW4iLCJlIjoieElqd1l2Rm85QnRJVFAwXC9hY1ZWd2JcL1Vj
	VUY5UEZlZW5ZQk1QK21od0E1WFNYMlwvejA5dGlaMXphbElkOW5JU1M0NmdlRTM5YkI2
	REx6am51Z3B4NHhjT1A5cUtYXC81XC8wWHdRdjFGUVN5bWtZVU9XMnlJOW1Ba2pIWmk3
	a2RKWDFsb2dyWFZBdWN0Y1ZGUmo2STNWYTZHeHpyMWR0Vko4TnlwMEZlVUxWKzdVS2NH
	SWxFK0VjMGsrUWNkelwvbXg5Q1lOYlJLZGFOdFlrbnJhcGRVUUhPdWpyNXN2bGlxaEdK
	NUpTRzFTWlIwVUt6N3NxTFIzUE9qZUo1OU84UTdwXC84SkNSVGVWUFVJaUJSdkE5aklI
	OWZhb2VWTVZMcmxkT24wck16THA3aWhQQVJIOWVWNGJFcmpkRUNxUXNHcnpzbGNSQzB6
	MERJQlRDZ0FqTTFkcGZhY1pZS05YNEk0M2hzcVppdXdaOFpzM2pVMzFvUFh4bFpHRmVO
	WnY1XC94ZlRJRFdZR3VBSlAxS21JNE5HdGhoVE0yWkFJSnFHZmlhSUFoaCt3czNkM1N6
	NXlJOVNQMkxDM0tRU2E1N080Z1dscHlrYml4R212MkRXbitKK3FDQjl3OTI0R1NjU280
	THhXVHdnVjNBVmJpN3dtdGlEYjNDZE1UTlVwVGVUMkNGd1RKdkhrZFBsTGwrU3lZSlAy
	aktRT0o5aTlCV1RsdHNKemRBaVdOb0I2SjJaaUNLYXBSNUUzVFp4eDk5YkNyUStPV0Q4
	N3lwREs2WitKZVVjQlVza3k1UjdiMlBCeStCZ3NFd3pMQjlUWjYwMmZnWjVSVVhwd1M4
	UVk1ckRYNXFCWkVaSmdoaTA5MHhuQXhoK3dTeURKXC9XWWZHUHlnUFBqdlhmd1wvT29x
	T1wvYmIraFhER1B2NFg3dFFldFBFcUhENkozMEdtSjNoamhUTW83VFZCWG5WVTI3ek9S
	M2dnR0VKcTdhYytVd2RMS05lNys4a3hkczc0UVRXbVwvTG9lU3QyM1Vpd0w5czR6d3lE
	U1wvY1FzNGFpVWtyeXk5bE9iMUEyVkh6aUlEcURFc3l1ZW12Y3ZPTm01TWhaVDBlQmZr
	NDE5Q0dNSmExeGZranBEMHhUZVwvZmZLR1VrMjNjVXhYRnZOaGI5Smo0aFpWQTlrUFgw
	clNsV0tmTUZyTG55M1E1bHNjeEpnR0o5MkQ1SkpqSW5YK3g2V0RBRnJzMlg3RjFvOWpY
	b1dtb2VBZFRQQjdGVExPR0pCWFBFT0VWRkJZNG1UYmdtTVBQYXQrb2xXSElaTk9nUHh4
	UThjdzM5YWZ2RytRaXlhdWZBMnhIajR6bFppXC9JbjFndnVycjRjSGJ5bDNTNElCdmhN
	MnZ4RmlUdkNUSTVqTW9wN1RvSjBuWkZvQzN0aWdTQ292elwvWHl1ODUrU0NGMDZvbGVj
	YXFPZE0xSEp4NUJyXC9YODNPUXM5amtsZ0ZsS1JtQUZQQm03VkxSd3lNREhFNHE2Mk41
	Nk84aVwvd2RLODN4M1F4c1U1QkN5am9nRVZVTUdzaCtMUUI5TFlmT1Y3WVdaRU9ORStC
	NHlYQlYyRlZOR1ZZNm9LZ2p2ekZ4TTEwWmgzVVNpZEdyZ2JHVlMxZ2pLblVTTnE1TGoz
	U0JnTkJyS3RYdGlFcENveDR5VHFmOUF4R2JSWjFwUE1NaEdNRU4wQzJ2WEh3a0h1S0JQ
	TGRkdjA4TmhoQVdTOFB2dDNoUnkyWXJPODhTK1FRPT0iLCJoYXNQYWlkUGxhbiI6dHJ1
	ZSwiY2FuQ29weURpcmVjdExpbmtUb0NsaXBib2FyZCI6dHJ1ZSwiY2FuVXBsb2FkT3Jp
	Z2luYWxNZWRpYSI6dHJ1ZSwiaGFzTGltaXRlZFN0b3JhZ2UiOmZhbHNlLCJzdG9yYWdl
	TGltaXRSZWFkYWJsZSI6IiIsImF2YXRhclVSTCI6Imh0dHBzOlwvXC9jbGVhbnNob3Qt
	Y2xvdWQtZnJhLnMzLmV1LWNlbnRyYWwtMS5hbWF6b25hd3MuY29tXC9hdmF0YXJzXC9W
	RGhnbkJ6bXh6NWZ5OE1NSEJYWXFpSVF6QWFEZ3Y3RVNQSlAwd284LmpwZyIsImNhblNl
	dEV4cGlyZUFmdGVyIjp0cnVlLCJjYW5TZXRNZWRpYVBhc3N3b3JkIjp0cnVlLCJleHBp
	cmVBZnRlciI6LTEsImVtYWlsIjoid2lsQHdpbGhhbGwuY29tIiwibmFtZSI6IldpbCBI
	YWxsIn0=
	</data>
	<key>copyToClipboardPriority</key>
	<integer>1</integer>
	<key>cursorHighlightAnimate</key>
	<true/>
	<key>cursorHighlightStyle</key>
	<integer>1</integer>
	<key>deletePopupAfterDragging</key>
	<true/>
	<key>doNotDisturbWhileRecording</key>
	<true/>
	<key>exportPath</key>
	<string>/Users/wilhall/Pictures/Screenshots</string>
	<key>highlightClicks</key>
	<true/>
	<key>keyboardOverlayDisplayAll</key>
	<false/>
	<key>lastAcceptedEulaVersion</key>
	<integer>1</integer>
	<key>lastLaunchVersion</key>
	<string>4.5</string>
	<key>lastLegitVersionNumber</key>
	<integer>7</integer>
	<key>lastOneOverlayArea</key>
	<data>
	eyJzY3JlZW5JRCI6MSwiYXJlYSI6eyJ5IjoxNDMsIngiOjUyNSwid2lkdGgiOjIyMCwi
	aGVpZ2h0Ijo4OX19
	</data>
	<key>lastRecordingArea</key>
	<data>
	eyJzY3JlZW5JRCI6NSwiYXJlYSI6eyJ5Ijo0NjksIngiOjcyLCJ3aWR0aCI6MTE5NSwi
	aGVpZ2h0Ijo4Mzd9fQ==
	</data>
	<key>markupLastColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXHR4lVSRudWxs1Q0ODxAR
	EhMUFRZcTlNDb21wb25lbnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29s
	b3JTcGFjZVYkY2xhc3NPEBEwLjk5OSAwLjE4IDAuNDIgMU8QKDAuOTg0OTQ3NTYyMiAw
	LjA0NDQ1MzY1MDcxIDAuMzQ2Njk4NTIyNgAQAYACgAXTGBkRGhscVE5TSURVTlNJQ0MQ
	B4ADgARPEQxIAAAMSExpbm8CEAAAbW50clJHQiBYWVogB84AAgAJAAYAMQAAYWNzcE1T
	RlQAAAAASUVDIHNSR0IAAAAAAAAAAAAAAAAAAPbWAAEAAAAA0y1IUCAgAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARY3BydAAAAVAAAAAz
	ZGVzYwAAAYQAAABsd3RwdAAAAfAAAAAUYmtwdAAAAgQAAAAUclhZWgAAAhgAAAAUZ1hZ
	WgAAAiwAAAAUYlhZWgAAAkAAAAAUZG1uZAAAAlQAAABwZG1kZAAAAsQAAACIdnVlZAAA
	A0wAAACGdmlldwAAA9QAAAAkbHVtaQAAA/gAAAAUbWVhcwAABAwAAAAkdGVjaAAABDAA
	AAAMclRSQwAABDwAAAgMZ1RSQwAABDwAAAgMYlRSQwAABDwAAAgMdGV4dAAAAABDb3B5
	cmlnaHQgKGMpIDE5OTggSGV3bGV0dC1QYWNrYXJkIENvbXBhbnkAAGRlc2MAAAAAAAAA
	EnNSR0IgSUVDNjE5NjYtMi4xAAAAAAAAAAAAAAASc1JHQiBJRUM2MTk2Ni0yLjEAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFhZWiAA
	AAAAAADzUQABAAAAARbMWFlaIAAAAAAAAAAAAAAAAAAAAABYWVogAAAAAAAAb6IAADj1
	AAADkFhZWiAAAAAAAABimQAAt4UAABjaWFlaIAAAAAAAACSgAAAPhAAAts9kZXNjAAAA
	AAAAABZJRUMgaHR0cDovL3d3dy5pZWMuY2gAAAAAAAAAAAAAABZJRUMgaHR0cDovL3d3
	dy5pZWMuY2gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAZGVzYwAAAAAAAAAuSUVDIDYxOTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xvdXIgc3Bh
	Y2UgLSBzUkdCAAAAAAAAAAAAAAAuSUVDIDYxOTY2LTIuMSBEZWZhdWx0IFJHQiBjb2xv
	dXIgc3BhY2UgLSBzUkdCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRlc2MAAAAAAAAALFJl
	ZmVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAA
	ACxSZWZlcmVuY2UgVmlld2luZyBDb25kaXRpb24gaW4gSUVDNjE5NjYtMi4xAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAB2aWV3AAAAAAATpP4AFF8uABDPFAAD7cwABBMLAANc
	ngAAAAFYWVogAAAAAABMCVYAUAAAAFcf521lYXMAAAAAAAAAAQAAAAAAAAAAAAAAAAAA
	AAAAAAKPAAAAAnNpZyAAAAAAQ1JUIGN1cnYAAAAAAAAEAAAAAAUACgAPABQAGQAeACMA
	KAAtADIANwA7AEAARQBKAE8AVABZAF4AYwBoAG0AcgB3AHwAgQCGAIsAkACVAJoAnwCk
	AKkArgCyALcAvADBAMYAywDQANUA2wDgAOUA6wDwAPYA+wEBAQcBDQETARkBHwElASsB
	MgE4AT4BRQFMAVIBWQFgAWcBbgF1AXwBgwGLAZIBmgGhAakBsQG5AcEByQHRAdkB4QHp
	AfIB+gIDAgwCFAIdAiYCLwI4AkECSwJUAl0CZwJxAnoChAKOApgCogKsArYCwQLLAtUC
	4ALrAvUDAAMLAxYDIQMtAzgDQwNPA1oDZgNyA34DigOWA6IDrgO6A8cD0wPgA+wD+QQG
	BBMEIAQtBDsESARVBGMEcQR+BIwEmgSoBLYExATTBOEE8AT+BQ0FHAUrBToFSQVYBWcF
	dwWGBZYFpgW1BcUF1QXlBfYGBgYWBicGNwZIBlkGagZ7BowGnQavBsAG0QbjBvUHBwcZ
	BysHPQdPB2EHdAeGB5kHrAe/B9IH5Qf4CAsIHwgyCEYIWghuCIIIlgiqCL4I0gjnCPsJ
	EAklCToJTwlkCXkJjwmkCboJzwnlCfsKEQonCj0KVApqCoEKmAquCsUK3ArzCwsLIgs5
	C1ELaQuAC5gLsAvIC+EL+QwSDCoMQwxcDHUMjgynDMAM2QzzDQ0NJg1ADVoNdA2ODakN
	ww3eDfgOEw4uDkkOZA5/DpsOtg7SDu4PCQ8lD0EPXg96D5YPsw/PD+wQCRAmEEMQYRB+
	EJsQuRDXEPURExExEU8RbRGMEaoRyRHoEgcSJhJFEmQShBKjEsMS4xMDEyMTQxNjE4MT
	pBPFE+UUBhQnFEkUahSLFK0UzhTwFRIVNBVWFXgVmxW9FeAWAxYmFkkWbBaPFrIW1hb6
	Fx0XQRdlF4kXrhfSF/cYGxhAGGUYihivGNUY+hkgGUUZaxmRGbcZ3RoEGioaURp3Gp4a
	xRrsGxQbOxtjG4obshvaHAIcKhxSHHscoxzMHPUdHh1HHXAdmR3DHeweFh5AHmoelB6+
	HukfEx8+H2kflB+/H+ogFSBBIGwgmCDEIPAhHCFIIXUhoSHOIfsiJyJVIoIiryLdIwoj
	OCNmI5QjwiPwJB8kTSR8JKsk2iUJJTglaCWXJccl9yYnJlcmhya3JugnGCdJJ3onqyfc
	KA0oPyhxKKIo1CkGKTgpaymdKdAqAio1KmgqmyrPKwIrNitpK50r0SwFLDksbiyiLNct
	DC1BLXYtqy3hLhYuTC6CLrcu7i8kL1ovkS/HL/4wNTBsMKQw2zESMUoxgjG6MfIyKjJj
	Mpsy1DMNM0YzfzO4M/E0KzRlNJ402DUTNU01hzXCNf02NzZyNq426TckN2A3nDfXOBQ4
	UDiMOMg5BTlCOX85vDn5OjY6dDqyOu87LTtrO6o76DwnPGU8pDzjPSI9YT2hPeA+ID5g
	PqA+4D8hP2E/oj/iQCNAZECmQOdBKUFqQaxB7kIwQnJCtUL3QzpDfUPARANER0SKRM5F
	EkVVRZpF3kYiRmdGq0bwRzVHe0fASAVIS0iRSNdJHUljSalJ8Eo3Sn1KxEsMS1NLmkvi
	TCpMcky6TQJNSk2TTdxOJU5uTrdPAE9JT5NP3VAnUHFQu1EGUVBRm1HmUjFSfFLHUxNT
	X1OqU/ZUQlSPVNtVKFV1VcJWD1ZcVqlW91dEV5JX4FgvWH1Yy1kaWWlZuFoHWlZaplr1
	W0VblVvlXDVchlzWXSddeF3JXhpebF69Xw9fYV+zYAVgV2CqYPxhT2GiYfViSWKcYvBj
	Q2OXY+tkQGSUZOllPWWSZedmPWaSZuhnPWeTZ+loP2iWaOxpQ2maafFqSGqfavdrT2un
	a/9sV2yvbQhtYG25bhJua27Ebx5veG/RcCtwhnDgcTpxlXHwcktypnMBc11zuHQUdHB0
	zHUodYV14XY+dpt2+HdWd7N4EXhueMx5KnmJeed6RnqlewR7Y3vCfCF8gXzhfUF9oX4B
	fmJ+wn8jf4R/5YBHgKiBCoFrgc2CMIKSgvSDV4O6hB2EgITjhUeFq4YOhnKG14c7h5+I
	BIhpiM6JM4mZif6KZIrKizCLlov8jGOMyo0xjZiN/45mjs6PNo+ekAaQbpDWkT+RqJIR
	knqS45NNk7aUIJSKlPSVX5XJljSWn5cKl3WX4JhMmLiZJJmQmfyaaJrVm0Kbr5wcnImc
	951kndKeQJ6unx2fi5/6oGmg2KFHobaiJqKWowajdqPmpFakx6U4pammGqaLpv2nbqfg
	qFKoxKk3qamqHKqPqwKrdavprFys0K1ErbiuLa6hrxavi7AAsHWw6rFgsdayS7LCsziz
	rrQltJy1E7WKtgG2ebbwt2i34LhZuNG5SrnCuju6tbsuu6e8IbybvRW9j74KvoS+/796
	v/XAcMDswWfB48JfwtvDWMPUxFHEzsVLxcjGRsbDx0HHv8g9yLzJOsm5yjjKt8s2y7bM
	Ncy1zTXNtc42zrbPN8+40DnQutE80b7SP9LB00TTxtRJ1MvVTtXR1lXW2Ndc1+DYZNjo
	2WzZ8dp22vvbgNwF3IrdEN2W3hzeot8p36/gNuC94UThzOJT4tvjY+Pr5HPk/OWE5g3m
	lucf56noMui86Ubp0Opb6uXrcOv77IbtEe2c7ijutO9A78zwWPDl8XLx//KM8xnzp/Q0
	9ML1UPXe9m32+/eK+Bn4qPk4+cf6V/rn+3f8B/yY/Sn9uv5L/tz/bf//0h8gISJaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1xOU0NvbG9yU3BhY2WiIyRcTlNDb2xvclNwYWNlWE5TT2Jq
	ZWN00h8gJidXTlNDb2xvcqImJAAIABEAGgAkACkAMgA3AEkATABRAFMAWgBgAGsAeAB+
	AIsAoACnALsA5gDoAOoA7ADzAPgA/gEAAQIBBA1QDVUNYA1pDXYNeQ2GDY8NlA2cAAAA
	AAAAAgEAAAAAAAAAKAAAAAAAAAAAAAAAAAAADZ8=
	</data>
	<key>markupLastToolIndex</key>
	<integer>5</integer>
	<key>markupLastWidth</key>
	<real>7</real>
	<key>onboardingDisplayed</key>
	<true/>
	<key>plainColor</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwXHR4lVSRudWxs1Q0ODxAR
	EhMUFRZcTlNDb21wb25lbnRzVU5TUkdCXE5TQ29sb3JTcGFjZV8QEk5TQ3VzdG9tQ29s
	b3JTcGFjZVYkY2xhc3NPEBMwLjUxOCAwLjY3OCAwLjc0NSAxTxAnMC40NDc4Nzg3MTg0
	IDAuNjE1Njg4MDg1NiAwLjY5MTAxNjE5NzIAEAGAAoAF0xgZERobHFROU0lEVU5TSUND
	EAeAA4AETxEMSAAADEhMaW5vAhAAAG1udHJSR0IgWFlaIAfOAAIACQAGADEAAGFjc3BN
	U0ZUAAAAAElFQyBzUkdCAAAAAAAAAAAAAAAAAAD21gABAAAAANMtSFAgIAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEWNwcnQAAAFQAAAA
	M2Rlc2MAAAGEAAAAbHd0cHQAAAHwAAAAFGJrcHQAAAIEAAAAFHJYWVoAAAIYAAAAFGdY
	WVoAAAIsAAAAFGJYWVoAAAJAAAAAFGRtbmQAAAJUAAAAcGRtZGQAAALEAAAAiHZ1ZWQA
	AANMAAAAhnZpZXcAAAPUAAAAJGx1bWkAAAP4AAAAFG1lYXMAAAQMAAAAJHRlY2gAAAQw
	AAAADHJUUkMAAAQ8AAAIDGdUUkMAAAQ8AAAIDGJUUkMAAAQ8AAAIDHRleHQAAAAAQ29w
	eXJpZ2h0IChjKSAxOTk4IEhld2xldHQtUGFja2FyZCBDb21wYW55AABkZXNjAAAAAAAA
	ABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAEnNSR0IgSUVDNjE5NjYtMi4xAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABYWVog
	AAAAAAAA81EAAQAAAAEWzFhZWiAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAG+iAAA4
	9QAAA5BYWVogAAAAAAAAYpkAALeFAAAY2lhZWiAAAAAAAAAkoAAAD4QAALbPZGVzYwAA
	AAAAAAAWSUVDIGh0dHA6Ly93d3cuaWVjLmNoAAAAAAAAAAAAAAAWSUVDIGh0dHA6Ly93
	d3cuaWVjLmNoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAGRlc2MAAAAAAAAALklFQyA2MTk2Ni0yLjEgRGVmYXVsdCBSR0IgY29sb3VyIHNw
	YWNlIC0gc1JHQgAAAAAAAAAAAAAALklFQyA2MTk2Ni0yLjEgRGVmYXVsdCBSR0IgY29s
	b3VyIHNwYWNlIC0gc1JHQgAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAAAAAAACxS
	ZWZlcmVuY2UgVmlld2luZyBDb25kaXRpb24gaW4gSUVDNjE5NjYtMi4xAAAAAAAAAAAA
	AAAsUmVmZXJlbmNlIFZpZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAA
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAdmlldwAAAAAAE6T+ABRfLgAQzxQAA+3MAAQTCwAD
	XJ4AAAABWFlaIAAAAAAATAlWAFAAAABXH+dtZWFzAAAAAAAAAAEAAAAAAAAAAAAAAAAA
	AAAAAAACjwAAAAJzaWcgAAAAAENSVCBjdXJ2AAAAAAAABAAAAAAFAAoADwAUABkAHgAj
	ACgALQAyADcAOwBAAEUASgBPAFQAWQBeAGMAaABtAHIAdwB8AIEAhgCLAJAAlQCaAJ8A
	pACpAK4AsgC3ALwAwQDGAMsA0ADVANsA4ADlAOsA8AD2APsBAQEHAQ0BEwEZAR8BJQEr
	ATIBOAE+AUUBTAFSAVkBYAFnAW4BdQF8AYMBiwGSAZoBoQGpAbEBuQHBAckB0QHZAeEB
	6QHyAfoCAwIMAhQCHQImAi8COAJBAksCVAJdAmcCcQJ6AoQCjgKYAqICrAK2AsECywLV
	AuAC6wL1AwADCwMWAyEDLQM4A0MDTwNaA2YDcgN+A4oDlgOiA64DugPHA9MD4APsA/kE
	BgQTBCAELQQ7BEgEVQRjBHEEfgSMBJoEqAS2BMQE0wThBPAE/gUNBRwFKwU6BUkFWAVn
	BXcFhgWWBaYFtQXFBdUF5QX2BgYGFgYnBjcGSAZZBmoGewaMBp0GrwbABtEG4wb1BwcH
	GQcrBz0HTwdhB3QHhgeZB6wHvwfSB+UH+AgLCB8IMghGCFoIbgiCCJYIqgi+CNII5wj7
	CRAJJQk6CU8JZAl5CY8JpAm6Cc8J5Qn7ChEKJwo9ClQKagqBCpgKrgrFCtwK8wsLCyIL
	OQtRC2kLgAuYC7ALyAvhC/kMEgwqDEMMXAx1DI4MpwzADNkM8w0NDSYNQA1aDXQNjg2p
	DcMN3g34DhMOLg5JDmQOfw6bDrYO0g7uDwkPJQ9BD14Peg+WD7MPzw/sEAkQJhBDEGEQ
	fhCbELkQ1xD1ERMRMRFPEW0RjBGqEckR6BIHEiYSRRJkEoQSoxLDEuMTAxMjE0MTYxOD
	E6QTxRPlFAYUJxRJFGoUixStFM4U8BUSFTQVVhV4FZsVvRXgFgMWJhZJFmwWjxayFtYW
	+hcdF0EXZReJF64X0hf3GBsYQBhlGIoYrxjVGPoZIBlFGWsZkRm3Gd0aBBoqGlEadxqe
	GsUa7BsUGzsbYxuKG7Ib2hwCHCocUhx7HKMczBz1HR4dRx1wHZkdwx3sHhYeQB5qHpQe
	vh7pHxMfPh9pH5Qfvx/qIBUgQSBsIJggxCDwIRwhSCF1IaEhziH7IiciVSKCIq8i3SMK
	IzgjZiOUI8Ij8CQfJE0kfCSrJNolCSU4JWgllyXHJfcmJyZXJocmtyboJxgnSSd6J6sn
	3CgNKD8ocSiiKNQpBik4KWspnSnQKgIqNSpoKpsqzysCKzYraSudK9EsBSw5LG4soizX
	LQwtQS12Last4S4WLkwugi63Lu4vJC9aL5Evxy/+MDUwbDCkMNsxEjFKMYIxujHyMioy
	YzKbMtQzDTNGM38zuDPxNCs0ZTSeNNg1EzVNNYc1wjX9Njc2cjauNuk3JDdgN5w31zgU
	OFA4jDjIOQU5Qjl/Obw5+To2OnQ6sjrvOy07azuqO+g8JzxlPKQ84z0iPWE9oT3gPiA+
	YD6gPuA/IT9hP6I/4kAjQGRApkDnQSlBakGsQe5CMEJyQrVC90M6Q31DwEQDREdEikTO
	RRJFVUWaRd5GIkZnRqtG8Ec1R3tHwEgFSEtIkUjXSR1JY0mpSfBKN0p9SsRLDEtTS5pL
	4kwqTHJMuk0CTUpNk03cTiVObk63TwBPSU+TT91QJ1BxULtRBlFQUZtR5lIxUnxSx1MT
	U19TqlP2VEJUj1TbVShVdVXCVg9WXFapVvdXRFeSV+BYL1h9WMtZGllpWbhaB1pWWqZa
	9VtFW5Vb5Vw1XIZc1l0nXXhdyV4aXmxevV8PX2Ffs2AFYFdgqmD8YU9homH1YklinGLw
	Y0Njl2PrZEBklGTpZT1lkmXnZj1mkmboZz1nk2fpaD9olmjsaUNpmmnxakhqn2r3a09r
	p2v/bFdsr20IbWBtuW4SbmtuxG8eb3hv0XArcIZw4HE6cZVx8HJLcqZzAXNdc7h0FHRw
	dMx1KHWFdeF2Pnabdvh3VnezeBF4bnjMeSp5iXnnekZ6pXsEe2N7wnwhfIF84X1BfaF+
	AX5ifsJ/I3+Ef+WAR4CogQqBa4HNgjCCkoL0g1eDuoQdhICE44VHhauGDoZyhteHO4ef
	iASIaYjOiTOJmYn+imSKyoswi5aL/IxjjMqNMY2Yjf+OZo7OjzaPnpAGkG6Q1pE/kaiS
	EZJ6kuOTTZO2lCCUipT0lV+VyZY0lp+XCpd1l+CYTJi4mSSZkJn8mmia1ZtCm6+cHJyJ
	nPedZJ3SnkCerp8dn4uf+qBpoNihR6G2oiailqMGo3aj5qRWpMelOKWpphqmi6b9p26n
	4KhSqMSpN6mpqhyqj6sCq3Wr6axcrNCtRK24ri2uoa8Wr4uwALB1sOqxYLHWskuywrM4
	s660JbSctRO1irYBtnm28Ldot+C4WbjRuUq5wro7urW7LrunvCG8m70VvY++Cr6Evv+/
	er/1wHDA7MFnwePCX8Lbw1jD1MRRxM7FS8XIxkbGw8dBx7/IPci8yTrJuco4yrfLNsu2
	zDXMtc01zbXONs62zzfPuNA50LrRPNG+0j/SwdNE08bUSdTL1U7V0dZV1tjXXNfg2GTY
	6Nls2fHadtr724DcBdyK3RDdlt4c3qLfKd+v4DbgveFE4cziU+Lb42Pj6+Rz5PzlhOYN
	5pbnH+ep6DLovOlG6dDqW+rl63Dr++yG7RHtnO4o7rTvQO/M8Fjw5fFy8f/yjPMZ86f0
	NPTC9VD13vZt9vv3ivgZ+Kj5OPnH+lf65/t3/Af8mP0p/br+S/7c/23//9IfICEiWiRj
	bGFzc25hbWVYJGNsYXNzZXNcTlNDb2xvclNwYWNloiMkXE5TQ29sb3JTcGFjZVhOU09i
	amVjdNIfICYnV05TQ29sb3KiJiQACAARABoAJAApADIANwBJAEwAUQBTAFoAYABrAHgA
	fgCLAKAApwC9AOcA6QDrAO0A9AD5AP8BAQEDAQUNUQ1WDWENag13DXoNhw2QDZUNnQAA
	AAAAAAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAA2g
	</data>
	<key>popupAskForDestinationWhenSaving</key>
	<false/>
	<key>popupSize</key>
	<integer>2</integer>
	<key>s000</key>
	<integer>1659748001</integer>
	<key>s001</key>
	<integer>826</integer>
	<key>s002</key>
	<integer>13</integer>
	<key>s003</key>
	<integer>49</integer>
	<key>s004</key>
	<integer>951</integer>
	<key>s006</key>
	<integer>61</integer>
	<key>s007</key>
	<integer>13</integer>
	<key>s008</key>
	<integer>34</integer>
	<key>showChangelog</key>
	<false/>
	<key>showColorNameLabels</key>
	<false/>
	<key>showKeystrokes</key>
	<true/>
	<key>snapInAnnotateCrop</key>
	<true/>
	<key>stopRecordingPopupDisplayed</key>
	<true/>
	<key>sttys</key>
	<data>
	W3sidXBsb2FkcyI6NDYzLCJhcHBMYXVuY2giOjE4LCJ2aWRlb3MiOjksInNjcm9sbGlu
	Z0NhcHR1cmVzIjowLCJhbm5vdGF0ZXMiOjIzLCJzY3JlZW5zaG90cyI6NDEzLCJzdGFy
	dFRpbWVTdGFtcCI6MTY1OTc0ODAwMSwieWVhciI6MjAyMiwiYW5ub3RhdGVUb29scyI6
	eyJDcm9wIjoxLCJwaXhlbGF0ZSI6MSwiTm9uZSI6NiwiYXJyb3ciOjMsInJlY3Rhbmds
	ZSI6MTl9LCJnaWZzIjoxN30seyJ1cGxvYWRzIjo0ODgsImFwcExhdW5jaCI6MTYsInZp
	ZGVvcyI6NCwic2Nyb2xsaW5nQ2FwdHVyZXMiOjAsImFubm90YXRlcyI6MzgsInNjcmVl
	bnNob3RzIjo0MTMsInN0YXJ0VGltZVN0YW1wIjoxNjcyNzU1NzI4LCJ5ZWFyIjoyMDIz
	LCJhbm5vdGF0ZVRvb2xzIjp7InRleHQiOjYsInBpeGVsYXRlIjoxMywiYXJyb3ciOjks
	InJlY3RhbmdsZSI6MjZ9LCJnaWZzIjozMn1d
	</data>
	<key>transparentWindowBackground</key>
	<true/>
</dict>
</plist>
