<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BounceApplicationSetting</key>
	<integer>2</integer>
	<key>Hotkey Have Shown Tip</key>
	<true/>
	<key>LottieTip</key>
	<true/>
	<key>NSAllowContinuousSpellChecking</key>
	<true/>
	<key>NSConstraintBasedLayoutVisualizeMutuallyExclusiveConstraints</key>
	<false/>
	<key>NSInitialToolTipDelay</key>
	<integer>100</integer>
	<key>NSQuitAlwaysKeepsWindows</key>
	<false/>
	<key>NSWindow Frame ZOOM Main Window</key>
	<string>1326 0 2528 1415 0 0 5120 1415 </string>
	<key>PresAppKeyHash</key>
	<integer>-2145492511746712566</integer>
	<key>PresMeetingAppKeyHash</key>
	<integer>6708667284879355442</integer>
	<key>User Select Language Identify</key>
	<string>follow system language</string>
	<key>WebContinuousSpellCheckingEnabled</key>
	<true/>
	<key>ZMCCCaptionsBoxWidthKey</key>
	<real>400</real>
	<key>ZMJoinMeetingFlowAnchor</key>
	<string>{{960, 456}, {640, 500}}</string>
	<key>ZoomAutoUpdateState</key>
	<string>ZoomAutoUpdateStateReady</string>
	<key>ZoomAutoUpdateVersion</key>
	<string>5.16.10.25689</string>
	<key>_favoriteArray</key>
	<array>
		<string>:sparkles:=✨</string>
		<string>:heart:=❤️</string>
		<string>:clap:=👏;:clap_tone1:=👏🏻;:clap_tone2:=👏🏼;:clap_tone3:=👏🏽;:clap_tone4:=👏🏾;:clap_tone5:=👏🏿</string>
		<string>:smiley:=😃</string>
	</array>
	<key>_favoriteArrayV2</key>
	<array>
		<string>:cactus:=🌵</string>
		<string>:house:=🏠</string>
		<string>:sparkles:=✨</string>
		<string>:fire:=🔥</string>
		<string>:smiling_face_with_tear:=🥲</string>
		<string>:heart:=❤️</string>
		<string>:clap:=👏;:clap_tone1:=👏🏻;:clap_tone2:=👏🏼;:clap_tone3:=👏🏽;:clap_tone4:=👏🏾;:clap_tone5:=👏🏿</string>
		<string>:smiley:=😃</string>
	</array>
	<key>been dragged wall video</key>
	<true/>
	<key>kCaptureWithoutChatWindow</key>
	<true/>
	<key>kIM_LastOpenedSession</key>
	<string></string>
	<key>kZMAlreadyShowPMCTip</key>
	<true/>
	<key>kZMHadShowFiveMinsCountDown</key>
	<false/>
	<key>kZMHadShowOneDayCountDown</key>
	<false/>
	<key>kZMHadShowOneHourCountDown</key>
	<false/>
	<key>kZMHadShowSessionWarning</key>
	<false/>
	<key>kZMShowNotificationCenter</key>
	<true/>
	<key>kZMUserDedaultWindowOriginFrame</key>
	<string>{{460, 233}, {975, 660}}</string>
	<key>kZMUserDefaultMainWindowCompressed</key>
	<false/>
	<key>kZMUserDefaultSelectedTabType</key>
	<integer>1</integer>
</dict>
</plist>
